.corpoNexTPrev {
    position: relative;
    text-align: center;
    display: block;
    padding: 7px;
    font-size: 16px;
    background-image: -webkit-linear-gradient(bottom, rgb(16, 79, 128) 0%, rgb(11, 112, 153) 100%);
    width: 150px;
    margin: auto;
    margin-bottom: 6px;
}
    .corpoNexTPrev a i {
        color: rgb( 255, 255, 255) !important;
    }
    .actualTarget {
        width: 100%;
        position: relative;
    }
    .boxVisualizar {
        text-align: center;
    }
    .corpoNexTPrev a .girandoImg180 {
        transform: rotate(180deg);
    }
#corpoVisualidadorExpandido {
    text-align: center;
    cursor: pointer;
}
    #corpoVisualidadorExpandido canvas {
        max-width: 100%;
    }
