<!--
	Aqui é definido o cabecalho de seu projeto . 
	O projeto pode ter nenhum, um ou vários cabecalhos definidos de acordo com o estado definido no App.js
-->
<div class="theme-header-container">
<nav class="navbar navbar-default navbar-fixed-top theme-header" role="navigation" style="margin-bottom: 0" ng-controller="HeaderController">

<!---------------------------------------------------------------------------------------------------------------------->	
<!-------------------------------------------------  INICIO IBC2017  --------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------->
	
	<!-- topo acessibilidade -->
	<div id="tema-aces-cima" class="container-fluid theme-header-acessibilidade hidden-xs">
		<div class="row">
			<div class="col-xs-12">
				<span class="left">
					<a href="" ng-click="goElement('formMain')" accesskey="1" class="theme-link-acessibilidade"> {{ 'label.ir.para.conteudo' | translate}} </a>
					<a href="" ng-click="goElement('menuMain')" accesskey="2" class="theme-link-acessibilidade"> {{ 'label.ir.para.menu' | translate}} </a>
				</span>
				<span class="navbar-right theme-header-right" style="cursor:pointer; margin-top: 4px;">
		            <img id="diminuirFonte" src="imgs/a-menos.png" onclick="alterarFonte()" title="Diminui tamanho fonte" />
		            <img id="aumentarFonte" src="imgs/a-mais.png" onclick="alterarFonte(1)" title="Aumenta tamanho fonte"/>
		
			        <span class="material-switch-contraste" title="Alto Contraste">
			            <input id="alteraTema" type="checkbox" ng-model="checkboxModel.alteraTemaContraste.selected" 
			            		ng-click="checkboxModel.myClick(checkboxModel.alteraTemaContraste)" />
			            <label for="alteraTema" class="label-warning"></label>
			        </span>
				</span>
			</div>
		</div>
	</div>
	
	<!-- cabecalho -->
	<div class="container-fluid theme-header-title">
		<div class="row">
			
			<!-- titulo esquerdo -->
			<div class="col-xs-5 col-sm-2 navbar-left theme-header-left" id="logo-caixa-cima">
				<a class="navbar-brand" href ng-click="goHome()" title="{{compiler(project.owner)}}">
					<span class="theme-header-left-caption">{{compiler(project.name)}}</span>
				</a>
			</div>
			
			<!-- titulo do meio -->	
			<!-- (apagar aqui quando necessario)
			<div class="hidden-xs col-sm-8">
				<span class="navbar-brand header-title navbar-brand-middle hidden-xs theme-header-middle" ng-hide="currentview.locked || currentview.menu==false">
					<i class="fa" ng-class="currentview.icon">&nbsp;</i>
					<!-- {{compiler(currentview.title)}} -->
					<!-- (apagar aqui quando necessario)
					<span ng-if="contextEditable" ng-model="currentview.title" contenteditable="{{contextEditable}}"></span>
					<span ng-if="!contextEditable">{{compiler(currentview.title)}}</span>
				</span>
			</div>
			(apagar aqui quando necessario) --> 
			
			
			<!-- inicio conteudo ibc2017 -->
			
			<!-- dados do usuario -->
			<div class="hidden-xs col-sm-offset-1 col-sm-4 col-lg-offset-0 col-lg-4" id="conta-cima">
				
				<!-- nome e ultimo acesso -->
				<div class="container-fluid texto-conta-cima">
					<div class="row">
						<div class="icone-texto-conta-cima">
							<span class="glyphicon glyphicon-user"></span>
						</div>
						<div>  
					        <p>Olá, NOME DO CPF 12345678900<br>
					        Último acesso: 01/01/2017 às 00:00</p>
				        </div>
	    			</div>
				</div>
				
				<!-- painel conta bancaria -->    			
    			<div class="row">
	    			<div class="container-fluid pnl-conta-cima">
		    			<div class="row">
		    			
		    				<!-- dados bancarios -->
		    				<div class="col-sm-7">
								<p>Ag <span>1679</span> Op <span>013</span> Conta <span>1001-1</span></p>
							</div>
							
							<!-- saldo -->
							<div class="col-sm-5 saldo-pnl-conta-cima">
								<p>Meu Saldo&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom"></span><br><span>R$ 4.518,67</span></p>
							</div>
							
		    			</div>
	    			</div>
    			</div>
	    									
			</div>
			
			<!-- opcoes -->
			<div class="hidden-xs col-sm-offset-1 col-sm-2 col-lg-3 col-lg-offset-1" id="opcoes-cima">
				
				<!-- botao sair -->
				<div class="row">
					<div class="container-fluid pull-right btnsair-opcoes-cima">
						<div>
							<p><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Sair</p>
						</div>
					</div>
				</div>
				
				<!-- painel botoes opcoes -->
				<div class="row">
	    			<div class="container-fluid pnl-opcoes-cima text-center">
	    				<div class="row">
		    				<div class="col-sm-12">
								<div class="row">
									
									<!-- botao contas -->
							    	<div class="col-sm-6 btncontas-pnl-opcoes-cima">
							    		<div class="hidden-lg">
								            <p><span class="glyphicon glyphicon-user"></span></p>
						            	</div>
						            	<div class="hidden-xs hidden-sm hidden-md">
								            <p>Outras contas&nbsp;&nbsp;
								            	<span class="glyphicon glyphicon-triangle-bottom"></span>
								            </p>
						            	</div>
							        </div>
							        
							        <!-- botao configuracoes -->
							      	<div class="col-sm-6 btnconfig-pnl-opcoes-cima">
							            <div class="hidden-lg">
								            <p><span class="glyphicon glyphicon-cog"></span></p>
						            	</div>
						            	<div class="hidden-xs hidden-sm hidden-md">
								            <p>
								            	<span class="glyphicon glyphicon-cog"></span>
								            	&nbsp;&nbsp;Config. acesso
								            </p>
						            	</div>
							        </div>
							  	</div>
							</div>
	    				</div>
	    			</div>
    			</div>
			</div>
			<!-- final conteudo ibc2017 -->
			
			<!-- titulo direito -->
			<div class="col-xs-7 col-sm-2 navbar-right theme-header-right" id="logo-sistema-cima">
			</div>
			
		</div>
		
	</div>
	
<!---------------------------------------------------------------------------------------------------------------------->	
<!-------------------------------------------------  FINAL IBC2017  ---------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------->

	<!-- cabecalho -->
	<div id="divtopo" class="theme-header-title">
		<!-- titulo esquerdo -->
		<div class="navbar-left theme-header-left">
			<a class="navbar-brand" href ng-click="goHome()" title="{{compiler(project.owner)}}">
				<span class="theme-header-left-caption">{{compiler(project.name)}}</span>
			</a>
		</div>

		<!-- titulo do meio -->
		<span class="navbar-brand header-title navbar-brand-middle hidden-xs theme-header-middle" ng-hide="currentview.locked || currentview.menu==false">
		</span>

		<!-- titulo direito -->
		<div class="navbar-right theme-header-right">
			<span>
				<a href title="{{ 'label.avaliacao.usuario' | translate}}" ng-click="openFeedback()" class="navbar-brand ng-hide" ng-show="feedback && currentview.locked">
					<i class="fa fa-star-half-empty"></i>
				</a>
			</span>
			
			<li class="navbar-brand" style="list-style:none;font-size: 12px" ng-if="usuario != null">
		        <!-- Menu Toggle Button -->
	     	  <span class="div-info-usuario hidden-xs">
		          <!-- hidden-xs hides the username on small devices so only the image appears. -->
		          <span class="hidden-xs">{{usuario.preferred_username}} - {{usuario.given_name}}</span><br>
				  <span class="hidden-xs">{{("0000" + usuario['nu-lotacaofisica']).slice(-4)}}, {{usuario['no-lotacaofisica']}}</span><br>
				  <span class="hidden-xs">{{usuario['no-funcao']}}</span>
			  </span>
	      </li>
	      <div class="navbar-brand" ng-if="usuario != null">
             <a  href="" ng-click="logout()" class="btn-xs btn-default btn-flat" style="text-decoration:none;">Sair</a>
           </div>
			<button type="button" class="navbar-toggle theme-header-right-navmenu" data-toggle="collapse" data-target=".navbar-collapse">
				<i class="fa fa-navicon fa-fw fa-2x"></i>
			</button>
		</div>
	</div>

	<div class="theme-header-ATM" ng-show="project.telainicial">
		<div id="navbar2" class="navbar-collapse">
			<span style="font-size: 50px; color: #337ab7; padding-left: 20px;" class="center nav navbar-nav navbar-left">
				Olá, <b style="font-size: 50px; color: #337ab7;">{{project.builderfullname.split(' ')[0]}}.</b>
			</span>
			<ul class="center nav navbar-nav navbar-right">
				<li class="dropdown">
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<font color="#267fb9" style="font-weight: bold;"> Conta</font>
							<br>
							<font color="#267fb9">9999 999 999999-9</font>
							<br>
							<b>Aperte para trocar</b>
							<span class="caret"></span>
						</a>
					
						<ul class="dropdown-menu">
							<li>
								<a href="">
									<font color="#267fb9" style="font-weight: bold;"> Conta</font>
									<br>
									<font color="#267fb9">9999 999 999999-9</font>
								</a>
							</li>
							<br>
							<li>
								<a href="">
									<font color="#267fb9" style="font-weight: bold;"> Conta</font>
									<br>
									<font color="#267fb9">9999 999 999999-9</font>
								</a>
							</li>
							<br>
						</ul>
						<li>
							<a href="">
								<font color="#267fb9" style="font-weight: bold;"> Saldo sem limite <br>do cheque especial</font>
								<br>
								<b>Aperte para exibir</b>
							</a>
						</li> 	
						<li>
							<a href="" style="padding-top: 0px;">
								<button type="button" class="close" aria-label="Close">
								<span aria-hidden="true" style="color: black;font-size: 46px;">&times;</span>
								</button><br>Sair
							</a>
						</li> 
				  	</li>
				</li>
			</ul>
		</div>
	</div>

	<!-- Tabs do cabecalho -->
	<ul if="project.menu==false" class="nav nav-tabs col-xs-12 theme-header-tabs" tabindex="0" id="menuMain">
		<a class="caixa-azul"><img src="imgs/theme-padrao/caixa-azul.png"></a>
		<!-- tab dinamico -->
		<li role="presentation" ng-repeat="menu in project.menus" ng-class="(menu.submenus?'dropdown':'') + ' ' + getPlatforms(menu.platforms)">

			<!-- tab -->
			<a ng-if="!menu.submenus" href ui-sref-active="active" ui-sref="{{menu.target?menu.target:home}}" title="{{compiler(menu.description)}}">
				<i class="fa fa-fw" ng-class="menu.icon"></i>
				<span class="theme-menu-item-caption hidden-xs">&nbsp;{{compiler(menu.title)}}</span>
			</a>

			<!-- tab com submenu -->
			<a ng-if="menu.submenus" href class="dropdown" data-toggle="dropdown" title="{{menu.description}}"  role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-fw" ng-class="menu.icon"></i>
				<span class="theme-menu-item-caption hidden-xs">&nbsp;{{menu.title}}</span>
				<span class="caret"></span>
			</a>

			<ul ng-if="menu.submenus" class="dropdown-menu">
				<li ng-repeat="submenu in menu.submenus" class="theme-submenu-item" ng-class="getPlatforms(submenu.platforms)">
					
					<a ng-if="!submenu.submenus" href ui-sref-active="active" ui-sref="{{submenu.target?submenu.target:home}}" title="{{submenu.description}}">
						<span class="theme-submenu-item-caption"><i class="fa fa-fw" ng-class="submenu.icon"></i>&nbsp;{{submenu.title}}</span>
					</a>
					
					<a ng-if="submenu.submenus" href class="dropdown-submenu" data-toggle="dropdown-submenu" title="{{submenu.description}}"  role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-fw" ng-class="menu.icon"></i>
						<span class="theme-menu-item-caption hidden-xs">&nbsp;{{submenu.title}}</span>
						<span class="caret"></span>
					</a>
					
					<ul ng-if="submenu.submenus" class="dropdown-menu submenu2">
						<li ng-repeat="submenu2 in submenu.submenus" ng-class="(submenu.submenus?'submenu2':'') + ' ' + getPlatforms(menu.platforms)">
							<a href ui-sref-active="active" ui-sref="{{submenu2.target?submenu2.target:home}}" title="{{submenu2.description}}">
								<span class="theme-submenu-item-caption"><i class="fa fa-fw" ng-class="submenu2.icon"></i>&nbsp;{{submenu2.title}}</span>
							</a>
						</li>
					</ul>
					
				</li>
			</ul>

		</li>

		<!-- exemplo de estrutura de menu -->
		<!-- li role="presentation" class="active">
			<a href="#">Home</a>
		</li>
		<li role="presentation">
					<a href="#">Help</a>
		</li>
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Dropdown
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">Action</a>
				</li>
				<li>
					<a href="#">Another action</a>
				</li>
				<li>
					<a href="#">Something else here</a>
				</li>
				<li role="separator" class="divider"></li>
				<li>
					<a href="#">Separated link</a>
				</li>
			</ul>
		</li -->
	</ul>
	<div  class="autoCompleteCredito"
	      angucomplete-alt id="idAutoCompleteCredito"
	      placeholder="O que você quer fazer?"
	      pause="300"
	      selected-object="selectedTela"
	      local-data="telas"
	      local-search="pesquisarTelas"
	      title-field="title"
	      description-field=""
	      image-field=""
	      minlength="1"
	      input-class="form-control form-control-small"
	      match-class="highlight"
	      text-no-results="Nenhum dado encontrado">
    </div>
</nav>
</div>