<!-- div ng-repeat="item in currentview.body" ng-class="getPlatforms(item.platforms)">
    <div ng-repeat="item in currentview.body" ng-class="getPlatforms(item.platforms)">
        <div ng-if="item.type=='webgl' && !webglLoaded">
            <script src="webgl/three.min.js"></script>
            <script src="webgl/controls/OrbitDeviceControls.js"></script>
            
            <script src="webgl/loaders/MTLLoader.js"></script>
            <script src="webgl/loaders/OBJLoader.js"></script>
            <script src="webgl/Detector.js"></script>
            <script src="webgl/webgl.js"></script>
            <div ng-init="webglLoaded=true"></div>
        </div>
    </div>
</div -->

<div id="main" class="theme-main">
    <form id="formMain" name="formMain" tabindex="0">
    <div class="row">
    	<span ncy-breadcrumb></span>
        <div ng-repeat="item in currentview.body" ng-class="getPlatforms(item.platforms)">
            <div ng-if="item.type=='carr'" >
                <div uib-carousel active="active" interval="5000" no-wrap="false">
                    <div uib-slide ng-repeat="item in item.values track by $index" index="$index">
                        <a href ng-click="openView(item.action)" title="{{item.title}}">
                            <img ng-src="{{item.value}}" style="margin:auto;">
                            <div class="carousel-caption" class="ng-hide" ng-show="item.title || item.subtitle">
                                <h4 class="ng-hide" ng-show="item.title">{{item.title}}</h4>
                                <p class="ng-hide" ng-show="item.subtitle">{{item.subtitle}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div ng-if="item.type=='webgl'" ng-controller="WebGLController">
                <div id="{{item.id}}" ng-init="initWebGL(item.id,compiler(item.title),compiler(item.subtitle),item.object,item.material)"></div>
                <div id="splash{{item.id}}" class="ng-hide padding theme-main-splash-alternative text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img ng-src="{{item.splash}}" ng-show="item.splash" class="ng-hide"/>
                    <p ng-show="item.title" class="ng-hide text-primary bold"><strong>{{compiler(item.title)}}</strong></p>
                    <p ng-show="item.subtitle" class="ng-hide text-primary">{{compiler(item.subtitle)}}</p>
                </div>
            </div>

            <div ng-if="item.type=='img'" class="padding theme-main-img" ng-class="item.align.text + ' ' + item.size.style" align="{{item.align.id}}">
                <img ng-src="{{compiler(item.value)}}" ng-class="item.style">
            </div>

            <h5 ng-if="item.type=='h4'" class="padding text-primary bold theme-main-h4" align="{{item.align.id}}" ng-class="item.size.style">
                <i ng-if="item.icon && item.icon!='none'" class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </h5>

            <h6 ng-if="item.type=='h6'" class="padding text-primary theme-main-h6" align="{{item.align.id}}" ng-class="item.size.style">
                <i ng-if="item.icon" class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </h6>

            <span ng-if="item.type=='label'">
                <span ng-if="contextEditable" class="label padding theme-main-label"  ng-class="'text-' + item.style.id + ' ' + item.align.pull + ' ' + item.size.style" title="{{compiler(item.name)}}"  ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable" class="label padding theme-main-label"  ng-class="'text-' + item.style.id + ' ' + item.align.pull + ' ' + item.size.style" title="{{compiler(item.name)}}">{{compiler(item.value)}}</span>
            </span>

            <button ng-if="item.type=='button'" class="btn btn-sm margin-3x theme-main-button" ng-class="'btn-' + item.style.id + ' ' + item.align.pull"  ng-click="openViewDelayed(item.option,3,$event,item.message)" title="{{item.help}}" ng-disabled="!item.enabled" loading="Processando...">
                <i class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </button>

            <div ng-if="item.type=='input-text'" class="form-group theme-main-input-text" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='pick-list'" class="form-group">
                <label ng-if="contextEditable" ng-class="item.size.style" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable" ng-class="item.size.style">{{compiler(item.value)}}</label>

				<div class="col-md-4">
					<picklist size="7" data-pick-model="item.valuesSelects" data-pick-options="option for option in item.values"/>
				</div>
            </div>

            <div ng-if="item.type=='input-number'" class="form-group theme-main-input-number" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-cpf'" class="form-group theme-main-input-number-cpf" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-cnpj'" class="form-group theme-main-input-number-cnpj" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-pis'" class="form-group theme-main-input-number-pis" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-nis'" class="form-group theme-main-input-number-nis" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-pasep'" class="form-group theme-main-input-number-pasep" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-cep'" class="form-group theme-main-input-number-cep" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-agencia'" class="form-group theme-main-input-number-agencia" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-conta'" class="form-group theme-main-input-number-conta" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-operacao'" class="form-group theme-main-input-number-operacao" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-matricula'" class="form-group theme-main-input-number-matricula" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-number-telefone'" class="form-group theme-main-input-number-telefone" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" input-restrictor-number maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-moeda-brasil'" class="form-group theme-main-input-moeda-brasil" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input id="currencyBrasil" type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" maxlength="{{item.maxlength}}" onfocus="mascaraMoeda(this)" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal="," ng-required="item.inputrequired"/>
                </div>
            </div>

            <div ng-if="item.type=='input-moeda-eua'" class="form-group theme-main-input-moeda-eua" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input id="currencyEua" type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" maxlength="{{item.maxlength}}" onfocus="mascaraMoeda(this)" data-affixes-stay="true" data-prefix="US$ " data-thousands="," data-decimal="." ng-required="item.inputrequired"/>
                </div>
            </div>

            <div ng-if="item.type=='input-mail'" class="form-group theme-main-input-mail" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="email" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-mask'" class="form-group theme-main-input-mask" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="password" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" maxlength="{{item.maxlength}}" ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-check'" class="form-group theme-main-input-check" ng-init="item.selected=item.values[0]" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <label class="margin" ng-repeat="value in item.values">
                        <input type="checkbox" placeholder="{{compiler(value)}}" ng-readonly="!item.enabled" ng-disabled="!item.enabled" title="{{compiler(item.help)}}"  ng-required="item.inputrequired">&nbsp;{{compiler(value)}}>
                        &nbsp;
                    </label>
                </div>
            </div>

            <div ng-if="item.type=='input-date'" class="form-group theme-main-input-date" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group" ng-init="item.fakedata=fromDate(item.fakedata,'DD/MM/YYYY')">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input id="inputdate{{item.id}}" type="text" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.title)}}" ng-readonly="!item.enabled" ng-init="initDate('inputdate' + item.id)"  ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-datenative'" class="form-group theme-main-input-date" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group" ng-init="item.fakedata=toDate(item.fakedata)">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <input type="date" ng-model="item.fakedata" class="form-control" placeholder="{{compiler(item.help)}}" title="{{compiler(item.title)}}" ng-readonly="!item.enabled"  ng-required="item.inputrequired">
                </div>
            </div>

            <div ng-if="item.type=='input-radio'" class="input-group-disabled theme-main-input-radio" ng-init="item.selected=item.values[0]" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <button class="btn margin" ng-class="item.selected==value?'btn-primary active':'btn-default'" ng-click="item.selected=value" ng-repeat="value in item.values" ng-disabled="!item.enabled">
                        {{compiler(value)}}
                    </button>
                </div>
            </div>

            <div ng-if="item.type=='input-select'" class="form-group theme-main-input-select" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <select class="form-control" ng-readonly="!item.enabled" ng-disabled="!item.enabled" title="{{compiler(item.help)}}"  ng-required="item.inputrequired">
                        <option ng-repeat="item in item.values | orderBy:''">{{compiler(item)}}</option>
                    </select>
                </div>
            </div>

            <div ng-if="item.type=='text-area'" class="form-group theme-main-text-area" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>

                <div class="input-group">
                    <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                        <i class="fa" ng-class="item.icon"></i>
                    </span>
                    <textarea  type="text" ng-model="item.fakedata" class="form-control" title="{{compiler(item.help)}}" ng-readonly="!item.enabled" rows="{{item.option}}" maxlength="{{item.maxlength}}"  ng-required="item.inputrequired"></textarea>
                </div>
            </div>

            <div ng-if="item.type=='table'" class="table-responsive table-bordered theme-main-table" ng-class="item.size.style">
                <table class="table table-responsive table-bordered table-hover table-striped text-black">
                    <thead class="theme-main-table-head">
                    <tr class="theme-main-table-head-row">
                        <th ng-repeat="col in item.values " class="text-left theme-main-table-head-col">
                            {{compiler(col)}}
                        </th>
                        <th class="col-xs-1 text-center theme-main-table-head-col">
                            <i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Editar Item"></i>
                        </th>
                        <th class="col-xs-1 text-center theme-main-table-head-col">
                            <i class="fa fa-trash-o" data-toggle="tooltip" title="Excluir Item"></i>
                        </th>
                    </tr>
                    </thead>
                    <tr ng-repeat="col in item.values" class="theme-main-table-row">
                        <td ng-repeat="col in item.values" class="text-left theme-main-table-col">
                            {{compiler(col)}}
                        </td>
                        <td class="text-center theme-main-table-col">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Editar Item" ng-click="openViewDelayed(item.option,3,$event)">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                        <td class="text-center theme-main-table-col">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Excluir Item" ng-click="confirmDelete()">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-if="item.type=='table-filter'" class="table-responsive table-bordered theme-main-table" ng-class="item.size.style">
                <table class="table table-responsive table-bordered table-hover table-striped text-black" st-table="tabeladata" st-safe-src="item.values" ng-init="tabledata=item.values">
                    <thead class="theme-main-table-head">
                    <tr>
                        <th colspan="1">
                            <input st-search placeholder="Filtrar ..." class="form-control" type="text"/>
                        </th>
                        <th colspan="{{item.values.length}}">
                            <select ng-options="option.name for option in pageOptions track by option.value"
                                    ng-model="itemsOnPage" class="form-control" style="display: inline; width: inherit;"></select>
                            Resultados por página
                        </th>

                    </tr>
                    <tr class="theme-main-table-head-row">
                        <th ng-repeat="col in item.values" class="text-left theme-main-table-head-col">
                            {{compiler(col)}}
                        </th>
                        <th class="col-xs-1 text-center theme-main-table-head-col">
                            <i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Editar Item"></i>
                        </th>
                        <th class="col-xs-1 text-center theme-main-table-head-col">
                            <i class="fa fa-trash-o" data-toggle="tooltip" title="Excluir Item"></i>
                        </th>
                    </tr>
                    </thead>
                    <tr ng-repeat="col in tabeladata" class="theme-main-table-row">
                        <td ng-repeat="col in item.values" class="text-left theme-main-table-col">
                            {{compiler(col)}}
                        </td>
                        <td class="text-center theme-main-table-col">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Editar Item" ng-click="openViewDelayed(item.option,3,$event)">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </td>
                        <td class="text-center theme-main-table-col">
                            <button class="btn btn-sm" data-toggle="tooltip" title="Excluir Item" ng-click="confirmDelete()">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="{{item.values.length + 1}}" class="text-center">
                                <div class="pull-left">
                                    <button class="btn btn-sm" ng-click="doExportDataTxt(tabeladata)" data-toggle="tooltip" title="exportar TXT">
                                        <i class="fa fa-file-text"></i>
                                    </button>
                                    <button class="btn btn-sm" ng-click="doExportDataCsv(tabeladata)" data-toggle="tooltip" title="exportar CSV">
                                        <i class="fa fa-file-excel-o"></i>
                                    </button>
                                </div>
                                <div st-pagination="" st-items-by-page="itemsOnPage.value" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div ng-if="item.type=='list'" class="padding theme-main-list" ng-class="item.size.style">
                <div ng-repeat="item in item.values">
                    <div class="row theme-main-list-row">
                        <div class="text-left col-xs-4 text-primary">
                            <label ng-if="contextEditable" ng-model="item.key" contenteditable="{{contextEditable}}"></label>
                            <label ng-if="!contextEditable">{{compiler(item.key)}}</label>
                        </div>
                        <div class="text-right col-xs-8 text-warning">
                            <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                            <label ng-if="!contextEditable">{{compiler(item.value)}}</label>
                        </div>
                    </div>
                </div>
                <br/>&nbsp;
            </div>
            <div ng-if="item.type=='link'" class="padding theme-main-link" ng-class="item.size.style + ' ' + item.align.text">
                <a href ng-href="{{compiler(item.enabled?item.href:'#')}}" target="{{compiler(item.option)}}" title="{{compiler(item.help)}}" ng-disabled="!item.enabled" ng-class="item.enabled?'':'disabled'">
                    <i class="fa" ng-class="item.icon" ng-if="item.icon">&nbsp;</i>
                    {{compiler(item.value)}}
                </a>
            </div>

            <br ng-if="item.type=='line-break' || !item.type" class="theme-main-line-break"/>
            <div ng-if="item.type=='rule'" class="theme-main-line-rule">
                &nbsp;
                <hr />
            </div>

            <div ng-if="item.type=='timer'" ng-init="openViewDelayed(item.option,item.delay.id)" class="theme-main-timer">
                <button class="btn btn-sm" ng-click="dismissOpenDelayed(false,item.option)" title="ir para {{item.option}} em {{item.delay.name}}. clique para parar">
                    <i class="fa fa-clock-o floating-top-left padding-5x handOver">{{item.delay.id}}s</i>
                </button>
                <button class="btn btn-sm" ng-click="openView(item.option)" title="ir para {{item.option}}">
                    <i class="fa fa-arrow-right floating-top-left padding-5x handOver">seguir</i>
                </button>
                <!-- i class="fa fa-clock-o floating-top-left padding-5x handOver" title="ir para {{item.option}} em {{item.delay.name}}" ng-click="dismissOpenDelayed(false,item.option)">{{item.delay.id}}s</i -->
            </div>

            <i ng-if="item.type=='icon'" class="fa theme-main-icon"  ng-class="item.icon + ' text-' + item.style.id + ' ' + item.align.float + ' ' + item.size.style + ' ' + item.weight.style" ></i>

            <a href ng-if="item.type=='img-button'" class="panel-center theme-main-img-button" ng-class="item.align.float"  ng-click="openView(item.option)" title="{{item.help}}">
                <img ng-src="{{compiler(item.imgsrc)}}" class="theme-main-img-button-image img-responsive"><br/>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}" class="theme-main-img-button-label" ng-show="item.value"></span>
                <span ng-if="!contextEditable" class="theme-main-img-button-label" ng-show="item.value">{{compiler(item.value)}}</span>
            </a>

            <div ng-if="item.type=='map'" class="panel panel-primary theme-main-map-container" ng-class="item.size.style">
                <div id="{{item.id}}" class="theme-main-map" data-tap-disabled="true" ng-init="loadMap(item.id)"></div>
                <label class="theme-main-map-label">{{compiler(item.value)}}</label>
            </div>

            <div ng-if="item.type=='line-chart'" class="theme-main-chart" ng-class="item.size.style" ng-init="loadChart(item.id,item.type)">
                <label class="theme-main-chart-label">{{compiler(item.value)}}</label>
                <highchart config="linechart" class="highchart-container"></highchart>
            </div>
            <div ng-if="item.type=='column-chart'" class="theme-main-chart" ng-class="item.size.style" ng-init="loadChart(item.id,item.type)">
                <label class="theme-main-chart-label">{{compiler(item.value)}}</label>
                <highchart config="columnchart" class="highchart-container"></highchart>
            </div>
            <div ng-if="item.type=='pie-chart'" class="theme-main-chart" ng-class="item.size.style" ng-init="loadChart(item.id,item.type)">
                <label class="theme-main-chart-label">{{compiler(item.value)}}</label>
                <highchart config="piechart" class="highchart-container"></highchart>
            </div>


            <div ng-if="item.type=='detail-panel'" class="theme-main-detail-panel"  ng-class="item.size.style" >
                <a href ng-click="openView(item.option)" title="{{item.help}}">
                    <div class="panel" ng-class="'panel-' + item.style.id">
                        <div class="panel-heading theme-main-detail-panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-5x" ng-class="item.icon"></i>
                                </div>
                                <div class="theme-main-detail-panel-heading-title col-xs-9 text-right">
                                    <div class="theme-main-detail-panel-number huge ng-hide" ng-show="item.amount">{{item.amount}}</div>
                                    <div class="theme-main-detail-panel-caption">{{compiler(item.value)}}</div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer theme-main-detail-panel-footer">
                                <span class="pull-left theme-main-detail-panel-detail">{{item.subvalue}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </a>
            </div>


            <!-- upload -->
            <div ng-if="item.type=='upload'" class="form-group theme-main-input-text" ng-class="item.size.style">
                <label ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></label>
                <label ng-if="!contextEditable">{{compiler(item.value)}}</label>
                <div id="upload" ng-controller="uploaderCtrl">
                    <div class="input-group">
                        <span class="input-group-addon ng-hide" ng-show="item.icon!='none'">
                            <i class="fa" ng-class="item.icon"></i>
                        </span>
                        <div class="form-control" maxlength="${item.getAtributo('maxlength')}">
                            <div>
                                <input fileread="container.uplEscolhaoarquivo" id="uplEscolhaoarquivo"
                                       type="file" ng-model="item.fakedata" placeholder="{{compiler(item.help)}}"
                                       title="{{compiler(item.help)}}" ng-readonly="!item.enabled"
                                       maxlength="{{item.maxlength}}"  ng-required="item.inputrequired"/>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="file in files" style="margin-top: 20px;">
                        <div>
                            <span>{{file.name}}</span>
                            <div style="float:right;">
                                <span>{{file.humanSize}}</span>
                            </div>
                        </div>
                        <uib-progressbar max="100" animate= "false" value="file.loaded" >{{file.loaded}}%</uib-progressbar>
                    </div>
                </div>
            </div>

            <!-- QRCode -->
            <div ng-if="item.type=='qrcode'" class="form-group theme-main-qrcode" ng-class="item.align.text + ' ' + item.size.style">
                <qrcode data="{{item.value}}" image="./imgs/qrcodeid.png" fill="#296FA7"></qrcode>
            </div>
            
			<button ng-if="item.type=='qrcode-scanner'" class="btn btn-sm margin-3x theme-main-button" 
					ng-class="'btn-' + item.style.id + ' ' + item.align.pull"  
					ng-click="openViewDelayed(item.option,3,$event,item.message)" 
					title="{{item.help}}" ng-disabled="!item.enabled" loading="Processando...">
                <i class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </button>

            <!-- TAB -->
            <div ng-if="item.type=='tab'" class="form-group theme-main-tab" ng-controller="TabController">
                <ul class="tabs-nav">
                    <li ng-repeat="view in item.values">
                        <a ng-click="loadView(view.value)" ng-class="{'active' : currentview.id==view.value}">{{view.key}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div ui-view="tab-container" class="theme-tab-wrapper" ng-init="init(item)"></div>
                </div>
            </div>

            <!-- Print-button -->
            <button ng-if="item.type=='button-print'" class="btn btn-sm margin-3x theme-main-button" ng-class="'btn-' + item.style.id + ' ' + item.align.pull"  ng-click="doPrint($event)" title="{{item.help}}" ng-disabled="!item.enabled" loading="Processando...">
                <i class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </button>

            <!-- Quebra de Pagina -->
            <div ng-if="item.type=='page-break'" class="theme-main-page-break text-center text-primary">
                <small>(quebra de página)</small>
            </div>

            <h4 ng-if="item.type=='print-header'" class="padding text-primary bold theme-main-print-header" align="{{item.align.id}}" ng-class="item.size.style">
                <i ng-if="item.icon && item.icon!='none'" class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </h4>

            <h5 ng-if="item.type=='print-footer'" class="padding text-primary bold theme-main-print-footer" align="{{item.align.id}}" ng-class="item.size.style">
                <i ng-if="item.icon && item.icon!='none'" class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </h5>

            <h5 ng-if="item.type=='label-push-status'" class="padding text-primary bold theme-main-push-status" align="{{item.align.id}}" ng-class="item.size.style" ng-init="startMessageService()">
                <i ng-if="item.icon && item.icon!='none'" class="fa" ng-class="item.icon">&nbsp;</i>
                <span class="ng-hide" ng-show="isSubscriptionSupported() && isSubscriptionInititalized() && isSubscribed()"> {{compiler(item.values[0])}}</span>
                <span class="ng-hide" ng-show="isSubscriptionSupported() && isSubscriptionInititalized() && !isSubscribed()"> {{compiler(item.values[1])}}</span>
                <span class="ng-hide" ng-show="isSubscriptionSupported() && !isSubscriptionInititalized()"> {{compiler(item.values[2])}}</span>
                <span class="ng-hide" ng-show="!isSubscriptionSupported()"> {{compiler(item.values[3])}}</span>
            </h5>
            <button ng-if="item.type=='button-push-subscribe'" class="btn btn-sm margin-3x theme-main-button-subscribe" ng-class="'btn-' + item.style.id + ' ' + item.align.pull"  ng-click="subscribe($event)" title="{{item.help}}" ng-disabled="!isSubscriptionSupported() || !isSubscriptionInititalized() || isSubscribed()" loading="Processando..." ng-init="startMessageService()">
                <i class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </button>
            <button ng-if="item.type=='button-push-unsubscribe'" class="btn btn-sm margin-3x theme-main-button-unsubscribe" ng-class="'btn-' + item.style.id + ' ' + item.align.pull"  ng-click="unsubscribe($event)" title="{{item.help}}" ng-disabled="!isSubscriptionSupported() || !isSubscriptionInititalized() || !isSubscribed()" loading="Processando..." ng-init="startMessageService()">
                <i class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </button>
            <button ng-if="item.type=='button-push-dev'" class="btn btn-sm margin-3x theme-main-button-dev" ng-class="sobreIsDev?'btn-on':''"  ng-click="setDevMode(!sobreIsDev)" ng-show="isSubscriptionSupported() && isSubscriptionInititalized() && !isSubscribed()" ng-init="startMessageService()">
                <i class="fa" ng-class="item.icon">&nbsp;</i>
                <span ng-if="contextEditable" ng-model="item.value" contenteditable="{{contextEditable}}"></span>
                <span ng-if="!contextEditable">{{compiler(item.value)}}</span>
            </button>


        </div>
    </div>
    </form>
</div>