{
  "swagger" : "2.0",
  "info" : {
    "title" : "BAR_CONSULTA_CPF",
    "version" : "1.0.0",
    "description" : "BAR_CONSULTA_CPF"
  },
  "paths" : {
    "/v1/consulta" : {
      "get" : {
        "operationId" : "consultaCPF",
        "responses" : {
          "200" : {
            "description" : "Operacao realizada com sucesso.",
            "schema" : {
              "$ref" : "#/definitions/resposta_consulta_cpf"
            }
          },
          "400" : {
            "description" : "Erro de sintaxe.",
            "schema" : {
              "$ref" : "#/definitions/integracao"
            }
          },
          "500" : {
            "description" : "Erro interno do servidor.",
            "schema" : {
              "$ref" : "#/definitions/integracao"
            }
          }
        },
        "produces" : [ "application/json" ],
        "description" : "Realiza a consulta de cadastro pelo CPF.",
        "parameters" : [ {
          "name" : "cpf",
          "in" : "query",
          "type" : "string",
          "required" : true,
          "description" : "CPF a ser consultado."
        } ]
      }
    }
  },
  "basePath" : "/sibar/consulta_cpf/",
  "definitions" : {
    "resposta_consulta_cpf" : {
      "type" : "object",
      "properties" : {
        "nome_contribuinte" : {
          "type" : "string"
        },
        "data_nascimento" : {
          "type" : "string",
          "format" : "yyyy-MM-dd"
        },
        "titulo_eleitor" : {
          "type" : "integer"
        },
        "nome_mae" : {
          "type" : "string"
        },
        "situacao" : {
          "type" : "integer"
        }
      }
    },
    "integracao" : {
      "type" : "object",
      "properties" : {
        "mensagem_retorno" : {
          "type" : "string"
        },
        "element2" : {
          "type" : "string"
        }
      }
    }
  },
  "schemes" : [ "https" ],
  "host" : "des.barramento.caixa"
}