<!-- multiple steps -->
<ul class="nav nav-tabs wizard">
    <li class="{{activeurl.pesquisa}}"><a href="#i9" data-toggle="tab" aria-expanded="false">{{breadcrumb.pesquisa}} <br /> {{breadcrumb.cadastral}}</a></li>
    <li class="{{activeurl.digitalizacao}}"><a href="#w4" data-toggle="tab" aria-expanded="false">{{breadcrumb.digitalizacao}} <br /> {{breadcrumb.documentos}}</a></li>
    <li class="{{activeurl.senha}}"><a href="#stateinfo" data-toggle="tab" aria-expanded="false">{{breadcrumb.senha}} <br /> {{breadcrumb.cliente}}</a></li>
    <li class="{{activeurl.dados}}"><a href="#companydoc" data-toggle="tab" aria-expanded="false">{{breadcrumb.dados}} <br /> {{breadcrumb.declarados}}</a></li>
    <li class="{{activeurl.dossie}}"><a href="#finish" data-toggle="tab" aria-expanded="true">{{breadcrumb.dossie}} <br /> {{breadcrumb.criado}}</a></li>
 </ul>