.P-40 {
  width: 40px;
}

.P-50 {
    width: 50px;
}

.P-60 {
    width: 60px;
  }

  .P-70 {
    width: 70px;
  }

  .P-75 {
    width: 75px;
  }

  .P-85 {
    width: 85px;
  }

  .P-95 {
    width: 95px;
  }

  .P-100 {
    width: 100px;
  }

  .P-110 {
    width: 110px;
  }

  .P-140 {
    width: 140px;
  }

.dashboard-table::ng-deep th {
    background: rgb(206, 235, 248) !important;
    font-size: 13px !important;
    font-weight: 900 !important;
    color: rgb(0, 90, 156) !important;
    border: none !important;
    border-bottom: 3px solid rgb(0, 90, 156) !important;
    text-align: center !important;
}

.dashboard-table tr td {
    border: none;
    border-bottom: 1px solid #ece4e4;
    text-align: center !important;
}

.dashboard-table .ui-widget-header {
    background: rgb(206, 235, 248) !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .processoFase {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .situacao {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}

@-moz-document url-prefix() {
    .processoFase {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .situacao {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.pointer div:hover {
  cursor: pointer;
}
