{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "sicli Web module"
  },
  "host": "novocadastro.desenvolvimento.extracaixa",
  "basePath": "/sicli-web/ws",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "manutencao"
    }
  ],
  "paths": {
    "/manutencao/atualizaDossieDigital": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecuperaManutDD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Cache-Control": {
                "type": "string"
              },
              "Expires": {
                "type": "string"
              },
              "Pragma": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Cache-Control": {
                "type": "string"
              },
              "Expires": {
                "type": "string"
              },
              "Pragma": {
                "type": "string"
              }
            },
            "schema": {
              "type": "object"
            }
          }
        },
        "tags": [
          "manutencao"
        ]
      }
    }
  },
  "definitions": {
    "RecuperaManutDD": {
      "properties": {
        "cnh": {
          "$ref": "#/definitions/DocumentoCnhDD"
        },
        "dadosPessoais": {
          "$ref": "#/definitions/DadosPessoaisDD"
        },
        "endereco": {
          "$ref": "#/definitions/EnderecoCargaDD"
        },
        "identidade": {
          "$ref": "#/definitions/DocumentoIdentDD"
        },
        "renda": {
          "$ref": "#/definitions/RendaCargaDD"
        }
      }
    },
    "DocumentoCnhDD": {
      "properties": {
        "dtEmissao": { // DATA DE EMISSAO CNH - formato dd/mm/aaaa(nao obrigatorio)
          "type": "object"
        },
        "dtPrimeiraHab": { // DATA PRIMEIRA HABILITAÇÃO - formato dd/mm/aaaa (nao obrigatorio)
          "type": "object"
        },
        "dtValidade": { // DATA VALIDADE DE VALIDADE CNH - formato dd/mm/aaaa(nao obrigatorio)
          "type": "object"
        },
        "numeroDocumento": { // NUMERO DO REGISTRO CNH - (obrigatorio)
          "type": "string"
        },
        "orgaoEmissor": { // CODIGO DO ORGAO EMISSOR DO CNH - (nao obrigatorio)
          "type": "integer"
		},
		  //"descrOrgaoEmissor": {  DESCRICAO DO ORGAO EMISSOR DO CNH - (obrigatorio) ESSE CAMPO AINDA NAO ESTA DESENVOLVIDO
		  //"type": "string"
        //},
        "squencial": { // obrigatorio 
          "type": "integer" 
        },
        "uf": { // UNIDADE FEDERATIVA DA EMISSAO DO CNH - (obrigatorio)
          "type": "string"
        }
      }
    },
    "DadosPessoaisDD": {
      "properties": {
        "codMunicipio": { // nao obrigatorio
          "type": "integer"
        },
		//"NomeMunicipio": { obrigatorio ESSE CAMPO AINDA NAO ESTA DESENVOLVIDO
        //  "type": "string"
        //},
        "cpf": {
          "type": "string" // obrigatorio
        },
        "dtNascimento": { // obrigatorio
          "type": "object"
        },
        "nome": { // obrigatorio
          "type": "string"
        },
        "nomeMae": { // nao obrigatorio
          "type": "string"
        },
        "nomePai": { // nao obrigatorio
          "type": "string"
        },
        "uf": { //UNIDADE FEDERATIVA DA NATURALIDADE DO CLIENTE  - obrigatorio
          "type": "string"
        }
      }
    },
    "EnderecoCargaDD": {
      "properties": {
        "anoReferencia": { //ANO INICIO RESIDENCIA (nao obrigatorio)
          "type": "integer"
        },
        "bairro": { // obrigatorio
          "type": "string"
        },
        "cep": { // obrigatorio
          "type": "string"
        },
        "codigoLocal": { //CODIGO DA CIDADE DO ENDERECO - (nao obrigatorio)
          "type": "integer"
        },
        "complemento": { //COMPLEMENTO DO ENDEREÇO - EX APTO(nao obrigatorio)
          "type": "string"
        },
        "dtApuracao": {// DATA DO DOCUMENTO DE COMPROVAÇÃO - (nao obrigatorio) - caso nao seja informado assumi-se data corrente - formato dd/mm/aaaa
          "type": "object"
        },
        "logradouro": {// NOME DA RUA, QUADRA , LOTE (obrigatorio)
          "type": "string"
        },
        "mesReferencia": {// MES INICIO RESIDENCIA (nao obrigatorio)
          "type": "integer"
        },
        "nomeLocalidade": {
          "type": "string" // NOME DA CIDADE - (obrigatorio)
        },
        "numero": {// NUMERO DA RESIDENCIA - (nao obrigatorio)
          "type": "string"
        },
        //"referencia": {
          //"type": "string" - sera descontinuado
        //},
        "sequencial": {
          "type": "integer" // SEQUENCIAL DO ENDEREÇO (obrigatorio)
        },
        "tpLogradouro": { // TIPO DE LOGRADOURO , RUA AVENIDA ETC (obrigatorio)
          "type": "string"
        },
        "uf": { // UNIDADE FEDERATIVA DO ENDERECO (obrigatorio)
          "type": "string"
        }
      }
    },
    "DocumentoIdentDD": {
      "properties": {
        "dtEmissao": { // DATA EMISSA IDENTIDADE - formato dd/mm/aaaa (obrigatorio)
          "type": "object"
        },
        "numeroDocumento": {// NUMERO IDENTIDADE - (obrigatorio)
          "type": "string"
        },
        "orgaoEmissor": {// CODIGO ORGAO EMISSOR (nao obrigatorio)
          "type": "integer"
		},
     //   "DescrOgaoEmissor": { DESCRICAO ORGAO EMISSOR (obrigatorio) - ESSE CAMPO AINDA NAO ESTA DESENVOLVIDO
     //     "type": "string"
     //   },
        "squencial": {// SQUENCIAL DO DOCUMENTO IDENTIDADE (obrigatorio)
          "type": "integer"
        }
      }
    },
    "RendaCargaDD": {
      "properties": {
        "anoReferencia": {// ANO REFERENCIA COMPROVANTE RENDA (obrigatorio)
          "type": "integer"
        },
        "dtAdmissao": {
          "type": "object" // DATA DE ADMISSAO NA FONTE PAGADORA (obrigatorio)
        },
        "fontePagadora": {
          "$ref": "#/definitions/DadosFontePagadoraDD"
        },
        "irpf": {
          "type": "number" // DESCONTO IPRF (nao obrigatorio)
        },
        "mesReferencia": {// MES REFERENCIA COMPROVANTE RENDA (obrigatorio)
          "type": "integer"
        },
        "ocupacao": { // CODIGO OCUPACAO (nao obrigatorio)
          "type": "integer"
        },
		//"DescrOcupacao": { //DESCRICAO DA OCUPACAO (obrigatorio) - ESSE CAMPO AINDA NAO ESTA DESENVOLVIDO
        //  "type": "String"
        //},
        //"referencia": {
        //  "type": "string" - SERA DESCONTINUADO
        //},
        "rendaBruta": { obrigatorio
          "type": "number"
        },
        "rendaLiquida": { obrigatorio
          "type": "number"
        },
        "sequencial": { obrigatorio
          "type": "integer"
        }
      }
    },
	// os dados da fonte pagadora com exceção do cpfCnpj serao de responsabilidade do SICLI
	
    "DadosFontePagadoraDD": {
      "properties": {
        "cnae": {
          "type": "integer"
        },
        "cpfCnpj": {
          "type": "string"
        },
        "dtNascConst": {
          "type": "object"
        },
        "matrizFilial": {
          "type": "string"
        },
        "naturezaJuridica": {
          "type": "integer"
        },
        "nomeFantasia": {
          "type": "string"
        },
        "nomeMaeFonte": {
          "type": "string"
        },
        "nomeRazao": {
          "type": "string"
        },
        "tpPessoa": {
          "type": "integer"
        }
      }
    }
  }
}