<div ng-controller="FeedbackController">
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismissDialog()" title="Fechar janela">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <i class="fa fa-star-half-o">&nbsp;</i>
            {{ 'label.avaliacao.usuario' | translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">

            <div class="col-xs-12 text-warning">
                {{ 'label.ajude.melhorar.esta.aplicacao.enviando.opiniao' | translate}}
                <br/>&nbsp;
            </div>
            <div class="col-xs-12" ng-repeat="feedback in user.feedback">
                <label class="text-primary" title="{{feedback.description}}">{{feedback.name}}</label>
                <div class="pull-right">
                    <span class="text-warning">{{getRate(feedback.rate).title}}</span>
                    <span ng-repeat="evaluation in evaluationRate" class="handOver" ng-click="feedback.rate=evaluation.rate">
                        <i class="fa" ng-class="feedback.rate != null && evaluation.rate<=feedback.rate?'fa-star text-primary':'fa-star-o'" title="{{evaluation.title}}"></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12">
                <br/>&nbsp;
                <textarea rows="5" ng-model="user.message" class="form-control noresize" placeholder="{{ 'label.deixe.aqui.suas.criticas.sugestoes' | translate}}" maxlength="250"></textarea>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right" ng-hide="modeinclude">
            <button type='button' class='btn btn-primary' data-dismiss="modal" ng-click="sendFeedback()">
                <i class='fa fa-send'></i>&nbsp;{{ 'label.enviar' | translate}}
            </button>

            <button type='button' class='btn btn-default' data-dismiss="modal" ng-click="dismissDialog()">
                <i class='fa fa-times'></i>&nbsp;{{ 'label.fechar' | translate}}
            </button>
        </div>
    </div>
</div>
