<div class="modal-body">
    <div class="text-center text-primary">
        <h4 id="AlertMessage" class="text-center">
            <img src="./imgs/pushpin.png" class="img-thumbnail-limited text-center nopadding maxbadge noborder"/>
            &nbsp;{{ 'label.gostaria.receber.notificacoes.central.caixa' | translate}}
        </h4>
    </div>
</div>
<div class="modal-footer invite-footer">
    <button type='button' class='btn btn-primary' data-dismiss="modal" ng-click="closeDialog()">
        <i class='fa fa-check'></i>&nbsp;{{ 'label.sim.eu.quero' | translate}}
    </button>
    <button type='button' class='btn btn-default' data-dismiss="modal" ng-click="dismissDialog()">
        <i class='fa fa-times'></i>&nbsp;{{ 'label.nao.obrigado' | translate}}
    </button>
</div>