<canvas id="pdfcanvas" style="display: none"></canvas>
<!--Processo dossie ou fase-->
<div *ngFor="let elementoConteudoProcesso of elementosConteudoProcessoDossieOuFase; let idx = index">
    <div class = "panel panel-default" *ngIf="existeDocumentoChildrenDossieFase(elementoConteudoProcesso)">
        <div *ngIf="apresentarDocumentoVazioDossieFase(elementoConteudoProcesso, 'tipoDocumento')">
            <div class = "panel-heading-top" *ngIf="!elementoConteudoProcesso.identificador_elemento_vinculador && elementoConteudoProcesso.tipo_documento">
                <a class = "panel-title">
                    <a >
                        <span>{{elementoConteudoProcesso.tipo_documento.nome}}<i *ngIf="elementoConteudoProcesso.obrigatorio">*</i></span>                
                    </a>
                </a>
            </div>
            <div class = "panel-heading-top" *ngIf="!elementoConteudoProcesso.identificador_elemento_vinculador && !elementoConteudoProcesso.tipo_documento">
                <a class = "panel-title">
                    <a >                
                        {{elementoConteudoProcesso.label}}
                    </a>
                </a>
            </div>            
            <div class = "panel-heading" *ngIf="elementoConteudoProcesso.identificador_elemento_vinculador && elementoConteudoProcesso.tipo_documento">
                <a class = "panel-title">
                    <a>                
                        <span>{{elementoConteudoProcesso.tipo_documento.nome}}<i *ngIf="elementoConteudoProcesso.obrigatorio">*</i></span>
                    </a>
                </a>
            </div>
            <div *ngFor="let instanciaDocumento of vinculo.instancias_documento">
                <ul class = "list-group" *ngIf="elementoConteudoProcesso.identificador_elemento == instanciaDocumento.id_elemento_conteudo">
                    <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.id)">
                        <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, tipoArvore)">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                        <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, tipoArvore)">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                        <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, tipoArvore)">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                        <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, tipoArvore)">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                        <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, tipoArvore)">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                        <label class="switch" title="Desabilitar/Habilitar verificação do documento" *ngIf="!elementoConteudoProcesso.obrigatorio">                            
                            <input class="toggle" type="checkbox" [disabled]="instanciaDocumento.situacaoConforme" [checked]="instanciaDocumento.habilitaVerificacao" (click)="verificarDocumento(instanciaDocumento, elementoConteudoProcesso)">
                            <span class="slider round"></span>
                        </label> 
                    </li>
                </ul>
            </div>   
            <div *ngIf="verificaExistenciaElementoConteudoProcesso(elementoConteudoProcesso)">
                <ul class = "list-group">
                    <li class = "list-item-inline">
                        <a>Não houve associação de documento</a>
                    </li>
                </ul>              
            </div>         
        </div>
    </div>
</div>

<!--Produtos vinculados-->
<div *ngFor="let documentoProduto of documentosProdutosVinculados">
    <div *ngIf="documentoProduto.id == vinculo.id">
        <div *ngFor="let elementoConteudoProduto of documentoProduto.elementos_conteudo; let idx = index">
            <div class = "panel panel-default" *ngIf="existeDocumentoChildrenProduto(elementoConteudoProduto)">
                <div *ngIf="apresentarDocumentoVazioProduto(elementoConteudoProduto, 'tipoDocumento')">
                    <div class = "panel-heading-top" *ngIf="!elementoConteudoProduto.identificador_elemento_vinculador && elementoConteudoProduto.tipo_documento">
                        <a class = "panel-title">
                            <a>                
                                <span>{{elementoConteudoProduto.tipo_documento.nome}}<i *ngIf="elementoConteudoProduto.obrigatorio">*</i></span>
                            </a>
                        </a>
                    </div>
                    <div class = "panel-heading-top" *ngIf="!elementoConteudoProduto.identificador_elemento_vinculador && !elementoConteudoProduto.tipo_documento">
                        <a class = "panel-title">
                            <a>                
                                {{elementoConteudoProduto.label}}
                            </a>
                        </a>
                    </div>
                    <div class = "panel-heading" *ngIf="elementoConteudoProduto.identificador_elemento_vinculador && elementoConteudoProduto.tipo_documento">
                        <a class = "panel-title">
                            <a>                
                                <span>{{elementoConteudoProduto.tipo_documento.nome}}<i *ngIf="elementoConteudoProduto.obrigatorio">*</i></span>
                            </a>
                        </a>
                    </div>                    
                    <div *ngFor="let instanciaDocumento of vinculo.instancias_documento">   
                        <ul class = "list-group" *ngIf="elementoConteudoProduto.identificador_elemento == instanciaDocumento.id_elemento_conteudo">
                            <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.id)">
                                <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'PRODUTO')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'PRODUTO')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'PRODUTO')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'PRODUTO')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'PRODUTO')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <label class="switch" *ngIf="!elementoConteudoProduto.obrigatorio" title="Desabilitar/Habilitar verificação do documento">
                                    <!-- {{documentoVinculoCliente.situacaoConforme}} -->
                                    <input class="toggle" type="checkbox" [disabled]="instanciaDocumento.situacaoConforme" [checked]="instanciaDocumento.habilitaVerificacao" (click)="verificarDocumento(elementoConteudoProduto, 'PRODUTO')">
                                    <span class="slider round"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="verificaExistenciaElementoConteudoProduto(elementoConteudoProduto)">
                        <ul class = "list-group">
                            <li class = "list-item-inline">
                                <a>Não houve associação de documento</a>
                            </li>
                        </ul>              
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<!--cliente vinculados-->
<div *ngFor="let documentoVinculoCliente of documentosVinculoCliente; let idxTipo = index">
    <div *ngIf="documentoVinculoCliente.tipo_relacionamento == vinculo.tipo_relacionamento.id">
        <div class = "panel panel-default">
            <div *ngIf="existeDocumentoChildrenCliente(documentoVinculoCliente)">
                <div *ngIf="undefined == documentoVinculoCliente.funcao_documental && apresentarDocumentoVazioCliente(documentoVinculoCliente.tipo_documento, 'tipoDocumento')">
                    <div class = "panel-heading">
                        <a class = "panel-title">
                            <a>
                                <span>{{documentoVinculoCliente.tipo_documento.nome}}<i *ngIf="documentoVinculoCliente.obrigatorio">*</i></span>
                            </a>
                        </a>
                    </div>
                </div>
                <div *ngIf="undefined != documentoVinculoCliente.funcao_documental">
                    <div class = "panel-heading-top" *ngIf="apresentarDocumentoVazioClienteFuncaoDocumental(documentoVinculoCliente, 'funcaoDocumental')">
                        <a class = "panel-title">
                            <a>                
                                <span>{{documentoVinculoCliente.funcao_documental.nome}}<i *ngIf="documentoVinculoCliente.obrigatorio">*</i></span>
                            </a>
                        </a> 
                    </div>                      
                    <div *ngFor="let tipoDocumento of documentoVinculoCliente.funcao_documental.tipos_documento; let idx = index">
                        <div *ngIf="apresentarDocumentoVazioCliente(tipoDocumento, 'funcaoDocumental')">
                            <div class = "panel-heading">
                                <a class = "panel-title"> 
                                    <a>                
                                        {{tipoDocumento.nome}}
                                    </a>
                                </a>
                            </div>
                            <div *ngFor="let instanciaDocumento of vinculo.instancias_documento">
                                <ul class = "list-group" *ngIf="tipoDocumento.id == instanciaDocumento.documento.tipo_documento.id"> 
                                    <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.dossie_cliente.id)">
                                        <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, documentoVinculoCliente.funcao_documental.id, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, documentoVinculoCliente.funcao_documental.id, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, documentoVinculoCliente.funcao_documental.id, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, documentoVinculoCliente.funcao_documental.id, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, documentoVinculoCliente.funcao_documental,id, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <label class="switch" *ngIf="!documentoVinculoCliente.obrigatorio" title="Desabilitar/Habilitar verificação do documento">
                                            <input class="toggle" type="checkbox" [disabled]="instanciaDocumento.situacaoConforme" [checked]="instanciaDocumento.habilitaVerificacao" (click)="verificarDocumento(instanciaDocumento, documentoVinculoCliente)">
                                            <span class="slider round"></span>
                                        </label>

                                    </li>
                                </ul>           
                            </div>
                            <div *ngIf="verificaExistenciaInstanciaDocumentoCliente(tipoDocumento)">
                                <ul class = "list-group">
                                    <li class = "list-item-inline">
                                        <a>Não houve associação de documento</a>
                                    </li>
                                </ul>              
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="undefined == documentoVinculoCliente.funcao_documental && apresentarDocumentoVazioCliente(documentoVinculoCliente.tipo_documento, 'tipoDocumento')">
                    <div *ngFor="let instanciaDocumento of vinculo.instancias_documento let idx = index" id="{{idx}}">
                        <ul class = "list-group" *ngIf="documentoVinculoCliente.tipo_documento.id == instanciaDocumento.documento.tipo_documento.id">
                            <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.dossie_cliente.id)">
                                <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, undefined, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, undefined, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, undefined, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, undefined, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.dossie_cliente.id, undefined, 'CLIENTE')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <label class="switch" *ngIf="!documentoVinculoCliente.obrigatorio" title="Desabilitar/Habilitar verificação do documento">
                                    <input class="toggle" type="checkbox" [disabled]="instanciaDocumento.situacaoConforme" [checked]="instanciaDocumento.habilitaVerificacao" (click)="verificarDocumento(instanciaDocumento, documentoVinculoCliente)">
                                    <span class="slider round"></span>
                                </label> 
                            </li>
                        </ul>
                    </div> 
                    <div *ngIf="verificaExistenciaInstanciaDocumentoCliente(documentoVinculoCliente.tipo_documento)">
                        <ul class = "list-group">
                            <li class = "list-item-inline">
                                <a>Não houve associação de documento</a>
                            </li>
                        </ul>              
                    </div>                     
                </div>
            </div>
        </div>
    </div>
</div>

<!--garantias vinculadas ao processo--> 
<div *ngFor="let documentoGarantiaVinculada of documentosGarantiasVinculadas; let idxTipo">
    <div *ngIf="!vinculo.produto && documentoGarantiaVinculada.id == vinculo.garantia && existeDocumentoChildrenGarantias(documentoGarantiaVinculada)">
        <div class = "panel panel-default">
            <div *ngFor="let tipoDocumento of documentoGarantiaVinculada.tipos_documento; let idx = index">
                <div *ngIf="apresentarDocumentoVazioGarantia(tipoDocumento, 'tipoDocumento')">
                        <div class = "panel-heading-top">
                            <a class = "panel-title">
                                <a >
                                    <span>{{tipoDocumento.nome}}<i>*</i></span>
                                </a>
                            </a>
                        </div>
                        <div *ngFor="let instanciaDocumento of vinculo.instancias_documento"> 
                            <ul class = "list-group" *ngIf="tipoDocumento.id == instanciaDocumento.documento.tipo_documento.id">
                                <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.id)">
                                    <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                    <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                    <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                    <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                    <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="verificaExistenciaInstanciaDocumentoGarantia(tipoDocumento)">
                            <ul class = "list-group">
                                <li class = "list-item-inline">
                                    <a>Não houve associação de documento</a>
                                </li>
                            </ul>              
                        </div>
                </div>                            
            </div>
            <div *ngFor="let funcaoDocumental of documentoGarantiaVinculada.funcoes_documentais; let idx = index">
                <div *ngIf="existeDocumentoChildrenGarantias(funcaoDocumental)">
                    <div class = "panel-heading-top">
                        <a class = "panel-title">
                            <a>                
                                <span>{{funcaoDocumental.nome}}</span>
                            </a>
                        </a>
                    </div>
                    <div *ngFor="let tipoDocumento of funcaoDocumental.tipos_documento; let idx = index">
                        <div *ngIf="apresentarDocumentoVazioGarantia(tipoDocumento, 'funcaoDocumental')">
                            <div class = "panel-heading">
                                <a class = "panel-title">
                                    <a>                
                                        {{tipoDocumento.nome}}
                                    </a>
                                </a>
                            </div>
                            <div *ngFor="let instanciaDocumento of vinculo.instancias_documento; let indiceDoc = index">  
                                <ul class = "list-group" *ngIf="tipoDocumento.id == instanciaDocumento.documento.tipo_documento.id">
                                    <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.id)">
                                        <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                        <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                    </li>
                                </ul>
                            </div>                    
                            <div *ngIf="verificaExistenciaInstanciaDocumentoGarantia(tipoDocumento)">
                                <ul class = "list-group">
                                    <li class = "list-item-inline">
                                        <a>Não houve associação de documento</a>
                                    </li>
                                </ul>              
                            </div> 
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--garantias vinculadas ao produto-->
<div *ngIf="documentoGarantiaVinculadaProduto && existeDocumentoChildrenGarantias(documentoGarantiaVinculadaProduto)">
    <div class = "panel panel-default">
        <div *ngFor="let tipoDocumento of documentoGarantiaVinculadaProduto.tipos_documento; let idx = index">
            <div *ngIf="apresentarDocumentoVazioGarantia(tipoDocumento, 'tipoDocumento')">
                <div class = "panel-heading-top">
                    <a class = "panel-title">
                        <a >
                            <span>{{tipoDocumento.nome}}<i>*</i></span>
                        </a>
                    </a>
                </div>
                <div *ngFor="let instanciaDocumento of vinculo.instancias_documento">
                    <div>
                        <ul class = "list-group" *ngIf="tipoDocumento.id == instanciaDocumento.documento.tipo_documento.id">
                            <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.id)">
                                <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, undefined, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="verificaExistenciaInstanciaDocumentoGarantia(tipoDocumento)">
                <ul class = "list-group">
                    <li class = "list-item-inline">
                        <a>Não houve associação de documento</a>
                    </li>
                </ul>              
            </div>                
        </div>
        <div *ngFor="let funcaoDocumental of documentoGarantiaVinculadaProduto.funcoes_documentais; let idx = index">
            <div class = "panel-heading-top">
                <a class = "panel-title">
                    <a>                
                        <span>{{funcaoDocumental.nome}}</span>
                    </a>
                </a>
            </div>
            <div *ngFor="let tipoDocumento of funcaoDocumental.tipos_documento; let idx = index">
                <div *ngIf="apresentarDocumentoVazioGarantia(tipoDocumento, 'funcaoDocumental')">
                    <div class = "panel-heading">
                        <a class = "panel-title">
                            <a>                
                                {{tipoDocumento.nome}}
                            </a>
                        </a>
                    </div>
                    <div *ngFor="let instanciaDocumento of vinculo.instancias_documento; let indiceDoc = index">
                        <ul class = "list-group" *ngIf="tipoDocumento.id == instanciaDocumento.documento.tipo_documento.id">
                            <li class = "list-item-inline" [ngSwitch]="existeIncomformidadeDoc(instanciaDocumento.documento.id, vinculo.id)">
                                <a *ngSwitchCase="3" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="undefined" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="2" class="doc-nao-tratado" title="Não verificado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="1" class="doc-rejeitado" title="Rejeitado" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                                <a *ngSwitchCase="0" class="doc-conforme" title="Conforme" (click)="enviaDocsVisualizacao(instanciaDocumento, vinculo.id, funcaoDocumental.id, 'GARANTIAS')">{{instanciaDocumento.documento.data_hora_captura}} - {{instanciaDocumento.documento.matricula_captura}}</a>
                            </li>
                        </ul>
                        <div *ngIf="verificaExistenciaInstanciaDocumentoGarantia(tipoDocumento)">
                            <ul class = "list-group">
                                <li class = "list-item-inline">
                                    <a>Não houve associação de documento</a>
                                </li>
                            </ul>              
                        </div>  
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>