
<!--
					Aqui é definido o conteúdo apresentado pela tela do seu projeto (a parte visível).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas são armazenadas na pasta pages										
				-->
<div class="theme-main"
	ng-controller="AvaliacaoderiscoclientecomercialController"
	analytics-page="Página Avaliação de Risco Cliente Comercial">
	<form id="formMain" name="formMain" tabindex="0">
		<div class="row">
			<div class="coluna-esquerda col-xs-12 col-sm-2 col-md-2">
				<tr>
					<td><b><div style="text-align: left; color: #267fb9;">{{
								'LABEL.AVALIAO.DE.RISCO.CLIENTE.COMERCIAL' | translate}}</div></b>
						<div style="text-align: left; color: #555a6d">{{ 'label.' |
							translate}}</div>
						<br></td>
				</tr>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
				<span ncy-breadcrumb></span>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.abertura.de.conta.dossi.digital' | translate}}</span>
					</h5>
				</div>
				<!-- id:img - name:Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			id: imgBarra06png
                            			origem: /imgs/barra06.png         
                            			estilo: col-xs-12
                            			alinhamento: text-center col-xs-12                 		
                            		-->
					<div class="padding text-center col-xs-12 theme-main-img"
						align="center">
						<img class="img-responsive center-block" id="imgBarra06png"
							ng-src="./imgs/barra06.png">
					</div>
				</div>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.avaliao.de.risco.-.cliente.comercial' | translate}}</span>
					</h5>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{ 'label.renda.comprovada'
							| translate}}</span>
					</h6>
				</div>
				<!-- id:label - name:Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: text-primary pull-left col-xs-12
                            			texto: Texto
                            		-->
					<span
						class="label padding text-primary pull-left col-xs-12 theme-main-label"
						title="Texto"> {{
						'label.padaria.dois.garotos.-.agente.administrativo.-.r$18.000,00'
						| translate}} </span>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{
							'label.renda.no.comprovada/informal' | translate}}</span>
					</h6>
				</div>
				<!-- id:label - name:Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: text-primary pull-left col-xs-12
                            			texto: Texto
                            		-->
					<span
						class="label padding text-primary pull-left col-xs-12 theme-main-label"
						title="Texto"> {{
						'label.sem.rendas.no.comprovadas/informais' | translate}} </span>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{
							'label.quadro.de.valores' | translate}}</span>
					</h6>
				</div>
				<!-- id:input-check - name:Entrada de Verificação (checkbox) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Verificacao 
                            			id: chkSelecioneasopces
                            			ajuda: {{ 'label.selecione.as.opes' | translate}}
                            			estilo: col-xs-12
                            			título: 
                            		-->
					<div class="form-group col-xs-12 theme-main-input-check">
						<label>{{ 'label.' | translate}}</label>
						<div class="input-group">
							<label class="margin"> <input id="chkSelecioneasopces"
								type="checkbox" ng-disabled="!true"
								placeholder="{{ 'label.selecione.as.opes' | translate}}"
								title="{{ 'label.selecione.as.opes' | translate}}"
								ng-required="false"></input> &nbsp; PF - Desite do Crédito
								Habitacional &nbsp;
							</label> <label class="margin"> <input id="chkSelecioneasopces"
								type="checkbox" ng-disabled="!true"
								placeholder="{{ 'label.selecione.as.opes' | translate}}"
								title="{{ 'label.selecione.as.opes' | translate}}"
								ng-required="false"></input> &nbsp; PF - Expensão de Basee
								Servidor Público &nbsp;
							</label> <label class="margin"> <input id="chkSelecioneasopces"
								type="checkbox" ng-disabled="!true"
								placeholder="{{ 'label.selecione.as.opes' | translate}}"
								title="{{ 'label.selecione.as.opes' | translate}}"
								ng-required="false"></input> &nbsp; PF - Estratégia Conta
								Salário &nbsp;
							</label> <label class="margin"> <input id="chkSelecioneasopces"
								type="checkbox" ng-disabled="!true"
								placeholder="{{ 'label.selecione.as.opes' | translate}}"
								title="{{ 'label.selecione.as.opes' | translate}}"
								ng-required="false"></input> &nbsp; Autoriza reavaliação com
								alteração de dados - PV &nbsp;
							</label> <label class="margin"> <input id="chkSelecioneasopces"
								type="checkbox" ng-disabled="!true"
								placeholder="{{ 'label.selecione.as.opes' | translate}}"
								title="{{ 'label.selecione.as.opes' | translate}}"
								ng-required="false"></input> &nbsp; PF - Test Drive -
								Estratégia Crédito Salário &nbsp;
							</label> <label class="margin"> <input id="chkSelecioneasopces"
								type="checkbox" ng-disabled="!true"
								placeholder="{{ 'label.selecione.as.opes' | translate}}"
								title="{{ 'label.selecione.as.opes' | translate}}"
								ng-required="false"></input> &nbsp; PF - Homologo a Renda
								Cadastrada &nbsp;
							</label> <label class="margin"> <input id="chkSelecioneasopces"
								type="checkbox" ng-disabled="!true"
								placeholder="{{ 'label.selecione.as.opes' | translate}}"
								title="{{ 'label.selecione.as.opes' | translate}}"
								ng-required="false"></input> &nbsp; Ratifico informações do
								cliente avaliado &nbsp;
							</label>
						</div>
					</div>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  consultaAvaliacesValidas
                           				id: btnVoltar2
                           				ajuda: {{ 'label.clique.aqui.para' | translate}}
                           				título: {{ 'label.voltar' | translate}}
                           				estilo: btn-warning
                           				alinhamento: pull-left
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnVoltar2" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('consultaAvaliacesValidas',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para' | translate}}"
						title="{{ 'label.clique.aqui.para' | translate}}"
						class="btn btn-sm margin-3x btn-warning pull-left col-xs-4 theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Voltar">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.voltar' | translate}}</span>
					</button>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  consultaAvaliacesValidasAprovadas
                           				id: btnSolicitaravaliacao2
                           				ajuda: {{ 'label.solicitar.avaliao' | translate}}
                           				título: {{ 'label.solicitar.avaliao' | translate}}
                           				estilo: btn-primary
                           				alinhamento: pull-right
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnSolicitaravaliacao2" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('consultaAvaliacesValidasAprovadas',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.solicitar.avaliao' | translate}}"
						title="{{ 'label.solicitar.avaliao' | translate}}"
						class="btn btn-sm margin-3x btn-primary pull-right col-xs-4 theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Solicitar Avaliação">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.solicitar.avaliao' | translate}}</span>
					</button>
				</div>
			</div>
			<div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<br>&nbsp; <br>&nbsp;
		</div>
	</form>
</div>
