<div class="theme-main"
	ng-controller="CadastramentodesenhaclienteController"
	analytics-page="Página Cadastramento de Senha Cliente">
	<caixa-alert error="error" show="showError" on-close="hideAlert();"></caixa-alert>

	<form id="formMain" name="formMain" tabindex="0">
		<div class="row">
			<div class="coluna-esquerda col-xs-12 col-sm-2 col-md-2">
				<tr>
					<td><b><div style="text-align: left; color: #267fb9;">{{
								'LABEL.CADASTRAMENTO.DE.SENHA.CLIENTE' | translate}}</div></b>
						<div style="text-align: left; color: #555a6d">{{ 'label.' |
							translate}}</div>
						<br></td>
				</tr>
			</div>
			<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
				<span ncy-breadcrumb></span>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.abertura.de.conta.dossi.digital' | translate}}</span>
					</h5>
				</div>
				<!-- id:img - name:Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<div class="padding text-center col-xs-12 theme-main-img"
						align="center">
						<img class="img-responsive center-block" id="imgBarra4png"
							ng-src="./imgs/barra4.png">
					</div>
				</div>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.cadastramento.da.senha.do.cliente' | translate}}</span>
					</h5>
				</div>
				<!-- id:input-mask - name:Entrada de Senha -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<div class="form-group col-xs-6 theme-main-input-date">
						<label>{{ 'label.senha' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-slack"></i>
							</span> <input id="mskSenha" type="password"
								ng-model="container.password" class="form-control"
								placeholder="{{ 'label.informe.a.senha' | translate}}"
								title="{{ 'label.informe.a.senha' | translate}}"
								ng-readonly="!true" maxlength="70" ng-required="true" />
						</div>
					</div>
				</div>
				<!-- id:input-text - name:Entrada de Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<div class="form-group col-xs-6 theme-main-input-text">
						<label>{{ 'label.redigitao.senha' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-keyboard-o"></i>
							</span> <input id="txtRedigitacaosenha" type="password"
								ng-model="container.retypePassword" class="form-control"
								placeholder="{{ 'label.redigitao.senha' | translate}}"
								title="{{ 'label.redigitao.senha' | translate}}"
								ng-readonly="!true" maxlength="250" ng-required="true" />
						</div>
					</div>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<button id="btnContinuar2"
						ng-disabled="container.password == null && container.retypePassword == null"
						ng-click="advance()" loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.continuar' | translate}}"
						title="{{ 'label.clique.aqui.para.continuar' | translate}}"
						class="btn btn-sm margin-3x btn-primary pull-right col-xs-4 theme-main-button btn-padrao">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.continuar' | translate}}</span>
					</button>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<button id="btnVoltar" ng-click="goBack()"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.voltar' | translate}}"
						title="{{ 'label.clique.aqui.para.voltar' | translate}}"
						class="btn btn-sm margin-3x btn-warning pull-left col-xs-4 theme-main-button btn-padrao">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.voltar' | translate}}</span>
					</button>
				</div>
			</div>
			<div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<br>&nbsp; <br>&nbsp;
		</div>
	</form>
</div>
