	
<div class="theme-main" ng-controller="CartaoassinaturaController" analytics-page="Página Cartão Assinatura">        
                <caixa-alert error="error" show="showError" on-close="hideAlert();"></caixa-alert>
            <bread-crumb activeurl="activeurl" breadcrumb="breadcrumb"></bread-crumb>		
            
            <div class="dtblock">
				<a  data-toggle="collapse"  ng-click = "exibirDoc()" data-target="#cartaoAssinatura" class="iconenable text-primary">Cartão Assinatura</a> 
				  <span class="pull-right"> 
				  <a  id="exibirDocumento" ng-click = "exibirDoc()"  data-toggle="collapse" data-target="#cartaoAssinatura" class="iconenable text-primary"> 
				  <span class="glyphicon glyphicon-file" />
				  Exibir Documento</a>
				</span>
			</div>
			
			<div id="cartaoAssinatura" class="collapse" >
					<img ng-if = "container.imgAssinaturaDigitalizada != ''" ng-src="{{container.imgAssinaturaDigitalizada}}" style="max-width: 700px;" >
			</div>
                
		<form id="formMain" name="formMain"  tabindex="0">
		  <div ng-show = "container.isSucessoConsultaSSO">         
   			<div class="row">
   			
				<!-- content -->
				
				<div class="row">
					<button type="button" class="btn btn-blue pull-left" ng-click = "print()"><span class="glyphicon glyphicon-print"></span> IMPRIMIR</button>					
					<button type="button" class="btn btn-blue pull-left" ng-click = "digitalizar()"><span class="glyphicon glyphicon-camera"></span> DIGITALIZAR</button>
					 <span class="glyphicon glyphicon-ok iconcheck"  ng-if="container.imgAssinaturaDigitalizada != ''"/>
				</div>
				<div class="row">
					<div class = "col-md-12" style = "margin-top : 10px" ng-if="!container.isUsuarioCadastradoSSO">
						Após assinatura do cliente, digitalize o cartão assinatura.
						</div>
					</div>
				</div>
		
		        
		        <div class="row" style = "margin-top : 20px; margin-bottom : 20px">
		        	<div class="col-md-3" ng-if="!container.isUsuarioCadastradoSSO">
		        		<label>Senha*</label><small>  (Somente números [0-9]!)</small>
		        		<input type="password" ng-change ="limpaRedigitacao()"  maxlength="6"
		        		        ng-model ="container.senha" class="form-control" id="senha" 
		        		        ng-disable = "container.isDisableCampoSenha" />
		        	</div>		                
		        	<div class="col-md-3" ng-if="!container.isUsuarioCadastradoSSO">
		        		<label>Redigitação de Senha* 
		        		<div ng-if = "isAtivarRedigitacaoSenha()" style = "float : right">
		        		<span class = "text-success"  ng-if = "container.isSenhaConfere" style = "font-weight : 10;">
		        		<span style = "margin-left : 15px ;" class="glyphicon glyphicon-ok iconcheck" ng-if = "container.isSenhaConfere" />
		        			 Conferem!
		        		</span>
		        		<span class = "text-danger" ng-if = "!container.isSenhaConfere">
		        		<span style = "margin-left : 15px" class="glyphicon glyphicon-remove iconclose" />
		        			 não Conferem!
		        		</span>
		        		</div>
		        		</label>	        		
		        	
		        		 <input type="password"
		        		 maxlength="6"
		        		ng-disabled = "!isAtivarRedigitacaoSenha()" 
						ng-model="container.redigitacaoSenha"
						ng-keyup="checkRedigitacaoSenha();" class="form-control"
						id="resenha" />
				</div>
					<div class="col-md-12" ng-if="container.isUsuarioCadastradoSSO">
						<div class="text-primary">*Cliente já possui assinatura cadastrada no SSO.</div>
					</div>
				</div>
				
				<div class = "row" id="divEmail">
					<div class="col-md-3" ng-if="!container.isUsuarioCadastradoSSO">
		        		<label for = "email">e-mail*</label>
		        		<input type="text" 
		        		        ng-model ="container.email" class="form-control" id="email" 
		        		        class="form-control" placeholder="{{ 'label.informe.o.email' | translate}}" 
		        		        title="{{ 'label.informe.o.email' | translate}}" 
		        		        ng-blur = "validarEmail()"
		        		        required />
		        	</div>	
				</div>
		</div>

			<!-- botões -->
			<div class="row">
				  	<button id="btnContinuar" ng-disabled = "!isContinuar()" type="button" class="btn btn-blue pull-right" ng-click="continuar();" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.continuar' | translate}}" title="{{ 'label.clique.aqui.para.continuar' | translate}}" >
				  	{{'label.continuar' | translate}} </button>
				  	<button type="button" class="btn btn-blue pull-right" ng-click="apresentarModalCancelarAtendimento();" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.cancelar.atendimento' | translate}}" title="{{ 'label.clique.aqui.para.cancelar.atendimento' | translate}}" >
				  	{{'label.cancelar.atendimento' | translate}}</button>
				  	<button type="button" class="btn btn-orange pull-right" ng-click="goBack()" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.voltar' | translate}}" title="{{ 'label.clique.aqui.para.voltar' | translate}}" >
				  	{{'label.voltar' | translate}}</button>
			</div>
   				
    		</div>
    	
    		
    		
    	</form>
</div>

<div id="modalCancelar"  ng-controller="CartaoassinaturaController" class="modal fade" role="dialog" style="padding-left: 17px">
	 <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismissDialog()">
			        <span aria-hidden="true">&times;</span>
			    </button>
			    <h4 class="modal-title">{{ 'titulo.cancelar.atendimento' | translate}}
			    </h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				<label>{{ 'label.deseja.cancelar.atendimento' |	translate}}</label>
	
			</div>
			<div class="modal-footer">
				<button type='button' class='btn btn-danger' data-dismiss="modal" ng-click="cancelarAtend()">
			        <i class='fa fa-close'></i>&nbsp;Cancelar Atendimento
			    </button>
			    <button type='button' class='btn btn-primary' data-dismiss="modal" ng-click="closeDialog()">
			        <i class='fa fa-check'></i>&nbsp;Fechar
			    </button>
			</div>
		</div>
	</div>
</div>	