
<!--
					Aqui são definidos o conteúdo apresentado pela tela do seu projeto (a parte visual).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas armazenadas na pasta pages										
					-->
<div class="theme-main"
	ng-controller="DigitalizacaodedocumentosController"
	analytics-page="Página Digitalização de Documentos">
	<caixa-alert error="error" show="showError" on-close="hideAlert();"></caixa-alert>

	<form id="formMain" name="formMain" tabindex="0">

		<div class="row">

			<bread-crumb activeurl="activeurl" breadcrumb="breadcrumb"></bread-crumb>

			<!-- datatable -->
			<table class="table table-striped dt">
				<thead class="dttable">
					<tr>
						<th>STATUS</th>
						<th class="dtdoc">DOCUMENTO</th>
						<th>EXIBIR</th>
						<th>ATUALIZAR</th>
						<th>DIGITALIZAR</th>
					</tr>
				</thead>
				<tbody>
					<tr class="dtline">
						<td><span class="glyphicon glyphicon-ok-sign iconcheck"
							ng-if="container.identificacao_status" /> <span
							class="glyphicon glyphicon-remove-sign iconclose"
							ng-if="!container.identificacao_status"></td>
						<td class="dtdoc">{{ 'label.documento.de.identificacao' |
							translate}}
							<div style="float: right">
								</label> <label style="margin-right: 15px"> <input type="radio"
									ng-model="container.identificacaoSelected"
									style="margin-right: 5px" value="CNH">{{'label.cnh' |
									translate}}							
								<label style="margin-right: 15px"> <input type="radio"
									ng-model="container.identificacaoSelected"
									style="margin-right: 5px" value="RG">{{'label.rg' |
									translate}}
								</label>
							</div>
							<div class="row dtdoc">
								<img class="img-responsive" width="400"
									ng-src="{{container.identificacao_img}}"
									ng-if="container.rg_status" />
							</div>
							<div class="row dtdoc">
								<img class="img-responsive " width="400"
									ng-src="{{container.identificacao_img}}"
									ng-if="container.cnh_status && !container.rg_status" />
							</div>
						</td>
						<td>
						   <span class="glyphicon glyphicon-zoom-in iconenable"
								 ng-if="container.identificacao_status"
								 ng-click="exibirDocumento('IDENTIFICACAO')"
								 loading="{{'label.processando' | translate}}"
								 placeholder="{{ 'label.clique.aqui.para.exibir.documento' | translate}}"
								 title="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" />
								 
							<span class="glyphicon glyphicon-zoom-in icondisable"  ng-if="!container.identificacao_status" />
						</td>
						<td>
						   <span class="glyphicon glyphicon-refresh iconenable"	 ng-if="isAtivarAtualizacaoIdentificacao()"
								 ng-click="digitalizarDocPessoais('IDENTIFICACAO')"	 loading="{{'label.processando' | translate}}"
								 placeholder="{{ 'label.clique.aqui.para.atualizar' | translate}}"	 title="{{ 'label.clique.aqui.para.atualizar' | translate}}" /> 
						    
						    <span class="glyphicon glyphicon-refresh icondisable" ng-if="!isAtivarAtualizacaoIdentificacao()" />
						</td>
						<td>
							 
							<span class="glyphicon glyphicon-camera iconenable"  ng-if="isAtivarDigitalizacaoIdentificacao()"
								  ng-click="digitalizarDocPessoais('IDENTIFICACAO')"  loading="{{'label.processando' | translate}}"
								  placeholder="{{ 'label.clique.aqui.para.digitalizar' | translate}}"
								  title="{{ 'label.clique.aqui.para.digitalizar' | translate}}" />
								  
						    <span class="glyphicon glyphicon-camera icondisable" ng-if="!isAtivarDigitalizacaoIdentificacao()" />
							
						</td>
					</tr>
					<tr class="dtline">
						<td>
							<span class="glyphicon glyphicon-ok-sign iconcheck"	     ng-if="isResidenciaCadastrada()" /> 
						    <span class="glyphicon glyphicon-remove-sign iconclose"  ng-if="!isResidenciaCadastrada()">
						</td>
						<td class="dtdoc " >{{ 'label.comprovante.de.residncia' |	translate}} 
							<div style = "width : 500px">					
								<h6>
								  	<input	id = "checkRes" class=" form-check form-check-input position-static" type="checkbox" 
								  	        ng-model="container.isDeclararResidencia" disabled="isResidenciaCadastrada()" ng-if="isResidenciaCadastrada()"/>
											
								  	<input	id = "checkRes" class=" form-check form-check-input position-static" type="checkbox" 
								  	        ng-model="container.isDeclararResidencia" ng-if="!isResidenciaCadastrada()"
											ng-change="setDeclararResidencia()" />
																					
									<label for="checkRes" class = "text-primary" style="margin:0 15px 0 0;"> {{'label.declarar.residncia' | translate}} </label>
								
								  <span ng-if = "container.isDeclararResidencia" class = "text-primary" >
								    	<span class="glyphicon glyphicon-warning-sign"></span> 
								    	<span> Os dados serão requeridos na tela </span>
								    	<span style = "font-weight : bold;">"Dados declarados"!</span>
								   </span>
								</h6>  
							</div>    
						</td>
						
						<td id="exibirRes"><span class="glyphicon glyphicon-zoom-in iconenable" 
							ng-if="container.residencia_status"
							ng-click="exibirDocumento('DOCUMENTO DE CONCESSIONARIA')"	loading="{{'label.processando' | translate}}"
							placeholder="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" title="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" />
							
							<span class="glyphicon glyphicon-zoom-in icondisable" ng-if="!container.residencia_status" /></td>
						
						<td id="atualizarRes">
						    <span class="glyphicon glyphicon-refresh iconenable" ng-if="isAtivarAtualizarResidencia()"	ng-click="digitalizarDocPessoais('DOCUMENTO DE CONCESSIONARIA')"
							loading="{{'label.processando' | translate}}"placeholder="{{ 'label.clique.aqui.para.atualizar' | translate}}"
							title="{{ 'label.clique.aqui.para.atualizar' | translate}}" /> 
							<span class="glyphicon glyphicon-refresh icondisable" ng-if="!isAtivarAtualizarResidencia()" />
						</td>
							
						<td id="digitalizarRes">
						   <span class="glyphicon glyphicon-camera iconenable"	ng-if="isAtivarDigitalizacaoResidencia()" ng-click="digitalizarDocPessoais('DOCUMENTO DE CONCESSIONARIA')"
							loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.digitalizar' | translate}}"
							title="{{ 'label.clique.aqui.para.digitalizar' | translate}}" />
							
							<span class="glyphicon glyphicon-camera icondisable" ng-if="!isAtivarDigitalizacaoResidencia()" />
						</td>
					</tr>
					<tr class="dtline">
						<td><span class="glyphicon glyphicon-ok-sign iconcheck"
							ng-if="container.renda_status || container.dadosDeclarados_status" /> <span
							class="glyphicon glyphicon-remove-sign iconclose"
							ng-if="!container.renda_status && !container.dadosDeclarados_status"></td>
						<td class="dtdoc">{{ 'label.comprovante.de.renda' | translate}}
							<div style = "width : 500px">					
								<h6>
								  	<input	id = "checkSemRenda" class=" form-check form-check-input position-static" type="checkbox" 
								  	        ng-model="container.isSemRenda" disabled="!isAtivarDigitalizacaoRenda()" ng-if="container.renda_status || container.dadosDeclarados_status"/>
											
								  	<input	id = "checkSemRenda" class=" form-check form-check-input position-static" type="checkbox" 
								  	        ng-model="container.isSemRenda" ng-if="!container.renda_status && !container.dadosDeclarados_status"
											ng-change="setDeclararSemRenda()" />
																					
									<label for="checkSemRenda" class = "text-primary" style="margin:0 15px 0 0;"> {{'label.sem.renda' | translate}}</label>
								
								  <span ng-if = "container.isSemRenda" class = "text-primary" >
								    	<span class="glyphicon glyphicon-warning-sign"></span> 
								    	<span> Com esta opção habilitada, o cliente será considerado "Sem ocupação" </span>
								   </span>
								</h6>  
							</div>    
						</td>
						<td>
						  <span class="glyphicon glyphicon-zoom-in iconenable"	ng-if="container.renda_status"
							ng-click="exibirDocumento('DEMONSTRATIVO PAGAMENTO')"   loading="{{'label.processando' | translate}}"
							placeholder="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" title="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" />
							
							<span class="glyphicon glyphicon-zoom-in icondisable" ng-if="!container.renda_status" />
						</td>
						<td>
						   <span class="glyphicon glyphicon-refresh iconenable"
							ng-if="isAtivarAtualizarRenda()"  ng-click="digitalizarDocPessoais('DEMONSTRATIVO PAGAMENTO')"
							loading="{{'label.processando' | translate}}"	placeholder="{{ 'label.clique.aqui.para.atualizar' | translate}}" title="{{ 'label.clique.aqui.para.atualizar' | translate}}" /> 
							
							<span class="glyphicon glyphicon-refresh icondisable" ng-if="!isAtivarAtualizarRenda()" />
						</td>
						
						<td>
						   <span class="glyphicon glyphicon-camera iconenable"
							ng-if="isAtivarDigitalizacaoRenda()"	ng-click="digitalizarDocPessoais('DEMONSTRATIVO PAGAMENTO')"
							loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.digitalizar' | translate}}" title="{{ 'label.clique.aqui.para.digitalizar' | translate}}" />
							
							<span class="glyphicon glyphicon-camera icondisable" ng-if="!isAtivarDigitalizacaoRenda()" />
						</td>
					</tr>
					
					<tr class="dtline" aria-disable = "true">
						<td>
						   <span class="glyphicon glyphicon-ok-sign iconcheck" ng-if="container.assinatura_status" /> 
						   <span class="glyphicon glyphicon-remove-sign iconclose" ng-if="!container.assinatura_status">
						</td>
						<td class="dtdoc">{{ 'label.carto.assinatura' | translate}}</td>
						
						<td>
						   <span class="glyphicon glyphicon-zoom-in iconenable" ng-if="container.assinatura_status"
							ng-click="exibirDocumento('CARTAO DE ASSINATURA')"	loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.exibir.documento' | translate}}"
							title="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" />
							
							<span class="glyphicon glyphicon-zoom-in icondisable" ng-if="!container.assinatura_status" /></td>
						<td>
						    <span class="glyphicon glyphicon-refresh iconenable" ng-if="isAtivarAlteracaoAssinatura()" ng-click="direcionarTelaAssinatura()"	
						    loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.atualizar' | translate}}" title="{{ 'label.clique.aqui.para.atualizar' | translate}}" /> 
						    
						    <span class="glyphicon glyphicon-refresh icondisable"	ng-if="!isAtivarAlteracaoAssinatura()" />
						</td>
						<td>
						<span class="glyphicon glyphicon-camera iconenable" ng-click="direcionarTelaAssinatura()" 
						        loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.digitalizar' | translate}}" title="{{ 'label.clique.aqui.para.digitalizar' | translate}}"/> 
					</tr>
					<tr class="dtline">
						<td>
						  <span class="glyphicon glyphicon-ok-sign iconcheck" ng-if="container.dadosDeclarados_status" /> 
						  <span class="glyphicon glyphicon-remove-sign iconclose" ng-if="!container.dadosDeclarados_status"></td>
						<td class="dtdoc">{{ 'label.dados.declarados' | translate}}</td>
						<td>
						   <span class="glyphicon glyphicon-zoom-in iconenable" ng-if="container.dadosDeclarados_status" ng-click="print()" 
						     loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" title="{{ 'label.clique.aqui.para.exibir.documento' | translate}}" />
							<span class="glyphicon glyphicon-zoom-in icondisable" ng-if="!container.dadosDeclarados_status" /></td>
						<td>
						   <span class="glyphicon glyphicon-refresh iconenable"    ng-if="isAtivarAlteracaoDadosDeclarados()" ng-click="digitalizarDadosDeclarados('alterar')"/> 
						   <span class="glyphicon glyphicon-refresh icondisable"   ng-if="!isAtivarAlteracaoDadosDeclarados()" />
						</td>
							
						<td>
						   <span class="glyphicon glyphicon-camera iconenable" ng-click="digitalizarDadosDeclarados('novaDeclaracao')"
						   ng-if="(container.identificacao_status && (container.renda_status || documentos.declararSemRenda) && (isResidenciaCadastrada() || documentos.declararEndereco))"
						   placeholder="{{ 'label.clique.aqui.para.digitalizar' | translate}}" title="{{ 'label.clique.aqui.para.digitalizar' | translate}}"/> 
						   <span class="glyphicon glyphicon-camera icondisable ng-scope" 
						   	ng-if="(!container.identificacao_status || (!container.renda_status && !documentos.declararSemRenda) || (!isResidenciaCadastrada() && !documentos.declararEndereco))"
						   placeholder="{{ 'label.clique.aqui.para.digitalizar' | translate}}" title="{{ 'label.clique.aqui.para.digitalizar' | translate}}"/> 						   
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<button type="button" class="btn btn-blue pull-right"
					ng-click="continuar()" ng-disabled="!isContinuar"
					loading="{{'label.processando' | translate}}"
					placeholder="{{ 'label.clique.aqui.para.continuar' | translate}}"
					title="{{ 'label.clique.aqui.para.continuar' | translate}}">
					{{'label.continuar' | translate}}</button>
				<button type="button" class="btn btn-blue pull-right"
					ng-click="apresentarModalCancelarAtendimento();"
					loading="{{'label.processando' | translate}}"
					placeholder="{{ 'label.clique.aqui.para.cancelar.atendimento' | translate}}"
					title="{{ 'label.clique.aqui.para.finalizarAtendimento' | translate}}">
					{{'label.cancelar.atendimento' | translate}}</button>
				<button type="button" class="btn btn-orange pull-right"
					ng-click="goBack()" loading="{{'label.processando' | translate}}"
					placeholder="{{ 'label.clique.aqui.para.voltar' | translate}}"
					title="{{ 'label.clique.aqui.para.voltar' | translate}}">
					{{'label.voltar' | translate}}</button>
			</div>





			<div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<br>&nbsp; <br>&nbsp;

			<doc-modal titulo="{{container.tituloExibirDoc}}"> <img
				ng-src="{{container.linkExibirIdentificacao}}"
				style="max-width: 700px;"
				ng-if="container.tipoDocumento === 'IDENTIFICACAO' "> <img
				ng-src="{{container.linkExibirResidencia}}"
				style="max-width: 700px;"
				ng-if="container.tipoDocumento === 'DOCUMENTO DE CONCESSIONARIA' ">
			<img ng-src="{{container.linkExibirRenda}}" style="max-width: 700px;"
				ng-if="container.tipoDocumento === 'DEMONSTRATIVO PAGAMENTO' ">
			<img ng-src="{{container.linkExibirAssinatura}}"
				style="max-width: 700px;"
				ng-if="container.tipoDocumento === 'CARTAO DE ASSINATURA' "> <img
				ng-src="{{container.linkExibirDeclarados}}"
				style="max-width: 700px;"
				ng-if="container.tipoDocumento === 'DADOS DECLARADOS' "> </doc-modal>
		</div>
		<div id="divbase"></div>
	</form>
</div>

<div id="modalCancelar"  ng-controller="DigitalizacaodedocumentosController" class="modal fade" role="dialog" style="padding-left: 17px">
	 <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismissDialog()">
			        <span aria-hidden="true">&times;</span>
			    </button>
			    <h4 class="modal-title">{{ 'titulo.cancelar.atendimento' | translate}}
			    </h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				<label>{{ 'label.deseja.cancelar.atendimento' |	translate}}</label>
	
			</div>
			<div class="modal-footer">
				<button type='button' class='btn btn-danger' data-dismiss="modal" ng-click="cancelarAtend()">
			        <i class='fa fa-close'></i>&nbsp;Cancelar Atendimento
			    </button>
			    <button type='button' class='btn btn-primary' data-dismiss="modal" ng-click="closeDialog()">
			        <i class='fa fa-check'></i>&nbsp;Fechar
			    </button>
			</div>
		</div>
	</div>
</div>	


<!-- Multiple Steps -->
<script>
$('.wizard li').click(function() {
	 $(this).prevAll().addClass("completed");
	  $(this).nextAll().removeClass("completed")

	});
</script>
