
<!--
					Aqui é definido o conteúdo apresentado pela tela do seu projeto (a parte visível).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas são armazenadas na pasta pages										
				-->
<div class="theme-main"
	ng-controller="DigitalizacaodocidentificacaoabertoController"
	analytics-page="Página Digitalização Doc Identificação Aberto">
	<form id="formMain" name="formMain" tabindex="0">
		<div class="row">
			<div class="coluna-esquerda col-xs-12 col-sm-2 col-md-2">
				<tr>
					<td><b><div style="text-align: left; color: #267fb9;">{{
								'LABEL.DIGITALIZAO.DOC.IDENTIFICAO.ABERTO' | translate}}</div></b>
						<div style="text-align: left; color: #555a6d">{{ 'label.' |
							translate}}</div>
						<br></td>
				</tr>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
				<span ncy-breadcrumb></span>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.abertura.de.conta.dossi.digital' | translate}}</span>
					</h5>
				</div>
				<!-- id:img - name:Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			id: imgBarra3png
                            			origem: /imgs/barra3.png         
                            			estilo: col-xs-12
                            			alinhamento: text-center col-xs-12                 		
                            		-->
					<div class="padding text-center col-xs-12 theme-main-img"
						align="center">
						<img class="img-responsive center-block" id="imgBarra3png"
							ng-src="./imgs/barra3.png">
					</div>
				</div>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.resultado.da.digitalizao.de.documentos' | translate}}</span>
					</h5>
				</div>
				<!-- id:img-button - name:Botão Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  digitalizacaoCompRendaFechado
                           				id: btiDocrendimentopng
                           				ajuda: {{ 'label.clique.aqui.para.visualizar.o.comprovante.de.rendimento' | translate}}
                           				título: 
                           				alinhamento: pull-right
                           				ativo: 
                           				origem: /imgs/doc-rendimento.png
                           			-->
					<a href ng-disabled="formMain.$invalid"
						ng-click="openView('digitalizacaoCompRendaFechado')"
						class="btn btn-sm margin-3x btn- pull-right theme-main-img-button"
						title="{{ 'label.clique.aqui.para.visualizar.o.comprovante.de.rendimento' | translate}}"
						analytics-event="img-button:digitalizacaoCompRendaFechado"> <img
						id="btiDocrendimentopng" ng-src="./imgs/doc-rendimento.png"
						class="theme-main-img-button-image img-responsive"><br /> <span
						class="hidden-xs theme-main-img-button-label">{{ 'label.' |
							translate}}</span>
					</a>
				</div>
				<!-- id:img-button - name:Botão Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  digitalizacaoCompResidnciaFechado
                           				id: btiDocresidenciapng
                           				ajuda: {{ 'label.clique.aqui.para.visualizar.o.comprovante.de.residncia' | translate}}
                           				título: 
                           				alinhamento: pull-right
                           				ativo: 
                           				origem: /imgs/doc-residencia.png
                           			-->
					<a href ng-disabled="formMain.$invalid"
						ng-click="openView('digitalizacaoCompResidnciaFechado')"
						class="btn btn-sm margin-3x btn- pull-right theme-main-img-button"
						title="{{ 'label.clique.aqui.para.visualizar.o.comprovante.de.residncia' | translate}}"
						analytics-event="img-button:digitalizacaoCompResidnciaFechado">
						<img id="btiDocresidenciapng" ng-src="./imgs/doc-residencia.png"
						class="theme-main-img-button-image img-responsive"><br /> <span
						class="hidden-xs theme-main-img-button-label">{{ 'label.' |
							translate}}</span>
					</a>
				</div>
				<!-- id:img-button - name:Botão Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  digitalizacaoDocIdentificacaoFechado
                           				id: btiDocidentificacaopng
                           				ajuda: {{ 'label.clique.aqui.para.visualizar.o.comprovante.de.identificao' | translate}}
                           				título: 
                           				alinhamento: pull-right
                           				ativo: 
                           				origem: /imgs/doc-identificacao.png
                           			-->
					<a href ng-disabled="formMain.$invalid"
						ng-click="openView('digitalizacaoDocIdentificacaoFechado')"
						class="btn btn-sm margin-3x btn- pull-right theme-main-img-button"
						title="{{ 'label.clique.aqui.para.visualizar.o.comprovante.de.identificao' | translate}}"
						analytics-event="img-button:digitalizacaoDocIdentificacaoFechado">
						<img id="btiDocidentificacaopng"
						ng-src="./imgs/doc-identificacao.png"
						class="theme-main-img-button-image img-responsive"><br /> <span
						class="hidden-xs theme-main-img-button-label">{{ 'label.' |
							translate}}</span>
					</a>
				</div>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.documento.de.identificao' | translate}}</span>
					</h5>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  digitalizacaoDocIdentificacaoFechado
                           				id: btnOcultardocumento2
                           				ajuda: {{ 'label.clique.aqui.para.ocultar.documento' | translate}}
                           				título: {{ 'label.ocultar.documento' | translate}}
                           				estilo: btn-warning
                           				alinhamento: pull-right
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnOcultardocumento2" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('digitalizacaoDocIdentificacaoFechado',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.ocultar.documento' | translate}}"
						title="{{ 'label.clique.aqui.para.ocultar.documento' | translate}}"
						class="btn btn-sm margin-3x btn-warning pull-right sizeAuto theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Ocultar Documento">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.ocultar.documento' | translate}}</span>
					</button>
				</div>
				<!-- id:img - name:Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			id: imgIdentidadejpg
                            			origem: /imgs/identidade.jpg         
                            			estilo: col-xs-12
                            			alinhamento: text-center col-xs-12                 		
                            		-->
					<div class="padding text-center col-xs-12 theme-main-img"
						align="center">
						<img class="img-responsive center-block" id="imgIdentidadejpg"
							ng-src="./imgs/identidade.jpg">
					</div>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{
							'label.cpf.do.cliente:.132.120.827-80' | translate}}</span>
					</h6>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{
							'label.nome.do.cliente:.vagner.de.paulo' | translate}}</span>
					</h6>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{
							'label.data.de.nascimento:.27/04/1988' | translate}}</span>
					</h6>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{
							'label.nome.da.me:.nilza.cesar' | translate}}</span>
					</h6>
				</div>
				<!-- id:input-select - name:Entrada de Combo -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Combo 
                            			id: cmbNacionalidade2
                            			contexto: container.cmbnacionalidade2
                            			ajuda: {{ 'label.selecione.o.item' | translate}}
                            			ativo: true
                            			tamanho max: 
                            			título: Nacionalidade
                            			ATENCAO: acessivel por $scope.container.cmbnacionalidade2 no seu controller                               			
                            		-->
					<div class="form-group col-xs-4 theme-main-input-select">
						<label>{{ 'label.nacionalidade' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-th-list"></i>
							</span> <select id="cmbNacionalidade2"
								ng-model="container.cmbnacionalidade2" class="form-control"
								ng-disabled="!true"
								placeholder="{{ 'label.selecione.o.item' | translate}}"
								title="{{ 'label.selecione.o.item' | translate}}"
								data-ng-options="item as item for item in container.cmbnacionalidade2Content">
							</select>
						</div>
					</div>
				</div>
				<!-- id:input-select - name:Entrada de Combo -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Combo 
                            			id: cmbNaturalidade2
                            			contexto: container.cmbnaturalidade2
                            			ajuda: {{ 'label.selecione.o.item' | translate}}
                            			ativo: true
                            			tamanho max: 
                            			título: Naturalidade
                            			ATENCAO: acessivel por $scope.container.cmbnaturalidade2 no seu controller                               			
                            		-->
					<div class="form-group col-xs-4 theme-main-input-select">
						<label>{{ 'label.naturalidade' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-th-list"></i>
							</span> <select id="cmbNaturalidade2"
								ng-model="container.cmbnaturalidade2" class="form-control"
								ng-disabled="!true"
								placeholder="{{ 'label.selecione.o.item' | translate}}"
								title="{{ 'label.selecione.o.item' | translate}}"
								data-ng-options="item as item for item in container.cmbnaturalidade2Content">
							</select>
						</div>
					</div>
				</div>
				<!-- id:input-text - name:Entrada de Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Texto 
                            			id: txtCidade
                            			contexto: container.txtcidade
                            			ajuda: {{ 'label.informe.o.nome.da.cidade' | translate}}
                            			ativo: true
                            			tamanho max: 250
                            			ATENCAO: acessivel por $scope.container.txtcidade no seu controller
                            		-->
					<div class="form-group col-xs-4 theme-main-input-text">
						<label>{{ 'label.cidade' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-keyboard-o"></i>
							</span> <input id="txtCidade" type="text" ng-model="container.txtcidade"
								class="form-control"
								placeholder="{{ 'label.informe.o.nome.da.cidade' | translate}}"
								title="{{ 'label.informe.o.nome.da.cidade' | translate}}"
								ng-readonly="!true" maxlength="250" ng-required="false" /> <label
								class="label-mobilidade" ng-if="contextEditable"
								ng-model="container.txtcidade"
								contenteditable="{{contextEditable}}"></label> <label
								class="label-mobilidade" ng-if="!contextEditable">{{
								'label.cidade' | translate}}</label>
						</div>
					</div>
				</div>
				<!-- id:input-text - name:Entrada de Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Texto 
                            			id: txtNomedopai2
                            			contexto: container.txtnomedopai2
                            			ajuda: {{ 'label.informe.o.nome.do.pai' | translate}}
                            			ativo: true
                            			tamanho max: 250
                            			ATENCAO: acessivel por $scope.container.txtnomedopai2 no seu controller
                            		-->
					<div class="form-group col-xs-4 theme-main-input-text">
						<label>{{ 'label.nome.do.pai' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-keyboard-o"></i>
							</span> <input id="txtNomedopai2" type="text"
								ng-model="container.txtnomedopai2" class="form-control"
								placeholder="{{ 'label.informe.o.nome.do.pai' | translate}}"
								title="{{ 'label.informe.o.nome.do.pai' | translate}}"
								ng-readonly="!true" maxlength="250" ng-required="false" /> <label
								class="label-mobilidade" ng-if="contextEditable"
								ng-model="container.txtnomedopai2"
								contenteditable="{{contextEditable}}"></label> <label
								class="label-mobilidade" ng-if="!contextEditable">{{
								'label.nome.do.pai' | translate}}</label>
						</div>
					</div>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  digitalizacaoCompResidnciaFechado
                           				id: btnContinuar2
                           				ajuda: {{ 'label.clique.aqui.para.continuar' | translate}}
                           				título: {{ 'label.continuar' | translate}}
                           				estilo: btn-primary
                           				alinhamento: pull-right
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnContinuar2" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('digitalizacaoCompResidnciaFechado',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.continuar' | translate}}"
						title="{{ 'label.clique.aqui.para.continuar' | translate}}"
						class="btn btn-sm margin-3x btn-primary pull-right col-xs-4 theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Continuar">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.continuar' | translate}}</span>
					</button>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  digitalizacaodeDocumentos
                           				id: btnVoltar
                           				ajuda: {{ 'label.clique.aqui.para.voltar' | translate}}
                           				título: {{ 'label.voltar' | translate}}
                           				estilo: btn-warning
                           				alinhamento: pull-left
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnVoltar" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('digitalizacaodeDocumentos',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.voltar' | translate}}"
						title="{{ 'label.clique.aqui.para.voltar' | translate}}"
						class="btn btn-sm margin-3x btn-warning pull-left col-xs-4 theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Voltar">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.voltar' | translate}}</span>
					</button>
				</div>
			</div>
			<div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<br>&nbsp; <br>&nbsp;
		</div>
	</form>
</div>
