
<!--
					Aqui é definido o conteúdo apresentado pela tela do seu projeto (a parte visível).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas são armazenadas na pasta pages										
				-->
<div class="theme-main"
	ng-controller="InformacesdoclientecontaconjuntaController"
	analytics-page="Página Informações do Cliente Conta Conjunta">
	<form id="formMain" name="formMain" tabindex="0">
		<div class="row">
			<div class="coluna-esquerda col-xs-12 col-sm-2 col-md-2">
				<tr>
					<td><b><div style="text-align: left; color: #267fb9;">{{
								'LABEL.INFORMAES.DO.CLIENTE.CONTA.CONJUNTA' | translate}}</div></b>
						<div style="text-align: left; color: #555a6d">{{ 'label.' |
							translate}}</div>
						<br></td>
				</tr>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
				<span ncy-breadcrumb></span>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.abertura.de.conta.dossi.digital' | translate}}</span>
					</h5>
				</div>
				<!-- id:img - name:Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			id: imgBarra0png
                            			origem: /imgs/barra0.png         
                            			estilo: col-xs-12
                            			alinhamento: text-center col-xs-12                 		
                            		-->
					<div class="padding text-center col-xs-12 theme-main-img"
						align="center">
						<img class="img-responsive center-block" id="imgBarra0png"
							ng-src="./imgs/barra0.png">
					</div>
				</div>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.informaes.do.cliente' | translate}}</span>
					</h5>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{
							'label.nome:.maria.zilda.pagotti./.cpf:.000.399.368-05' |
							translate}}</span>
					</h6>
				</div>
				<!-- id:label - name:Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: text-primary pull-left col-xs-12
                            			texto: Texto
                            		-->
					<span
						class="label padding text-primary pull-left col-xs-12 theme-main-label"
						title="Texto"> {{ 'label.data.de.nascimento:.27/04/1958' |
						translate}} </span>
				</div>
				<!-- id:label - name:Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: text-primary pull-left col-xs-12
                            			texto: Texto
                            		-->
					<span
						class="label padding text-primary pull-left col-xs-12 theme-main-label"
						title="Texto"> {{
						'label.nome.da.me:.maria.josé.de.oliveira' | translate}} </span>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.parmetros.da.conta' | translate}}</span>
					</h5>
				</div>
				<!-- id:input-select - name:Entrada de Combo -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Combo 
                            			id: cmbTipodeconta2
                            			contexto: container.cmbtipodeconta2
                            			ajuda: {{ 'label.selecione.o.item' | translate}}
                            			ativo: true
                            			tamanho max: 
                            			título: Tipo de Conta
                            			ATENCAO: acessivel por $scope.container.cmbtipodeconta2 no seu controller                               			
                            		-->
					<div class="form-group col-xs-4 theme-main-input-select">
						<label>{{ 'label.tipo.de.conta' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-th-list"></i>
							</span> <select id="cmbTipodeconta2"
								ng-model="container.cmbtipodeconta2" class="form-control"
								ng-disabled="!true"
								placeholder="{{ 'label.selecione.o.item' | translate}}"
								title="{{ 'label.selecione.o.item' | translate}}"
								data-ng-options="item as item for item in container.cmbtipodeconta2Content">
							</select>
						</div>
					</div>
				</div>
				<!-- id:input-radio - name:Entrada de Opções (radio) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Opcoes 
                            			id: optModalidade
                            			ajuda: {{ 'label.selecione.a.opo' | translate}}
                            			estilo: col-xs-4
                            			título: Modalidade
                            		-->
					<div class="input-group-disabled col-xs-4 theme-main-input-radio"
						ng-init="radio9='Conjunta'">
						<label>{{ 'label.modalidade' | translate}}</label>
						<div class="input-group">
							<button id="optModalidade" class="btn margin"
								ng-class="radio9=='Conjunta'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio9='Conjunta'" ng-disabled="!true"
								analytics-event="input-radio:Conjunta">Conjunta</button>
							<button id="optModalidade" class="btn margin"
								ng-class="radio9=='Individual'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio9='Individual'" ng-disabled="!true"
								analytics-event="input-radio:Individual">Individual</button>
						</div>
					</div>
				</div>
				<!-- id:input-radio - name:Entrada de Opções (radio) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Opcoes 
                            			id: optSolidaria
                            			ajuda: {{ 'label.selecione.a.opo' | translate}}
                            			estilo: col-xs-4
                            			título: Solidária
                            		-->
					<div class="input-group-disabled col-xs-4 theme-main-input-radio"
						ng-init="radio10='Sim'">
						<label>{{ 'label.solidria' | translate}}</label>
						<div class="input-group">
							<button id="optSolidaria" class="btn margin"
								ng-class="radio10=='Sim'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio10='Sim'" ng-disabled="!true"
								analytics-event="input-radio:Sim">Sim</button>
							<button id="optSolidaria" class="btn margin"
								ng-class="radio10=='Não'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio10='Não'" ng-disabled="!true"
								analytics-event="input-radio:Não">Não</button>
						</div>
					</div>
				</div>
				<!-- id:input-radio - name:Entrada de Opções (radio) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Opcoes 
                            			id: optPossui
                            			ajuda: {{ 'label.selecione.a.opo' | translate}}
                            			estilo: col-xs-12
                            			título: Possui
                            		-->
					<div class="input-group-disabled col-xs-12 theme-main-input-radio"
						ng-init="radio11='Nenhum'">
						<label>{{ 'label.possui' | translate}}</label>
						<div class="input-group">
							<button id="optPossui" class="btn margin"
								ng-class="radio11=='Nenhum'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio11='Nenhum'" ng-disabled="!true"
								analytics-event="input-radio:Nenhum">Nenhum</button>
							<button id="optPossui" class="btn margin"
								ng-class="radio11=='Procurador'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio11='Procurador'" ng-disabled="!true"
								analytics-event="input-radio:Procurador">Procurador</button>
							<button id="optPossui" class="btn margin"
								ng-class="radio11=='Tutor'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio11='Tutor'" ng-disabled="!true"
								analytics-event="input-radio:Tutor">Tutor</button>
							<button id="optPossui" class="btn margin"
								ng-class="radio11=='Curador'?'btn-primary active':'btn-default'"
								title="{{ 'label.selecione.a.opo' | translate}}"
								ng-click="radio11='Curador'" ng-disabled="!true"
								analytics-event="input-radio:Curador">Curador</button>
						</div>
					</div>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:h4 - name:Título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 theme-main-h4"
						align="left">
						<i class="fa  ">&nbsp;</i> <span>{{
							'label.dados.do(s).titular(es)' | translate}}</span>
					</h5>
				</div>
				<!-- id:input-number-cpf - name:Entrada de CPF -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de CPF 
                            			id: numInformeocpf2
                            			contexto: container.numinformeocpf2
                            			ajuda: {{ 'label.informe.o.cpf' | translate}}
                            			ativo: true
                            			tamanho max: 11
                            			ATENCAO: acessivel por $scope.container.numinformeocpf2 no seu controller
                            		-->
					<div class="form-group col-xs-4 theme-main-input-number-cpf">
						<label>{{ 'label.informe.o.cpf' | translate}}</label>
						<div id="cpf-group">
							<div class="input-group">
								<span class="input-group-addon"> <i
									class="fa fa-calculator"></i>
								</span> <input id="numInformeocpf2" type="cpf" ui-mask="999.999.999-99"
									onchange="disparaCPF(this)"
									ng-model="container.numinformeocpf2" class="form-control"
									title="{{ 'label.informe.o.cpf' | translate}}"
									ng-readonly="!true" ng-required="false" /> <label
									class="label-mobilidade" ng-if="contextEditable"
									ng-model="container.numinformeocpf2"
									contenteditable="{{contextEditable}}"></label> <label
									class="label-mobilidade" ng-if="!contextEditable">{{
									'label.informe.o.cpf' | translate}}</label>
							</div>
							<span id="cpf-help" class="help-block hide">CPF invalido</span>
						</div>
					</div>
				</div>
				<!-- id:img-button - name:Botão Imagem -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Acao  
                           					ATENCAO: no ng-click defina sua acao
                           					ex: ng-click="incluir()" ou ng-click="salvar()"
                           				id: btiLupapng2
                           				ajuda: {{ 'label.clique.aqui.para' | translate}}
                           				título: 
                           				alinhamento: pull-left
                           				ativo: 
                           				origem: /imgs/lupa.png
                           			-->
					<a href ng-disabled="formMain.$invalid" ng-click="openView('')"
						class="btn btn-sm margin-3x btn- pull-left theme-main-img-button"
						title="{{ 'label.clique.aqui.para' | translate}}"
						analytics-event="img-button:"> <img id="btiLupapng2"
						ng-src="./imgs/lupa.png"
						class="theme-main-img-button-image img-responsive"><br /> <span
						class="hidden-xs theme-main-img-button-label">{{ 'label.' |
							translate}}</span>
					</a>
				</div>
				<!-- id:input-text - name:Entrada de Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Entrada de Texto 
                            			id: txtNome2
                            			contexto: container.txtnome2
                            			ajuda: {{ 'label.informe.o.nome' | translate}}
                            			ativo: true
                            			tamanho max: 250
                            			ATENCAO: acessivel por $scope.container.txtnome2 no seu controller
                            		-->
					<div class="form-group col-xs-6 theme-main-input-text">
						<label>{{ 'label.nome' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-keyboard-o"></i>
							</span> <input id="txtNome2" type="text" ng-model="container.txtnome2"
								class="form-control"
								placeholder="{{ 'label.informe.o.nome' | translate}}"
								title="{{ 'label.informe.o.nome' | translate}}"
								ng-readonly="!true" maxlength="250" ng-required="true" /> <label
								class="label-mobilidade" ng-if="contextEditable"
								ng-model="container.txtnome2"
								contenteditable="{{contextEditable}}"></label> <label
								class="label-mobilidade" ng-if="!contextEditable">{{
								'label.nome' | translate}}</label>
						</div>
					</div>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Acao  
                           					ATENCAO: no ng-click defina sua acao
                           					ex: ng-click="incluir()" ou ng-click="salvar()"
                           				id: btnCancelar
                           				ajuda: {{ 'label.clique.aqui.para.cancelar' | translate}}
                           				título: {{ 'label.cancelar' | translate}}
                           				estilo: btn-warning
                           				alinhamento: pull-right
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnCancelar" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.cancelar' | translate}}"
						title="{{ 'label.clique.aqui.para.cancelar' | translate}}"
						class="btn btn-sm margin-3x btn-warning pull-right sizeAuto theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Cancelar">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.cancelar' | translate}}</span>
					</button>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Acao  
                           					ATENCAO: no ng-click defina sua acao
                           					ex: ng-click="incluir()" ou ng-click="salvar()"
                           				id: btnIncluir2
                           				ajuda: {{ 'label.clique.aqui.para' | translate}}
                           				título: {{ 'label.incluir' | translate}}
                           				estilo: btn-default
                           				alinhamento: pull-right
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnIncluir2" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para' | translate}}"
						title="{{ 'label.clique.aqui.para' | translate}}"
						class="btn btn-sm margin-3x btn-default pull-right sizeAuto theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Incluir">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.incluir' | translate}}</span>
					</button>
				</div>
				<!-- id:h6 - name:Sub-título -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
					<h6 class="padding text-primary bold col-xs-12 theme-main-h6"
						align="left">
						<i class="fa ">&nbsp;</i> <span>{{ 'label.titular(es)' |
							translate}}</span>
					</h6>
				</div>
				<!-- id:label - name:Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: text-primary pull-left col-xs-12
                            			texto: Texto
                            		-->
					<span
						class="label padding text-primary pull-left col-xs-12 theme-main-label"
						title="Texto"> {{
						'label.1.000.399.368-05.maria.zilda.pagotti' | translate}} </span>
				</div>
				<!-- id:label - name:Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: text-primary pull-left col-xs-4
                            			texto: Texto
                            		-->
					<span
						class="label padding text-primary pull-left col-xs-4 theme-main-label"
						title="Texto"> {{ 'label.2.132.120.827-80.fulano.de.tal' |
						translate}} </span>
				</div>
				<!-- id:label - name:Texto -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                            			estilo: text-primary pull-left col-xs-6
                            			texto: Texto
                            		-->
					<span
						class="label padding text-primary pull-left col-xs-6 theme-main-label"
						title="Texto"> {{ 'label.excluir' | translate}} </span>
				</div>
				<!-- id:rule - name:Separador (hr) -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- elemento Separador -->
					<div class="theme-main-line-rule">
						&nbsp;
						<hr />
					</div>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  informacesdoClienteProcuradorTutorCurador
                           				id: btnContinuar2
                           				ajuda: {{ 'label.clique.aqui.para.continuar' | translate}}
                           				título: {{ 'label.continuar' | translate}}
                           				estilo: btn-primary
                           				alinhamento: pull-right
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnContinuar2" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('informacesdoClienteProcuradorTutorCurador',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.continuar' | translate}}"
						title="{{ 'label.clique.aqui.para.continuar' | translate}}"
						class="btn btn-sm margin-3x btn-primary pull-right col-xs-4 theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Continuar">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.continuar' | translate}}</span>
					</button>
				</div>
				<!-- id:button - name:Botão -->
				<div
					ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  informacesdoClienteeParametrosdaConta
                           				id: btnVoltar2
                           				ajuda: {{ 'label.clique.aqui.para.voltar' | translate}}
                           				título: {{ 'label.voltar' | translate}}
                           				estilo: btn-warning
                           				alinhamento: pull-left
                           				ativo: true
                           				ícone:  
                           			-->
					<button id="btnVoltar2" ng-disabled="formMain.$invalid"
						ng-click="openViewDelayed('informacesdoClienteeParametrosdaConta',3,$event,'Procedimento executado com sucesso')"
						loading="{{'label.processando' | translate}}"
						placeholder="{{ 'label.clique.aqui.para.voltar' | translate}}"
						title="{{ 'label.clique.aqui.para.voltar' | translate}}"
						class="btn btn-sm margin-3x btn-warning pull-left col-xs-4 theme-main-button btn-padrao"
						ng-disabled="!true" analytics-event="button:Voltar">
						<i class="fa  ">&nbsp;</i> <span style="font-size: 14px;">{{
							'label.voltar' | translate}}</span>
					</button>
				</div>
			</div>
			<div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<br>&nbsp; <br>&nbsp;
		</div>
	</form>
</div>
