					<!--
					Aqui são definidos o conteúdo apresentado pela tela do seu projeto (a parte visual).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas armazenadas na pasta pages										
					-->
<div class="theme-main" ng-controller="PesquisascadastraisController" analytics-page="Página Pesquisa cadastrais">
		<form id="formMain" name="formMain" tabindex="0">
   			<div class="row">
                        <bread-crumb activeurl="activeurl" breadcrumb="breadcrumb"></bread-crumb>
						<!-- datatable -->
						 <table class="table table-striped dt">
						    <thead class="dttable">
						      <tr>
						        <th>SITUAÇÃO</th>
						        <th class="dtdoc">SISTEMA</th>
						        <th class="dtdoc">OCORRÊNCIA</th>
						        <th class="dtdoc">ORIENTAÇÃO</th>
						      </tr>
						    </thead>
						    <tbody>
						    	<tr class="dtline" ng-repeat="item in lista">
		                               <td>
		                               	<span class="{{decideStyleIcon(item.situacao)}}">
		                               		<i class="fa fa-{{item.situacao}}" ></i>
		                               	</span>
		                               </td>
		                               <td class="dtdoc">
		                               	{{item.sistema}}
		                               </td>
		                               <td class="dtdoc">
		                               	{{item.ocorrencia}}
		                               </td>
		                               <td class="dtdoc">
		                               	{{item.orientacao}}
		                               </td>
		                               
	                             </tr>
						    </tbody>
						  </table>
						  
						  <div class="alert alert-danger ng-hide" ng-show="lista == null || lista.length == 0">
				                {{ mensagemErro }}
	                        </div>
						  
						  <div class="row">
						  	<button id="btnContinuar2" ng-disabled="!autorizacao.autorizado && !autorizacao.prosseguir" 
	                        	ng-click="proceed()" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.continuar' | translate}}" title="{{ 'label.clique.aqui.para.continuar' | translate}}" class="btn btn-blue pull-right">
                                {{ 'label.continuar' | translate}}
                            </button>
                            
						  	<button type="button" class="btn btn-blue pull-right" ng-click="apresentarModalCancelarAtendimento()" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.cancelar.atendimento' | translate}}" title="{{ 'label.clique.aqui.para.cancelar.atendimento' | translate}}" >
						  	{{'label.cancelar.atendimento' | translate}}</button>
                            
                            <button id="btnVoltar2" ng-click="goBack()" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para' | translate}}" title="{{ 'label.clique.aqui.para' | translate}}" class="btn btn-orange pull-right" ng-disabled="!true" analytics-event="button:Voltar">
                            	{{ 'label.voltar' | translate}}
                            </button>
                        						  	
						  	
						  </div>
	                    
                <div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
				</div>
                <br>&nbsp;
                <br>&nbsp;
				<div id="docEndereco" class="modal fade" role="dialog" style="padding-left: 17px">
					<div class="modal-content">
						<div class="modal-header bg-primary">
						    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismissDialog()">
						        <span aria-hidden="true">&times;</span>
						    </button>
						    <h4 class="modal-title">Visualizar
						    </h4>
						</div>
						<div class="modal-body" style="text-align: center;">
							<img ng-src="{{linkend}}"  alt="Documento de Identificacao" style="max-width: 700px;">
						    <!-- <canvas id="pdfRenderer"></canvas> -->
						</div>
						<div class="modal-footer">
						    <button type='button' class='btn btn-primary' data-dismiss="modal" ng-click="closeDialog()">
						        <i class='fa fa-check'></i>&nbsp;Ok
						    </button>
						</div>
					</div>
				</div>	                
    	</div>
    	<div id="divbase"></div>
    </form>
</div>

<div id="modalCancelar"  ng-controller="PesquisascadastraisController" class="modal fade" role="dialog" style="padding-left: 17px">
	 <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dismissDialog()">
			        <span aria-hidden="true">&times;</span>
			    </button>
			    <h4 class="modal-title">{{ 'titulo.cancelar.atendimento' | translate}}
			    </h4>
			</div>
			<div class="modal-body" style="text-align: center;">
				<label>{{ 'label.deseja.cancelar.atendimento' |	translate}}</label>
	
			</div>
			<div class="modal-footer">
				<button type='button' class='btn btn-danger' data-dismiss="modal" ng-click="cancelarAtend()">
			        <i class='fa fa-close'></i>&nbsp;Cancelar Atendimento
			    </button>
			    <button type='button' class='btn btn-primary' data-dismiss="modal" ng-click="closeDialog()">
			        <i class='fa fa-check'></i>&nbsp;Fechar
			    </button>
			</div>
		</div>
	</div>
</div>	

<div id="modalPerguntasAleatorias"   data-keyboard="false" data-backdrop="static" ng-controller="PesquisascadastraisController" class="modal fade" role="dialog">
	 <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
			    <h4 class="modal-title">{{ 'titulo.responda.perguntas.aleatorias' | translate}}
			    </h4>
			</div>
			
			<div class="modal-body" style="text-align: left; margin-left: 10px">
				
				<div class="form-group col-xs-12">
					<label class="label-optradio">{{ primeiraPergunta.pergunta }}</label>
				</div>
				<div class="col-xs-12 theme-main-input-optradio">
					<div class="radio-inline">
	  					<label><input type="radio" name="optradio" required value="true" ng-model="resposta1">Sim</label>
					</div>
					<div class="radio-inline">
	  					<label><input type="radio" name="optradio" required value="false" ng-model="resposta1">Não</label>
					</div>
				</div>
				
				<hr/>
				
				<div class="form-group col-xs-12 ">
					<label class="label-optradio2">{{ segundaPergunta.pergunta }}</label>
				</div>
				<div class="col-xs-12 theme-main-input-optradio2">
					<div class="radio-inline">
	  					<label><input type="radio" name="optradio2" required value="true" ng-model="resposta2">Sim</label>
					</div>
					<div class="radio-inline">
	  					<label><input type="radio" name="optradio2" required value="false" ng-model="resposta2">Não</label>
					</div>
				
				</div>
				
				<hr/>
				
				<div class="form-group col-xs-12">
					<label class="label-optradio3">{{ terceiraPergunta.pergunta }}</label>
				</div>
				<div class="col-xs-12 theme-main-input-optradio3">
					<div class="radio-inline">
	  					<label><input type="radio" name="optradio3" value="true" required ng-model="resposta3">Sim</label>
					</div>
					<div class="radio-inline">
	  					<label><input type="radio" name="optradio3" value="false" required ng-model="resposta3">Não</label>
					</div>
				</div>
				
				&nbsp;&nbsp;&nbsp;&nbsp;
				
			</div>
			<div class="modal-footer">
				<button type='button' class='btn btn-primary' ng-click="continuarPerguntas()">
			        &nbsp;Continuar
			    </button>
			</div>
		</div>
	</div>
</div>	

<!-- Multiple Steps -->
<script>
$('.wizard li').click(function() {
	 $(this).prevAll().addClass("completed");
	  $(this).nextAll().removeClass("completed")

	});
</script>                  
