<div class="row">
    <cx-alert-message [messagesInfo]="messagesInfo" [messagesSuccess]="messagesSuccess" [messagesError]="messagesError"
        (onCloseMessageInfo)="onCloseMessageInfo()" (onCloseMessageError)="onCloseMessageError()"
        (onCloseMessageSuccess)="onCloseMessageSuccess()" [messagesWarning]="messagesWarning"
        (onCloseMessageWarning)="onCloseMessageWarning()"></cx-alert-message>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
        <div class="col-md-7 row ">
            <div class="corpoSwitch mesmaLinha" *ngIf="imagesCopy.length != 0">
                <label class="switch">
                    <input class="toggle" name="chekDocumentoAClassificar" type="checkbox"
                        [(ngModel)]="documentoAClassificar" [disabled]="imagesCopy.length == 0"
                        (click)="mostraClassificarDocumentos()">
                    <span class="slider round"></span>
                </label>
                <span class="tamanhoIcone fa fa-check-square-o espaco corTexto"></span>
                <label class="corTexto espaco">A classificar</label>
                <label class="qtdClassificar">{{qtdClassificar}}</label>
            </div>

            <div class="tamanhoCorpToogleExpandir mesmaLinha">
                <label class="switch">
                    <input class="toggle" type="checkbox" [(ngModel)]="expandirAllTree" (click)="expandirAllTr()">
                    <span class="slider round"></span>
                </label>
                <span class="tamanhoIcone fa fa-plus-square-o espaco corTexto"></span>
                <label class="corTexto espaco">Expandir todos</label>
            </div>

            <div class="pull-right row novoDocumento mesmaLinha">
                <uplaod-document *ngIf="habilitaBotoesSalvar" 
                    [habilitaBotoesSalvar]="!habilitaBotoesSalvar" 
                    [images]="images" [imagesCopy]="imagesCopy" 
                    [incluirImagem]="incluirImagem"
                    [documentoAClassificar]="documentoAClassificar"
                    [clickArvoreTipoDocumento]="clickArvoreTipoDocumento" 
                    [arvoreTipoDocumento]="arvoreTipoDocumento"
                    (imagesChanged)="handleChangeImages($event)" 
                    (imagesCopyChanged)="handleChangeimagesCopy($event)"
                    (incluirImagemChanged)="handleIncluirImagem($event)" 
                    (documentoAClassificarChanged)="handleChangeDocumentoAClassificarChange($event)"
                    (clickArvoreTipoDocumentoChanged)="handrleChangeClickArvoreTipoDocumento($event)"
                    (arvoreTipoDocumentoChanged)="handleChangeArvoreTipoDocumento($event)"
                    (alertMessagesSucessChanged)="handlleMessagesSucess($event)" 
					(alertMessagesInfoChanged)="handlleMessagesInfo($event)"
					(alertMessagesWarningChanged)="handlleMessagesWarning($event)"
					(alertMessagesErrorChanged)="handlleMessagesError($event)">
                </uplaod-document>
            </div>
        </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <aside class="col-md-5 scrollDossieProduto"
        [ngStyle]="{'max-height' : maxHeightbarraArvore !== undefined ? maxHeightbarraArvore : ''}">
        <canvas id="pdfcanvas" style="display: none"></canvas>
        <ng-template ngFor let-vinculoArvore [ngForOf]="listaVinculoArvore" let-idx="index">
            <div class="col-md-12" *ngIf="checkBodyEmptyTree(vinculoArvore)">
                <p-fieldset
                    *ngIf="!vinculoArvore.ocultarVinculoArvore && vinculoArvore.vinculoCliente !== undefined && !vinculoArvore.emptyTreeCliente"
                    [collapsed]="collapsed" [toggleable]="true"
                    class="fieldsetDocumentos {{vinculoArvore.classeValidacao}}" (click)="guardaEscolhaIdxAtual(idx)">
                    <p-header class="titleArvore">
                        {{ vinculoArvore.vinculoCliente.tipo_relacionamento.nome}} 
                        <br />
                        <div class="cnpjFieldset">{{ vinculoArvore.vinculoCliente.nome }}:
                            {{ vinculoArvore.vinculoCliente.cnpj|kzCpfCnpj }}{{ vinculoArvore.vinculoCliente.cpf|kzCpfCnpj }}
                        </div>
                    <div class="pull-right" style="padding: 0px 0px 3px 0px !important;"><a id="span-declarar-dados" class="fa fa-fw fa-file-text-o" title="Atualizar Dados Declarados" style="cursor: pointer; padding: 0px 0px 3px 0px !important;" (click)="showModalDadosDeclarados($event, vinculoArvore)"></a></div>
                    </p-header>
                    <arvore-generica-documento 
                        [processoGeraDossie]="processoGeraDossie"
                        [listaVinculoArvore]="listaVinculoArvore" 
                        [listaNosVisualizacao]="vinculoArvore.noApresentacao"
                        [indiceArvoreAtual]="idx" 
                        (imagensChange)="handleChangeImages($event)"
                        (nodeSelectedChanged)="onNodeSelected($event, idx)" 
                        [tratamento]="habilitaTratamento"
                        [treeEditable]="true" 
                        (selectedNodeApresentacao)="onSelectedDocumentNode($event)"
                        (listaExcluirChange)="handleChangeListaExcluir($event)"
                        (tipoDocumentoArvoreGenericaAnteriorChange)="handleChangeTipoDocumentoArvoreGenericaAnterior($event)"
                        (selecionadoFolhaDoNoDaArvoreChange)="handleChangeSelecionadoFolhaDoNoDaArvore($event)"
                        (incluirImagemChange)="handleIncluirImagem($event)"
                        (selecionadoFolhaDoNoDaArvoreChange)="handleChangeSelecionadoFolhaDoNoDaArvore($event)"
                        [habilitaBotoesSalvar]="habilitaBotoesSalvar" 
                        [expandirAllTree]="expandirAllTree"
                        (emptyTreeCliente)="handleChangeEmptyVinculoArvore($event)" 
                        [activeUpload]="images.length > 0"
                        [vinculoArvore]="vinculoArvore"
                        [dossieCliente]="false"
                        (arvoreTipoDocumentoSelecionadoChange)="handleArvoreTipoDocumentoSelecionado($event)">
                    </arvore-generica-documento>
                    <div class="col-md-12" id="divObrigatorio{{idx}}" style="display:none; color: red">
                        <label>O item {{ itemObrigatorio }} é obrigatório</label>
                    </div>
                </p-fieldset>
                <p-fieldset *ngIf="!vinculoArvore.ocultarVinculoArvore && vinculoArvore.vinculoGarantia !== undefined"
                    [collapsed]="collapsed" [toggleable]="true"
                    class="fieldsetDocumentos {{vinculoArvore.classeValidacao}}" (click)="guardaEscolhaIdxAtual(idx)">
                    <p-header class="titleArvore">
                        {{ vinculoArvore.vinculoGarantia.nome }}<br />
                        <div class="cnpjFieldset"
                            *ngIf="vinculoArvore.vinculoGarantia.produto && vinculoArvore.vinculoGarantia.produto != ''">
                            PRODUTO: <i
                                class="espacoPadding4px">{{vinculoArvore.vinculoGarantia.produto_operacao}}.{{vinculoArvore.vinculoGarantia.produto_modalidade}}-{{vinculoArvore.vinculoGarantia.produto_nome}}</i>
                        </div>
                        <div class="cnpjFieldset" *ngIf="undefined != vinculoArvore.vinculoGarantia.relacionado">
                            RELACIONADO: <i class="espacoPadding4px">{{vinculoArvore.vinculoGarantia.relacionado}}</i>
                        </div>
                    </p-header>
                    <arvore-generica-documento [processoGeraDossie]="processoGeraDossie"
                        (listaExcluirChange)="handleChangeListaExcluir($event)"
                        (tipoDocumentoArvoreGenericaAnteriorChange)="handleChangeTipoDocumentoArvoreGenericaAnterior($event)"
                        (selecionadoFolhaDoNoDaArvoreChange)="handleChangeSelecionadoFolhaDoNoDaArvore($event)"
                        [listaVinculoArvore]="listaVinculoArvore" 
                        [listaNosVisualizacao]="vinculoArvore.noApresentacao"
                        [indiceArvoreAtual]="idx" 
                        (imagensChange)="handleChangeImages($event)"
                        (nodeSelectedChanged)="onNodeSelected($event, idx)" 
                        [tratamento]="habilitaTratamento"
                        [treeEditable]="true" 
                        (selectedNodeApresentacao)="onSelectedDocumentNode($event)"
                        (incluirImagemChange)="handleIncluirImagem($event)" 
                        [expandirAllTree]="expandirAllTree"
                        (emptyTreeGarantia)="handleChangeEmptyVinculoArvore($event)" 
                        [activeUpload]="images.length > 0"
                        [vinculoArvore]="vinculoArvore"
                        [dossieCliente]="false"
                        (arvoreTipoDocumentoSelecionadoChange)="handleArvoreTipoDocumentoSelecionado($event)">
                    </arvore-generica-documento>
                    <div class="col-md-12" id="divObrigatorio{{idx}}" style="display:none; color: red">
                        <label>O item {{ itemObrigatorio }} é obrigatório</label>
                    </div>
                </p-fieldset>
                <p-fieldset
                    *ngIf="!vinculoArvore.ocultarVinculoArvore && vinculoArvore.vinculoProduto !== undefined && !vinculoArvore.emptyTreeProduto"
                    [collapsed]="collapsed" [toggleable]="true"
                    class="fieldsetDocumentos {{vinculoArvore.classeValidacao}}" (click)="guardaEscolhaIdxAtual(idx)">
                    <p-header class="titleArvore">
                        {{vinculoArvore.vinculoProduto.codigo_operacao}}.{{vinculoArvore.vinculoProduto.codigo_modalidade}}-{{vinculoArvore.vinculoProduto.nome }}
                    </p-header>
                    <arvore-generica-documento [processoGeraDossie]="processoGeraDossie"
                        (listaExcluirChange)="handleChangeListaExcluir($event)"
                        (tipoDocumentoArvoreGenericaAnteriorChange)="handleChangeTipoDocumentoArvoreGenericaAnterior($event)"
                        (selecionadoFolhaDoNoDaArvoreChange)="handleChangeSelecionadoFolhaDoNoDaArvore($event)"
                        [listaVinculoArvore]="listaVinculoArvore" 
                        [listaNosVisualizacao]="vinculoArvore.noApresentacao"
                        [indiceArvoreAtual]="idx" 
                        (imagensChange)="handleChangeImages($event)"
                        (nodeSelectedChanged)="onNodeSelected($event, idx)" 
                        [tratamento]="habilitaTratamento"
                        [treeEditable]="true" 
                        (selectedNodeApresentacao)="onSelectedDocumentNode($event)"
                        (incluirImagemChange)="handleIncluirImagem($event)" 
                        [expandirAllTree]="expandirAllTree"
                        (emptyTreeProduto)="handleChangeEmptyVinculoArvore($event)" 
                        [activeUpload]="images.length > 0"
                        [vinculoArvore]="vinculoArvore"
                        [dossieCliente]="false"
                        (arvoreTipoDocumentoSelecionadoChange)="handleArvoreTipoDocumentoSelecionado($event)">
                    </arvore-generica-documento>

                    <div class="col-md-12" id="divObrigatorio{{idx}}" style="display:none; color: red">
                        <label>O item {{ itemObrigatorio }} é obrigatório</label>
                    </div>
                </p-fieldset>
                <p-fieldset *ngIf="vinculoArvore.vinculoProcesso !== undefined && !vinculoArvore.emptyTreeProcesso"
                    [collapsed]="collapsed" [toggleable]="true"
                    class="fieldsetDocumentos {{vinculoArvore.classeValidacao}}" (click)="guardaEscolhaIdxAtual(idx)">
                    <p-header class="titleArvore">
                        {{vinculoArvore.nome }}
                    </p-header>
                    <arvore-generica-documento [processoGeraDossie]="processoGeraDossie"
                        (listaExcluirChange)="handleChangeListaExcluir($event)"
                        (tipoDocumentoArvoreGenericaAnteriorChange)="handleChangeTipoDocumentoArvoreGenericaAnterior($event)"
                        (selecionadoFolhaDoNoDaArvoreChange)="handleChangeSelecionadoFolhaDoNoDaArvore($event)"
                        [listaVinculoArvore]="listaVinculoArvore" 
                        [listaNosVisualizacao]="vinculoArvore.noApresentacao"
                        [indiceArvoreAtual]="idx" 
                        (imagensChange)="handleChangeImages($event)"
                        (nodeSelectedChanged)="onNodeSelected($event, idx)" 
                        [tratamento]="habilitaTratamento"
                        [treeEditable]="true" 
                        (selectedNodeApresentacao)="onSelectedDocumentNode($event)"
                        (incluirImagemChange)="handleIncluirImagem($event)" 
                        [expandirAllTree]="expandirAllTree"
                        (emptyTreeProcesso)="handleChangeEmptyVinculoArvore($event)" 
                        [activeUpload]="images.length > 0"
                        [vinculoArvore]="vinculoArvore"
                        [dossieCliente]="false"
                        (arvoreTipoDocumentoSelecionadoChange)="handleArvoreTipoDocumentoSelecionado($event)">
                    </arvore-generica-documento>

                    <div class="col-md-12" id="divObrigatorio{{idx}}" style="display:none; color: red">
                        <label>O item {{ itemObrigatorio }} é obrigatório</label>
                    </div>
                </p-fieldset>
                <br />
            </div>
        </ng-template>
        <div class="col-md-12" *ngIf="exibeLoadArvore">
            <br />
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>

    </aside>

    <div class="col-md-7">
        <visualizador-documentos *ngIf="images.length > 0"
            [identificadorDossie]="idDossie"
            [tipoDossie]="tipoDossie"
            [images]="images"
            [incluirImagem]="incluirImagem"
            [imagesCopy]="imagesCopy"
            [listaVinculoArvore]="listaVinculoArvore"
            [tipoDocumentoArvoreGenericaAnterior]="tipoDocumentoArvoreGenericaAnterior"
            [arvoreTipoDocumento]="arvoreTipoDocumento"
            (alertMessagesErrorChanged)="handlleMessagesError($event)"
            (alertMessagesSucessChanged)="handlleMessagesSucess($event)"
            (imagesChange)="handleChangeImages($event)"
            (imagesCopyChanged)="handleChangeimagesCopy($event)"
            (documentoAClassificarChange)="handleChangeDocumentoAClassificarChange($event)"
            [clickArvoreTipoDocumento]="clickArvoreTipoDocumento"
            [dossieCliente]="false"
            [selecionadoFolhaDoNoDaArvore]="selecionadoFolhaDoNoDaArvore">
        </visualizador-documentos>
    </div>
</div>