<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
              <img src="assets/img/logo_caixa_x.png">
            </span>
            <!-- logo for regular state and mobile devices -->
            <img src="assets/img/titlefullc.png">
          </a>
    </header>
    <div class="login-box" *ngIf="informations">
      <div class="login-box-body">
        <p class="login-box-msg" *ngIf="informations.nomeInstancia" ><b>Nome Instância</b>: {{informations.nomeInstancia}}</p>
    
        <p class="login-box-msg" *ngIf="informations.os"><b>Sistema Operacional (SO)</b>: {{informations.os}}</p>
    
        <p class="login-box-msg" *ngIf="informations.arquitetura"><b>Arquitetura SO</b>: {{informations.arquitetura}}</p>
    
        <p class="login-box-msg" *ngIf="informations.os_version"><b>Versão SO</b>: {{informations.os_version}}</p>
    
        <p class="login-box-msg" *ngIf="informations.version"><b>Versão Projeto</b>: {{informations.version}}</p>
      </div>
    </div>
</div>

