<div class="modal-dialog modal-lg">
  <p-growl></p-growl>
  <div class="modal-content">
      <div class="form-group">
          <div class="col-sm-1 pull-right">
              <button type="button" class="close" (click)="fechar();">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      </div>  
      <div class="panel panel-default">
        <div class="panel-heading label-title-header-modal">Vinculação</div>
          <div class="panel-body">
            <form #vinculacaoForm="ngForm">
              <fieldset class="crud-card-fieldset">
                  <legend class="crud-card-title">Selecione os vínculos</legend>
                  <div class="row">
                    <div class="form-group col-md-6" [class.has-error]="validarProcesso(processo)">
                        <div class="col-md-12">
                          <label class="control-label">Processo:</label>  
                        </div>
                        <div class="col-md-12">
                          <p-dropdown 
                            #processo
                            id="dropdown-processo" 
                            name="dropdown-processo"
                            required
                            class="dropdown-item"
                            [options]="modalVinculacaoPresenter.modalVinculacao.processos" 
                            filter="true"
                            emptyFilterMessage = "Nenhum resultado encontrado"
                            (onChange)="selecionarFasesProcessoGeraDossie(); validarOcorrenciaVinculacao();"
                            [(ngModel)]="modalVinculacaoPresenter.modalVinculacao.selectedProcesso"
                            placeholder="Selecione" 
                            optionLabel="name" 
                            #processo="ngModel"
                            [showClear]="true">
                            <ng-template let-item pTemplate="selectedItem"> 
                              <span 
                                style="vertical-align:middle" 
                                tooltipPosition="top" 
                                pTooltip="{{item.label}}">
                                {{item.label}}
                              </span>
                            </ng-template>                             
                          </p-dropdown>  
                          <validation-form-message 
                            [control]="processo" 
                            error="required" 
                            text="Processo é obrigatório">
                          </validation-form-message>                    
                        </div>
                    </div>
                    <div class="form-group col-md-6" [class.has-error]="validarFase(fase)">
                        <div class="col-md-12">
                          <label class="control-label">Fase:</label>  
                        </div> 
                        <div class="col-md-12">
                          <p-dropdown 
                            #fase
                            id="dropdown-fase" 
                            name="dropdown-fase"
                            required
                            class="dropdown-item"
                            [disabled]="modalVinculacaoPresenter.modalVinculacao.emptyProcesso"
                            [options]="modalVinculacaoPresenter.modalVinculacao.fases" 
                            filter="true"
                            (onChange)="validarOcorrenciaVinculacao();"
                            emptyFilterMessage = "Nenhum resultado encontrado"
                            [(ngModel)]="modalVinculacaoPresenter.modalVinculacao.selectedFase"
                            placeholder="Selecione" 
                            optionLabel="name"
                            #fase="ngModel" 
                            [showClear]="true">
                            <ng-template let-item pTemplate="selectedItem"> 
                              <span 
                                style="vertical-align:middle" 
                                tooltipPosition="top" 
                                pTooltip="{{item.label}}">
                                {{item.label}}
                              </span>
                            </ng-template>                             
                          </p-dropdown>  
                          <validation-form-message 
                            [control]="fase" 
                            error="required" 
                            text="Fase é obrigatória">
                          </validation-form-message>                            
                        </div>
                    </div>                  
                  </div>
                  <div class="col-md-12">
                    <div class="class-with-pad-5"></div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6" [class.has-error]="modalVinculacaoPresenter.modalVinculacao.ocorrenciaVinculacaoTipoDocumento">
                      <div class="col-md-12">
                        <label class="control-label">Tipo Documento:</label> 
                      </div>
                      <div class="col-md-12">
                        <p-dropdown 
                          id="dropdown-tipo-documento" 
                          name="dropdown-tipo-documento"
                          class="dropdown-item"
                          [options]="modalVinculacaoPresenter.modalVinculacao.tiposDocumento" 
                          filter="true"
                          (onChange)="anularFuncoesDocumentais(); validarVinculacaoAtual();"
                          emptyFilterMessage = "Nenhum resultado encontrado"
                          [(ngModel)]="modalVinculacaoPresenter.modalVinculacao.selectedTipoDocumento"
                          placeholder="Selecione" 
                          optionLabel="name" 
                          [showClear]="true">
                            <ng-template let-item pTemplate="selectedItem"> 
                              <span 
                                style="vertical-align:middle" 
                                tooltipPosition="top" 
                                pTooltip="{{item.label}}">
                                {{item.label}}
                              </span>
                            </ng-template> 
                        </p-dropdown>  
                      </div>
                    </div>	                  
                    <div class="form-group col-md-6" [class.has-error]="modalVinculacaoPresenter.modalVinculacao.ocorrenciaVinculacaoFuncaoDocumental">
                      <div class="col-md-12">
                        <label class="control-label">Função Documental:</label> 
                      </div>
                      <div class="col-md-12">
                        <p-dropdown 
                          id="dropdown-funcao-documental" 
                          name="dropdown-funcao-documental"
                          class="dropdown-item"
                          [options]="modalVinculacaoPresenter.modalVinculacao.funcoesDocumentais" 
                          filter="true"
                          (onChange)="anularTiposDocumentos(); validarVinculacaoAtual();"
                          emptyFilterMessage = "Nenhum resultado encontrado"
                          [(ngModel)]="modalVinculacaoPresenter.modalVinculacao.selectedFuncaoDocumental"
                          placeholder="Selecione" 
                          optionLabel="name" 
                          [showClear]="true">
                          <ng-template let-item pTemplate="selectedItem"> 
                            <span 
                              style="vertical-align:middle" 
                              tooltipPosition="top" 
                              pTooltip="{{item.label}}">
                              {{item.label}}
                            </span>
                          </ng-template>                           
                        </p-dropdown>  
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 3%;" *ngIf="modalVinculacaoPresenter.modalVinculacao.ocorrenciaVinculacao">
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="error">
                          Vinculação já adicionada.
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="class-with-pad-5"></div>
                  </div>               
                  <div class="row" *ngIf="modalVinculacaoPresenter.modalVinculacao.conflitoVinculacao">
                    <div class="form-group col-md-12 has-error margin">
                      <div class="col-md-11">
                        <label class="control-label">
                          Já existe uma vinculação ativa com estes mesmos parâmetros para outro CheckList. 
                        </label> 
                      </div>
                      <div class="col-md-11">
                        <label class="control-label">
                          Informe a data prevista de ativação desta vinculação e revogação da vinculação anterior. 
                        </label>                                           
                      </div>
                    </div>                     
                    <div class="form-group col-md-6" [class.has-error]="modalVinculacaoPresenter.modalVinculacao.showErrorDataRevogacao || modalVinculacaoPresenter.modalVinculacao.showErrorOcorrenciaDataRevogacao">
                      <div class="col-md-11">
                          <label class="control-label">Data de Ativação:</label> 
                      </div>
                      <div class="col-md-11">
                        <p-calendar  
                          id="input-data-revogacao" 
                          name="input-data-revogacao"
                          [class.data-revogacao-error]="modalVinculacaoPresenter.modalVinculacao.showErrorDataRevogacao || modalVinculacaoPresenter.modalVinculacao.showErrorOcorrenciaDataRevogacao"
                          class="data-revogacao"
                          (onBlur)="onSelecDataRevogacao()"
                          (onSelect)="onSelecDataRevogacao()"
                          [locale]="modalVinculacaoPresenter.modalVinculacao.ptBR" 
                          [(ngModel)]="modalVinculacaoPresenter.modalVinculacao.dataRevogacao" 
                          showButtonBar="true" 
                          dateFormat="dd/mm/yy"
                          [disabled]="production" 
                          #revogacao="ngModel" 
                          (onInput)="maskCalendar($event)" 
                          [monthNavigator]="true" 
                          [yearNavigator]="true" 
                          yearRange="1900:2200">
                        </p-calendar>
                      </div>
                      <div class="col-md-11" *ngIf="modalVinculacaoPresenter.modalVinculacao.showErrorDataRevogacao">
                        <label class="control-label">Não é permitido data anterior a {{modalVinculacaoPresenter.modalVinculacao.errorDataRevogacao}}.</label> 
                      </div>   
                      <div class="col-md-12" *ngIf="modalVinculacaoPresenter.modalVinculacao.showErrorOcorrenciaDataRevogacao">
                        <label class="control-label">{{modalVinculacaoPresenter.modalVinculacao.msgDataRevogacaoError}}</label> 
                      </div>                                          
                    </div>                    
                  </div>
              </fieldset>
            </form>
          </div>
          <div class="panel-footer" style="height: 55px;">
            <button id="clonar" type="button"
              class="btn btn-secondary pull-left" (click)="fechar()">Cancelar
              <span class="fa fa-close"></span>
            </button>                
            <button id="btn-adicionar" type="button" (click)="adicionarVinculo();" 
              [disabled]="desabilitarAdicaoVinculacao(vinculacaoForm, processo, fase)"
                class="btn btn-primary pull-right">{{modalVinculacaoPresenter.modalVinculacao.editar ? 'Modificar' : 'Adicionar'}}
                <span class="fa fa-plus"></span>
            </button>
          </div>        
      </div>
  </div>
</div>