.modal-dialog{
    overflow-y: initial !important
}

.box-primary {
    border-top: 3px solid #d2d6de;
    border-top-color: #3c8dbc !important;
}
@media (max-height : 1200px ) {
    .modal-body{
        max-height: 1200px;
        overflow-y: auto;
    }
}

@media (min-height : 1100px ) {
    .modal-body{
        max-height: 1100px;
        overflow-y: auto;
    }
}

.ui-autocomplete-multiple {
    width: 100% !important;
    height: 18px;
}

.ui-autocomplete-multiple-container {
    width: 100% !important;
    height: 18px;
}