#checklist h4 i{
    font-weight: normal !important;
}

#checklist h4 span{
    color: #888888 !important;
    margin-left: 5px !important;
}

#checklist .item-fa-comments {
    color: #cccccc !important;
}

#checklist .item-fa-comments-active {
    color: #005a9c !important;
    cursor: pointer !important;
}

#checKlistVisualizar .ui-widget-content {
    border: none !important;
}

.ui-datatable{
    margin: 20px 10px 10px 15px !important;
    border-bottom: 1px solid #dddddd;
}

.ui-datatable thead tr {
    border-bottom: 3px solid rgb(0, 90, 156);
}

.ui-datatable-scrollable-body {
    overflow: auto !important;
}
    .ui-datatable-scrollable-table-wrapper {
        overflow: auto;
    }
.ui-datatable th.ui-state-default{
    background:rgb(206, 235, 248);
    color:rgb(0, 90, 156);
    font-weight: bold !important;
}
.iconInterrogacao {
    border: 1px solid;
    border-radius: 100em;
    padding: 0px 2px;
    font-size: 10px;
    color: #005a9c;
    margin-left: 6px;
    position: relative;
}
.switch {
    width: 26px;
}
.slider:before {
    left: 2px;
}
.checklist-table-column{
    border: none !important;
    text-align: left;
    overflow-wrap: break-word;
}

.checklist-table-column-check-message{
    border: none !important;
}

#corpoCheckList .ui-datatable thead th, #corpoCheckList .ui-datatable tfoot td{
    text-align: left !important;
}
    
#checklist .slider-apontamento-conforme { 
    background-color: rgb(224, 0, 0) !important;
}

#checklist input:checked + .slider {
    background-color: rgb(0, 128, 0) !important;
}

.botoes-footer{
    float: right;
    padding: 0px 10px;
}

.checklist-footer{
    display: inline;
    cursor: pointer;
}

.link-validar-nao-selecionados{
    color: #005a9c;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

.paragrafo-icone{
    padding-left: 20px;
}

#checklist a:hover{
    text-decoration: underline !important; 
}

.message-alert{
    color: #e00000;
    float: right;
    margin-top: 5px;
}

.footerRecarregarCheckListVerificado {
    float: right;
    right: 3%;
    padding-right: 20px;
}

input.toggle-checklist:focus + .slider {
    outline: 2px dashed #005a9c;
    outline-offset: 2px;
}

.apontamento-selecionado {
    background-color: rgb(206, 235, 248) !important;
}