<p-fieldset class="cabecalho-dossie" [collapsed]="collapsed" [toggleable]="true">
    <p-header>
        <div class="titulo-container" pTooltip="{{pessoaVinculada.dossie_cliente.nome}}">{{pessoaVinculada.dossie_cliente.nome}}</div>
    </p-header>
    <ul class="list-group">
      <li class="list-group-item">
        <span *ngIf="undefined != pessoaVinculada.dossie_cliente.cpf" class="label-visualizacao">CPF</span>
        <span *ngIf="undefined != pessoaVinculada.dossie_cliente.cnpj" class="label-visualizacao">CNPJ</span><br/>
        <span class="conteudo-visualizacao">{{pessoaVinculada.dossie_cliente.cnpj|kzCpfCnpj }}{{pessoaVinculada.dossie_cliente.cpf|kzCpfCnpj }}</span>
      </li>
      <li class="list-group-item">
          <span class="label-visualizacao">Tipo de Relacionamento</span><br/>
          <span class="conteudo-visualizacao">{{pessoaVinculada.tipo_relacionamento.nome}}</span>
      </li>
      <li *ngIf="undefined != pessoaVinculada.dossie_cliente_relacionado" class="list-group-item">
          <span class="label-visualizacao">Relacionado</span><br/>
          <span class="conteudo-visualizacao">{{pessoaVinculada.dossie_cliente_relacionado.nome}} - {{pessoaVinculada.dossie_cliente_relacionado.cnpj|kzCpfCnpj }}{{pessoaVinculada.dossie_cliente_relacionado.cpf|kzCpfCnpj }}</span>
      </li>
      <li *ngIf="undefined != pessoaVinculada.sequencia_titularidade" class="list-group-item">
          <span class="label-visualizacao">Sequência</span><br/>
          <span class="conteudo-visualizacao">{{pessoaVinculada.sequencia_titularidade}}</span>
      </li>
      <li class="list-group-item">
          <formulario-resposta-generico
            [respostasCampoFormulario]="respostasFormulario"
            [titulo]="'Dados Adicionais'"
            [dossieProduto]="dossieProduto">
          </formulario-resposta-generico>
      </li>
    </ul>
  </p-fieldset>