.updateCliente {
    color: #3c8dbc !important;
    cursor: pointer;
    font-weight: bold;
}

div.ui-tabview-panels form .ui-calendar {
   position: relative;
   display: inline-block;
   width: 100%;
}

div.ui-tabview-panels form .ui-calendar input {
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 0px;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


div.ui-tabview-panels form .form-control{
    height: 34px !important;
    border-radius: 0px;
}

div.ui-tabview-panels form .ui-calendar input:disabled {
    background-color: #eee;
    opacity: 1;
}
.form-group.has-error .ui-calendar input {
    border-color: #dd4b39;
    box-shadow: none;
}


