<cx-alert-message id="component-alert-aba-identificacao" [messagesInfo]="messagesInfo" [messagesSuccess]="messagesSuccess"
    [messagesError]="messagesError" (onCloseMessageInfo)="onCloseMessageInfo()"
    (onCloseMessageError)="onCloseMessageError()" (onCloseMessageSuccess)="onCloseMessageSuccess()"
    [messagesWarning]="messagesWarning" (onCloseMessageWarning)="onCloseMessageWarning()">
</cx-alert-message>
<div id="div-tab-ident" class="tab-content" name="info">
    <div id="div-consulta-sicli-user-sso" class="box-body">
        <button id="button-cadastro-user-sso" [disabled]="userSSO || !userExiste" (click)="abrirModalUserSSO();" *ngIf="dossiePessoaFisica"
            class="pull-right btn btn-primary">Cadastrar Senha SSO</button>
        <button id="button-consulta-sicli" class="pull-right btn btn-primary" [disabled]="!updateClienteForm" [disabled]="abaIdentificadorComponentPresenter.abaIdentificacao.btnAtivoConsultaClienteSicli" (click)="showModalSICLI()">Consulta Dados SICLI </button>
    </div>
    <form id="form-identificacao" #f="ngForm" class="form-horizontal" *ngIf="isCPF()" >
        <div id="div-form-group-identificacao" class="form-group">
            <label id="label-form-cpf" for="cpf" class="col-sm-3 control-label">CPF:</label>
            <div id="div-form-col-sm5" class="col-sm-5">
                <input class="form-control" id="input-cpf" type="text" disabled [(ngModel)]="cliente.cpf" #cpf="ngModel" name="cpf" required
                    kzMask="999.999.999-99"  (change)="changeAcao()">
            </div>
        </div>
        
        <div id="div-form" class="form-group">
            <label id="label-form-inserting-nome" for="nome" class="col-sm-3 control-label">Nome:</label>
            <div id="div-form-inserting-col-sm5" class="col-sm-5">
                <input class="form-control" id="input-nome" type="text" [disabled]="updateClienteForm || production" [(ngModel)]="cliente.nome" #nome="ngModel"
                    name="nome" required maxlength="255" (change)="changeAcao()">
            </div>
        </div>

        <div id="div-form-email" class="form-group">
            <label id="label-form-inserting-email" for="input-email" class="col-sm-3 control-label">Email:</label>
            <div id="div-form-inserting-col-sm5-email" class="col-sm-5">
                <input type="email" class="form-control" id="input-email" name="input-email"  [(ngModel)]="cliente.email" #email="ngModel" email
                    placeholder="email@provedor.com">
            </div>
        </div>        
        
        <div class="form-group">
            <label for="nascimento" class="col-sm-3 control-label">Data de Nascimento:</label>
            <div class="col-sm-5 ">
                <p-calendar  id="input-data-nascimento" [(ngModel)]="cliente.data_nascimento" name="nascimento" [maxDate]="abaIdentificadorComponentPresenter.abaIdentificacao.maxDate" [locale]="abaIdentificadorComponentPresenter.abaIdentificacao.ptBR" showButtonBar="true" dateFormat="dd/mm/yy"
                    [disabled]="production" #nascimento="ngModel" (onInput)="maskCalendar($event)" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2200" (change)="changeAcao()"></p-calendar>
            </div>
        </div>

        <div class="form-group">
            <label for="nomeMae" class="col-sm-3 control-label">Nome da Mãe:</label>
            <div class="col-sm-5">
                <input class="form-control" id="input-nome-mae" type="text" [disabled]="production" [(ngModel)]="cliente.nome_mae"
                    #nomeMae="ngModel" name="nomeMae" maxlength="255"  (change)="changeAcao()">
            </div>
        </div>

        <div class="box-footer">
            <button id="btn-salvar" type="submit" class="btn btn-primary pull-right" [disabled]="!f.valid" *ngIf="inserting || updateClienteForm" (click)="onInsertUser()">Salvar</button>
            <button id="btn-cancelar" type="submit" class="btn btn-default pull-right" (click)="cancel()" *ngIf="inserting || updateClienteForm" style="margin-right:10px">Cancelar</button>
        </div>
    </form>

    <form #formPJ="ngForm" class="form-horizontal" *ngIf="!isCPF()">
        <div class="form-group">
            <label for="cnpj" class="col-sm-3 control-label">CNPJ:</label>
            <div class="col-sm-5">
                <input class="form-control" id="input-cnpj" type="text" disabled [(ngModel)]="cliente.cnpj" #cpf="ngModel" name="cnpj" required
                    kzMask="99.999.999/9999-99"  (change)="changeAcao()">
            </div>
        </div>

        <div class="form-group">
            <label for="razaoSocial" class="col-sm-3 control-label">Razão Social:</label>
            <div class="col-sm-5">
                <input class="form-control" id="input-razao-social" type="text" [(ngModel)]="cliente.razao_social"
                [disabled]="updateClienteForm || production" #razaoSocial="ngModel" name="razaoSocial" required maxlength="255"  (change)="changeAcao()">
            </div>
        </div>

        <div class="form-group">
            <label for="fundacao" class="col-sm-3 control-label">Data da Fundação:</label>
            <div class="col-sm-5 ">
                <p-calendar id="input-data-fundacao" [(ngModel)]="cliente.data_fundacao" name="fundacao" dateFormat="dd/mm/yy" [maxDate]="maxDate"
                    [disabled]="production" #fundacao="ngModel" showButtonBar="true"  dateFormat="dd/mm/yy" [locale]="abaIdentificadorComponentPresenter.abaIdentificacao.ptBR" (onInput)="maskCalendar($event)" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2200" ></p-calendar>
            </div>
        </div>

        <div id="div-form-email" class="form-group">
            <label id="label-form-inserting-email" for="input-email" class="col-sm-3 control-label">Email:</label>
            <div id="div-form-inserting-col-sm5-email" class="col-sm-5">
                <input type="email" class="form-control" id="input-email" name="input-email" [(ngModel)]="cliente.email" #email="ngModel" email
                    placeholder="email@provedor.com">
            </div>
        </div>        

        <div class="form-group">
            <label for="porte" class="col-sm-3 control-label">Porte:</label>
            <div class="col-sm-5">
                
                <select [disabled]="updateClienteForm || production" class="form-control" [(ngModel)]="cliente.sigla_porte" name="porte" required>
                    <option value="" selected>Selecione</option>
                    <option *ngFor="let item of abaIdentificadorComponentPresenter.abaIdentificacao.tipoPortes" value="{{item.value}}">{{item.label}}</option>
                  </select>
                
            </div>
        </div>
        
		<div class="form-group" >
            <label for="conglomerado" class="col-sm-3 control-label">Integrante de Conglomerado:</label>
            <div class="col-sm-5">
                <span *ngFor="let radio of abaIdentificadorComponentPresenter.abaIdentificacao.radioGlomerados ; let idx = index">
                    <input class="form-control" class="pull-left" type="radio" id="input-integrante-conglomerado-{{idx}}" name="identGroup" [value]="radio.id" [checked]="radio.ativo"> <span style="margin-left: 2px"> {{ radio.description }} </span>
                    &nbsp;
                </span>
            </div>
		</div>
      
        <div class="box-footer">
            <button id="btn-salvar" type="submit" [disabled]="!formPJ.valid" class="btn btn-primary pull-right" *ngIf="inserting || updateClienteForm" (click)="onInsertUser()">Salvar</button>
            <button id="btn-cancelar" type="submit" class="btn btn-default pull-right" (click)="cancel()" *ngIf="inserting" style="margin-right:10px">Cancelar</button>
        </div>
    </form>

</div>