<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="box box-primary" >
          <div class="content">
          <div class="box-header with-border">
              <h3 class="box-title">Cadastro Função Documental</h3>
          </div>
          
          <div *ngIf="exibirMensagem" class="alert alert-{{tipoMensagem}} alert-dismissible col-md-12">
            <h4><i class="fa fa-{{tipoIcone}}"></i>&nbsp;&nbsp;Atenção!</h4>
                {{ mensagem }}
          </div>
          <div *ngIf="telaCadastro" id="incluir"  >
            <form #f="ngForm" >
              <div class="box-body"> 

                <div *ngIf="emModoEditar" class="row">
                  <div class="form-group col-md-6">
                    <i class="fa fa-4x fa-archive text-primary pull-left" aria-hidden="true"></i>
                    <label class="text-primary title-label">ID</label>
                    <p class="text-muted font-3">{{ entidade.identificador_funcao_documental }}</p>
                  </div>
                  <div class="form-group col-md-6">
                    <i class="fa fa-4x fa-clock-o text-primary pull-left" aria-hidden="true"></i>
                    <label class="text-primary title-label">Data da última atualização</label>
                    <p class="text-muted font-3">{{ entidade.data_hora_ultima_alteracao }}</p>
                  </div>
                </div>                

                <div class="row">
                  <div class="form-group col-md-8">
                      <label for="nome">Nome:</label>
                      <input class="form-control" id="nome" [(ngModel)]="entidade.nome_funcao_documental" name="nome" autofocus
                        placeholder="Nome" required #nome="ngModel" minlength="5" oninput="this.value = this.value.toUpperCase()">
                      <div *ngIf="!f.pristine && !nome.valid && nome.touched" class="alert alert-danger">
                          Nome não informado ou não tem no mínimo 5 caracteres!
                      </div>
                  </div>
                </div>
                <div class= "row">
                  <div class="form-group col-md-4">
                    <label for="icPae">Uso Processo Administrativo:</label>
                    <div>
                      <label class="switch">
                        <input class="contato-select form-control" name="icPae" type="checkbox" [(ngModel)]="usoPae">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    
                  </div>
                  
                  <div class="form-group col-md-4">
                    <label for="icDossie">Uso Dossiê Digital:</label>
                    <div>
                      <label class="switch">
                        <input class="contato-select form-control" name="icDossie" type="checkbox" [(ngModel)]="usoDossieDigital">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="icNegocio">Uso Apoio ao Negócio:</label>
                    <div>
                      <label class="switch">
                        <input class="contato-select form-control" name="icNegocio" type="checkbox" [(ngModel)]="usoApoioNegocio">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="tiposDoc">Tipos Documento:</label>
                  <div>
                    <p-dropdown  name="tiposDoc" [style]="{'width': '350px'}" [disabled]="naoPodeIncluirTipoDocumento" (onChange)="mudouTipoDocumento()" filter="true"  [options]="tiposDocumento" [(ngModel)]="tipoDocumentoSelecionado">
                    </p-dropdown>
                    <button type="button" class="btn btn-default" [disabled]="naoPodeIncluirTipoDocumento" (click)="incluirDocumento()"  >
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
                <div class="no-padding col-md-12">
                  <p-dataTable sortField="nome_tipo_documento" [value]="tiposDocumentoView" emptyMessage="Não existem dados cadastrados"
                    [rowsPerPageOptions]="[5,10,15,20]" [rows]="15" [paginator]="true" [style]="{'margin-right': '20px'}">
                      <p-column field="identificador_tipo_documento" sortable="true" header="ID" [style]="{'width':'8%'}"></p-column>
                      <p-column field="nome_tipo_documento" sortable="true" header="Nome" [style]="{'width':'84%'}"></p-column>
                      <p-column header="Ações" [style]="{'width':'8%'}">
                        <ng-template let-col let-tipo="rowData" pTemplate="body">
                          <a name="btn-excluir-tipoDoc" class="btn btn-link btn-xs" (click)="excluirTipoDoc(tipo)" 
                            data-placement="top">
                            <span class="glyphicon glyphicon-trash"></span>
                          </a>
                        </ng-template>
                      </p-column>
                    </p-dataTable>
                </div>
             
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="cancelar(f)" >Voltar</button>
                  <button type="button" name="submitModal" (click)="salvar(f)" [disabled]="!f.valid" class="btn btn-primary">Gravar</button>
              </div>
            </form>
            
          </div>
          <div *ngIf="!telaCadastro">
              <button style="margin-top: 10px; margin-left: 15px; margin-bottom: 8px" type="button" name="novo" (click)="abrirModal()" class="btn btn-primary">Nova Função Documental</button>
            <div class="" style="padding:4px 10px;border-bottom: 0 none">
              <i class="fa fa-search" style="margin:10px 10px 10px 10px"></i>
              <input #gb type="text" pInputText size="50" placeholder="Filtro Global">
            </div> 
            <p-dataTable [value]="itens" emptyMessage="Não existem dados cadastrados" [globalFilter]="gb" #dt [rows]="20"
              [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]" sortField="identificador_funcao_documental" sortOrder="1" [style]="{'margin-right': '20px'}">
              <p-column field="identificador_funcao_documental" sortable="true" header="ID" [style]="{'width':'6%', 'text-align':'center'}"></p-column>
              <p-column field="nome_funcao_documental" sortable="true" header="NOME" [style]="{'width':'30%', 'text-align':'left'}"></p-column>
              <p-column header="USO PROCESSO ADMIN." [style]="{'width':'10%','text-align':'center'}">
                <ng-template let-dados="rowData" pTemplate="body">
                    {{dados.indicador_processo_administrativo == true? 'Sim': 'Não'}}
                </ng-template>
              </p-column>
              <p-column header="USO DOSSIÊ" [style]="{'width':'10%','text-align':'center'}">
                  <ng-template let-dados="rowData" pTemplate="body">
                      {{dados.indicador_dossie_digital == true? 'Sim': 'Não'}}
                  </ng-template>
              </p-column>
              <p-column [style]="{'width':'10%','text-align':'center'}" header="USO NEGÓCIO" >
                  <ng-template let-dados="rowData" pTemplate="body">
                      {{dados.indicador_apoio_negocio == true? 'Sim': 'Não'}}
                  </ng-template>
  
              </p-column>

              <p-column header="AÇÕES" [style]="{'width':'6%',  'text-align':'center'}">
                  <ng-template let-col let-dados="rowData" pTemplate="body">
                    <a name="btn-excluir" class="btn btn-link btn-xs" (click)="excluir(dados,f)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a name="btn-alterar" class="btn btn-link btn-xs" (click)="alterar(dados)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </ng-template>
              </p-column>
            </p-dataTable>
          </div>
          <p-confirmDialog id="modalConfirma" header="Confirmação" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton label="Não" icon="fa fa-close" (click)="cd.reject()"></button>
                <button type="button" pButton label="Sim" icon="fa fa-check"  (click)="cd.accept()"></button>
            </p-footer>
        
          </p-confirmDialog>
          
        
        </div>  


        </div>
    </div>
    </div>
    </section>