/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap/css/bootstrap.min.css";
@import "assets/font-awesome/font-awesome.min.css";
@import "assets/ionicons/ionicons.min.css";
@import "assets/adminLTE/plugins/iCheck/square/blue.css";
@import "assets/adminLTE/css/AdminLTE.min.css";
@import "assets/adminLTE/css/skins/skin-blue-light.min.css";
@import "assets/css/arquitetura.css";
@import "assets/adminLTE/plugins/daterangepicker/daterangepicker.css";
@import "assets/adminLTE/plugins/select2/select2.min.css";
@import 'material-icons/iconfont/material-icons.css';

/* ibm-plex-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/ibm-plex-sans/ibm-plex-sans-v7-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans'), local('IBMPlexSans'),
         url('assets/fonts/ibm-plex-sans/ibm-plex-sans-v7-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/ibm-plex-sans/ibm-plex-sans-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/ibm-plex-sans/ibm-plex-sans-v7-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/ibm-plex-sans/ibm-plex-sans-v7-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/ibm-plex-sans/ibm-plex-sans-v7-latin-ext_latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
  }

.pull-rigth {
    float: right;
}

.errosGlobal-menu .dropdown-menu {
    z-index: 99999;
    background: white;
}

.ui-tooltip.ui-tooltip-top {
    z-index: 9999999 !important;
}

.ui-tooltip .ui-tooltip-text {
    background: rgb( 0, 0, 0) !important;
}

.ui-tooltip.ui-tooltip-left {
    z-index: 9999999 !important;
}

.ui-tooltip.ui-tooltip-right {
    z-index: 9999999 !important;
}

.ui-tooltip.ui-tooltip-bottom {
    z-index: 9999999 !important;
}

.box .overlay {
    display: none;
}

.modal-backdrop {
    z-index: 99999;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.content {
    padding: 0px !important;
    margin: 0px !important;
}
/* Draggable*/

.drag-border {
    border: #ff525b solid 2px;
}

.labelId {
    color: rgb(119, 117, 117);
    margin-top: 5px;
    font-size: 17px;
    font-weight: 600;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    border-width: 0 !important;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    border: #3c8dbc solid 2px;
}

.drag-over-border {
    border: #229635 solid 2px;
}

.drag-transit {
    border: #3500FF solid 2px;
}

.ui-widget {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}

/* Resolvendo CSS para Tab View */
.ui-widget-header {
    border: none;
}

div.ui-tabview-panels {
    float: left;
    width: 100%;
}

.box-prev.with-border{
    border:1px solid #f4f4f4
}

.ui-widget-content div[role="tabpanel"] .pull-right.row.novoDocumento a {
    color: #ffffff ;
}

div.ui-tabview-panels form .form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: 1px solid rgb(0, 90, 156);
    background-color: #fff;
    background-image: none;
    border: 1px solid 1px solid rgb(0, 90, 156);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

div.ui-tabview-panels form select.form-control {
    height: 30px;
}

div.ui-tabview-panels form .form-control[disabled], 
div.ui-tabview-panels form .form-control[readonly], 
div.ui-tabview-panels form fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

div.ui-tabview.ui-widget.ui-widget-content.ui-corner-all.ui-tabview-top{

    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0px 15px !important;

}

ul.ui-tabview-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    float: left !important;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    list-style: none;
    width:100%;
}

ul > li.ui-state-default.ui-corner-top.ui-tabview-selected:first-of-type {
    margin-left: 0;
}

.ui-state-active {
    border-top-color: #3c8dbc !important;
}

ul > li.ui-state-default.ui-corner-top.ui-tabview-selected {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    float: left;
    position: relative;
    display: block;
}

/** Resolvendo CSS para o conteudo das tab views */
div.ui-tabview-panel.ui-widget-content {
    background: #fff;
    padding: 10px 1px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 2px;
        margin-bottom: 0;
        text-align: right;
    }

    div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
        z-index: 10000 !important;
    }

    .fa-check-circle-green:before{
        content:"\f058";
        color: #00a65a;
    }

    .fa-check-circle-orange:before{
        content:"\f058";
        color: #c26d0c;
    }

    .fa-check-circle-gray:before{
        content:"\f111";
        color: gray;
    }

    .fa-circle-green:before{
        content:"\f111";
        color: green;
    }    

    .fa-circle-blue:before{
        content:"\f111";
        color: blue;
    }     

    .fa-circle-yellow:before{
        content:"\f111";
        color: yellow;
    }     

    .fa-circle-red:before{
        content:"\f111";
        color: red;
    }
    
    .fa-ban:before {
        color: red;
    }

    .fa-check-circle-red:before{
        content:"\f058";
        color: red;
    }

    .fa-circle-gray:before{
        content:"\f111";
        color: gray;
    }

    .fa-times-circle-red:before{
        content:"\f132";
        color: red;
    }

    .fa-exclamation-triangle-yellow:before{
        content:"\f071";
        color: yellow;
    }

    #corpo-arvore .fa-shield:before {
        color: #df880df0;
    }

}
.gray-border {
    border: 2px solid #ddd;
}

.ui-tree {
    width: auto !important;
    border: none;
}

.cor-fonte-widget-div {
    color: #fff !important;
}
dialog-wrapper {
    z-index: 999999;
    position: absolute;
}
.modal {
    z-index: 99998;
}
    .modal-body {
        overflow: auto;
    }
.sublinhadoRemovido {
    text-decoration: line-through red !important;
}
.showOpc {
    opacity: 0.5;
}
/*Estilo do cabeçalho da arvore de documentos*/
.box-header-arvore {
    background: rgb(246, 247, 249);
    border: 1px solid rgb(207, 208, 210);
    margin: 15px 0px 5px 0px;
    padding: 5px 5px;
}

/*cor da pasta da arvore de documentos fechada*/
.ui-treenode-icon .fa, .fa-fw, .fa-folder {
    color: rgb(91, 180, 220) !important;
}

/*cor da pasta da arvore de documentos aberta*/
.ui-treenode-icon .fa, .fa-fw, .fa-folder-open {
    color: rgb(0, 90, 156) !important;
}

/*Oculta a tag*/
.hide{
    display: none;
}

/* Começando o estilo da aba Documento dos DOSSIÊ */
/* Estilo de indentificacao Dossie */
.box-header {
    padding: 10px 10px 0px 10px;
}
.corpoIndentificador {
    width: 70%;
    background: rgb(246, 247, 249);
    border: 1px solid rgb(207, 208, 210);
    padding: 4px 10px 2px 10px !important;
    margin-bottom: 12px;
    margin-left: 15px;
}

.espaco {
    padding: 0px 2px ;
}
.paddingVazio {
    padding: 0;
}
.mesmaLinha {
    display: inline-block;
    vertical-align: middle;
}
.divIdentificador, .corTexto{
    color: rgb(0, 90, 156);
}
    .colunaDivisor {
        width: 45%;
    }
    .tituloApresentacao {
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
    }
.ui-radiobutton {
    width: 18px !important;
}
/* Estilo toggle checkbox */
.tamanhoCorpToogle {
    display: inline-block;
    padding-left: 10px;
}
#corpPrincipalVisualizar {
    padding-right: 6px;
}
.corpoSwitch .switch, .corpoSwitch span, .corpoSwitch label {
    display: inline-block;
    vertical-align: middle;
}
    .switch {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 16px;
        margin-bottom: 3px;
    }
    
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before { 
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        -webkit-transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #034f8a;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }  
    .slider.round:before {
        border-radius: 50%;
    }
    .qtdClassificar {
        padding: 2px 6px;
        background: rgb(0, 90, 156);
        color: rgb( 255, 255, 255);
        border-radius: 0.5em;
    }
    .tamanhoIcone {
        width: 15px;
        height: 15px;
    }

  /* Estilo visualizar Documentos Dossie */
  
.btn-salvar, .btn-salvar:active, .btn-salvar:checked, .btn-salvar:focus {
    background-color: rgb(240, 143, 29);
    border-color: rgb(218, 102, 7);
    color: rgb(255, 255, 255);
}
    .btn-salvar:hover {
        background-color: rgb(218, 102, 7);
        border-color: rgb(161, 91, 10);
        color: rgb(255, 255, 255);
    }
.espacoRigth {
    margin-right: 6px
}
.espacoLeft {
    margin-left: 6px
}
.corpoVisualizacao .ui-widget-content{
    border: none;
    padding: 0;
}
.corpoVisualizacao .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover {
    background: rgb(206, 235, 248);
    color: rgb(0, 90, 156);
}
.corpoVisualizacao legend, .corpoVisualizacaDossieProduto legend {
    border: none;
    background: rgb(206, 235, 248);
    color: rgb(0, 90, 156);
    border-bottom: 3px solid rgb(0, 90, 156);
    font-weight: bold;
}
.corpoVisualizacaDossieProduto .ui-datatable .ui-datatable-header {
    background: rgb(60, 141, 188);
    color: rgb( 255, 255, 255);
    font-size: 1.3em;
    padding: 0.2em 0.05em;
    margin-bottom: 2px;
}
    .corpoVisualizacaDossieProduto div.ui-fieldset-content {
        position: relative;
    }
    .corpoVisualizacaDossieProduto .ui-datatable th.ui-state-default {
        background: rgb(206, 235, 248);
    }
    .corpoVisualizacaDossieProduto .ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td {
        color: rgb(60, 141, 188);
        font-weight: bolder;
    }
    .corpoVisualizacaDossieProduto .ui-widget-content {
        color: rgb(60, 141, 188);
    }
    .corpMultSelect .select2-container--default.select2-container--focus .select2-selection--multiple {
        overflow: auto !important;
        max-height: 120px !important;
    }
.corpSelect {
    width: 100%;
    position: relative;
}
    .corpSelect .selectArvore, .corpSelect .selectTipoDocumento {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 12px;
    }
    .corpSelect .selectArvore {
        width: 59% !important;
        margin-right: 2.5%;
    }
    .corpSelect .selectTipoDocumento {
        width: 38% !important;
    }
        .corpSelect .select2-container {
            width: 100% !important;
        }
/* Estilo Global analizar Impacto */
.corpSelect > [hidden] {
    display: none !important;
}
.paddingZero {
    padding: 0;
}
.textRight {
    text-align: right;
}
.ui-widget-content a {
    color: rgb(0, 90, 156);
    cursor: pointer;
}
.ui-widget-content a:hover, .ui-widget-content a:active, .ui-widget-content a:focus {
    color: rgb(114, 175, 210);
}
.bordeBottom {
    border-bottom: 3px solid rgb(0, 90, 156);
}

/* Customize the label (the container) */
.containerChek {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
  }
  
  /* Hide the browser's default checkbox */
  .containerChek input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(0, 90, 156);
  }
  
  /* On mouse-over, add a grey background color */
  .containerChek:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerChek input:checked ~ .checkmark {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 90, 156);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerChek input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerChek .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 90, 156);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
.select2-container {
    z-index: 999999;
}
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: rgb(0, 122, 195);
        border: 1px solid rgb(0, 122, 195);
    }
        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: rgb(255, 255, 255);
            margin-right: 5px;
        }
.btn {
    margin-left: 8px
}
input.relacionadoVp {
    width: 100%;
    display: block;
    padding: 6px 5px;
    border-radius: 0.03em;
}
.boxCombo div span.select2-container, .boxComboUmvisualizador  div span.select2-container{
    width: 100%!important;
    z-index: 9999;
}
.acoesWizard .select2-container{
    width: 140px !important;
    margin-left: 1%;
    z-index: 9999;
}
.centralizarHeight{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.btn-success {
    background-color: rgb(240, 143, 29);
    border-color: rgb(218, 102, 7);
    border: none;
}
    .btn-success:hover {
        background-color: rgb(218, 127, 20);
        border-color: rgb(218, 127, 20);
        border: none;
    }
    .btn-success.focus, .btn-success:focus {
        background-color: rgb(240, 143, 29) !important;
        border: none;
    }

.asteriscoVermelho {
    color: rgb(246, 0, 0);
}

.labelDestaqueNegrito {
    font-weight: bold;
    font-size: 17px;
}

.labelNegrito {
    font-weight: bold;
    font-size: 12px;
}

.ml10{
    margin-left: 10px;
}

.alertTratamento .alert {
    margin-bottom: 20px;
    border: 1px solid rgb(13, 74, 110) !important;
    border-radius: 4px;
    position: fixed !important;
    z-index: 9999;
    width: 83% !important;
    top: 1% !important;
    box-shadow: 0.1em 0.2em rgba( 0, 0, 0, 0.5) !important;
}

.error {
    color: red;
    font-weight: bold;
 }

 .help-descricao-doc{
     display: inline-flex;
     color: rgb(0, 90, 156);
     font-size: 13px;
 }
    #help-label-doc-azul{
        color:rgb(0, 90, 156);
        margin-right: 10px;
    }
    #help-label-doc-azul_escuro{
        color:rgb(0, 90, 156);
        margin-right: 10px;
    }
    #help-label-doc-azul_claro{
        color:rgb(24, 165, 253);
        margin-right: 10px;
    }
     #help-label-doc-amarelo{
         color: #e4c200;
         margin-right: 10px;
     }
     #help-label-doc-vermelho{
         color: rgb(170, 6, 6);
         margin-right: 10px;
     }
     #help-label-doc-verde{
         color: rgb(0, 166, 80);
         margin-right: 10px;
     }
     #help-label-doc-cinza{
         color: rgb(142, 142, 142);
         margin-right: 10px;
     }
     #help-label-doc-ocre {
        color: rgb(241, 137, 0);
        margin-right: 10px;
     }
     
     .corpFormularioModal .ui-fieldset .ui-fieldset-legend {
         border: none !important;
         background: rgb(206, 235, 248) !important;
         color: rgb(0, 90, 156) !important;
         border-bottom: 3px solid rgb(0, 90, 156) !important;
         font-weight: bold !important;
     }
     
.cabecalho-dossie fieldset {
    margin: auto;
    padding: 4px;
}
/*
 *  STYLE SCROLL
 */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.9);
	/* border-radius: 10px; */
	background-color: #CCCCCC;
}

    ::-webkit-scrollbar
    {
        width: 7px;
        height: 7px;
        background-color: #F5F5F5;
    }

        ::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: rgb(11, 110, 151);
            background-image: -webkit-linear-gradient(90deg,
                                                    transparent,
                                                    rgba(0, 0, 0, 0.4) 50%,
                                                    transparent,
                                                    transparent)
        }
        .ui-fieldset .ui-fieldset-legend {
            border: none !important;
            background: rgb(206, 235, 248) !important;
            color: rgb(0, 90, 156) !important;
            border-bottom: 3px solid rgb(0, 90, 156) !important;
            font-weight: bold !important;
        }

        #temporizador-tratamento .ui-slider-horizontal .ui-slider-handle {
            display: none !important;
        }
        #temporizador-tratamento .ui-slider .ui-slider-range{
            background: #f08f1d;
        }
        #temporizador-tratamento .ui-state-disabled, #temporizador-tratamento .ui-widget:disabled{
            opacity: inherit;
        }

.modal-header {
    background: whitesmoke !important;
}

.label-title-header-modal {
    font-weight: bold !important;
    font-size: 20px !important;
    font-family: 'Source Sans Pro' ,sans-serif !important;
    color: #0c4477 !important;
}

/*
 *  CSS para CRUDs
 */
.crud-container {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 15px !important;
}

.crud-title {
    font-size: 23px !important;
    padding-right: 5px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    font-family: 'Source Sans Pro' ,sans-serif !important;
    font-weight: bold !important;
    color: gray !important;
    margin-top: 15px !important;
}

.crud-line-bottom-grid { 
    display: block !important;
    margin-top: 1px !important;
    margin-bottom: 0.5em !important;
    margin-left: 0px !important;
    margin-right: auto !important;
    border-style: inset !important;
    border-width: 1px !important;
    border-color: #80808040 !important;
    width: 99% !important;
  }

  .crud-line-bottom-form { 
    display: block !important;
    margin-top: 1px !important;
    margin-bottom: 0.5em !important;
    margin-left: 0px !important;
    margin-right: auto !important;
    border-style: inset !important;
    border-width: 1px !important;
    border-color: #3c8dbc !important;
    width: 99% !important;
  }

  .crud-border {
    border-top: 3px solid #3c8dbc !important;
  }

  .crud-align {
    width: 98% !important;
    margin-left: 1% !important;
  }

  .crud-style {
    height: 60px !important;
    background-color: #f5f5f5 !important;
  }

  .crud-style-grid-dinamica {
    background-color: #f5f5f5 !important;
  }

  .crud-background {
    background-color: #f5f5f5 !important
  }

  .crud-table th {
    background: rgb(206, 235, 248) !important;
    font-size: 13px !important;
    font-weight: 900 !important;
    color: rgb(0, 90, 156) !important;
    border: none !important;
    border-bottom: 3px solid rgb(0, 90, 156) !important;
    text-align: center !important;
}

.crud-table tr td {
    border: none !important;
    border-bottom: 1px solid #ece4e4 !important;
    text-align: center !important;
}

.crud-table .ui-widget-header {
    background: rgb(206, 235, 248) !important;
}

.crud-table .ui-paginator {
    background: #80808042 !important;
}

.crud-table .ui-table-sort-icon {
    background: none !important;
    padding: 3px !important;
}

.crud-table .ui-sortable-column-icon {
    color: #005a9c !important;
}

.crud-table .ui-table-summary {
    background: #c0c0c096 !important;
    height: 30px !important;
}

.crud-label-title-form {
    font-size: 16px !important;
    font-family: 'Source Sans Pro' ,sans-serif !important;
    color: #0c4477 !important;
}

.W-5 {
    width: 5%;
}

.W-7 {
    width: 7%;
}

.W-10 {
    width: 10%;
}

.W-15 {
    width: 15%;
}

.W-35 {
    width: 35%;
}

.W-20 {
    width: 20%;
}

fieldset.crud-card-fieldset {
    border: 2px groove #d2d6de73 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.crud-card-title {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    font-size: 18px !important;
    font-family: 'Source Sans Pro' ,sans-serif !important;
    color: #0c4477 !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.form-group.has-error label {
    color: #dd4b39 !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>i.material-icons {
    font-size: 18px !important;
}

.box {
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.06);
}

.dropdown-tipo-pessoa::ng-deep .ui-dropdown {
    width: 100% !important;
}