.corpoFilaComplemento {
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
    width: 49%
}

.corpoFilaComplemento .ui-accordion-header{
    border: none;
    margin-top: 5px !important;
}

.corpoFilaComplemento .ui-accordion .ui-accordion-header a {
    background: rgb(255, 255, 255) !important;
    color: rgb(6, 72, 120) !important;
    font-weight: bold !important;
}

.corpoFilaComplemento .ui-accordion .ui-accordion-toggle-icon, .corpoFilaComplemento .ui-accordion .ui-accordion-header-text {
    float: right !important;
}

.corpoFilaComplemento .pi {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.corpoFilaComplemento .pi-caret-right:before {
    content: "\f067";
}

.corpoFilaComplemento .pi-caret-down::before {
    content: "\f068";
}

h2 {
    margin: 0;
    font-weight: bold;
    font-size: 23px !important;
}

div.boxheader {
    display: inline-block;
    vertical-align: middle;
}

div.boxNumearl {
    width: 24%;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    position: relative;
}

.subArccodionComplemento .ui-accordion-toggle-icon {
    position: relative !important;
}

.subArccodionComplemento.ng-star-inserted {
    display: block;
    width: 100%;
    position: relative;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(6, 72, 120);
}

div.boxInformativo {
    width: 71%;;
}
   
.oculatarExpandir  .pi {
    display: none !important;
}

div.boxheaderInterno {
    float: left;
}

article.margimTop{
    margin-top: 30px;
}

div.spaceLeft{
    left: 5% !important;
}

div.boxNumeradorProcesso {
    background: rgb(6, 72, 120);
    color: white;
    padding: 10px 16px;
    position: relative;
    top: -10px;
    border-radius: 0.6em;
    margin-right: 5px;
    margin-left: -13px;
}

div.paragrafoFase {
    margin-left: 23px;
}

div.linkInterno {
    float: right;
}

.cursorPointer{
    cursor: pointer;
}