<div class="box box-solid collapsed-box">
    <div class="box-header with-border box-primary" data-widget="collapse">
      <div class="box-tools btn btn-box-tool fa fa-plus">
      </div>
      <h3 class="box-title">Dados Pessoais</h3>
    </div>
    <div class="box-body no-padding">
      <div class="col-md-12">
        <div class="col-md-6">
          <label>CPF:</label>
          <p>{{cpf | kzCpf}}</p>
        </div>
        <div class="col-md-6">
          <label>Nome:</label>
          <p>{{sicliUser.dadosBasicos.nome}}</p>
        </div>
  
        <div class="col-md-6">
          <label>Data Nascimento:</label>
          <p>{{sicliUser.dadosBasicos.dtNascimento}}</p>
        </div>
        <div class="col-md-6" *ngIf="sicliUser.dadosBasicos.naturalidade != null">
          <label>Naturalidade:</label>
          <p>{{sicliUser.dadosBasicos.naturalidade}}</p>
        </div>
       
        <div class="col-md-6">
          <label>Estado Civil:</label>
          <p>{{sicliUser.dadosBasicos.estadoCivil}}</p>
        </div>
        <div class="col-md-6">
          <label>Sexo:</label>
          <p>{{sicliUser.dadosBasicos.sexo ? sicliUser.dadosBasicos.sexo : 'NÃO INFORMADO'}}</p>
        </div>
  
        <div class="col-md-6">
          <label>Nome Mãe:</label>
          <p>{{sicliUser.dadosBasicos.nomeMae != null ? sicliUser.dadosBasicos.nomeMae : 'NÃO INFORMADO'}}</p>
        </div>
        <div class="col-md-6">
          <label>Nome Pai:</label>
          <p>{{sicliUser.dadosBasicos.nomePai != null ? sicliUser.dadosBasicos.nomePai : 'NÃO INFORMADO'}}</p>
        </div>
      </div>
    
  
    <!-- Titulo Eleitor -->
    <div class="col-md-12" *ngIf="sicliUser.documentos.titulo_eleitor.length">
      <div class="col-md-12" *ngFor="let item of sicliUser.documentos.titulo_eleitor;let idx = index">
        <label>Titulo de Eleitor:</label> 
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Número:</label>
            <p>{{item.codigoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Emissão:</label>
            <p>{{item.dtEmissao}}</p>
          </div>
  
          <div class="col-md-4">
            <label>UF:</label>
            <p>{{item.uf}}</p>
          </div>
          <div class="col-md-4">
            <label>Orgão Emissor:</label>
            <p>{{item.orgaoEmissor}}</p>
          </div>
        </div>
        </div>
    </div>
  
    <!-- Titulo Eleitor -->
    <div class="col-md-12" *ngIf="sicliUser.documentos.CNH.length">
      <div class="col-md-12" *ngFor="let item of sicliUser.documentos.CNH;let idx = index">
        <label>CNH:</label> 
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Número:</label>
            <p>{{item.codigoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Emissão:</label>
            <p>{{item.dtEmissao}}</p>
          </div>
  
          <div class="col-md-4">
            <label>UF:</label>
            <p>{{item.uf}}</p>
          </div>
          <div class="col-md-4">
            <label>Orgão Emissor:</label>
            <p>{{item.orgaoEmissor}}</p>
          </div>
        </div>
        </div>
    </div>
  
    <!-- Titulo Eleitor -->
    <div class="col-md-12" *ngIf="sicliUser.documentos.CTPS.length">
      <div class="col-md-12" *ngFor="let item of sicliUser.documentos.CTPS;let idx = index">
        <label>CNH:</label> 
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Número:</label>
            <p>{{item.codigoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Emissão:</label>
            <p>{{item.dtEmissao}}</p>
          </div>
  
          <div class="col-md-4">
            <label>UF:</label>
            <p>{{item.uf}}</p>
          </div>
          <div class="col-md-4">
            <label>Orgão Emissor:</label>
            <p>{{item.orgaoEmissor}}</p>
          </div>
        </div>
        </div>
    </div>
   
    <div class="col-md-12" *ngIf="sicliUser.profissaoSIRIC.length">
      <div class="col-md-12" *ngFor="let item of sicliUser.profissaoSIRIC.LENGTH;let idx = index">
        <label>Profissão SIRIC</label>
        <div class="col-md-12">
          <div class="col-md-6">
            <label>Código:</label>
            <p>{{item.nuOcupacao}}</p>
          </div>
          <div class="col-md-6">
            <label>Descrição:</label>
            <p>{{item.nomeOcupacao}}</p>
          </div>
  
          <div class="col-md-4">
              <label>Data Início:</label>
              <p>{{sicliUser.dtInicio}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Termino:</label>
            <p>{{sicliUser.dtFim}}</p>
          </div>
         </div>
        </div>
      </div>
  
      <!-- NIS -->
      <div class="col-md-12" *ngIf="sicliUser.documentos.NIS.length">
       <div class="col-md-12" *ngFor="let item of sicliUser.documentos.NIS;let idx = index">
       <label>NIS: </label>
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Número:</label>
            <p>{{item.codigoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Emissão:</label>
            <p>{{item.dtEmissao}}</p>
          </div>
          <div class="col-md-4">
            <label>UF:</label>
            <p>{{item.uf}}</p>
          </div>
          <div class="col-md-4">
            <label>Orgão Emissor:</label>
            <p>{{item.orgaoEmissor}}</p>
          </div>
        </div>
        </div>
      </div>
  
      <!-- Titulo Eleitor -->
    <div class="col-md-12" *ngIf="sicliUser.documentos.certidao_nascimento.length">
      <div class="col-md-12" *ngFor="let item of sicliUser.documentos.certidao_nascimento;let idx = index">
        <label>CNH:</label> 
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Número:</label>
            <p>{{item.codigoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Emissão:</label>
            <p>{{item.dtEmissao}}</p>
          </div>
  
          <div class="col-md-4">
            <label>UF:</label>
            <p>{{item.uf}}</p>
          </div>
          <div class="col-md-4">
            <label>Orgão Emissor:</label>
            <p>{{item.orgaoEmissor}}</p>
          </div>
        </div>
        </div>
    </div>
  
      <!--Passaporte -->
      <div class="col-md-12" *ngFor="let item of sicliUser.documentos.passaporte; let idx = index">
        <label>Passaporte : {{idx + 1}}</label>
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Número:</label>
            <p>{{item.codigoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Emissão:</label>
            <p>{{item.dtEmissao}}</p>
          </div>
          <div class="col-md-4">
            <label>UF:</label>
            <p>{{item.uf}}</p>
          </div>
          <div class="col-md-4">
            <label>Situação:</label>
            <p>{{item.situacaoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Orgão Emissor:</label>
            <p>{{item.orgaoEmissor}}</p>
          </div>
        </div>
      </div>
  
      <!-- Identidades -->
      <div class="col-md-12" *ngIf="sicliUser.documentos.RGI.length">
      <div class="col-md-12" *ngFor="let item of sicliUser.documentos.RGI; let idx = index">
        <label>Identidade : {{idx + 1}}</label>
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Número:</label>
            <p>{{item.codigoDocumento}}</p>
          </div>
          <div class="col-md-4">
            <label>Data Emissão:</label>
            <p>{{item.dtEmissao}}</p>
          </div>
          <div class="col-md-4">
            <label>UF:</label>
            <p>{{item.uf}}</p>
          </div>
          <div class="col-md-4">
            <label>Orgão Emissor:</label>
            <p>{{item.orgaoEmissor}}</p>
          </div>
        </div>
      </div>
    </div>
    
  
      
    </div>
  </div>