<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Vincular Pessoa</h4>
		</div>

		<div class="modal-body">
			<div class="box-body col-md-12">
				
				<div *ngIf="!inserting">
					<form>
						<div class="form-inline">
							<div class="pull-left  col-md-12 camposSelecionaveis">
								<div class="col-md-5" style="padding: 0;">
									<div class="col-md-12" style="padding-left: 0px;"><label>CPF/CNPJ</label></div>
									<div class="col-md-12" style="margin: 1px;"></div>
									<input id="consulta-cpfCnpj" name="consulta-cpfCnpj" class="form-control tamanhCpfCnpj" type="text"
										[(ngModel)]="cpfCnpj" (input)="maskCPfCnpj($event)" maxlength="18"
										[readonly]="habilitarConsulta" />
									<button id="filtra-cpf-cnpj" type="submit" name="submit" (click)="search()"
										class="btn btn-default btn-flat" [disabled]="verifyCpfCnpj()">
										<i class="fa fa-search"></i>
									</button>
									<div class="col-md-12" *ngIf="cpfCnpjObrigatorio" style="color: red">
										<label>CPF/CNPJ obrigatório</label>
									</div>
									<div id="cpfCnpjError" class="col-md-12" *ngIf="verifyCpfCnpj()" style="color: red">
										<label>{{tipoConsulta}}</label>
									</div>
									<div id="cpfCnpjError" class="col-md-12" *ngIf="naoEncoutrouDossieCliente"
										style="color: red">
										<label *ngIf="isCpfInForm()">Não existe dossiê para o cliente informado e o CPF não
											foi localizado junto a Receita Federal do Brasil.</label>
										<label *ngIf="!isCpfInForm()">Não existe dossiê para o cliente informado e o CNPJ
											não foi localizado junto a Receita Federal do Brasil.</label>
									</div>
								</div>
								<div class="col-md-7" style="padding: 0;" *ngIf="consultaRealizada">
									<div class="col-md-12" style="padding: 0;">
										<label>{{isCpfInForm() ? 'Nome' : 'Razão Social'}}:</label>
									</div>
									<div class="col-md-12" style="margin: 1px;"></div>
									<div class="col-md-12" style="padding: 0;">
										<input id="cliente-pessoa-nome" class="form-control" type="text" disabled
											[value]="nomeVinculo"
											style="width: 100%;">
									</div>
								</div>
							</div>

						</div>

						<div class="box-body col-md-12 camposSelecionaveis" *ngIf="consultaRealizada">
							<div class="col-md-6 selectTipo">
								<label>Tipo Relacionamento</label>
								<br />
								<p-dropdown 
									baseZIndex="999"
									appendTo="body" 
									inputId="idtiporelacionamento"
									selectId="idtiporelacionamento" 
									[filter]="true" 
									[options]="listaRelacionamentos"
									(onChange)="changeTipoRelacionamento()" 
									[(ngModel)]="tipoRelacionamento"
									#tipoRelacionamentoDrop
									placeholder="Selecione..." 
									optionLabel="label" 
									[autoWidth]="false" 
									[ngModelOptions]="{standalone: true}" 
									[style]="{width:'100%'}">
								</p-dropdown>
								<div *ngIf="tipoRelacionamentoObrigatorio" class="col-md-12 error" style="color: red">
									Tipo Relacionamento obrigatório
								</div>
							</div>
							<div class="col-md-6" *ngIf="consultaRealizada && clientePessoa && clientePessoa.tipo_relacionamento && clientePessoa.tipo_relacionamento.indica_relacionado" style="padding: 0;">
								<div class="col-md-12" style="padding: 0;">
									<label>Relacionado</label>
								</div>
								<div class="col-md-12" style="padding: 0;">
									<p-dropdown 
										id="relacionadoVinculo" name="relacionadoVinculo"
										baseZIndex="999"
										appendTo="body"
										[filter]="true"
										[options]="listaClienteCombo"
										(onChange)="changeRelacionado()"
										[(ngModel)]="tipoRelacionado"
										placeholder="Selecione..."
										optionLabel="label"
										[ngModelOptions]="{standalone: true}"
										[autoWidth]="false"
										[style]="{width:'100%'}">
									</p-dropdown>
								</div>

								<div *ngIf="relacionadoObrigatorio" class="col-md-12 error" style="color: red">
									Relacionado obrigatório
								</div>
							</div>
							<div class="col-md-6" *ngIf="consultaRealizada && clientePessoa && clientePessoa.tipo_relacionamento && clientePessoa.tipo_relacionamento.indica_sequencia">
								<div class="col-md-12" style="padding: 0;">
									<label>Sequência de Titularidade</label>
								</div>
								<div class="col-md-12" style="padding: 0;">
									<p-spinner id="seqTitularidade" name="seqtitularidade"
										[(ngModel)]="clientePessoa.sequencia_titularidade"
										pKeyFilter="int" [min]="1" [max]="300"></p-spinner>
								</div>
							</div>
						</div>
						<div class="box-body col-md-12" *ngIf="consultaRealizada">
							<formulario-generico [tipoFormulario]="tipoFormulario" [habilitaAlteracao]="true"
								[toogleFieldSet]="false" [legenda]="'Dados Adicionais'" 
								[hasClienteValido]="true" [campoFormulario]="campoFormulario"
								[habilitarMenssagem]="habilitarMenssagem"
								[messageFormularioVazio]="messageFormularioVazio"
								(formValidacaoChanged)="handleChangeFormValidacao($event)"
								(camposFormularioChanged)="handleChangeCampoFormulario($event)"></formulario-generico>
						</div>
					</form>
					<div class="modal-footer">
						<button id="cancelar-inclusao-pessoa" type="button" class="btn btn-default"
							(click)="cancel()">Cancelar</button>
						<button id="inserir-inclusao-pessoa" type="button" class="btn btn-primary pull-right"
							[disabled]="!habilitarBtnSalvar" (click)="confirm()">Salvar</button>
					</div>
				</div>
				<!-- fim consulta vinculo Pessoa -->


				<!-- SILCI PF -->
				<div *ngIf="inserting">
				<form #f="ngForm" class="form-horizontal" *ngIf="isCpfInForm() && inserting">
					<div class="form-group">
						<label for="cpf" class="col-sm-3 control-label">CPF: *</label>
						<div class="col-sm-5">
							<input id="sicli-cpf" class="form-control" id="cpf" type="text" disabled
								[ngModel]="clientePessoa.cpf" name="cpf" kzMask="999.999.999-99">
						</div>
					</div>

					<!-- NOME -->
					<div class="form-group">
						<label for="nome" class="col-sm-3 control-label">Nome: *</label>
						<div class="col-sm-5">
							<input id="cliente-pessoa-nome-sicli" class="form-control" id="nome" type="text"
								[disabled]="!inserting || insertingSicli" [(ngModel)]="clientePessoa.nome"
								#nome="ngModel" name="nome" required maxlength="255">
						</div>
					</div>

					<!-- Email -->
					<div id="div-form-email" class="form-group">
						<label id="label-form-inserting-email" for="input-email" class="col-sm-3 control-label">Email:</label>
						<div id="div-form-inserting-col-sm5-email" class="col-sm-5">
							<input type="email" class="form-control" id="input-email" name="input-email"  [(ngModel)]="clientePessoa.email" #email="ngModel" email
								placeholder="email@provedor.com">
						</div>
					</div>   

					<!-- Data Nascimento -->
					<div class="form-group">
						<label for="nascimento" class="col-sm-3 control-label">Data de Nascimento:</label>
						<div class="col-sm-5 ">
							<p-calendar id="data-nascimento" [(ngModel)]="dataNascimento" name="nascimento"
								dateFormat="dd/mm/yy" [maxDate]="maxDate" [locale]="ptBR" showButtonBar="true"
								[disabled]="insertingSicli" #nascimento="ngModel"
								(onInput)="maskCalendar($event)" [monthNavigator]="true" [yearNavigator]="true"
								yearRange="1900:2200"></p-calendar>
						</div>
					</div>

					<!-- NOME MAE -->
					<div class="form-group">
						<label for="nomeMae" class="col-sm-3 control-label">Nome da Mãe:</label>
						<div class="col-sm-5">
							<input class="form-control" id="nomeMae" type="text"
								[disabled]="!inserting || insertingSicli" [(ngModel)]="clientePessoa.nome_mae"
								#nomeMae="ngModel" name="nomeMae" maxlength="255">
						</div>
					</div>

					<div class="box-footer">
						<button id="salvar-pessoa" type="submit" class="btn btn-primary pull-right" *ngIf="inserting"
							[disabled]="!f.valid" (click)="onInsertUser()">Salvar</button>
						<button id="cancelar-pessoa" type="submit" class="btn btn-default pull-right"
							(click)="cancelInsert()" *ngIf="inserting" style="margin-right:10px">Cancelar</button>
					</div>
				</form>
				<!-- SICLI PJ -->
				<form #formPJ="ngForm" class="form-horizontal" *ngIf="!isCpfInForm() && inserting">
					<div class="form-group">
						<label for="cnpj" class="col-sm-3 control-label">CNPJ: *</label>
						<div class="col-sm-5">
							<input class="form-control" id="cnpj" type="text" disabled [ngModel]="clientePessoa.cnpj"
								name="cnpj" kzMask="99.999.999/9999-99">
						</div>
					</div>

					<!-- RAZAO SOCIAL -->
					<div class="form-group">
						<label for="razaoSocial" class="col-sm-3 control-label">Razão Social: *</label>
						<div class="col-sm-5">
							<input class="form-control" id="razaoSocial" required type="text" [disabled]="!inserting"
								[(ngModel)]="clientePessoa.razao_social" name="razaoSocial">
						</div>
					</div>

					<!-- RAZAO SOCIAL -->
					<div id="div-form-email" class="form-group">
						<label id="label-form-inserting-email" for="input-email" class="col-sm-3 control-label">Email:</label>
						<div id="div-form-inserting-col-sm5-email" class="col-sm-5">
							<input type="email" class="form-control" id="input-email" name="input-email"  [(ngModel)]="clientePessoa.email" #email="ngModel" email
								placeholder="email@provedor.com">
						</div>
					</div>   

					<div class="form-group">
						<label for="fundacao" class="col-sm-3 control-label">Data da Fundação:</label>
						<div class="col-sm-5">
							<p-calendar [(ngModel)]="valueDate" id="fundacao" name="fundacao" dateFormat="dd/mm/yy"
								[maxDate]="maxDate" [disabled]="!inserting" #fundacao="ngModel" showButtonBar="true"
								dateFormat="dd/mm/yy" [locale]="ptBR" (onInput)="maskCalendar($event)"
								[monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2200">
							</p-calendar>
						</div>
					</div>

					<!-- Porte -->
					<div class="form-group">
						<label for="porte" class="col-sm-3 control-label">Porte: *</label>
						<div class="col-sm-5">
							<select [disabled]="!inserting" class="form-control" [(ngModel)]="clientePessoa.sigla_porte"
								name="porte" required>
								<option value="" selected>Selecione</option>
								<option *ngFor="let item of tipoPortes" value="{{item.value}}">{{item.label}}</option>
							</select>
						</div>
					</div>

					<!-- Integrante de Conglomerado -->
					<div class="form-group">
						<label for="conglomerado" class="col-sm-3 control-label">Integrante de Conglomerado: </label>
						<div class="col-sm-8">
							<div class="ui-g-2">
								<p-radioButton name="conglomerado" [value]="true" label="Sim"
									[(ngModel)]="clientePessoa.conglomerado" inputId="opt1"></p-radioButton>
							</div>
							<div class="ui-g-2">
								<p-radioButton name="conglomerado" [value]="false" label="Não"
									[(ngModel)]="clientePessoa.conglomerado" inputId="opt2"></p-radioButton>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary pull-right"
							[disabled]="!formPJ.valid || !habilitarBtnSalvar" *ngIf="inserting"
							(click)="onInsertUser()">Salvar</button>
						<button type="submit" class="btn btn-default pull-right" (click)="cancelInsert()"
							*ngIf="inserting" style="margin-right:10px">Cancelar</button>
					</div>
				</form>
				</div>
			</div>

		</div>
	</div>