
<!--
	Aqui é definido o conteúdo apresentado pela tela do seu projeto (a parte visível).
	Cada tela do seu projeto define um estado. 
	Cada estado é composto por um controller (js) e uma tela (html)
	Os estados são definidos no App.js
	As páginas são armazenadas na pasta pages										
-->
<div class="bkgConsultar" ng-controller="PrincipalController" analytics-page="Página Principal">
			

	<div class="general" ng-controller="PrincipalController" analytics-page="Página Principal">
	        <img src="imgs/dossie.png" class="dossie" alt="Dossiê Digital" />
	    	<section>
		        <div class="top">
		          <img src="imgs/logo_caixa.png" alt="Caixa Econômica Federal" />
		        </div>
		        
		        <form novalidate id="formMain" name="formMain" tabindex="0">
				  <label for="cpf" style="margin-left: 30px;" class="label-cpf-consultar">{{ 'label.cpf' | translate}} </label>
				  <input id="numCpf2" type="cpf" ui-mask="999.999.999-99" onchange="disparaCPF(this, 'btnLocalizarcliente')" ng-model="container.numcpf" 
				  	title="{{ 'label.informe.o.cpf' | translate}}" ng-readonly="!true" ng-required="true" class="input-cpf-consultar theme-main-input-number-cpf"/>          	  
		          <button id="btnLocalizarcliente" ng-click="search()" loading="{{'label.processando' | translate}}" 
		        	placeholder="{{ 'label.clique.aqui.para.localizar.cliente' | translate}}" title="{{ 'label.clique.aqui.para.localizar.cliente' | translate}}"
		        		class="btbLocalizar pull-right">{{ 'label.localizar.cliente' | translate}}</button>
		        		
		        		
		        		
		        </form>
	      </section>
	      
	
	      <div id="cpf-help" class="alert alert-danger alert-dismissible message hide">
	        <button type="button" class="close"
	        	ng-click="addClassHide('cpf-help');"><span aria-hidden="true">&times;</span>
	        </button>
	        <strong>{{'label.cpf' | translate}}</strong> {{'label.invalido' | translate}}
	      </div>
	      
	      
	      <div id="error-div" class="alert alert-danger alert-dismissible message hide">
	        <button type="button" class="close"
	        	ng-click="addClassHide('cpf-notFound');"><span aria-hidden="true">&times;</span>
	        </button>
	      	<label id="error-autorizacao"></label>
	      </div>	      
	      
	    </div>
    
    </div>
    
