.inline-title{
    display: inline-flex;
    margin-bottom: 20px;
}

fieldset {
    margin-top: 5px;
    padding: 0 !important;
    border: none !important;
}

.fieldset-administrar-dossie legend{ 
    white-space: normal !important;
    text-align: center !important;
}

.fieldset-administrar-dossie .titulo-grid{
    width: 100%;
}

.btn-administrar-dossie {
    width: 150px;
}

.card-unidade {
    background-color: #337ab7;
    width: 80px;
    height: 22px;
}

.container-card-unidade {
    margin-left: 17px;
    margin-top: 1px;
    color: white;
}

.mt-10 {
    margin-top: 10px;
}

.btn-adicionar-unidade {
    background-color: #808080a3;
}