.icon-home:before {
    font-family: "FontAwesome" !important;
}

.wy-nav-side {
    background: #2980b9;
}

.rst-versions .rst-current-version {
    background-color: #f6832a;
    
}

.rst-versions {
    border-top: solid 10px #2980b9 !important;
}

