					<!--
					Aqui é definido o conteúdo apresentado pela tela do seu projeto (a parte visível).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas são armazenadas na pasta pages										
				-->
<div class="theme-main" ng-controller="SobreController" analytics-page="Página Sobre">
		<form id="formMain" name="formMain" tabindex="0">
   			<div class="row">
   				<div  class="coluna-esquerda col-xs-12 col-sm-2 col-md-2">
						<tr>
							<td><b><div style="text-align: left; color:#267fb9;">{{ 'LABEL.SOBRE' | translate}}</div></b>
								   <div style="text-align: left; color:#555a6d" >{{ 'label.sobre' | translate}}</div><br>
							</td>
						</tr>
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
				</div>
					<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
    			<span ncy-breadcrumb></span>
                        <!-- id:img - name:Imagem -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true}])'>
                            		<!-- 
                            			id: imgIcon013primosiogpinvertedsmallpng
                            			origem: /imgs/icon013_primo_siogp_inverted_small.png         
                            			estilo: col-xs-12
                            			alinhamento: text-center col-xs-12                 		
                            		-->
                                <div class="padding text-center col-xs-12 theme-main-img" align="center">
                                    <img class="img-responsive center-block" id="imgIcon013primosiogpinvertedsmallpng" ng-src="./imgs/icon013_primo_siogp_inverted_small.png">
                                </div>
                        </div>
                        <!-- id:link - name:Link -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true}])'>
                            		<!-- elemento Link       
                            			id: lnkPrimosiogp2    
                            			título: PRIMO/SIOGP
                            			destino: http://www.geradorprototipo.caixa.gov.br
                            			estilo: col-xs-12 text-center"              
                            			ajuda: {{ 'label.prototipado.no.primo,.suportado.pelo.siogp' | translate}}    			
                            			ativo: true
                            			ícone: none
                            		-->
                                <div class="padding col-xs-12 text-center theme-main-link">
					                <a id="lnkPrimosiogp2" href="http://www.geradorprototipo.caixa.gov.br" target="_blank"
					                		title="{{ 'label.prototipado.no.primo,.suportado.pelo.siogp' | translate}}" ng-disabled="!true" ng-class="true?'':'disabled'">
					                    <i class="fa" ng-class="none" ng-if="none">&nbsp;</i>
					                    {{ 'label.primo/siogp' | translate}}
					                </a>
                                </div>
                        </div>
                        <!-- id:label - name:Texto -->
                        <div ng-class='getPlatforms([])'>
                            		<!-- 
                            			estilo: text-warning pull-right col-xs-12
                            			texto: Texto
                            		-->
                                <span class="label padding text-warning pull-right col-xs-12 theme-main-label" title="Texto">
                                    {{ 'label.cedesrj.-.caixa.econmica.federal' | translate}}
                                </span>
                        </div>
                        <!-- id:label-push-status - name:Situação das Notificações -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
								<h5 class="padding text-primary bold col-xs-12 theme-main-push-status" align="center">
										<i class="fa fa-envelope">&nbsp;</i>
									<span class="ng-hide" ng-show="isSubscriptionSupported() && isSubscriptionInititalized() && isSubscribed()">Notificações: RECEBER</span>
									<span class="ng-hide" ng-show="isSubscriptionSupported() && isSubscriptionInititalized() && !isSubscribed()">Notificações: NÃO RECEBER</span>
									<span class="ng-hide" ng-show="isSubscriptionSupported() && !isSubscriptionInititalized()">Notificações: CARREGANDO</span>
									<span class="ng-hide" ng-show="!isSubscriptionSupported()">Notificações: NÃO SUPORTADA</span>
								</h5>
                        </div>
                        <!-- id:button-push-subscribe - name:Receber Notificações -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
                                <button id="btpRecebernotificaces"  ng-click="subscribe($event)" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.receber.notificaes' | translate}}" title="{{ 'label.clique.aqui.para.receber.notificaes' | translate}}" class="btn btn-sm margin-3x btn-primary pull-left theme-main-button-subscribe" ng-disabled="!isSubscriptionSupported() ||  !isSubscriptionInititalized() || isSubscribed()" analytics-event="button:Receber Notificações">
                                    <i class="fa fa-envelope">&nbsp;</i>
                                        <span>{{ 'label.receber.notificaes' | translate}}</span>
                                </button>
                        </div>
                        <!-- id:button-mail-subscribe - name:Receber Email's -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
                            	<button id="btpReceberEmail" class="btn btn-sm btn-default margin-3x theme-main-button-subscribe"
										ng-click="doSubscribeEmail()" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.receber.emails' | translate}}" title="{{ 'label.clique.aqui.para.receber.emails' | translate}}"
                            			title="{{ 'label.clique.para.assinar.canal.recebimento.emails' | translate}}" 
                            			ng-disabled="isSubscribedEmail" >
					                <i class="fa fa-envelope">&nbsp;</i>
					                {{ 'label.receber.email' | translate}}
					            </button>
                        </div>
                        <!-- id:button-push-unsubscribe - name:Cancelar Notificações -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
                                <button id="btpCancelarnotificaces"  ng-click="unsubscribe($event)" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.aqui.para.não.receber.notificaes' | translate}}" title="{{ 'label.clique.aqui.para.não.receber.notificaes' | translate}}" 
                                		class="btn btn-sm margin-3x btn-primary pull-left theme-main-button-unsubscribe" 
                                		ng-disabled="!isSubscriptionSupported() ||  !isSubscriptionInititalized() || !isSubscribed()" 
                                		analytics-event="button:Cancelar Notificações">
                                    <i class="fa fa-envelope-o">&nbsp;</i>
                                        <span>{{ 'label.cancelar.notificaes' | translate}}</span>
                                </button>
                        </div>
                        <!-- id:button-mail-unsubscribe - name:Cancelar Email's -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
                                <button id="btpCancelarEmail" class="btn btn-sm btn-default margin-3x theme-main-button-unsubscribe" 
                                		ng-click="doUnsubscribeEmail()"
										title="{{ 'label.clique.para.cancelar.recebimento.emails' | translate}}" 
					            		ng-disabled="!isSubscribedEmail" loading="{{'label.processando' | translate}}">
					                <i class="fa fa-envelope-o">&nbsp;</i>
					                {{'label.nao.receber.emails' | translate}}
					            </button>
                        </div>
                        <!-- id:rule - name:Separador (hr) -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":true},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":true},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":true},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":true},{"name":"Impressão","icon":"fa fa-print","id":"printer","check":true}])'>
                            		<!-- elemento Separador -->
                                <div class="theme-main-line-rule">
                                    &nbsp;
                                    <hr/>
                                </div>
                        </div>
                        <!-- id:h4 - name:Título -->
                        <div ng-class='getPlatforms([])'>
                            		<!-- 
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
                                <h5 class="padding text-primary bold col-xs-12 theme-main-h4" align="left">
                                        <i class="fa fa-paragraph">&nbsp;</i>
                                    <span>{{ 'label.dossie.-.dossi.digital' | translate}}</span>
                                </h5>
                        </div>
                        <!-- id:h6 - name:Sub-título -->
                        <div ng-class='getPlatforms([])'>
                            		<!--  
                            			estilo: col-xs-12
                            			alinhamento: left
                            		-->
                                <h6 class="padding text-primary bold col-xs-12 theme-main-h6" align="left">
                                        <i class="fa ">&nbsp;</i>
                                    <span>{{ 'label.dossi.digital' | translate}}</span>
                                </h6>
                        </div>
                        <!-- id:link - name:Link -->
                        <div ng-class='getPlatforms([{"name":"Desktop","icon":"fa fa-desktop","id":"desktop","check":false},{"name":"Browser Mobile","icon":"glyphicon glyphicon-globe","id":"mobile","check":true},{"name":"App Mobile","icon":"fa fa-mobile","id":"nativo","check":false},{"name":"Android","icon":"fa fa-android","id":"android","check":true},{"name":"IOS","icon":"fa fa-apple","id":"ios","check":false},{"name":"WinPhone","icon":"fa fa-windows","id":"winphone","check":false}])'>
                            		<!-- elemento Link       
                            			id: link    
                            			título: Clique para instalar a versão Mobile
                            			destino: %URL_SIOGP%/app/dossie/?id=5598/DOSSIE-Mobile.apk
                            			estilo: col-xs-12 text-center"              
                            			ajuda: {{ 'label.clique.para.instalar.a.verso.mobile' | translate}}    			
                            			ativo: true
                            			ícone: fa-android
                            		-->
                                <div class="padding col-xs-12 text-center theme-main-link">
					                <a id="link" href="%URL_SIOGP%/app/dossie/?id=5598/DOSSIE-Mobile.apk" target="_blank"
					                		title="{{ 'label.clique.para.instalar.a.verso.mobile' | translate}}" ng-disabled="!true" ng-class="true?'':'disabled'">
					                    <i class="fa" ng-class="fa-android" ng-if="fa-android">&nbsp;</i>
					                    {{ 'label.clique.para.instalar.a.verso.mobile' | translate}}
					                </a>
                                </div>
                        </div>
                        <!-- id:rule - name:Separador (hr) -->
                        <div ng-class='getPlatforms(null)'>
                            		<!-- elemento Separador -->
                                <div class="theme-main-line-rule">
                                    &nbsp;
                                    <hr/>
                                </div>
                        </div>
                        <!-- id:list - name:Listagem -->
                        <div ng-class='getPlatforms([])'>
                            		<!-- elemento Listagem 
                            		-->
                                <div class="padding col-xs-12 theme-main-list">
                                            <div class="row theme-main-list-row">
                                                <div class="text-left col-xs-4 text-primary">
                                                    versão
                                                    <!-- br.gov.caixa.siogp.entity.Entity@1d3c98cb -->
                                                    <!-- {{item | split:':':0}} -->
                                                </div>
                                                <div class="text-right col-xs-8 text-warning">
                                                    1.0
                                                    <!-- {{item | split:':':1}} -->
                                                </div>
                                            </div>
                                            <div class="row theme-main-list-row">
                                                <div class="text-left col-xs-4 text-primary">
                                                    data
                                                    <!-- br.gov.caixa.siogp.entity.Entity@21e249b6 -->
                                                    <!-- {{item | split:':':0}} -->
                                                </div>
                                                <div class="text-right col-xs-8 text-warning">
                                                    07-05-2018
                                                    <!-- {{item | split:':':1}} -->
                                                </div>
                                            </div>
                                            <div class="row theme-main-list-row">
                                                <div class="text-left col-xs-4 text-primary">
                                                    responsável
                                                    <!-- br.gov.caixa.siogp.entity.Entity@362f09a6 -->
                                                    <!-- {{item | split:':':0}} -->
                                                </div>
                                                <div class="text-right col-xs-8 text-warning">
                                                    Rogério de Faria Silva
                                                    <!-- {{item | split:':':1}} -->
                                                </div>
                                            </div>
                                            <div class="row theme-main-list-row">
                                                <div class="text-left col-xs-4 text-primary">
                                                    contato
                                                    <!-- br.gov.caixa.siogp.entity.Entity@30992bad -->
                                                    <!-- {{item | split:':':0}} -->
                                                </div>
                                                <div class="text-right col-xs-8 text-warning">
                                                    rogeriofariasilva@gmail.com
                                                    <!-- {{item | split:':':1}} -->
                                                </div>
                                            </div>
                                    <br/>&nbsp;
                                </div>
                        </div>
                        <!-- id:rule - name:Separador (hr) -->
                        <div ng-class='getPlatforms(null)'>
                            		<!-- elemento Separador -->
                                <div class="theme-main-line-rule">
                                    &nbsp;
                                    <hr/>
                                </div>
                        </div>
                </div>
                <div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
				</div>
                <br>&nbsp;
                <br>&nbsp;
    	</div>
    </form>
</div>
