<cx-alert-message [messagesInfo]="messagesInfo" [messagesSuccess]="messagesSuccess" [messagesError]="messagesError" (onCloseMessageInfo)="onCloseMessageInfo()"
  (onCloseMessageError)="onCloseMessageError()" (onCloseMessageSuccess)="onCloseMessageSuccess()" [messagesWarning]="messagesWarning"
  (onCloseMessageWarning)="onCloseMessageWarning()"></cx-alert-message>
<p-fieldset class="corpoVisualizacaDossieProduto" legend="Histórico Dossiê Produto" [toggleable]="false" *ngIf="exibeHistoricoDossieProduto">
    <div class="box-body">
        <p-dataTable [value]="hitoriaDossieLista" [immutable]="false">
            <ng-template pTemplate="emptymessage">
                Nenhum registro encontrado
            </ng-template>
            <p-header>HISTÓRICO DOSSIÊ PRODUTO</p-header>
            <p-column header="Situação">
                <ng-template let-item="rowData" pTemplate="body">
                    {{item.nome}}
                </ng-template>
            </p-column>
            <p-column header="Data/Hora">
                <ng-template let-item="rowData" pTemplate="body">
                    {{item.data_hora_inclusao}}
                </ng-template>
            </p-column>
            <p-column header="Unidade">
                <ng-template let-item="rowData" pTemplate="body">
                    {{item.unidade}}
                </ng-template>
            </p-column>
            <p-column header="Observação">
                <ng-template let-item="rowData" pTemplate="body">
                    {{item.observacao}}
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</p-fieldset>