<table [ngStyle]="{'width': width}">
  <tr>
      <td rowspan="2">
          <span ngClass="dark-blue {{classIcon}}"></span>
      </td>
      <td>
        <div class="row">
            <div class="col-sm-12">
              <label class="label-crud-header-title-form">{{labelTitle}}</label>
            </div>
            <div class="col-sm-12">
              <label class="label-crud-header-value-form">{{labelValue}}</label>
            </div>                      
        </div>
      </td>
  </tr>
</table>