  
<p-fieldset class="cabecalho-form" [collapsed]="collapsed" [toggleable]="true" *ngIf="camposFormatados && camposFormatados.length > 0">
    <p-header>
      <div class="titulo-container" pTooltip="{{titulo}}">{{titulo}}</div>
    </p-header>
    <ul class="list-group">
      <div *ngFor="let formulario of camposFormatados; let i = index">
        <li class="list-group-item" *ngIf="formulario.tipo_campo !== 'HIDDEN' && (formulario.opcoes_selecionadas.length > 0 || (formulario.resposta_aberta && formulario.resposta_aberta != ''))">
          <span for="segmento" class="label-visualizacao">{{formulario.label_campo}}</span>
          
          <div *ngIf="formulario.tipo_campo === 'SELECT'">
            <select class="form-control" id="{{formulario.id_campo_formulario}}" name="{{formulario.id_campo_formulario}}" disabled>
            <option value="{{opcao.valor_opcao}}" *ngFor="let opcao of formulario.opcoes_selecionadas">{{opcao.descricao_opcao}}</option>
          </select>
          </div>

          <div *ngIf="formulario.tipo_campo === 'TEXT'">          
            <span class="conteudo-visualizacao">{{formulario.resposta_aberta}}</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'EMAIL'">
            <span class="conteudo-visualizacao">{{formulario.resposta_aberta}}</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'TEXTAREA'">
            <textarea 
              id="{{formulario.id_campo_formulario}}" 
              name="{{formulario.id_campo_formulario}}" 
              [disabled]="!habilitaAlteracao" 
              placeholder="{{formulario.placeholder_campo}}" rows="4"cols="40">
              <span class="conteudo-visualizacao">{{formulario.resposta_aberta}}</span>
            </textarea>
          </div>

          <div *ngIf="formulario.tipo_campo === 'DATE'">
            <span class="conteudo-visualizacao">{{formulario.resposta_aberta | date: 'dd/MM/yyyy'}}</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'RADIO'">
            <span *ngFor="let radio of formulario.opcoes_selecionadas ; let idx = index">
              <input class="pull-left clickRadio" type="radio" id="{{formulario.id_campo_formulario}}{{idx}}" name="{{formulario.id_campo_formulario}}" [disabled]="!habilitaAlteracao"
                [value]="radio.valor_opcao" [checked]="idx===0"/> {{radio.descricao_opcao}}&nbsp;&nbsp;
            </span>          
            <span *ngIf="undefined == formulario.opcoes_selecionadas || formulario.opcoes_selecionadas.length == 0" class="conteudo-visualizacao">Não preenchido</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'CHECKBOX'">
            <span *ngFor="let checkbox of formulario.opcoes_selecionadas ; let idx = index">
              <label class="clickcheckbox">
                  <input class="pull-left ckeckboxForm" type="checkbox" id="{{formulario.id_campo_formulario}}{{idx}}" name="{{formulario.id_campo_formulario}}" [disabled]="!habilitaAlteracao"
                    [value]="checkbox.valor_opcao" [checked]="true"/> {{checkbox.descricao_opcao}}
              </label>
            </span>
            <span *ngIf="undefined == formulario.opcoes_selecionadas || formulario.opcoes_selecionadas.length == 0" class="conteudo-visualizacao">Não preenchido</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'CEP'">
                <span class="conteudo-visualizacao">{{formulario.resposta_aberta}}</span>
          </div>
          
          <div *ngIf="formulario.tipo_campo === 'CEP_ONLINE'">
            <span class="conteudo-visualizacao">{{formulario.resposta_aberta}}</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'DECIMAL'">
            <span class="conteudo-visualizacao">{{formulario.resposta_aberta}}</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'MONETARIO'">
            <span class="conteudo-visualizacao">{{formulario.resposta_aberta | currency:'BRL':'symbol':'0.0-2':'pt'}}</span>
          </div>

          <div *ngIf="formulario.tipo_campo === 'CONTA_CAIXA'">
            <span class="conteudo-visualizacao">{{formulario.resposta_aberta}}</span>
          </div>

        </li>
      </div>
    </ul>
  </p-fieldset>