<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Motivo de Revogar Documento</h4>
    </div>
    <div id="bodyRevogar" class="modal-body">
      <div>
        <textarea ng-trim="false" class="textoRevogar" maxlength="300" [(ngModel)]="textareaMotivoRevogar"
          (ngModelChange)="motivoRevogar($event)" kzCountCharacters="300">
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="exibeBotaoSalvar" (click)="confirm()">Salvar</button>
        <button type="button" class="btn btn-default pull-right" (click)="cancel()">Cancelar</button>
      </div>
    </div>
  </div>
</div>