<div id="analitico">
    <div class="panel panel-default crud-align">
        <div class="panel-heading crud-style">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="input-group pull-rigth" style="width: 30%">
                    <input pInputText type="text" class="form-control" placeholder="Filtro Global" #globalFilter
                        (input)="filtroFalhaBPMSinteticoProcesso($event.target.value, dataAnaliticos);">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <div class="panel-body">
        <p-table #dataAnaliticos [columns]="tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.columns"
            (onFilter)="onFilter($event, globalFilter)" class="crud-table" [paginator]="true" [rows]="15"
            [responsive]="true" (sortFunction)="realizarOrdenacao($event)" scrollHeight="500px" [customSort]="true"
            [rowsPerPageOptions]="tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.rowsPerPageOptions"
            scrollable="true" [value]="tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.falhaJBPMs">
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        Nenhuma falha jBPM encontrado por processo
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-template ngFor let-col [ngForOf]="columns">
                        <ng-container [ngSwitch]="col.field">
                            <ng-container *ngSwitchCase="'acoes'">
                                <th class="{{col.class}}">
                                    {{col.header}}
                                </th>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <th class="{{col.class}}" *ngIf="col.tooltip" tooltipPosition="top"
                                    pTooltip="{{col.msg}}" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th class="{{col.class}}" *ngIf="!col.tooltip" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-analitico let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field" class="{{col.class}}">
                        <ng-container *ngSwitchCase="'processo'">
                            <div class="sinteticoProcesso capitalize" tooltipPosition="top" pTooltip="{{analitico[col.field]}}">
                                {{analitico[col.field] != undefined ? analitico[col.field] : '-'}}
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'bpm_processo'">
                            <div class="sinteticoProcesso capitalize" tooltipPosition="top" pTooltip="{{analitico[col.field]}}">
                                {{analitico[col.field] != undefined ? analitico[col.field] : '-'}}
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'bpm_container'">
                            <div class="sinteticoProcesso capitalize" tooltipPosition="top" pTooltip="{{analitico[col.field]}}">
                                {{analitico[col.field] != undefined ? analitico[col.field] : '-'}}
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{analitico[col.field] ? analitico[col.field] : '-'}}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <ng-container
                    *ngIf="tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.falhaJBPMs.length > 0 && tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.filteredRecords == 0
                                 && tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.totalRecords == tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.falhaJBPMs.length">
                    Total: {{tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.falhaJBPMs.length}} Processo
                </ng-container>
                <ng-container
                    *ngIf="tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.falhaJBPMs.length > 0 && tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.filteredRecords > 0">
                    Total: {{tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.filteredRecords}} de
                    {{tabelaSinteticoProcessoComponentPresenter.tabelaSinteticoProcesso.totalRecords}}.
                </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>