#carrocelImg .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    height: 178px !important;
}
.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    height: 163px;
}
.fundoCinza {
    background: rgb(131, 133, 135) !important;
}
.boxImagem .posicaoIconPdf,.boxImagem:hover .posicaoIconPdf{
    position: relative;
    color: rgb(0, 90, 156);
}
    .boxImagem:hover .posicaoIconPdf{
        top: -115px !important;
    }
    .boxImagem .posicaoIconPdf{
        top: -115px;
    }
.boxImagem .openPosicaoAtivo {
    top: 0px !important;
}
#campoImagens {
    width: 100%;
    height: 190px;
}
    #campoImagens .ui-widget-header {
        background: rgb(255, 255, 255);
        color: rgb(0, 90, 156);
        font-weight: bold;
        border-bottom: 2px solid rgb(0, 90, 156);
        border-radius: 0em;
        padding: 0px;
    }
    #campoImagens .ui-carousel-header-title {
        background: url('../../assets/img/icon_search.png') no-repeat;
        background-position: 0px;
        padding-left: 18px;
        background-size: 13px;
    }
    #campoImagens .pi {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
        #campoImagens .pi-arrow-circle-left:before {
            content: "\f137";
        }
        #campoImagens  .pi-arrow-circle-right:before {
            content: "\f138";
        }
        #campoImagens  .pi-circle-off, #campoImagens .pi-circle-on {
            display: none;
        }
    .divisorHr{
        position: relative;
    }
    .boxImagem {
        padding: 1%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;  
         width: 100%;
    }
        .boxImagem img.imagem, .boxImagem span{
            display: block;
        }
        a.excluirImg {
            width: 64px;
            margin: auto;
        }
        .boxImagem a.excluirImg, input.posicao {            
            display: inline-block;
            vertical-align: middle;
        }
        input.posicao {
            width: 35px;
            display: inline-block;
            vertical-align: middle;
            color: rgb(255, 255, 255);
            background: rgb(0, 90, 156);
            border: none;
            text-align: center;
            border-radius: 0.3em;
        }
            a.excluirImg span, a.excluirImg label{
                display: inline-block;
                cursor: pointer;
                font-weight: bold;                
            }
            a.excluirImg label{
                padding: 4px 8px;
                font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            }
        .boxImagem img.imagem{
            width: 100%;
            height: 115px;
        }
        .boxImagem span.sobreImagem {
            position: relative;
            top: -115px;
            height: 115px;
            width: 101%;
            z-index: 9;
            background: rgba( 0, 0, 0, 0.4);
            color: rgb( 255, 255, 255);
            text-align: center;
            padding: 44px 0px;
            display: block;
            border: 2px solid rgb( 255, 255, 255);
        }
        .boxImagem > [hidden] {
            display: none !important;
        }
        .boxImagem:hover span.imagem_Ativa {
            display: block !important;
            border: 3px solid rgb(240, 143, 29);
        }
        .bordaVermelha {
            border: 3px solid rgb(240, 143, 29);
        }
        .boxImagem span.sobreImagem a, .boxImagem a.sobreImagem span label {
            display: inline-block;
            width: 17%;
            cursor: pointer;
        }
            .boxImagem span.sobreImagem a{
                color: rgb(223, 224, 224);
                z-index: 99;
                cursor: pointer;
            }
            .boxImagem span.sobreImagem a:hover, .boxImagem span.sobreImagem span label:hover {
                color: rgb(91, 180, 220);
            }
        #exibirImagem {
            width: inherit;
            cursor: pointer;
        }