.btn-filtro-contrato {
    background-color: #f6822a !important;
    width: 180px !important;
    margin-right: 42px;
    margin-top: 10px;
    margin-right: 44px;
    
}

a.span.fa.fa-download {
    margin-top: 10px;
} 


