<div class="box box-solid">
  <div class="box-header with-border box-primary">
    <h3 class="box-title">Lista de Códigos do Cliente</h3>
    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body no-padding" *ngIf="!error">
    <div class="col-md-6">
      <label>{{cpf ? 'CPF:' : 'CNPJ:'}}</label>
      <p *ngIf="cpf">{{cpfCnpj | kzCpf}}</p>
      <p *ngIf="!cpf">{{cpfCnpj | kzCnpj}}</p>
    </div>
    <div class="col-md-6">
      <label>{{cpf ? 'Nome' : 'Razão Social'}}</label>
      <p>{{firstValue.NOME_CLIENTE.NOME}}</p>
    </div>
    <div class="col-md-12">
      <label>Códigos Disponíveis</label>
    </div>
    <div class="col-md-12" *ngFor="let item of listCocli">
      <a style="cursor: pointer" (click)="searchClienteByCocli(item.COCLI_ATIVO.COCLI_ATIVO)">{{item.COCLI_ATIVO.COCLI_ATIVO}}</a>
    </div>
  </div>
  <div class="box-body no-padding" *ngIf="error">
    <div class="col-md-12">
      <label style="color: red">Erro ao consultar cliente no SICLI</label>
    </div>
  </div>
</div>