.capitalize {
    text-transform: capitalize;
}
.atributo {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-loading-grid-atributo::ng-deep .corpoLoadingRelativo{
    width: 77%;
    height: 25%;
}

.custom-loading-grid-atributo::ng-deep .input-group-addon{
    width: 30px;
    float: right;
}

.edit-span-atributo-pointer-events {
    pointer-events: none;
    color: #005ab599 !important;
}