
<fieldset class="crud-card-fieldset">
	<app-loader-relativo 
		[ativo]="countAtributo < listaAtributo.length"
		class="custom-loading-grid-atributo"
		[posicao]="countAtributo" 
		[qtdComponent]="listaAtributo.length">
	</app-loader-relativo>	
	<legend class="crud-card-title">Atributos</legend>
	<div class="panel panel-default crud-align margem">
		<div class="panel-heading crud-style">
		  <nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="input-group pull-left" style="width: 30%">
				  <input pInputText type="text" class="form-control" #globalFilter
					(input)="dataAtributos.filterGlobal($event.target.value, 'contains')" placeholder="Filtro Global">
				  <span class="input-group-addon">
					  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				  </span>
			  </div> 
			  <div class="pull-right">
				<button type="button" class="btn btn-primary" [disabled]="disabledAtributo"
				  (click)="abrirModalAtributo(-1, undefined);">Novo Atributo
					<span class="fa fa-plus"></span>
				</button>
			  </div>
		  </nav>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-12">
			<p-table #dataAtributos [columns]="configuracaoTableColunas.configTableColsAtributos" class="crud-table"  (onFilter)="onFilter($event, globalFilter)"
			[paginator]="true" [rows]="15" [responsive]="true" (sortFunction)="realizarOrdenacao($event)" (onRowReorder)=reordenarAtributos($event) 
			  [reorderableColumns]="!disabledDragdrop" [rowsPerPageOptions]="rowsPerPageOptions" [responsive]="true" 
				scrollable="true" scrollHeight="500px" [customSort]="true" [value]="listaAtributo">
				<ng-template pTemplate="emptymessage" let-columns>
					<tr>
						<td [attr.colspan]="columns.length">
							Nenhum atributo encontrado
						</td>
					</tr>
				</ng-template> 
				<ng-template pTemplate="header" let-columns>
				  <tr>
					<ng-template ngFor let-col [ngForOf]="columns">
						<ng-container [ngSwitch]="col.field">  
							<ng-container *ngSwitchCase="'acoes'">
								<th class="{{col.class}}">
									{{col.header}}
								</th>                       
							</ng-container> 
							<ng-container *ngSwitchCase="'reorder'">
								<th class="{{col.class}}">
									<i class="fa fa-bars" 
									pReorderableRowHandle 
									tooltipPosition="top" 
									pTooltip="A ordem dos atributo pode ser alterado usando o recurso de arrastar e soltar.">
									</i>
								</th>                       
							</ng-container> 
							<ng-container *ngSwitchCase="'ordem_apresentacao'">
								<th *ngIf="listaAtributo.length == 0" class="{{col.class}}" [pSortableColumn]="col.field">
									{{col.header}}
									<p-sortIcon [field]="col.field"></p-sortIcon>
								</th>
								<th *ngIf="listaAtributo.length > 0" class="{{col.class}}" [pSortableColumn]="col.field" (click)="habilitarDragDropOrdemApresentacao()">
									{{col.header}}
									<p-sortIcon [field]="col.field"></p-sortIcon>
								</th>                        
							</ng-container>							                                                           
							<ng-container *ngSwitchDefault>
								<th *ngIf="listaAtributo.length == 0" class="{{col.class}}" [pSortableColumn]="col.field">
									{{col.header}}
									<p-sortIcon [field]="col.field"></p-sortIcon>
								</th>  								
								<th *ngIf="listaAtributo.length > 0" class="{{col.class}}" [pSortableColumn]="col.field" (click)="desabilitarDragDropOrdemApresentacao()">
									{{col.header}}
									<p-sortIcon [field]="col.field"></p-sortIcon>
								</th>  
							</ng-container>
						</ng-container>
					</ng-template> 
				  </tr>
				</ng-template>
				<ng-template pTemplate="body" let-atributo let-columns="columns" let-index="rowIndex">
					<span style="display: none;">{{realizarLoad()}}</span>
					<tr [pReorderableRow]="index" [pReorderableRowDisabled]="disabledDragdrop">
						<td *ngFor="let col of columns" [ngSwitch]="col.field" class="{{col.class}}">
							<ng-container *ngSwitchCase="'reorder'">
								<i class="fa fa-bars" pReorderableRowHandle></i>
							</ng-container>
							<ng-container *ngSwitchCase="'acoes'">
								<span 
									*ngIf="!disabledAtributo"
									class="fa fa-fw fa-edit" 
									tooltipPosition="top" 
									pTooltip="Editar Atributo"
									(click)="abrirModalAtributo(index, atributo);"
									style="cursor: pointer">
								</span>
								<span 
									*ngIf="disabledAtributo"
									style="opacity: 0.8;"
									class="fa fa-fw fa-edit">
								</span>                        
								<span 
									*ngIf="!disabledAtributo"
									class="fa fa-fw fa-trash" 
									tooltipPosition="top" 
									(click)="confirmRemoveAtributo(index, atributo);"
									pTooltip="Remover Atributo"
									style="cursor: pointer">
								</span> 
								<span 
									*ngIf="disabledAtributo"
									style="opacity: 0.8;"
									class="fa fa-fw fa-trash">
								</span>                                                                          
							</ng-container>
							<ng-container *ngSwitchCase="'id'">
							  <div class="atributo" tooltipPosition="top" pTooltip="{{atributo[col.field]}}">
								{{atributo[col.field] != undefined ? atributo[col.field] : '-'}}
							  </div>
							</ng-container>
							<ng-container *ngSwitchCase="'nome_atributo_negocial'">
							  <div class="atributo" tooltipPosition="top" pTooltip="{{atributo[col.field]}}">
								{{atributo[col.field] != undefined ? atributo[col.field] : '-'}}
							  </div>
							</ng-container>
							<ng-container *ngSwitchCase="'nome_atributo_siecm'">
							  <div class="atributo" tooltipPosition="top" pTooltip="{{atributo[col.field]}}">
								{{atributo[col.field] != undefined ? atributo[col.field] : '-'}}
							  </div>
							</ng-container>
							<ng-container *ngSwitchCase="'nome_atributo_documento'">
							  <div class="atributo" tooltipPosition="top" pTooltip="{{atributo[col.field]}}">
								{{atributo[col.field] != undefined ? atributo[col.field] : '-'}}
							  </div>
							</ng-container>
							<ng-container *ngSwitchCase="'tipo_campo'">
							  <div class="atributo" tooltipPosition="top" pTooltip="{{atributo[col.field]}}">
								{{atributo[col.field] != undefined ? atributo[col.field] : '-'}}
							  </div>
							</ng-container>
							<ng-container *ngSwitchCase="'ordem_apresentacao'">
							  <div class="atributo" tooltipPosition="top" pTooltip="{{atributo[col.field]}}">
								{{atributo[col.field] != undefined ? atributo[col.field] : '-'}}
							  </div>
							</ng-container>
							<ng-container *ngSwitchCase="'grupo_atributo'">
							  <div class="atributo" tooltipPosition="top" pTooltip="{{atributo[col.field]}}">
								{{atributo[col.field] != undefined ? atributo[col.field] : '-'}}
							  </div>
							</ng-container>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<ng-container *ngIf="filteredRecords == 0">
						Total: {{listaAtributo.length}} atributo(s).
					</ng-container>
					<ng-container *ngIf="filteredRecords > 0">
						Total: {{filteredRecords}} de {{listaAtributo.length}}.
				  </ng-container>                            
				</ng-template>
			</p-table>
		</div>
	  </div>
</fieldset>  