<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Dados do Cliente Do SICLI</h4>
    </div>
    <!-- Para mostrar uma lista de cocli 
    <div class="modal-body" *ngIf="isSicliList">
      <modal-sicli-list-cocli [listCocli]="sicliUser" [cpf]="cpf" (onReturnDetail)="onReturnDetail($event)"></modal-sicli-list-cocli>
    </div>
    -->
    <!-- Para mostrar Detalhes de um único cliente-->
    <!--<div class="modal-body" *ngIf="!isSicliList">-->
    <div class="modal-body">
      <!-- Dados Pessoais -->
      <div *ngIf="cpf">
        <modal-sicli-detail-pf [data_nascimento]="data_nascimento_fundacao" [sicliUser]="sicliUser" [cpf]="cpfCnpj"></modal-sicli-detail-pf>
      </div>
      <div *ngIf="!cpf">
        <modal-sicli-detail-pj [data_fundacao]="data_nascimento_fundacao" [sicliUser]="sicliUser" [cnpj]="cpfCnpj"></modal-sicli-detail-pj>
      </div>

      <!-- Vinculos -->
      <div class="box box-solid collapsed-box" *ngIf="sicliUser.vinculo && sicliUser.vinculo.length">
        <div class="box-header with-border box-primary" data-widget="collapse">
          <div class="box-tools btn btn-box-tool fa fa-plus">
          </div>
          <h3 class="box-title">Vínculos</h3>
        </div>
        <div class="box-body no-padding">
          <div class="col-md-12" *ngFor="let item of sicliUser.vinculo;let idx = index">
            <div *ngIf="item['icSituacao'] == 1">
            <div class="col-md-4">
              <label>Data Início do Vínculo: </label>
              <p>{{item.dtInicio}}</p>
            </div>

            <div class="col-md-4">
              <label>CPF/CNPJ do Vinculador: </label>
              <p>{{item.cpfcnpjVinculador | kzCnpj}}</p>
            </div>

            <div class="col-md-4">
              <label>Tipo de Vínculo: </label>
              <p>{{item.descTipoVincPeloVinculador}}</p>
            </div>
          </div>
          </div>
        </div>
      </div>

      <!-- Renda -->
      <div class="box box-solid collapsed-box" *ngIf="sicliUser.renda && sicliUser.renda.length"> 
        <div class="box-header with-border box-primary" data-widget="collapse">
          <div class="box-tools btn btn-box-tool fa fa-plus">
          </div>
          <h3 class="box-title">Rendas</h3>
        </div>
        <div class="box-body no-padding">
      <div class="col-md-12" *ngFor="let item of sicliUser.renda;let idx = index">
      <div *ngIf="[item.icSituacao === 1]"> 
      <label>Renda: {{item.sequencial}}</label>
        <div class="col-md-4">
          <label>Renda Bruta:</label>
          <p>{{formatValor(item.rendaBruta)}}</p>
        </div>
        <div class="col-md-4">
          <label>Renda Líquida:</label>
          <p>{{formatValor(item.rendaLiquida)}}</p>
        </div>
        <div class="col-md-4">
          <label>Tipo de Renda:</label>
          <p>{{item.tpRenda}}</p>
        </div>

        <div class="col-md-4">
          <label>Ocupação:</label>
          <p>{{item.profissao}}</p>
        </div>
        <div class="col-md-4">
          <label>Data Admissão:</label>
          <p>{{item.dtInicio}}</p>
        </div>
        <div class="col-md-4">
          <label>IRRF:</label>
          <p>{{item.irpf}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()" *ngIf="!showBackButton">OK</button>
      <button type="button" class="btn btn-primary" (click)="backToList()" *ngIf="showBackButton">Voltar</button>
    </div>
  </div>
</div>