<cx-alert-message [messagesInfo]="messagesInfo" [messagesSuccess]="messagesSuccess" [messagesError]="messagesError" (onCloseMessageInfo)="onCloseMessageInfo()"
  (onCloseMessageError)="onCloseMessageError()" (onCloseMessageSuccess)="onCloseMessageSuccess()" [messagesWarning]="messagesWarning"
  (onCloseMessageWarning)="onCloseMessageWarning()"></cx-alert-message>
  <h3>Verificações Dossiê Produto</h3>
<div class="col-sm-12 corpoFIltroVerificacao"> 
    <div class="col-sm-8">
        <label class="labelAbaVerificacao">FASE</label>
        <div class="divSperarButton">
            <p-dropdown 
                [options]="abaVerificacaoComponentPresenter.abaVerificacao.listaFase" [style]="{'width':'230px'}"
                [(ngModel)]="abaVerificacaoComponentPresenter.abaVerificacao.filtroFase" 
                placeholder="Selecione uma Fase">
                <ng-template let-obj pTemplate="item"> 
                    <li class="selectFase" tooltipPosition="left" pTooltip="{{obj.tooltip}}">{{obj.label}}</li>
                </ng-template>                
            </p-dropdown>      
        </div>
        <label class="labelAbaVerificacao">Situação</label>
        <div class="divSperarButton">
            <p-dropdown 
                [options]="abaVerificacaoComponentPresenter.abaVerificacao.listaSituacao" 
                [(ngModel)]="abaVerificacaoComponentPresenter.abaVerificacao.filtroSituacao" 
                placeholder="Selecione uma situação">
                <ng-template let-situacao pTemplate="item"> 
                    <li tooltipPosition="left" pTooltip="{{situacao.tooltip}}">{{situacao.label}}</li>
                </ng-template>
            </p-dropdown>      
        </div>        
        <button 
            id="btn-aba-verificacoes-filtrar" 
            class="btn btn-primary filtro" 
            (click)="filtrarPorFase()">
            FILTRAR
        </button>
    </div>
    <div class="col-sm-4">
        <div class="input-group col-sm-12">
        <input type="text" pInputText size="50" 
            [(ngModel)]="abaVerificacaoComponentPresenter.abaVerificacao.filtroGlobal" 
            (change)="filtrarGlobal()" placeholder="Pesquisar..." 
            class="form-control">
            <span class="input-group-addon pointer" tooltipPosition="right">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
        </div>
    </div>
</div>
<div class="col-md-12 corpDivVerificacao" *ngFor="let xb of listaAbaVerificacao; let idx = index">
    <app-loader-relativo [ativo]="abaVerificacaoComponentPresenter.abaVerificacao.contadorPosicacao < xb.listaDocumento.length" [posicao]="idx" [qtdComponent]="listaAbaVerificacao.length"></app-loader-relativo>
    <p-fieldset [toggleable]="true">
        <p-header>{{xb.nomeVinculo}}</p-header>
        <p-dataTable [value]="xb.listaDocumento" expandableRows="true" [globalFilter]="gb" #dt>
            <span style="display: none;">{{contadorPosicao()}}</span>
            <ng-template pTemplate="emptymessage">
                Nenhum registro encontrado
            </ng-template>            
            <p-column field="fase.nome" header="FASE"></p-column>
            <p-column field="documento" header="DOCUMENTO"></p-column>
            <p-column field="dataHoraVerificaco" [sortable]="true" header="DATA E HORA"></p-column>
            <p-column field="descricaoRealizada" header="VERIFICADO" >
                <ng-template let-item="rowData" pTemplate="body">
                    <td  [ngClass]="item.realizada ? 'color-green' : 'color-red'">
                        {{item.descricaoRealizada}}
                    </td>
                </ng-template>
            </p-column>
            <p-column field="descricaoAprovado" header="APROVADO">
                <ng-template let-item="rowData" pTemplate="body">
                    <td  [ngClass]="item.aprovado ? 'color-green' : 'color-red'">
                        {{item.descricaoAprovado}}
                    </td>
                </ng-template>
            </p-column>
            <p-column field="unidVerificacao" header="UNIDADE DE VERIFICAÇÃO"></p-column>
            <p-column field="mostrar" header="DETALHES">
                <ng-template let-item="rowData" let-idex="rowIndex" pTemplate="body">
                    <a *ngIf="item.mostrar" 
                        [ngClass]="abaVerificacaoComponentPresenter.abaVerificacao.expander ? 'fa fa-chevron-circle-down' : 'fa fa-chevron-circle-right'" 
                        (click)="dt.toggleRow(item); abaVerificacaoComponentPresenter.abaVerificacao.expander=!abaVerificacaoComponentPresenter.abaVerificacao.expander">
                    </a> 
                </ng-template>
            </p-column>
            <ng-template let-item pTemplate="rowexpansion">
                <div class="conteudoTableOculto">
                    <p-dataTable [value]="item.listaApontamento" [immutable]="false">
                        <p-column field="tituloApontamento" header="TÍTULO" headerStyleClass="fontIcon fa-copy"></p-column>
                        <p-column field="descricaoVerificacaoAprovada" header="APROVADO" headerStyleClass="fontIcon fa-check-square-o">
                            <ng-template let-item="rowData" pTemplate="body">
                                <td  [ngClass]="item.verificacaoAprovada ? 'color-green' : 'color-red'">
                                    {{item.descricaoVerificacaoAprovada}}
                                </td>
                            </ng-template>
                        </p-column>
                        <p-column field="orientacao" header="ORIENTAÇÃO" headerStyleClass="fontIcon fa-star-o"></p-column>
                        <p-column field="comentario" header="COMENTÁRIO DO ANALISTA" headerStyleClass="fontIcon fa-comments" bodyStyleClass="textoJustificado"></p-column>
                    </p-dataTable>
                </div>                
            </ng-template>              
        </p-dataTable>
    </p-fieldset>
</div>