.corpoFIltroVerificacao {
    background: rgb(246, 247, 249);
    border: 1px solid rgb(207, 208, 210);
    padding: 10px !important;
}

.labelAbaVerificacao {
        color: rgb(0, 90, 156);
        padding: 5px 10px;
}
.corpDivVerificacao {
    padding: 0;
    position: relative;
    margin-bottom: 10px;
}
    .corpDivVerificacao .corpoLoadingRelativo {
        background-size: 5% !important;
    }
    .divSperarButton {
        width: auto;
        display: inline-block;
    }
    
    .corpDivVerificacao .ui-datatable .ui-datatable-thead>tr>th, .corpDivVerificacao .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
        text-align: center !important;
    }
    .corpDivVerificacao .ui-fieldset-toggleable .ui-fieldset-legend, .corpDivVerificacao .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover {
        margin: 0;
        border: none !important;
        background: rgb(60, 141, 188) !important;;
    }
        .corpDivVerificacao legend a {
            color: rgb(255, 255, 255);
            text-align: center;
        }
        .corpDivVerificacao th {
            background: rgb(206, 235, 248) !important;
            color: rgb(60, 141, 188);
            font-weight: bolder !important;
            border: none !important;
        }
            .corpDivVerificacao td {
                color: rgb(60, 141, 188);
                font-weight: 600;
                text-align: center;
                border: none !important;
                font-size: 12px;
            }
            
                .conteudoTableOculto {
                    padding: 4px;
                    margin: 0;
                }
                .conteudoTableOculto th {
                    font-family: unset;
                    font-weight: bolder !important;
                }
                    .conteudoTableOculto tr.ui-widget-content {
                        border: none !important;
                    }
                    .conteudoTableOculto tbody, .conteudoTableOculto tr, .conteudoTableOculto th, .conteudoTableOculto td {
                        background: rgb(247, 247, 247) !important;
                        border: none !important;
                        text-align: left !important;
                        overflow-wrap: break-word !important;
                        text-align: center !important;
                    }
                        .conteudoTableOculto td.textoJustificado {
                            text-align: justify !important;
                        }
                        .fontIcon {
                            font: normal normal normal 14px/1 FontAwesome !important;
                            color: rgb(0, 90, 156) !important;
                        }
                            .fontIcon .ui-column-title {
                                margin-left: 10px !important;
                                color: rgb(0, 90, 156) !important;
                                font-family: Open Sans !important;
                                font-size: 12px;
                            }

                    .corpDivVerificacao .fa-chevron-circle-right:before {
                        content: "\f055";
                        color: rgb(0, 166, 80);
                    }
                    .corpDivVerificacao .fa-chevron-circle-down:before {
                        content: "\f056";
                        color: rgb(0, 166, 80);
                    }
            td.ocultarBotaoExpandir a {
                display: none !important;
            }

.color-green{
    color: rgb(0, 166, 80) !important;
}

.color-red{
    color: rgb(234, 0, 1) !important;
}

.align-center{
    text-align: center !important;
}

.pointer {
    cursor: pointer;
  }

.selectFase {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
            