.vinculacao {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.capitalize {
    text-transform: capitalize;
}

.margem {
    margin: 1%;
}

.vinculacao-conflitante {
    cursor: pointer; 
    color: #dd4b39; 
    font-size: 12px;
}

.panel-error-conflito::ng-deep .ui-overlaypanel {
    text-align: center; 
    color:#8a6d3b; 
    border:none;  
    margin-left: 45%; 
    margin-top: -15px;
    border-style: solid; 
    height: 27px;
    border-width: 2px;
}

.panel-error-conflito::ng-deep .ui-overlaypanel-content {
    padding: 1px;
}

