#footer{
    display: inline-flex;
    font-weight: 600;
    width: 100%;
}

#texto-hint:hover {
    position: relative;
}
  
#texto-hint[aria-label]:hover:after {
    content: attr(aria-label);
    padding: 4px 4px;
    position: absolute;
    left: -110px;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    font-weight: normal;
    background:black;
    color: white;
    border-radius: 3px;
}

#body-primeira-linha{
    display: inline-flex;
}
  
#alinhamento-toogle{
    margin-left: 150px;
    font-weight: 600;
}
  