fieldset {
    margin-top: 5px;
    padding: 0 !important;
    border: none !important;
}
    .ui-fieldset-toggleable .ui-fieldset-legend {
        border: none;
        background: rgb(206, 235, 248);
        color: rgb(0, 90, 156);
        border-bottom: 3px solid rgb(0, 90, 156);
        font-weight: bold;
    }
        .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover {
            border-color: rgb(206, 235, 248);
            background-color: rgb(0, 90, 156);
            color: rgb(255, 255, 255);
        }
        .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover a {
            color: rgb(255, 255, 255);
        }
            fieldset legend a .ui-fieldset-toggler {
                float: right;
                padding: 4px 0px;
                position: relative;
            }
            fieldset legend a .pi {
                font: normal normal normal 14px/1 FontAwesome !important;
            }
            fieldset legend a .pi-minus:before {
                content: "\f139" !important;
            }
            fieldset legend a .pi-plus:before {
                content: "\f13a" !important;
            }

.fieldsetDocumentos legend{
    white-space: normal !important;
    text-align: justify;
}

.fieldsetDocumentos .titulo-grid{
    margin-left: 0px;
    margin-top: 3px;
    margin-right: 5px;
    float: left;
}

.select-produto{
    border: 1px solid #d2d6de;
    border-radius: 4px;
    color: rgb(0, 90, 156);
    font-weight: 500 !important; 
}

.option-select{
    color: rgb(0, 90, 156);
    font-weight: 500 !important;
}

.p-data-table{
    margin-top: 15px;
    display: table;
}

.modal-header-inline{
    display: inline-flex;
    width: 100%;
    padding: 0px 0px 1px 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}

.modal-color-title{
    color:rgb(0, 90, 156);
    font-weight: 600;
}

.ui-widget-content {
    border: none !important;
}

.ui-datatable thead tr {
    border-bottom: 3px solid rgb(0, 90, 156);
}

.ui-datatable th.ui-state-default{
    background:rgb(206, 235, 248);
    color:rgb(0, 90, 156);
    font-weight: bold !important;
}

.modal-table-column{
    border: none !important;
    text-align: center;
} 