<p-fieldset id="fieldset-consulta-produto" class="fieldsetDocumentos">
    <p-header id="header-consulta-produto">
        <div id="div-titulo-consulta-produto" class="titulo-grid">Consulta Produto</div>
    </p-header>
    <div id="div-col-md-12" class="col-md-12" style="display: inline-flex; padding: 0;">
        <select id="select-consulta-produto" class="col-md-10 select-produto" (change)="onChangeProduto($event.target.value)">
            <option 
                id="option-consulta-produto" 
                value="Selecione" 
                selected 
                class="option-select">Selecione
            </option>
            <option 
                id="option-select{{idx}}" 
                class="option-select" 
                *ngFor="let produto of this.produtoDocPendentePresenter.listProdutoDossieDigital; let idx = index" 
                value="{{idx}}">{{produto.nome}}
            </option>
        </select>
        <button id="button-verificar" name="submit" class="btn btn-primary" (click)="verificarDocPendentes()">Verificar</button>
    </div> 
</p-fieldset>

<p-dataTable 
    id="table-consulta-produto" 
    class="p-data-table"
    [value]="produtoDocPendentePresenter.listRetornoVerificacaoAutorizacao">
        <span style="display: none;">{{countRowToProgressBar()}}</span>
        <ng-template pTemplate="emptymessage" id="column-msg-tabela-consulta-produto">
            Nenhum registro encontrado
        </ng-template>
        <p-column header="Descrição" id="column-descricao" styleClass="modal-table-column" [style]="{ 'width': '45%' }">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.funcaoDocumental ? item.funcaoDocumental : item.tipoDocumento}}
            </ng-template>
        </p-column>
        <p-column header="Presente" styleClass="modal-table-column" id="column-presente" [style]="{ 'width': '15%' }">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.presenteDossie ? 'S' : 'N'}}
            </ng-template>
        </p-column>
        <p-column header="Composição" styleClass="modal-table-column" id="column-composicao" [style]="{ 'width': '15%' }">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.identificadorComposicao}}
            </ng-template>
        </p-column>
        <p-column header="Classe" styleClass="modal-table-column" id="column-classe" [style]="{ 'width': '25%' }">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.funcaoDocumental ? 'Função Documental' : 'Tipo de Documento'}}
            </ng-template>
        </p-column>
</p-dataTable>