.box_body_consulta{
    padding: 10px 0px !important;
}
.box_body_consulta .col-md-12{
    padding: 0;
}
fieldset {
    margin-top: 5px !important;
}

legend {
    font-size: 15px !important;
}

.btn-reclassificar, .btn-categorizar {
    margin-bottom: 10px;
}

#div-switch-miniatura{
    margin: 0px 15px 0px 0px;
}

