<div id="div-alert-consulta-cliente" class="box-body" style="margin: 50px 0px -20px 5px">
    <cx-alert-message id="component-alert-consulta-cliente" [messagesInfo]="messagesInfo" [messagesSuccess]="messagesSuccess" [messagesError]="messagesError" (onCloseMessageInfo)="onCloseMessageInfo()"
      (onCloseMessageError)="onCloseMessageError()" (onCloseMessageSuccess)="onCloseMessageSuccess()" [messagesWarning]="messagesWarning"
      (onCloseMessageWarning)="onCloseMessageWarning()">
    </cx-alert-message>
  </div>
<div id="div-box-body-consulta" class="box-body box_body_consulta">
    <div id="div-col-max" class="col-md-12">
      <div id="div-col-md5" class="col-md-7 row">
          <div id="div-switchs" class="corpoSwitch mesmaLinha" *ngIf="imagesCopy.length != 0">          
            <label id="label-switch" class="switch">
              <input id="input-checkbox-classificar" 
                     class="toggle" 
                     name="chekDocumentoAClassificar" 
                     type="checkbox" 
                     [(ngModel)]="documentoAClassificar" 
                     [disabled]="imagesCopy.length == 0" 
                     (click)="mostraClassificarDocumentos()">
              <span id="span-slider" class="slider round"></span>
            </label>
            <span id="span-icone-classificar" 
                  class="tamanhoIcone fa fa-check-square-o espaco corTexto">
            </span>
            <label id="label-docs" class="corTexto espaco">Documentos à classificar</label>
            <label id="label-qtd-docs" class="qtdClassificar">{{qtdClassificar}}</label>
          </div>    
          <div id="div-novo-documento" style="width: 710px;"
            class="pull-left row novoDocumento mesmaLinha" >
            <uplaod-document 
                [habilitaBotoesSalvar]="!userExiste" 
                [images]="images" 
                [imagesCopy]="imagesCopy" 
                [incluirImagem]="incluirImagem"
                [documentoAClassificar]="documentoAClassificar"
                (imagesChanged)="handleChangeImages($event)" 
                (imagesCopyChanged)="handleChangeimagesCopy($event)"
                (incluirImagemChanged)="handleIncluirImagem($event)" 
                (documentoAClassificarChanged)="handleChangeDocumentoAClassificarChange($event)"
                (alertMessagesSucessChanged)="handlleMessagesSucess($event)" 
							  (alertMessagesInfoChanged)="handlleMessagesInfo($event)"
							  (alertMessagesWarningChanged)="handlleMessagesWarning($event)"
                (alertMessagesErrorChanged)="handlleMessagesError($event)">
            </uplaod-document>
            <button id="button-dados-declarados" class="btn btn-primary" (click)="abrirDadosDeclarados()" [disabled]="!userExiste">Dados Declarados</button>
            <button id="button-cadastro-caixa" class="btn btn-primary" [disabled]="!userExiste" (click)="abrirCadastroCaixa()">Atualizar Cadastro.CAIXA</button>
            <button id="button-cartao-assinaturas" (click)="obterCartaoAssinatura()" [disabled]="!userExiste" *ngIf="dossiePessoaFisica"
              class="btn btn-primary">Cartão Assinaturas</button>
            <a #cartaoAssinatura id="link-cartao-assinaturas" href="" download="imagem" 
              style="display: none" target="_blank"></a>            
          </div>
      </div>
    </div>
    <div id="div-col-max3" class="col-md-12">
          <div id="div-col-max3" class="col-md-12">&nbsp;</div>
          <div id="div-col-row" class="col-md-5 row">
              <div id="div-padding" class="box-body paddingVazio">
                  <canvas id="pdfcanvas" style="display: none"></canvas>
                  <div class="col-md-12" *ngFor="let vinculoArvore of listaVinculoArvore; let idx = index" id="{{idx}}">
                      <p-fieldset id="cabecalho-arvore" *ngIf="vinculoArvore.vinculoCliente !== undefined" [toggleable]="false" class="corpoVisualizacao">
                        <p-header id="cabecalho-nome">
                            {{ vinculoArvore.nome}}
                        </p-header>
                        <arvore-generica-documento 
                          id="component-arvore" 
                          [processoGeraDossie]="" 
                          [listaVinculoArvore]="listaVinculoArvore" 
                          [listaNosVisualizacao]="vinculoArvore.noApresentacao" 
                          [indiceArvoreAtual]="idx" 
                          (imagensChange)="handleChangeImages($event)" 
                          (nodeSelectedChanged)="onNodeSelected($event, idx)" 
                          [tratamento]="habilitaTratamento" 
                          [treeEditable]="true"
                          [dossieCliente]="true"
                          (selectedNodeApresentacao)="onSelectedDocumentNode($event)" 
                          (listaExcluirChange)="handleChangeListaExcluir($event)" 
                          (documentoAClassificarChange)="handleChangeDocumentoAClassificarChange($event)" 
                          (tipoDocumentoArvoreGenericaAnteriorChange)="handleChangeTipoDocumentoArvoreGenericaAnterior($event)"
                          (selecionadoFolhaDoNoDaArvoreChange)="handleChangeSelecionadoFolhaDoNoDaArvore($event)" 
                          (incluirImagemChange)="handleIncluirImagem($event)">
                        </arvore-generica-documento>
                        <div class="col-md-12" id="divObrigatorio{{idx}}" style="display:none; color: red">
                            <label>O item {{ itemObrigatorio }} é obrigatório</label>
                        </div>
                      </p-fieldset>
                  </div>
              </div>    
          </div>
          <div id="corpPrincipalVisualizar" class="col-md-7" style="display: table !important; table-layout: fixed !important">
           <visualizador-documentos
              [identificadorDossie]="cpfCnpj" 
              id="component-visualizador-docs" 
              [tipoDossie]="tipoDossie" 
              [images]="images" 
              [incluirImagem]="incluirImagem" 
              [imagesCopy]="imagesCopy" 
              (imagesChange)="handleChangeImages($event)"             
              (documentoAClassificarChange)="handleChangeDocumentoAClassificarChange($event)" 
              [listaVinculoArvore]="listaVinculoArvore" 
              [tipoDocumentoArvoreGenericaAnterior]="tipoDocumentoArvoreGenericaAnterior"
              (imagesCopyChanged)="handleChangeimagesCopy($event)"
              (ordemPaginasAlteradaChange)="handlleOrdemPaginasAlteradaChange($event)"
              (alteradoArvoreChanged)="handleAlteradoArvore($event)"
              (alertMessagesErrorChanged)="handlleMessagesError($event)"
              (alertMessagesSucessChanged)="handlleMessagesSucess($event)"
              [dossieCliente]="true"
              [selecionadoFolhaDoNoDaArvore]="selecionadoFolhaDoNoDaArvore"
              *ngIf="images.length > 0">
            </visualizador-documentos>
          </div>
          <div id="div-col-max4" class="col-md-12">
            <div id="div-button-right" class="box-body pull-right">
                <button id="button-salvar" class="btn btn-primary" (click)="salvar()" [disabled]="!userExiste">Salvar</button>
            </div>
          </div>
      </div>    
  </div>
