.form-extracao {
    max-height: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.errorMessage {
    color: red;
}

.botoes {
    margin-top: 10px;
}