.content{
    padding: 0;
    margin: 0;
}
    .alinharAoLado{    
        display: inline-block;
        vertical-align: top;
    }
    .box-body {
        padding: 0 0 14px 0;
        width: 100%;
    }
        #collapse-sidebar-menu, .corpWizardDivisor  {
            display: inline-block;
            vertical-align: top;
        }
        .corpWizardDivisor {
            width: 79%;
            padding: 0px;
        }
            .corpWizardDivisor .row {
                margin: 0;
            }
        .corpWizard {
            float: left;
            padding: 0;
            width: 80%;
            position: relative;
        }
        .corpWizard .row {
            width: 100%;
        }
            .wizard {
                background: white;
                height: 80px;
                margin: 9px 0px 10px 0px;
            }
            .acoesWizard {
                background: white;
                height: 50px;
                margin: 10px 0px 10px 0px;
            }
                .incoAddVisualizar{
                    display: inline-block;
                    vertical-align: middle;
                    background: rgb(11, 108, 150);
                    padding: 2px 3px 2px 2px;
                    text-align: center;
                    border-radius: 0.2em;
                    cursor: pointer;
                }
                    .labelLeft {
                        margin-left: 1%;
                    }
                    .incoAddVisualizar .fa {
                        color: rgb(255, 255, 255) !important;
                    }
                        .horizontal {
                            transform: rotate(90deg);
                        }
                    .spanBtn {
                        float: right;
                        padding-top: 9px;
                        right: 8px;
                        position: relative;
                    }
                ::ng-deep .ng-trigger-animation {
                    z-index: 99999 !important;
                    top: 58px !important;
                    left: 0 !important;
                    right: 0 !important;
                    transform: translateY(0px) !important;
                    opacity: 1 !important;
                }
    .corpSide {
        width: 20%;
    }
        .asideTratamento {
            width: 100%;
            position: relative;
            float: left;
            padding: 0px;
        }

        .icon-collapse{
            cursor: pointer;
            background: rgb(0, 90, 156);
            z-index: 9;
            display: block;
            width: 100%;
            margin: auto;
            text-align: right;
        }
        .icon-collapse a {
            color: rgb( 255, 255, 255);
            font-size: 12px;
            padding: 10px 13px 12px 10px;
        }

        #collapse-sidebar-menu {
            -webkit-transition: width 2s ease;
            -moz-transition: width 2s ease;
            -o-transition: width 2s ease;
            transition: width 2s ease;
        }
        
        #collapse-sidebar-menu.in {
            width: 0;
            margin-right: 0.6%;
        }
            #collapse-sidebar-menu.in div a {
                background: rgb(0, 90, 156);
                padding: 10px 13px 12px 10px;
                position: relative;
                left: -14px;
                transform: rotate(180deg);
            }

.iconInterrogacao {
    border: 1px solid #005a9c;
    border-radius: 100em;
    padding: 5px 8px;
    font-size: 10px;
    color: #ffffff;
    background-color: #005a9c;
    position: relative;
    margin: 15px 10px;
    cursor: pointer;
}

.box-temporizador{
    display: inline-block;
    vertical-align: middle;
    text-align: right !important;
}
.box-temporizador-left{
    width: 8%;
}
.box-temporizador-rigth{
    width: 90%;
    margin-bottom: 2px;
}
.cronometro{
    width: 96%;
    margin-top: 3px !important;
}
#temporizador-tratamento {
    width: 100%;
}
.corpo-temporizador{
    text-align: right !important;
    border: 1px solid #005a9c;
    width: 15%;
    padding: 2px 6px 0px 6px;
    border-radius: 0.3em;
    float: right;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    position: fixed;
    background: #fff;
    right: 1%;
    z-index: 999;
}
.classe-renovar-tempo, .classe-renovar-tempo p{
    margin: 0px;
}
.classe-renovar-tempo p a{
    text-decoration: underline; 
    cursor: pointer; 
    color: black !important;
}

.input-switch-popup{
    vertical-align: middle !important;
    font-size: 15 !important;
}
.icon-acao-abrir-poup{
    margin-right: 5px !important;
    cursor: pointer;
   
}
