<header id="cabecalho-principal" class="main-header">
	<!-- Logo -->
	<a class="logo" (click)="atualizarPatriarca()">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini">
			<img src="assets/img/logo_caixa_x.png">
		</span>
		<!-- logo for regular state and mobile devices -->
		<img src="assets/img/titlefullc.png">
	</a>

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<div *ngIf="isApresentaBarraPesquisa()">
			<!-- Sidebar toggle button-->
			<a href="#" id="menu-principal" class="sidebar-toggle" data-toogle="offcanvas" role="button" title="Alternar menu lateral" data-toggle="tooltip"
			 data-placement="auto">
				<span class="sr-only"></span>
			</a>
			<!-- Navbar Right Menu -->
			<!-- search form (Optional) -->
			<div class="form-group campo-pesquisa-div dropdown col-xs-4 col-md-4">
				<div class="input-group" style="width: 100%;">
					<input type="text" class="form-control" id="navbar-search-input" placeholder="{{headerComponentPresenter.header.app.header.search}}" [(ngModel)]="headerComponentPresenter.header.filtrosvalor.pesquisaHeader"
					 (keydown.enter)="search();" data-toggle="tooltip" title="Insira algum valor para pesquisar" data-placement="auto">
					<div class="input-group-btn" *ngIf="headerComponentPresenter.header.currentView.filters">
						<button class="btn btn-default dropdown-toogle campo-pesquisa-dropdown" type="button" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right campo-pesquisa-dropdown-panel">
							<li>
								<div class="col-md-12">
									<form>
										<div class="row">
											<h5 class="titulo-cinza">{{headerComponentPresenter.header.app.header.filters}}</h5>
										</div>
										<div class="row" *ngFor="let filtro of headerComponentPresenter.header.currentView.filters">
											<div class="form-group">
												<label for="filtro-conexao">{{filtro.label}}</label>
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fa {{filtro.icon}}"></i>
													</span>
													<input type="text" class="form-control" [(ngModel)]="headerComponentPresenter.header.filtrosvalor[filtro.id]" *ngIf="filtro.type == 'text'">
													<select class="form-control" [(ngModel)]="headerComponentPresenter.header.filtrosvalor[filtro.id]" *ngIf="filtro.type == 'select'">
														<option value="">{{headerComponentPresenter.header.app.selects.choose}}</option>
													</select>
												</div>
											</div>
										</div>

										<div class="row pull-right">
											<button (click)="clean()" class="btn btn-primary btn-flat botao-somente-icone" data-toggle="tooltip" title="{{headerComponentPresenter.header.app.buttons.clean.label}}">
												<i class="fa {{headerComponentPresenter.header.app.buttons.clean.icon}}"></i>
											</button>
											<button (click)="search()" class="btn btn-primary btn-flat botao-somente-icone" data-toggle="tooltip" title="{{headerComponentPresenter.header.app.buttons.search.label}}">
												<i class="fa {{headerComponentPresenter.header.app.buttons.search.icon}}"></i>
											</button>
										</div>
									</form>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">

				<li class="dropdown confidencial-menu">
					<span class="confidencialCinco">CONFIDENCIAL #05</span>
				</li>

				<!-- Notifications Menu -->
				<li class="dropdown notifications-menu" *ngIf="isApresentaNotificacoes()">
					<!-- Menu toggle button -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">notifications</i>
						<span class="label label-warning" *ngIf="headerComponentPresenter.header.notificacoes.length">{{headerComponentPresenter.header.notificacoes.length}}</span>
					</a>
					<ul class="dropdown-menu shadow">
						<li class="header" *ngIf="headerComponentPresenter.header.notificacoes.length">{{headerComponentPresenter.header.app.header.notificationprefix}} {{headerComponentPresenter.header.notificacoes.length}} {{headerComponentPresenter.header.app.header.notificationsufix}}</li>
						<li class="header" *ngIf="!headerComponentPresenter.header.notificacoes.length">{{headerComponentPresenter.header.app.header.nonotification}}</li>
						<li>
							<!-- Inner Menu: contains the notifications -->
							<ul class="menu">
								<li *ngFor="let notificacao of headerComponentPresenter.header.notificacoes">
									<!-- start notification -->
									<a href="#" (click)="notificacao.link">
										<i class="fa {{notificacao.icone}} {{notificacao.corIcone}}">{{notificacao.descricao}}</i>
									</a>
								</li>
								<!-- end notification -->
							</ul>
						</li>
						<li class="footer" *ngIf="headerComponentPresenter.header.notificacoes.length">
							<a href="#">{{headerComponentPresenter.header.app.header.viewall}}</a>
						</li>
					</ul>
				</li>

				<!-- Erros Global Menu -->
				<li class="dropdown errosGlobal-menu" *ngIf="isApresentaNotificacoes()">
					<!-- Menu toggle button -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">error</i>
						<span class="label label-danger" *ngIf="headerComponentPresenter.header.listaErroGlobal.length">{{headerComponentPresenter.header.listaErroGlobal.length}}</span>
					</a>
					<ul class="dropdown-menu shadow">
						<!-- <li class="header" *ngIf="headerComponentPresenter.header.notificacoes.length">{{headerComponentPresenter.header.app.header.notificationprefix}} {{headerComponentPresenter.header.notificacoes.length}} {{headerComponentPresenter.header.app.header.notificationsufix}}</li> -->
						<li class="header" *ngIf="!headerComponentPresenter.header.listaErroGlobal.length">{{headerComponentPresenter.header.app.header.errosGlobalVazio}}</li>
						<li class="corpoListaErroGlobal">
							<!-- Inner Menu: contains the Erros Global -->
							<ul class="menu styleError">
								<li  class="listStyle" *ngFor="let erro of headerComponentPresenter.header.listaErroGlobal">
									<a (click)="openError(erro)">
										<i class="fa fa-exclamation-triangle corIconErrorGlobal"><a class="desError">{{erro.titulo}}</a></i>
									</a>
								</li>
								<li class="limparErros" *ngIf="headerComponentPresenter.header.listaErroGlobal.length > 0">
									<a (click)="limparErros()">Limpar Tudo</a>
								</li>
								<!-- end notification -->
							</ul>
						</li>
						<li class="footer" *ngIf="headerComponentPresenter.header.notificacoes.length">
							<a href="#">{{headerComponentPresenter.header.app.header.viewall}}</a>
						</li>
					</ul>
				</li>

				<li class="dropdown menu_ajuda">
					<!-- Menu toggle button -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">menu_book</i>
					</a>						
					<ul class="dropdown-menu shadow">
						<li>
							<!-- Inner Menu: contains manuais -->
							<ul class="menu manual">
								<ng-container *ngFor="let item of headerComponentPresenter.header.manuais">
									<li  class="listStyle" *ngIf="verificarPermissaoManual(item.roles)">
										<a href="{{item.url}}" target="_blank"> 
											<i class="fa fa-info-circle">
												<i class="item-manual">{{item.nome}}</i>
											</i>
										</a>
									</li>																							
								</ng-container>
							</ul>
						</li>
					</ul>			
				</li>

				<!-- User Account Menu -->
				<li id="dados-conta-usuario" class="dropdown user user-menu" *ngIf="isAutenticado() && isApresentaPerfilUsuario()">
					<!-- Menu Toggle Button -->
					<a id="logo-usuario"  href="#" class="dropdown-toggle info-usuario" data-toggle="dropdown">
						<span id="div-imagem-usuario" class="div-imagem-usuario">
							<!-- The userimage in the navbar-->
							<img [src]="getBufferUserImage()" class="user-image" *ngIf="headerComponentPresenter.header.hasImage">
							<img [src]="headerComponentPresenter.header.userImageDefault" class="user-image-default" *ngIf="!headerComponentPresenter.header.hasImage">
						</span>
					</a>
					<ul id="dados-perfil" class="dropdown-menu">
						<!-- The user image in the menu -->
						<li id="user-header" class="user-header" >
							<div style="width:100%">
								<img [src]="getBufferUserImage()" class="img-circle" *ngIf="headerComponentPresenter.header.hasImage">
								<img [src]="headerComponentPresenter.header.userImageDefault" style="height: 130px;" *ngIf="!headerComponentPresenter.header.hasImage">
							</div>
							<img src="assets/img/titlefullc.png" style="width: auto !important; margin-top: 10px"/>
							<hr>
							<p>
								<span style="font-weight: bold">Nome</span>
								<small>{{getNome()}}</small>
							</p>
							<p>
								<span style="font-weight: bold">Função</span>
								<small>{{getPerfil()}}</small>
							</p>
							<p>
								<span style="font-weight: bold">Matrícula</span>
								<small>{{getMatricula()}}</small>
							</p>
							<p>
								<span style="font-weight: bold">Unidade</span>
								<small>{{getUnidade()}}</small>
							</p>
							<hr *ngIf="headerComponentPresenter.header.isMockRole">
							<!-- Menu Body -->
							<div id="row-user-role" style="color: white">
								<div id="painel-perfil" *ngIf="headerComponentPresenter.header.isMockRole">
									<div style="font-weight: bold;">{{headerComponentPresenter.header.labelPerfil}}</div>
									<div id="div-admin" class="text-left ml10">
										<p-radioButton id="radio-btn-perfil1" class="radio-perfil1" name="groupname" value="1" label="{{headerComponentPresenter.header.labelAdmin}}" 
											[(ngModel)]="headerComponentPresenter.header.selectedRole" (click)="selecionarPerfil();"></p-radioButton>
									</div>
									<div id="div-cliente" class="text-left ml10">
										<p-radioButton id="radio-btn-perfil2" class="radio-perfil2" name="groupname" value="2" label="{{headerComponentPresenter.header.labelDossieCliente}}" 
											[(ngModel)]="headerComponentPresenter.header.selectedRole" (click)="selecionarPerfil();"></p-radioButton>
									</div>	
									<div id="div-produto" class="text-left ml10">
										<p-radioButton id="radio-btn-perfil3" class="radio-perfil3" name="groupname" value="3" label="{{headerComponentPresenter.header.labelDossieProduto}}" 
											[(ngModel)]="headerComponentPresenter.header.selectedRole" (click)="selecionarPerfil();"></p-radioButton>
									</div>
									<div id="div-extracao" class="text-left ml10">
										<p-radioButton id="radio-btn-perfil4" class="radio-perfil4" name="groupname" value="4" label="{{headerComponentPresenter.header.labelExtracaoManual}}" 
											[(ngModel)]="headerComponentPresenter.header.selectedRole" (click)="selecionarPerfil();"></p-radioButton>
									</div>
									<div  id="div-tratamento" class="text-left ml10">
										<p-radioButton id="radio-btn-perfil5" class="radio-perfil5" name="groupname" value="5" label="{{headerComponentPresenter.header.labelTratamento}}" 
											[(ngModel)]="headerComponentPresenter.header.selectedRole" (click)="selecionarPerfil();"></p-radioButton>
									</div>
									<div  id="div-tratamento" class="text-left ml10">
										<p-radioButton id="radio-btn-perfil5" class="radio-perfil5" name="groupname" value="6" label="{{headerComponentPresenter.header.labelTestModalExtracao}}" 
											[(ngModel)]="headerComponentPresenter.header.selectedRole" (click)="selecionarPerfil();"></p-radioButton>
									</div>
								</div>
								<hr>																
								<div *ngIf="!headerComponentPresenter.header.isMockRole">
									<div class="panel-body labelNegrito">{{headerComponentPresenter.header.labelPerfis}}</div>
									<ul>
										<li *ngFor="let perfil of headerComponentPresenter.header.presentationProfiles">
											{{perfil.description}} {{perfil.nickname}}
										</li>
									</ul>
									<div class="panel-body labelNegrito">Demais Perfis do Usuário:</div>
									<p-scrollPanel [style]="{width: '100%', height: '60px'}" styleClass="custombar">
										<ul>
											<li *ngFor="let perfil of headerComponentPresenter.header.withoutPresentationProfiles">
												{{perfil.profile}}
											</li>
										</ul>
									</p-scrollPanel>
								</div>								
							</div>
							<!-- /.row -->
							<!-- Menu Footer-->
							<hr *ngIf="!headerComponentPresenter.header.isMockRole">
							<div hidden="true" class="pull-left">
								<a href="#" class="btn btn-default btn-flat">{{headerComponentPresenter.header.app.header.profile}}</a>
							</div>
							<div class="alinhar-centro">
								<a (click)="logout()" href="#" class="btn btn-default btn-flat">{{headerComponentPresenter.header.app.header.signout}}</a>
							</div>
						</li>
					</ul>
				</li>
				<!-- Control Sidebar Toggle Button -->
				<!--<li *ngIf="isApresentaWidgetSidebar()" title="Widgets disponíveis" data-toggle="tooltip" data-placement="auto">
						<a href="#" data-toggle='control-sidebar'><i class="fa fa-gears"></i></a>
					  </li> -->
			</ul>
		</div>
	</nav>	
	<div *ngIf="ativarToogle()"></div>

</header>