<div class="crud-container">
  <div class="panel panel-default crud-border">
    <div class="crud-title">
        <label>Canais</label>
        <hr class="crud-line-bottom-grid">
    </div>
    <div class="panel panel-default crud-align">
      <div class="panel-heading crud-style">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="input-group pull-left" style="width: 30%">
                <input id="filtroGlobal" pInputText type="text" class="form-control"  
                  (input)="realizarFiltroCanais($event.target.value, dataCanais);" placeholder="Filtro Global">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
            </div> 
            <div class="pull-right">
              <button id="btNovo" type="button" class="btn btn-primary" (click)="novoCanal()">Novo
                  <span class="fa fa-plus"></span>
              </button>
            </div>
        </nav> 
      </div>
    </div>      
    <div class="panel-body">
        <p-table #dataCanais [columns]="pesquisaCanalPresenter.pesquisaCanal.columns" class="crud-table"
          [paginator]="true" [rows]="15" [responsive]="true" (sortFunction)="realizarOrdenacao($event)" 
           [rowsPerPageOptions]="pesquisaCanalPresenter.pesquisaCanal.rowsPerPageOptions" [responsive]="true" scrollable="true" scrollHeight="500px"
            [customSort]="true" [value]="pesquisaCanalPresenter.pesquisaCanal.canais">
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="columns.length">
                      Nenhum canal encontrado
                  </td>
              </tr>
            </ng-template>   
            <ng-template pTemplate="header" let-columns>
              <tr>
                <ng-template ngFor let-col [ngForOf]="columns">
                    <ng-container [ngSwitch]="col.field">
                      <ng-container *ngSwitchCase="'acoes'">
                          <th class="{{col.class}}">
                              {{col.header}}
                          </th>                       
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <th class="{{col.class}}" *ngIf="col.tooltip" tooltipPosition="top" 
                          pTooltip="{{col.msg}}" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th class="{{col.class}}" *ngIf="!col.tooltip" [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>                      
                      </ng-container>
                    </ng-container>
                </ng-template> 
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-canal let-columns="columns">
              <tr>
                  <td *ngFor="let col of columns" [ngSwitch]="col.field" class="{{col.class}}">
                      <ng-container *ngSwitchCase="'indicador_extracao_m0'">
                        {{canal[col.field] ? 'SIM' : 'NÃO'}}
                      </ng-container> 
                      <ng-container *ngSwitchCase="'acoes'">
                          <span 
                              class="fa fa-fw fa-edit" 
                              tooltipPosition="top" 
                              pTooltip="Editar Canal"
                              (click)="editarCanal(canal.identificador_canal)"
                              style="cursor: pointer">
                          </span>
                          <span 
                            class="fa fa-fw fa-trash" 
                            tooltipPosition="top" 
                            pTooltip="Remover Canal"
                            (click)="confirmarRemocao(canal.identificador_canal)"
                            style="cursor: pointer">
                        </span>                           
                      </ng-container>                                                
                      <ng-container *ngSwitchDefault>
                        {{canal[col.field] ? canal[col.field] : '-'}}
                      </ng-container>                          
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <ng-container *ngIf="pesquisaCanalPresenter.pesquisaCanal.canais.length > 0">
                  Total: {{pesquisaCanalPresenter.pesquisaCanal.canais.length}} canais
              </ng-container>             
          </ng-template>
      </p-table>
      <p-confirmDialog header="Confirmação" icon="fa fa-question-circle" width="425" #cd>
        <p-footer>
            <button type="button" pButton icon="fa fa-close" label="Não" (click)="cd.reject()"></button>
            <button type="button" pButton icon="fa fa-check" label="Sim" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>
    <cx-alert-message id="component-alert-pesquisa-canal" [messagesInfo]="messagesInfo" [messagesSuccess]="messagesSuccess"
      [messagesError]="messagesError" (onCloseMessageInfo)="onCloseMessageInfo()"
      (onCloseMessageError)="onCloseMessageError()" (onCloseMessageSuccess)="onCloseMessageSuccess()"
      [messagesWarning]="messagesWarning" (onCloseMessageWarning)="onCloseMessageWarning()">
    </cx-alert-message>              
    </div>
  </div>
</div>