<div class=" box box-primary" analytics-page>  
    <cx-header-widget></cx-header-widget>
    <div class="box-body">
        <div class="box-body col-md-12">
          <label class="labelTitulo"> Informe o código do dossiê produto para consultar:</label>
        </div>
        <div class="box-body col-md-6">
          <form [formGroup]="formulario">
            <div class="form-inline">
              <div class="form-group pull-left" [ngClass]="applyCssError()">
                <input id="idDossie" (keyup.enter)="chamaConsulta()" formControlName="idDossie" class="form-control" maxlength="19" type="number" [(ngModel)]="idDossie" />
              </div>
              <div class="form-group pull-left">
                <button type="submit" name="submit" (click)="chamaConsulta()" class="btn btn-default btn-flat" [disabled]="disableSearch()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </form>
        </div>
        <div class="box-body col-md-6 pull-right">
          <a id="open-modal-novo-dossie" class="btn btn-primary positionRight" (click)="abreModalProcessos()">Novo Dossiê Produto</a>
        </div>  
        <div *ngIf="!userFound && searchDone" class="box-body col-md-12 corpAlerDossieProduto">
          <h4 class="text-light-blue posicaoAlert">Dossiê Produto não localizado para o código informado: {{idConsultado}}</h4>
        </div>
    </div>
</div>
