<p-accordion [multiple]="true">
    <p-accordionTab [ngClass]="{oculatarExpandir: macroProcesso.quantidade_dossies == 0}" [disabled]="macroProcesso.quantidade_dossies == 0">
        <p-header>
            <div class="boxheader boxNumearl">{{macroProcesso.quantidade_dossies}}</div>
            <div class="boxheader boxInformativo">
                <h2>{{macroProcesso.nome}}</h2>
                <a class="cursoPoint" (click)="chamarTelaTratamento(macroProcesso.id, macroProcesso.id, macroProcesso.quantidade_dossies == 0)" >Tratar Próximo</a>
            </div>
        </p-header>     
        <div *ngIf="listaDossie.length > 0">
            <span  *ngFor="let itDossie of listaDossie">
                <p-accordionTab [ngClass]="{subArccodionTratamento: true, oculatarExpandir: itDossie.quantidade_dossies == 0}" [disabled]="itDossie.quantidade_dossies == 0">
                    <p-header>
                        <div class="boxheaderInterno boxNumeradorDossie">{{itDossie.quantidade_dossies}}</div>
                        <div class="boxheaderInterno">{{itDossie.nome}}</div>                        
                        <div class="linInterno cursoPoint" (click)="chamarTelaTratamento(macroProcesso.id, itDossie.id)">Tratar Próximo</div>
                    </p-header>
                <span class="subArccodionTratamento" *ngFor="let fase of itDossie.processos_filho">
                    <article class="margimTop30" *ngIf="fase.quantidade_dossies != 0">
                        <div class="boxheaderInterno dezLeft boxNumeradorDossie">{{fase.quantidade_dossies}}</div>
                        <div class="boxheaderInterno paragrafoFase">{{fase.nome}}</div>                        
                        <div class="linInterno cursoPoint" (click)="chamarTelaTratamento(macroProcesso.id, fase.id)">Tratar Próximo</div>
                    </article>
                </span>
                </p-accordionTab> 
            </span>
        </div>    
    </p-accordionTab>
</p-accordion>
