.inline-title{
    display: inline-flex;
    margin-bottom: 20px;
}

fieldset {
    margin-top: 5px;
    padding: 0 !important;
    border: none !important;
}
    .ui-fieldset .ui-fieldset-legend {
        border: none !important;
        background: rgb(206, 235, 248) !important;
        color: rgb(0, 90, 156) !important;
        border-bottom: 3px solid rgb(0, 90, 156) !important;
        font-weight: bold !important;
    }

.fieldsetDocumentos legend{ 
    white-space: normal !important;
    text-align: center !important;
}

.fieldsetDocumentos .titulo-grid{
    width: 100%;
}

.input-filtro{
    border: 1px solid #d2d6de;
    border-radius: 4px; 
    padding-right: 10px;
    height: 34px !important;
    width: 100% !important;
    z-index: 99;
    position: relative;
    display: block;
}

.input-filtro input{
    color: #555;
    background-color: #fff;
    border : none;  
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;   
    width: 96%
}

.input-filtro button {
    float : right;
    background-color: #fff;
    color: #666;
}

.input-filtro i {
    color: #666;
    margin-top: 8px;
}

.button-filtro{
    padding: 5px 12px !important
}

.p-data-table{
    margin-top: 15px;
    display: table;
}

.modal-header-inline{
    display: inline-flex;
    width: 100%;
    padding: 0px 0px 1px 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}

.modal-color-title{
    color:rgb(0, 90, 156);
    font-weight: 600;
}

.ui-widget-content {
    border: none !important;
}

.ui-datatable thead tr {
    border-bottom: 3px solid rgb(0, 90, 156);
}

.ui-datatable th.ui-state-default{
    background:rgb(206, 235, 248);
    color:rgb(0, 90, 156);
    font-weight: bold !important;
}

.modal-table-column{
    border: none !important;
    text-align: center;
    color:rgb(0, 90, 156);
    font-weight: 600;
}