<div id="div-atualizar" class="inline-title">
    <h4 id="header-data-apuracao">
        <b>Data/Hora Apuração: {{gridProdutosDocsValidosPresenter.nivelDocumental.dataHoraApuracaoNivel}}</b>
    </h4> 
    <button id="button-atualizar" (click)="atualizaNivelDocumental()" class="btn btn-primary">Atualizar</button>
</div>

<p-fieldset id="fieldset-doc-validos" class="fieldsetDocumentos">
    <p-header id="header-doc-validos">
        <div class="titulo-grid">Produtos com Documentação Válida</div>
    </p-header>
    <div id="div-filtro" class="input-filtro" style="display: inline-flex; padding: 0;">
        <input id="input-filtro" #filtro type="text" maxlength="100" placeholder="Filtrar...">
        <i class="fa fa-search"></i>
    </div>
</p-fieldset>

<p-dataTable 
    id="component-table-produtos"
    [value]="gridProdutosDocsValidosPresenter.nivelDocumental.produtosHabilitados"
    [globalFilter]="filtro"
    class="p-data-table" 
    [paginator]="true" 
    [rows]="3" 
    [totalRecords]="gridProdutosDocsValidosPresenter.nivelDocumental.produtosHabilitados.length" 
    [rowsPerPageOptions]="[10,15,20]">
        <span style="display: none;">{{countRowToProgressBar()}}</span> 
        <ng-template pTemplate="emptymessage"  id="column-msg-tabela-produto-validos">
            Nenhum registro encontrado 
        </ng-template>
        <p-column id="column-operacao" field="codigoOperacao" header="Operação" styleClass="modal-table-column" [style]="{ 'width': '15%' }">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.codigoOperacao}}
            </ng-template>
        </p-column>
        <p-column id="column-modalidade" field="codigoModalidade" header="Modalidade" styleClass="modal-table-column" [style]="{ 'width': '15%' }">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.codigoModalidade}} 
            </ng-template>
        </p-column>
        <p-column id="column-produto" field="nome" header="Produto" styleClass="modal-table-column" [style]="{ 'width': '70%' }">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.nome}}
            </ng-template>
        </p-column>
</p-dataTable>
