<div class="box box-solid collapsed-box">
  <div class="box-header with-border box-primary" data-widget="collapse">
    <div class="box-tools btn btn-box-tool fa fa-plus">
    </div>
    <h3 class="box-title">Dados da Empresa</h3>
  </div>
  <div class="box-body no-padding">
    <div class="col-md-12">
      <div class="col-md-6">
        <label>CNPJ:</label>
        <p>{{cnpj | kzCnpj}}</p>
      </div>
      <div class="col-md-6">
        <label>Razão Social:</label>
        <p>{{sicliUser.dadosBasicos.razaoSocial}}</p>
      </div>

      <div class="col-md-6">
        <label>Nome Fantasia:</label>
        <p>{{sicliUser.dadosBasicos.nomeFantasia}}</p>
      </div>
      <div class="col-md-6">
        <label>Data Fundação:</label>
        <p>{{sicliUser.dadosBasicos.dtConstituicao}}</p>
      </div>
      <!--Indicador de Matriz ou Filial -->
      <div class="col-md-6" *ngIf="sicliUser.dadosBasicos.matrizFilial != null">
        <label>Tipo:</label>
        <p>{{sicliUser.dadosBasicos.matrizFilial}}</p>
      </div>
      <!-- Finalidade Empresa-->
      <div class="col-md-6">
        <label>Finalidade:</label>
        <p>{{sicliUser.dadosBasicos.tpFimLucrativo}}</p>
      </div>

      <!-- Faturamento Receita 12 meses -->
      <div class="col-md-12" *ngFor="let item of sicliUser.faturamento12meses; let idx = index">
        <div>
          <label>Faturamento Último 12 meses. Data da apuração: {{transformData(item.dtApuracao)}}</label>
        </div>

        <div class="col-md-6">
          <label>Valor:</label>
          <p>{{item.valorFolhaPagamento}}</p>
        </div>
        <div class="col-md-6">
          <label>Quantidade Meses:</label>
          <p>{{item.mesFinanceiro}}</p>
        </div>
      </div>

      <!-- Natureza Jurídica -->
      <div class="col-md-12" *ngIf="sicliUser.NATUREZA_JURIDICA != null">
        <div>
          <label>Natureza Jurídica</label>
        </div>
        <div class="col-md-4">
          <label>Nível 1:</label>
          <p>{{sicliUser.NATUREZA_JURIDICA.CD_NIVEL1}}</p>
        </div>
        <div class="col-md-4">
          <label>Nível 2:</label>
          <p>{{sicliUser.NATUREZA_JURIDICA.CD_NIVEL2}}</p>
        </div>
        <div class="col-md-4">
          <label>Concla:</label>
          <p>{{sicliUser.NATUREZA_JURIDICA.COD_CONCLA}}</p>
        </div>
      </div>

      <!-- Composição Societária -->
      <!-- Sócios Registrados na Composição Societária-->
      <!-- Dados Cadastrais do Sócio -->
      <!-- Vem um dado cadastral para cada socio registrado. 1 pra 1 -->
      <div class="col-md-12" *ngFor="let item of sicliUser.composicaoSocietaria; let idx = index">
        <div>
          <label>Sócio {{idx + 1}} registrado na data: {{transformData(item.dtContratoSocial)}}</label>
        </div>

        <div class="col-md-4">
          <label>Código do Documento:</label>
          <p>{{item.socios.coDocumento}}</p>
        </div>
        <div class="col-md-12" *ngFor="let socio of item.socios; let idSocio = index">
        <div class="col-md-8">
          <label>Nome:</label>
          <p>{{socio.noPessoa}}</p>
        </div>

        <div class="col-md-4">
          <label>Participação %:</label>
          <p>{{socio.pcParticipacaoSocietaria}}</p>
        </div>
        <div class="col-md-4">
          <label>Data Entrada:</label>
          <p>{{transformData(socio.dtIngressoSocio)}}</p>
        </div>
      </div>
      </div>

      <!-- Composição Administrativa -->
      <!-- Adm/Contr/Diretores Registrados na Composição Administrativa -->
      <!--Dados Cadastrais do Adm/Contr/Diretor -->
      <!-- Vem um dado cadastral para cada adm/diretor na composição administrativa. 1 para  1-->
      <div class="col-md-12" *ngFor="let item of sicliUser.composicaoAdministrativa; let idx = index">
        <div>
          <label>Composição administrativa registrada na data: {{transformData(item.dtComposicaoAdministrativa)}}</label>
        </div>
        <div class="col-md-12" *ngFor="let administrador of item.administradores; let idAdmin = index">
          <div class="col-md-4">
            <label>Código do Documento:</label>
            <p>{{administrador.coDocumento}}</p>
          </div>
          <div class="col-md-8">
            <label>Nome:</label>
            <p >{{administrador.noPessoa}}</p>
          </div>

          <div class="col-md-12">
            <label>Função:</label>
            <p>{{administrador.nuFuncaoPsa}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>