<!DOCTYPE html>
<html lang="pt-br">

<!--
	Esta é a página inicial do seu projeto.

	Este template utiliza o conceito de uma unica pagina.

	Isto significa que todas as telas da sua aplicação serão carregadas nesta página no container page-container definido no corpo da página.
	O cabecalho, menu e o rodape tambem sao carregados nesta pagina em seus respectivos containeres.
	Cada tela definida em seu projeto é um estado. Cada estado é composto de uma pagina (html) e um controller (js).
	Estes estados são definidos no arquivo js\app.js
-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="imgs/png" href="imgs/favicon.png"/>

    <title>DOSSIE - Dossiê Digital</title>

    <!-- Bootstrap Core CSS -->
    <link href="./lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- datetime Picker CSS -->
    <link href="./lib/css/daterangepicker-bs3.css" rel="stylesheet">
    
        <!-- Pesquisa CPF CSS -->
    <link href="./css/pesquisa.css" rel="stylesheet">
    
    <!-- Custum CSS -->
    <link href="./css/custom.css" rel="stylesheet">
    
    <!-- Menu Lateral CSS -->
    <link href="./css/menu.css" rel="stylesheet">    
    
    <link ng-if="project && project.theme" ng-href="./css/{{project.theme.value}}" rel="stylesheet" type="text/css">

    <!-- Auto Complete CSS -->
    <link href="./lib/css/angucomplete-alt.css" rel="text/css">
    
    <!-- jQuery-growl css -->
    <link href="./lib/css/jquery.growl.css" rel="stylesheet">
    <link href="./lib/css/jquery-ui.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./lib/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="./js/pdf.js"></script>
    <script src="./js/pdf.worker.js"></script>

    <!-- jQuery -->
    <script src="./lib/js/jquery.min.js"></script>
    <script src="./lib/js/jquery.maskMoney.js"></script>
     <script src="./lib/js/jquery-ui.js"></script>
    
    <!-- jQuery-growl -->
    <script src="./lib/js/jquery.growl.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- script src="cordova.js"></script -->


    <!-- Angular JS -->
    <script src="./lib/js/angular.min.js"></script>
    <script src="./lib/js/angular-animate.min.js"></script>
    <script src="./lib/js/angular-ui-router.min.js"></script>
    <script src="./lib/js/angular-translate.min.js"></script>
    <script src="./lib/js/angular-material.min.js"></script>
    <script src="./lib/js/angular-sanitize.min.js"></script>
    <script src="./lib/js/mask.js"></script>
    <script src="./lib/js/picklist.js"></script>
    
    
    <!-- Bootstrap Core JavaScript -->
    <script src="./lib/js/bootstrap.min.js"></script>
    <script src="./lib/js/ui-bootstrap-0.14.3.min.js"></script>

    <!-- SmartTable plugin -->
    <script src="./lib/js/smart-table.min.js"></script>

    <!-- Datetime Picker Javascript -->
    <script src="./lib/js/moment.min.js"></script>
    <script src="./lib/js/daterangepicker.min.js"></script>

    <!-- suporte a criptografia -->
    <script src="./lib/js/sha1.min.js"></script>
    <script src="./lib/js/base64.min.js"></script>

    <!-- Charts plugins -->
    <script src="./lib/js/highcharts.js"></script>
    <script src="./lib/js/highcharts-ng.min.js"></script>

    <!-- WebGL -->
    <script src="webgl/three.min.js"></script>
    <script src="webgl/controls/OrbitDeviceControls.js"></script>
    <script src="webgl/loaders/MTLLoader.js"></script>
    <script src="webgl/loaders/OBJLoader.js"></script>
    <script src="webgl/Detector.js"></script>
    <script src="webgl/webgl.js"></script>

    <!-- QRCode -->
    <script src="./lib/js/jquery.qrcode.0.14.0.min.js"></script>
    <script src="./lib/js/angular-qrcode.js"></script>


    <!-- Project Configuration -->
    <script src="./js/data.js"></script>
    <script src="./js/config.js"></script>

    <!-- Angular Modules -->
    <script src="./js/app.js"></script>
    <script src="./js/controllers.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/filters.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/interceptors.js"></script>
    <script src="./js/internacionalizacao.js"></script>
    <script src="./js/webservice.js"></script>
    <script src="./js/acessibilidade.js"></script>
    
    <!-- Angular Controllers -->
    <script src="./js/controllers/splashcontroller.js"></script>
    <script src="./js/controllers/principalcontroller.js"></script>
    <script src="./js/controllers/sobrecontroller.js"></script>
    <script src="./js/controllers/cadastrarcontroller.js"></script>
    <script src="./js/controllers/esquecisenhacontroller.js"></script>
    <script src="./js/controllers/perfilcontroller.js"></script>
    <script src="./js/controllers/resumodoclientecontroller.js"></script>
    <script src="./js/controllers/cadastrocontroller.js"></script>
    <script src="./js/controllers/avaliacaoderiscocontroller.js"></script>
    <script src="./js/controllers/informacesdoclienteeparametrosdacontacontroller.js"></script>
    <script src="./js/controllers/informacesdoclientecontaconjuntacontroller.js"></script>
    <script src="./js/controllers/informacesdoclienteprocuradortutorcuradorcontroller.js"></script>
    <script src="./js/controllers/pesquisascadastraiscontroller.js"></script>
    <script src="./js/controllers/digitalizacaodedocumentoscontroller.js"></script>
    <script src="./js/controllers/digitalizacaodocidentificacaofechadocontroller.js"></script>
    <script src="./js/controllers/digitalizacaodocidentificacaoabertocontroller.js"></script>
    <script src="./js/controllers/digitalizacaocompresidnciafechadocontroller.js"></script>
    <script src="./js/controllers/digitalizacaocompresidnciaabertocontroller.js"></script>
    <script src="./js/controllers/digitalizacaocomprendafechadocontroller.js"></script>
    <script src="./js/controllers/digitalizacaocomprendaabertocontroller.js"></script>
    <script src="./js/controllers/cartaoassinaturacontroller.js"></script>
    <script src="./js/controllers/cadastramentodesenhaclientecontroller.js"></script>
    <script src="./js/controllers/produtosdoclientecontroller.js"></script>
    <script src="./js/controllers/dossidigitalcontroller.js"></script>
    <script src="./js/controllers/roteironegocialcontroller.js"></script>
    <script src="./js/controllers/portfliodeacessoscontroller.js"></script>
    <script src="./js/controllers/caixaseguroscontroller.js"></script>
    <script src="./js/controllers/declaracaodedadoscontroller.js"></script>
    <script src="./js/controllers/assinaturadogerentecontroller.js"></script>
    <script src="./js/controllers/autorizacaodocumentalcontroller.js"></script>
    <script src="./js/controllers/consultaavaliacesvalidascontroller.js"></script> 
    <script src="./js/controllers/avaliacaoderiscoclientecomercialcontroller.js"></script>
    <script src="./js/controllers/consultaavaliacesvalidasaprovadascontroller.js"></script>
    <script src="./js/controllers/avaliacaoderiscooperacaocontroller.js"></script>
    <script src="./js/controllers/aberturadecontacontroller.js"></script>
    <script src="./js/controllers/assinaturadogerentefinalcontroller.js"></script>
    <script src="./js/controllers/aberturadecontaresultadocontroller.js"></script>
    <script src="./js/controllers/relatorios.js"></script>
    <script src="./js/controllers/parametrizacaofuncoes.js"></script>
    <script src="./js/controllers/parametrizacaoniveldocumentalcontroller.js"></script>
        
    <!-- Validacao de campos -->
    <script src="./js/validadorCaixa.js"></script>

    <!-- Upload -->
    <script src="./lib/js/uploader.js"></script>

    <!-- VK Beautify -->
    <script src="./lib/js/vkbeautify.min.js"></script>

    <!-- Breadcrumbs.js -->
    <script src="./lib/js/angular-breadcrumb.min.js"></script>

    <!-- metricas -->
    <script src="./js/caixaanalytics.js"></script>

    <!-- Auto Complete -->
    <script src="./lib/js/angucomplete-alt.min.js"></script>

    <!-- Carrosel Touch -->
    <script src="./lib/js/angular-touch.js"></script>
    
     <script src="./js/constants.js"></script>
    <script src="./keycloak/keycloak.js"></script>
    <script src="./keycloak/app.js"></script>
    
</head>

<body class="theme-app" ng-class="(project.menu && currentview.menu != false?'menu':'') + ' ' + (project.menu==false && currentview.menu!=false?'tabbed':'') + ' ' + platforms + ' ' + (project.footer?'footer':'')">
    <div ng-if="!project" class="preloader"></div>

    <div ng-if="project" class="wrapper" ng-class="{'splash': pageTitle =='splash'}">

        <div ui-view="header-container"></div>

        <div ui-view="menu-container" role="navigation"></div>

        <div ui-view="page-container" class="page-wrapper theme-main-container"></div>

        <div ui-view="footer-container" class="theme-footer-container"></div>
		
    </div>
    
    <div id="loadingID" class="page-loader wrapper" ng-if="project">
	</div>
    
</body>

</html>