<section class="corpoVisualizarCorpoExterno">
    
    <cx-loader></cx-loader>
    <nav class="reader-img-externo">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- logo for regular state and mobile devices -->
            <img src="assets/img/titlefullc.png">
        </a>
    </nav>
    
    <div class="row">
        <br />
    </div>
    
    <div class="row" style="margin-right: 5px; margin-left: 5px;">

        <div class="form-group col-md-12">
            <span class="centralizarHeight"></span>
            <a class="incoAddVisualizar" (click)="habilitarDuasVisualizacaoImg()" pTooltip="Visualizar dois documentos (Ctrl+D)">
                <i class="fa fa-fw fa-columns horizontal"></i>
            </a>
            <label for="layout" style="margin-right: 5px !important; margin-left: 5px !important;">Layout</label>
            <select id="layout"  class="form-control select2" name="layout" style="width: 30% !important;">
                <option value="VERTICAL">Vertical</option>
                <option value="HORIZONTAL">Horizontal</option>
            </select>
        </div>
        
    </div>

    <div class="row">
        <br />
    </div> 

    <!-- Apresentar visualização dos documentos -->
    <div class="row" style="margin-right: 5px; margin-left: 5px;">
        <div class="col-md-6" 
        [ngClass]="{'layoutVertical': (isHabilitarDuasVisualizacaoImg && tipoLayout == 'VERTICAL') || (!isHabilitarDuasVisualizacaoImg)}">
            <div class="box boxVisualizar vertical">
        
                <nav class="box-header ui-sortable-handle cursoMove">
                    <h4>
                        <i class="fa fa-folder-open-o"></i>
                        <span>Visualizar Documento</span>
                    </h4>
                </nav>
        
                <app-visualizar-externo 
                    [idCombo]="'1'"
                    [chekListFase]="objImagemVisualizar.chekListFase" 
                    class="componentVisualizar" 
                    [dossieProduto]="objImagemVisualizar.dossieProduto" 
                    [hasMapListaCombo]="objImagemVisualizar.hasMapListaCombo" 
                    [idVisualizar]="'1'" 
                    [visualizadorDois]="objImagemVisualizar.visualizadorDois" 
                    [listaDocumentacao]="objImagemVisualizar.listaDocumentacao" 
                    [listDocumentosImagens]="objImagemVisualizar.listDocumentosImagens" 
                    [listDocumentosImagensComparar]="objImagemVisualizar.listDocumentosImagensComparar" 
                    [alutraMaxHeigthImg]="objImagemVisualizar.alutraMaxHeigthImg" 
                    [layoutVerticalA]="objImagemVisualizar.layoutVerticalA">
                </app-visualizar-externo>
            </div>
        </div>

        <div class="col-md-6" 
            *ngIf="isHabilitarDuasVisualizacaoImg" 
            [ngClass]="{'layoutVertical': isHabilitarDuasVisualizacaoImg && tipoLayout == 'VERTICAL' }">
                
            <div class="box boxVisualizar vertical">
                <nav class="box-header ui-sortable-handle cursoMove">
                    <h4>
                        <i class="fa fa-folder-open-o"></i>
                        <span>Visualizar Documento</span>
                    </h4>
                </nav>
        
                <app-visualizar-externo 
                    [idCombo]="'2'"
                    [chekListFase]="objImagemVisualizar.chekListFase"
                    class="componentVisualizar" 
                    [dossieProduto]="objImagemVisualizar.dossieProduto" 
                    [hasMapListaCombo]="objImagemVisualizar.hasMapListaCombo" 
                    [idVisualizar]="'2'" 
                    [visualizadorDois]="objImagemVisualizar.visualizadorDois" 
                    [listaDocumentacao]="objImagemVisualizar.listaDocumentacao" 
                    [listDocumentosImagens]="objImagemVisualizar.listDocumentosImagens"
                    [listDocumentosImagens2]="listDocumentosImagens2" 
                    [listDocumentosImagensComparar]="objImagemVisualizar.listDocumentosImagensComparar" 
                    [alutraMaxHeigthImg]="objImagemVisualizar.alutraMaxHeigthImg" 
                    [layoutVerticalA]="objImagemVisualizar.layoutVerticalA">
                </app-visualizar-externo>
            </div>
    
        </div>

    </div>

    <footer class="footer-img-externo">
        <img _ngcontent-c5="" src="assets/img/pedes.png">
        <label class="footDescricao">SIMTR - Manutenção Tratamento e Reuso de Dados e Imagens</label>
    </footer>
    <canvas id="pdfcanvas" style="display: none"></canvas>
   
</section>

