.corpoVisualizarCorpoExterno {
    height: 100%;
    position: absolute;
    width: 100%;
}
    .corpFiltrorilho {
        position: relative;
        margin: auto;
        width: 400px;
        z-index: 9999
    }
        .ui-overlaypanel {
            width: 400px
        }
    .reader-img-externo, .footer-img-externo {
        position: relative;
        z-index: 1030;
        background-color: rgb(60, 141, 188);
        padding: 12px;
    }
        .visualizarImagem {
            max-height: 100%;
            height: 85.4%;
            overflow: auto;
        }
        .footDescricao {
            color: rgb(255, 255, 255);
            position: relative;
            width: 81%;
            text-align: center;
        }
        .boxIconsAcao{
            padding: 7px;
            font-size: 16px;
        }
            .iconsLeft {
                margin-right: 40px;
            }
            .boxIconsAcao span {
                display: inline-block;
                vertical-align: top;
                padding: 5px;
                margin-bottom: 6px;
                background-image: -webkit-linear-gradient(bottom, rgb(16, 79, 128) 0%, rgb(11, 112, 153) 100%);
            }
                .boxIconsAcao span a i {
                    color: rgb( 255, 255, 255) !important;
                }
        .actualTarget {
            width: 100%;
            position: relative;
        }
        .boxVisualizar {
            text-align: center;
        }
        .boxIconsAcao span a .girandoImg180 {
            transform: rotate(180deg);
        }
        .fontUnset {
            font-family: unset;
        }
        .boxVisualizar {
            text-align: center;
        }
        .boxVisualizar label {
            margin-left: 2%;
            padding: 2px 3px 0px 0px;
        }
        h4{
            display: inline-block;
        }
        .boxIconsAcao{
            width: 100%;
            position: relative;
            padding: 5px 0px;
            margin: auto;
        }
            .boxIconsAcao span {
                display: inline-block;
                vertical-align: top;
                padding: 5px;
                 margin-bottom: 6px;
                /**IE 10*/
                background-image: -ms-linear-gradient(bottom, #145479 0%, #0877A2 100%);;
                /**Mozila FireFox*/
                background-image: -moz-linear-gradient(bottom, #145479 0%, #0877A2 100%);
                /**Safari/Chrome 10*/
                background-image: -webkit-linear-gradient(linear, left, bottom, left top, color-stop(0, #145479) color-stop(100, #0877A2));
                /**Chrome 11*/
                background-image: -webkit-linear-gradient(bottom, rgb(16, 79, 128) 0%, rgb(11, 112, 153) 100%);
            }
                .boxIconsAcao span.iconsLeft {
                    float: left;
                }
                .boxIconsAcao span.iconsRigth {
                    float: right;
                }
                    .boxIconsAcao span a {
                        padding: 5px;
                        margin-left: 1px;
                        cursor: pointer;
                    }
                    .boxIconsAcao span a .girandoImg180 {
                        transform: rotate(180deg);
                    }
                    .boxIconsAcao span a i {
                        color: rgb( 255, 255, 255) !important;
                    }
        /* transform: rotate(180deg); */
        .visualizarImagem {
            text-align: center;
            overflow: auto;
        }
            #imgDestaque {
                overflow: auto;
            }
        
            .no-select {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: move;
                cursor: -moz-grab;
                cursor: -webkit-grab;
                border: 1px solid rgb(217, 217, 217);
                margin: auto;
                width: 100% !important;
            }
        
            .no-select:active {
                cursor: move;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
            /* margin: auto;
            position: relative;
            width: 98%; */
            .boxCombo {
                text-align: center;
                width: 100%;
                margin: auto
            }
                .espacoCombo {
                    margin-left: 1%;
                }
                .boxCombo div, .boxComboUmvisualizador div {
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;
                    position: relative;
                    text-align: left;
                }
        
        .boxVisualizar .ng-trigger-animation{ 
            z-index: 999999 !important;
            top: 0px !important;
            left: 0px !important;
            transform: translateY(0px) !important;
            opacity: 1 !important;
            position: absolute !important; 
            width: 100% !important;
        }
        
        .boxVisualizar .ui-slider-handle{
            cursor: pointer;
        }
        
        .boxVisualizar .ui-overlaypanel-close{
            top: -9px;
            right: -3px;
        }
        .cursoMove {
            padding: 0px 10px 0px 10px;
            background: rgb(234, 240, 243);
            border-bottom: 3px solid #005a9c;
        }
            .cursoMove button {
                float: right;
            }        
                .incoAddVisualizar{
                    display: inline-block;
                    vertical-align: middle;
                    background: rgb(11, 108, 150); 
                    padding: 8px 8px 8px 8px;
                    text-align: center;
                    border-radius: 0.2em;
                    cursor: pointer;
                }
                .centralizarHeight{
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
                    .incoAddVisualizar .fa {
                        color: rgb(255, 255, 255) !important;
                    }
                    .horizontal {
                        transform: rotate(90deg);
                    }
.layoutVertical  {
    width: 100% !important;
}
.layoutHorizontal  {
    width: 50% !important;
}
