<div class="box-header-arvore">
    <div class="tamanhoCorpToogle" style="margin-top: 10px;">
        <label class="switch" tooltipPosition="left" pTooltip="{{tooltip}}">
            <!--Controla collapse individual passando os ids-->
            <input class="toggle" type="checkbox" *ngIf="multiple"
                [(ngModel)]="expandMultiple" (change)="expandMultipleAll();">
            <!--Controla collapse individual por id-->
            <input class="toggle" type="checkbox"  [(ngModel)]="expandSingle" 
                *ngIf="!multiple" (change)="expandSingleAll();">
            <span class="slider round"></span>
        </label>
        <label class="corTexto espaco">{{title}}</label>
    </div>
</div>