<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderController">
    <div class="navbar-header">

            <span class="navbar-brand navbar-left">
                <a href ng-click="doClose()" title="ir para a página principal">
                    <img src="./imgs/titlefullc.png">
                </a>
            </span>


            <span class="navbar-right">
                <a href ui-sref="sobre" title="sobre o {{app.name}} v{{app.version.id}}" class="handOver">
                    <span class="navbar-brand header-title handOver padding-right">
                        {{app.name}}
                        <p class="xsmall text-right" >v{{app.version.id}}</p>
                    </span>
                    <img src="./imgs/pin.png" class="logoempresa">
                </a>
            </span>

    </div>

    <div class="row bg-white">
        <div class="padding nav navbar-nav">
            <li>
                <a href ui-sref="principal" ui-sref-active="active" title="Principal" class="handOver"><i class="fa fa-home fa-fw"></i>
                </a>
            </li>            
        </div>
        <div class="padding nav navbar-nav navbar-right">
            <li class="ng-hide" ng-show="server.active">
                <a href ui-sref-active="active" title="Exibir/Ocultar console" ng-click="toggleConsole()">
                    <i class="fa fa-television"></i>
                </a>
            </li>
            <li class="nav-menu-separator hidden-xs ng-hide" ng-show="server.active">&nbsp;</li>            
            <li>
                <a href ng-click="doDispatchClose()" title="Fechar Tela" >
                    <i class="fa fa-close fa-fw">&nbsp;</i>
                    <span class="hidden-xs">Fechar</span>
                </a>
            </li>

            <li class="nav-menu-separator hidden-xs" ng-show="preview">&nbsp;</li>
        </div>
    </div>
</nav>