﻿<div class="row analytics-wizard-container" analytics-page="Página Mensagens Push" ng-controller="MensagemController">
	<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-8 col-lg-push-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-users">&nbsp;</i> Mensagem Push
			</div>

			<div class="panel-body thinPadding">
				<div class="panel-body minheight panel">
					<div class="form-group col-xs-8 col-sm-10">
						<label>Nome</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-keyboard-o"></i></span> 
								<input type="text" ng-model="message.name" class="form-control"
										placeholder="Nome da Mensagem" maxlength="250" required>
								<label class="label-mobilidade" ng-if="!contextEditable">Nome</label>
						</div>
					</div>

					<div class="form-group col-xs-12">
						<label>Título</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-keyboard-o"></i>
							</span> 
							<input type="text" ng-model="message.title" class="form-control"
									placeholder="Título da Mensagem" maxlength="250" required>
							<label class="label-mobilidade" ng-if="!contextEditable">Título</label>
						</div>
					</div>

					<div class="form-group col-xs-12">
						<label>Mensagem</label>
						<textarea type="text" ng-model="message.content"
							class="form-control noresize" placeholder="Conteúdo da Mensagem"
							rows="2" maxlength="250" required></textarea>
					</div>

					<div class="form-group col-xs-12">
						<label>Site (opcional)</label>

						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-keyboard-o"></i>
							</span> <input ng-model="message.url" type="text" class="form-control"
								placeholder="Site da Mensagem" maxlength="500">
						</div>
					</div>

					<div class="form-group col-xs-12">
						<div class="col-xs-12">
							<label>Destinatário (opcional)</label>
							<picklist size="7" data-pick-model="userselected"
									data-pick-options="user.email as (user.nome + ' - ' + user.email) for user in users" />
						</div>
					</div>

					<div class="form-group col-xs-12 col-sm-6">
						<label>Ações (opcional)</label>
						<div class="input-group btn-group">
							<button class="btn"
								ng-class="message.confirm!=null?'btn-primary active':'btn-default'"
								ng-click="doEditAction('confirm')" title="Ação confirmar">
								<i class="fa fa-pencil ng-hide" ng-show="message.confirm!=null">&nbsp;</i>
								<span class="">{{message.confirm!=null?message.confirm.title:'Confirmar'}}</span>
							</button>
							<button class="btn"
								ng-class="message.cancel!=null?'btn-primary active':'btn-default'"
								ng-click="doEditAction('cancel')" title="Ação cancelar">
								<i class="fa fa-pencil ng-hide" ng-show="message.cancel!=null">&nbsp;</i>
								<span class="">{{message.cancel!=null?message.cancel.title:'Cancelar'}}</span>
							</button>
							<button class="btn"
								ng-class="message.close!=null?'btn-primary active':'btn-default'"
								ng-click="doEditAction('close')" title="Ação fechar">
								<i class="fa fa-pencil ng-hide" ng-show="message.close!=null">&nbsp;</i>
								<span class="">{{message.close!=null?message.close.title:'Fechar'}}</span>
							</button>
						</div>
					</div>

					<div class="form-group col-xs-12 col-sm-6">
						<label>Categoria</label>
						<div class="input-group">
							<i class="input-group-addon"><span class="fa fa-list"></span></i>
							<select ng-model="message.category" class="form-control">
								<option ng-repeat="category in categories"
									value="{{category.id}}">{{category.name | uppercase}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<button id="cmdRegister" type="submit" class="btn btn-primary"
					ng-click="enviarMensagem()"
					help-message="Clique aqui para enviar uma notificação push para os usuários"
					help-show>Enviar</button>
				<button class="btn btn-default" ng-click="limpar()">Limpar</button>
			</div>
		</div>
	</div>
</div>