<div class="modal-dialog dialog-dados-declarados">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Dados Declarados</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div *ngFor="let item of presenter.model.dadosDeclarados;let idx = index">
          
          <div id="formulario-dados-declarados-inputs" class="row" *ngIf="item.tipo_campo != 'DATE'" style="margin-bottom: 8px">
            <div class="col-md-9">
              <label class="label-align">{{item.nome_negocial}}
                <span class="asteriscoVermelho" for="obrigatorio" *ngIf="item.indicador_obrigatorio">*</span>
              </label>            
              <div [ngClass]="{'input-group': true, 'texteAreaDadosDeclarados': (item.tipo_campo == 'TEXTAREA')}" [class.has-error]="(item.indicador_obrigatorio && !item.valor && !presenter.model.formularioValido) || item.campoInvalido">
                
                <input [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="input-dados-declarados-{{item.nome_documento}}" class="form-control"  *ngIf="item.tipo_campo === 'TEXT'"
                  type="text" required #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}" [(ngModel)]="item.valor" />

                <!-- CONTA_CAIXA -->  
                <input *ngIf="item.tipo_campo === 'CONTA_CAIXA' && item.obrigatorio" 
                  [ngClass]="{'campoSemOrientacao': !item.orientacao}" 
                  id="input-dados-declarados-{{item.nome_documento}}" 
                  class="form-control"
                  type="text" 
                  tipo-conta-caixa
                  (blur)="completarContaCaixaComZeroEsquerda(item)" 
                  required 
                  #{{item.indicador_obrigatorio}}="ngModel" 
                  name="{{item.nome_negocial}}" 
                  [(ngModel)]="item.valor" />

                <input *ngIf="item.tipo_campo === 'CONTA_CAIXA' && !item.obrigatorio" 
                  [ngClass]="{'campoSemOrientacao': !item.orientacao}" 
                  id="input-dados-declarados-{{item.nome_documento}}" 
                  class="form-control"
                  type="text" 
                  tipo-conta-caixa
                  (blur)="completarContaCaixaComZeroEsquerda(item)" 
                  #{{item.indicador_obrigatorio}}="ngModel" 
                  name="{{item.nome_negocial}}" 
                  [(ngModel)]="item.valor" />  
                <!-- FIM CONTA_CAIXA-->
                
                  <!-- MONETARIO -->  
                <input *ngIf="item.tipo_campo === 'MONETARIO' && item.obrigatorio" 
                  [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="input-dados-declarados-{{item.nome_documento}}" class="form-control"
                  type="text" maxlength="18" kzMaskCurrency="0,00" required #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}" [(ngModel)]="item.valor" />

                <input *ngIf="item.tipo_campo === 'MONETARIO' && !item.obrigatorio" 
                  [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="input-dados-declarados-{{item.nome_documento}}" class="form-control"
                  type="text" maxlength="18" kzMaskCurrency="0,00" #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}" [(ngModel)]="item.valor" />  
                <!-- FIM MONETARIO-->
                
                <!-- DECIMAL -->  
                <input *ngIf="item.tipo_campo === 'DECIMAL' && item.obrigatorio" 
                  [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="input-dados-declarados-{{item.nome_documento}}" class="form-control"
                  (keyup)="formatDecimal(item)" somenteNumeros 
                  type="text" maxlength="18" required #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}" [(ngModel)]="item.valor" />

                <input *ngIf="item.tipo_campo === 'DECIMAL' && !item.obrigatorio" 
                  (keyup)="formatDecimal(item)" somenteNumeros
                  [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="input-dados-declarados-{{item.nome_documento}}" class="form-control"
                  type="text" maxlength="18" #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}" [(ngModel)]="item.valor" />  
                <!-- FIM DECIMAL-->

                 <!--CEP--> 
                <input [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="cep-dados-declarados-{{item.nome_documento}}" class="form-control"  kzMask="99.999-999"  *ngIf="item.tipo_campo === 'CEP' && item.obrigatorio"
                 type="text" required name="{{item.nome_negocial}}" [(ngModel)]="item.valor" (blur)="onBlurCep($event, item)" />
                
                <input [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="cep-dados-declarados-{{item.nome_documento}}" class="form-control"  kzMask="99.999-999"  *ngIf="item.tipo_campo === 'CEP' && !item.obrigatorio"
                 type="text" name="{{item.nome_negocial}}" [(ngModel)]="item.valor" (blur)="onBlurCep($event, item)" />

                <input [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="cep-dados-declarados-{{item.nome_documento}}" class="form-control"  kzMask="99.999-999"  *ngIf="item.tipo_campo === 'CEP_ONLINE' && item.obrigatorio"
                 type="text" required name="{{item.nome_negocial}}" [(ngModel)]="item.valor" (blur)="onBlurCep($event, item)" />
                
                <input [ngClass]="{'campoSemOrientacao': !item.orientacao}" id="cep-dados-declarados-{{item.nome_documento}}" class="form-control"  kzMask="99.999-999"  *ngIf="item.tipo_campo === 'CEP_ONLINE' && !item.obrigatorio"
                 type="text" name="{{item.nome_negocial}}" [(ngModel)]="item.valor" (blur)="onBlurCep($event, item)" />
                
                 <!--CEP FIM-->

                <textarea id="textarea-dados-declarados-{{item.nome_documento}}" class="textDadosDeclarados" name="{{item.nome_documento}}" 
                 [(ngModel)]="item.valor" rows="4" cols="59" *ngIf="item.tipo_campo === 'TEXTAREA'">
                </textarea>       
                
                <div *ngIf="item.tipo_campo === 'SPAN'">
                   <span>
                      <p id="{{opcao.chave}}" *ngFor="let opcao of item.opcoes;let opcaoIdx = index ">
                          {{opcao.valor}}
                   </p> </span>            
                </div>

                <div *ngIf="item.tipo_campo === 'CHECKBOX'">
                  <div *ngFor="let opcao of item.opcoes;let opcaoIdx = index ">
                  <span id="span-checkbox-dados-{{opcaoIdx}}-{{item.nome_documento}}">
                    <p-checkbox  labelStyleClass="label-normal" id="input-checkbox-dados-{{opcaoIdx}}-{{item.nome_negocial}}" label="{{opcao.valor}}" [(ngModel)]="item.opcoes_selecionadas" value="{{opcao.chave}}" name="checkbox-{{opcaoIdx}}-{{item.nome_documento}}"> </p-checkbox>
                    &nbsp;
                  </span>
                  </div>
                  <fieldset class="fildsetHistorico" *ngIf="!item.emptyHistoric">
                      <legend class="legendTitleHistorico">
                        Valores selecionados não disponíveis:
                        <ul *ngFor="let opcaoSelecionadaHistorico of item.opcoesSelecionadasHistorico;">
                            <li>{{opcaoSelecionadaHistorico.value}}</li>
                        </ul>
                      </legend>
                 </fieldset>
                </div>

                <div *ngIf="item.tipo_campo === 'RADIO'" style="margin-bottom: 8px">
                  <div *ngFor="let opcao of item.opcoes;let opcaoIdx = index ">
                      <p-radioButton labelStyleClass="label-normal" id="input-radiobutton-dados-{{opcaoIdx}}-{{item.nome_documento}}" label="{{opcao.valor}}"  value="{{opcao.chave}}" [(ngModel)]="item.valor" name="radiobutton-{{item.nome_documento}}"></p-radioButton>
                  </div>
                  <fieldset class="fildsetHistorico" *ngIf="!item.emptyHistoric">
                      <legend class="legendTitleHistorico">
                        Valores selecionados não disponíveis:
                        <ul *ngFor="let opcaoSelecionadaHistorico of item.opcoesSelecionadasHistorico;">
                            <li>{{opcaoSelecionadaHistorico.value}}</li>
                        </ul>
                      </legend>
                 </fieldset>                  
                </div>

                <div *ngIf="item.tipo_campo === 'SELECT'">
                  <span class="ui-fluid">
                     <p-dropdown [options]="item.listaItens" [(ngModel)]="item.valor" [ngClass]="{'campoComOrientacao': item.orientacao, 'campoSemOrientacao': !item.orientacao}" [style]="{'width':'100%'}" id="select-dados-declarados-{{idx}}-{{item.nome_documento}}" [filter]="true" [ngModelOptions]="{standalone: true}" >
                        <ng-template let-opcao pTemplate="selectedItem">
                            <span style="vertical-align:middle" style="width: 100%">{{opcao.label}}</span>
                        </ng-template>
                    </p-dropdown>
                  </span>
                  <fieldset class="fildsetHistorico" *ngIf="!item.emptyHistoric">
                      <legend class="legendTitleHistorico">
                        Valores selecionados não disponíveis:
                        <ul *ngFor="let opcaoSelecionadaHistorico of item.opcoesSelecionadasHistorico;">
                            <li>{{opcaoSelecionadaHistorico.value}}</li>
                        </ul>
                      </legend>
                 </fieldset>                  
                </div>

                <input id="dados-declarados-cpf" *ngIf="item.tipo_campo === 'CPF'" required #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}"  
                class="form-control" type="text" [(ngModel)]="item.valor" (input)="maskCPf($event)" (blur)="adicionarErrorCpfCnpj($event.target.value)" maxlength="14" />
                
                <input id="dados-declarados-cnpj" *ngIf="item.tipo_campo === 'CNPJ'" required #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}"  
                class="form-control" type="text" [(ngModel)]="item.valor" (input)="maskCnpj($event)" (blur)="adicionarErrorCnpj($event.target.value)"  maxlength="18" />
                
                <input id="dados-declarados-cpfCnpj" *ngIf="item.tipo_campo === 'CPF_CNPJ'" required #{{item.indicador_obrigatorio}}="ngModel" name="{{item.nome_negocial}}" 
                 class="form-control" type="text" [(ngModel)]="item.valor" (input)="maskCPfCnpj($event)"  (blur)="adicionarErrorCpfCnpj($event.target.value)"  maxlength="18"/>

                 <span *ngIf="item.orientacao && item.tipo_campo != 'DATE' && item.tipo_campo != 'CHECKBOX' && item.tipo_campo != 'RADIO' && item.tipo_campo != 'SPAN'" 
                    class="input-group-addon btn btn-link" tooltipPosition="right" pTooltip="{{item.orientacao}}">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </span>	
              </div>

              <div *ngIf="item.valor && item.campoInvalido" class="error">
                  Registro inválido.
                </div>
              <div *ngIf="item.indicador_obrigatorio && !item.valor && !presenter.model.formularioValido && item.tipo_campo != 'CHECKBOX'" class="error">
                {{item.nome_negocial}} é Obrigatório.
              </div>
              
              <div *ngIf="item.indicador_obrigatorio && (!item.opcoes_selecionadas || (item.opcoes_selecionadas && item.opcoes_selecionadas.length == 0)) && !presenter.model.formularioValido && item.tipo_campo == 'CHECKBOX'" class="error">
                {{item.nome_negocial}} é Obrigatório.
              </div>
            </div>
          </div>

          <div class="ui-g ui-fluid" *ngIf="item.tipo_campo === 'DATE'" style="margin-bottom: 8px; margin-left: -6px;">
            <div class="ui-g-12 ui-md-9"> 
                <label class="label-align">{{item.nome_negocial}}
                  <span class="asteriscoVermelho" for="obrigatorio" *ngIf="item.indicador_obrigatorio">*</span>
                </label> 
                  
                  <div [ngClass]="{'input-group': true, 'pCalendar': !item.orientacao, 'pCalendarComOrientacao': item.orientacao}" [class.has-error]="(item.indicador_obrigatorio && !item.valor && !presenter.model.formularioValido) || item.campoInvalido">
                    <p-calendar id="calendar-dados-declarados-{{idx}}" [(ngModel)]="item.valor" name="{{item.nome_documento}}" dateFormat="dd/mm/yy" (onInput)="maskCalendar($event)"
                      [locale]="ptBR" showButtonBar="true" (onInput)="maskCalendar($event)" [defaultDate]="dataAtual"  [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2200"></p-calendar>

                    <span *ngIf="item.orientacao" class="input-group-addon btn btn-link" tooltipPosition="right" pTooltip="{{item.orientacao}}">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </span>	
                  </div>

                <div *ngIf="item.indicador_obrigatorio && !item.valor && !presenter.model.formularioValido" class="error">
                  {{item.nome_negocial}} é Obrigatório.
                </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button *ngIf="habilitaAlteracao" id="modal-dados-declarados-btnAtualizar" type="button" class="btn btn-primary" (click)="salvarDadosDeclarados()">Atualizar Informações</button>
      <button id="modal-dados-declarados-btnCancelar" type="button" class="btn btn-primary" (click)="dismiss()">Cancelar</button>
    </div>
  </div>
</div>