<!-- Main Footer -->
<footer class="main-footer fundo-azul-caixa">
	<!-- To the right -->
	<div class="row">
		<div class="col-sm-12">
			<div class="col-md-3 col-xs-12 hidden-xs hidden-sm">
				<!-- Default to the left -->
				<img src="assets/img/pedes.png">
			</div>
			
			<div style="text-align: center; color: white;" class="col-md-6 col-xs-12">
				<strong>{{app.id}}<span> - {{app.name}}</span></strong>
			</div>
			
			<div class="col-md-3 col-xs-12 rodape-texto-versao">
			  {{app.version}} - {{app.footer.instance}}: {{instancia}}
			</div>
			
			<div class="col-xs-12 hidden-md hidden-lg" style="text-align: center; margin-top:10px">
				<!-- Default to the left -->
				<img src="assets/img/pedes.png" width="40%">
			</div>
		</div>
	</div>
</footer>