.dropdown-item::ng-deep .ui-dropdown {
    width: 328px !important;
}

.dropdown-item::ng-deep .ui-dropdown-item {
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.dropdown-item::ng-deep .ui-dropdown-label {
    width: 270px !important;
}

.class-with-pad-5 {
    margin:5px; 
    padding:5px;
}

.background-checkbox {
    border: none;
    background: transparent;
}

.checklist {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.capitalize {
    text-transform: capitalize;
}
