body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 15px 0 0 0;
    padding: 0;
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #cccccc;
    font-weight: bold;
    font-size: 0.95em;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar li {
    display: block;
    color: #0d75ae;
    padding: 16px 5px 5px 16px;
    text-decoration: none;
    border-bottom: none !important;
  }
  .sidedata {
      
  } 

  .fix {
    font-size: 1.2em;
    font-weight: bold;
    color: #034f8a;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.gi-2x{font-size: 1.3em;}
.gi-3x{font-size: 1.5em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}