
.bkgConsultar {
   position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	background-image: url('../imgs/logo-vilop.png'), url('../imgs/back.jpg') !important;
	background-position: 99% 10px, center top !important;
	background-repeat: no-repeat, no-repeat !important;
	font-family:Arial, Helvetica, sans-serif;
    z-index: 10;
}


img {
	max-width: 100%;
}
.general {
  width: 670px;
  left: 50%;
	top:50%;
	position: absolute;
	margin: -350px 0 0 -335px;
  text-align: center;
}
.dossie {
	padding: 10px 0;
}
section {
	width: 670px;
	height: 300px;
	background:#FFF;
	border-radius: 5px;
	border-top: 5px solid #296fa7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section img {
	margin:5px 0 10px 20px;
}
.top {
  margin: 0 0 80px 0;
  padding: 5px 0;
  background-color: #296fa7;
  text-align: left;
}
.vilop {
	margin: -8px 5px 0 0;
}
.label-cpf-consultar {
  margin: 12px 5px 0 10px;
  font-size: 1.4em;
  color: #808080;
  float: left;
}

.input-cpf-consultar {
  width: 54%;
  padding: 12px 20px;
  display: inline;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  border-radius: 5px;
  font-size: 1em;
  float: left;
}

.btbLocalizar {
  background-color: #f39a00;
  color: white; padding: 14px 20px;
  margin: 0px 30px 0 5px; border: none;
  cursor: pointer; max-width: 200px;
  border-radius: 5px;
  float:  right;
}
button:hover {
  opacity: 0.8;
}
input:focus, textarea:focus {
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}
.message {
	margin:30px 0 0 0;
	text-align: left;
}
.message button {
	margin: 0;
}

@media (max-width: 698px) {
  * html, body { overflow-x: hidden;}
  .general { max-width: 94%;  margin: auto; left: 10%; 	top:15%; overflow-x: hidden;}
  .top { overflow-x: hidden; }
  section { width: 90%; border-top: none;}
  input[type="text"] { width: 90%; }
  .cpf {display: none;}
}

@media (max-width: 480px) {
	.general { max-width: 94%;  margin: auto; left: 10%; 	top:2%; overflow-x: hidden;}
  .section {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 90%;
  }
}
