/*
TEMA para PRIMO
inicializado automaticamente pelo PRIMO Front-end
de acordo com o tema selecionado no projeto
*/

.theme-app {
	background-color: #000;
}

.theme-header {
	background-color: #000;
	border-bottom: 3px solid #F39A00!important;
}
.theme-app.tabbed .theme-header {
	border-bottom: none!important;
}

.theme-header-tabs {
	border-top: 3px solid #F39A00!important;
}

.theme-header-right > .navbar-brand {
	color: #fff;
	padding-right: 5px;
}
.theme-header-left > .navbar-brand {
	color: #fff;
}

.theme-header-middle.navbar-brand{
	color: #fff;
}
.theme-header-tabs {
	    background-color: #000;
}

.theme-header-tabs > li.active > a,
.nav-tabs>li>a.active {
	background-color: #333;
	color: #333;
}

.theme-footer {
	background-color: #000;
	border-top: 3px solid #F39A00!important;
}

.theme-footer-right {
	padding-right: 10px;
}
.theme-footer-middle {

}
.theme-footer-left {
	padding-left: 10px;
}

.theme-header-left > a {
	background: url(../imgs/theme-padrao/caixab.png) no-repeat!important;
	width: 112px;
	height: 24px;
	margin-top: 20px!important;
	margin-left: 10px!important;
}
.theme-header-left-caption {
	display: none!important;
}

.theme-header-title {
	height: 63px;
}

.form-group{
	top:20px;
}

.theme-header-acessibilidade{
	height: 25px;
	background-color: #555;
}

.theme-link-acessibilidade{
	position: relative;
	top: 3px;
	left: 10px;
}

.theme-header-right {
	/* padding: 7px; */
	/*padding-right: 15px;*/
}

.theme-app.tabbed .theme-menu-container {
    margin-top: 120px!important;
}
.theme-main-container {
	border-left: 0px;
	background-color: #000;
	margin: 0px 0 50px 0px;
	color: #fff;
}

.theme-app.collapse.in .theme-submenu-item > a {
	padding-left: 20px;
}

.theme-app .theme-main-container {
	border-left: 0px;
	background-color: #000;
	margin: 70px 0 50px 0px;
}

.theme-app.menu .theme-main-container {
	margin: 10px 0 50px 0px;
}
	
@media (min-width: 768px) {
	
	.theme-app.tabbed .theme-menu-container {
	    margin-top: 20px!important;
	}
	.theme-app .theme-menu-container {
	    margin-top: 0px!important;
	}
	.theme-app.collapse.in .theme-menu-container {
		margin-top: 15px!important;
	}
	.theme-menu-container {
		position: fixed;
	}

	.theme-app.menu .theme-main-container {
		margin: 65px 0 50px 250px;
	}

	.theme-app.menu .theme-main-container {
		margin: 65px 0 50px 250px;
	}

	.theme-app.collapse.in  .page-wrapper {
		margin: 65px 0 50px 250px;
	}

	.theme-header-right {
		padding-right: 15px;
	}

	.theme-app.collapse.in .theme-menu-container {
		margin-top: 10px!important;
	}



	.theme-app.collapse.in  .page-wrapper {
		margin: 65px 0 0 70px!important;
	}

	.theme-app.collapse.in .theme-menu-container {
		margin-top: 0px!important;
	}

	.theme-main-container {
		margin: 67px 0 0 70px;
	}
	.theme-menu-container {
		margin-top: 3px!important;
	}
}

.sidebar-nav > .nav li > a.active {
    margin: 0;
    border-left: 4px solid #ffa100;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #ffa100;
    border-top: 1px solid #d9d9d9;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(217, 217, 217);
    border-bottom: 1px solid #d9d9d9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(217, 217, 217);
    background-color: #333;
    color: #333;
}

.theme-header .navbar-brand:hover {
	color: #fff;
}
.theme-footer .navbar-brand:hover {
	color: #fff;
}


button {
	margin-right: 5px;
	background-color: #fff;
}

.table-responsive{
	top:20px;
}

/* texto */
.text-primary {
    color: #fff;
    top: 20px;
}
.text-primary-important {
	color: #fff!important;
}
.text-warning {
	color: #fff;
}
.text-warning-important {
	color: #fff!important;
}
.text-success {
	color: #fff;
}
.text-success-important {
	color: #fff!important;
}
.text-black {
	color: #fff;
	font-weight: 100;
}
.text-purple {
	color: #fff;
	font-weight: 100;
}
.text-laranja {
	color: #fff;
	font-weight: 100;
}
.text-info {
	color: #fff;
	font-weight: 100;
}
.text-danger {
	color: #fff;
	font-weight: 100;
}

/* Botoes */

.btn {
	color: #fff;
	background: #222;
	border: #222;
}

.btn-primary.btn-outline,
.btn-primary,
.btn-default,
.btn-default.btn-outline,
.btn-secondary.btn-outline,
.btn-secondary,
.btn-success,
.btn-success.btn-outline,
.btn-info,
.btn-info.btn-outline,
.btn-warning,
.btn-warning.btn-outline,
.btn-danger,
.btn-danger.btn-outline
{
	color: #fff;
	background-color: #222;
	border-color: #222;
}

.btn-primary:hover,
.btn-primary[disabled]:hover,
.btn-primary.btn-outline:hover,
.btn-default:hover,
.btn-default[disabled]:hover,
.btn-default.btn-outline:hover,
.btn-secondary:hover,
.btn-secondary.btn-outline:hover,
.btn-secondary[disabled]:hover,
.btn-success:hover,
.btn-success.btn-outline:hover,
.btn-success[disabled]:hover,
.btn-info:hover,
.btn-info.btn-outline:hover,
.btn-info[disabled]:hover,
.btn-warning:hover,
.btn-warning.btn-outline:hover,
.btn-warning[disabled]:hover,
.btn-danger:hover,
.btn-danger.btn-outline:hover
.btn-danger[disabled]:hover
 {
 	color: #fff;
	background-color: #555;
	border-color: #555;
}

.theme-menu-container {
	border-right: 1px solid #ADADAD;
	height: 100%;
	background-color: #000;
}

.theme-main-container.menu {
	border-left: 0px;
	background-color: #000;
	margin: 0px 0 50px 0px;
}

.theme-main {
		background-color: #000;
		text-align: left;
}

.theme-app.tabbed .page-wrapper {
	margin-top: 110px;
}


.theme-menu-item {
	border-bottom: 0px!important;
}

.theme-menu-item-caption{
	color: #fff;
}

i.fa,
label{
	color: #fff;
}

a,
a:hover{
	color: #fff333;
}

.table-striped > tbody > tr:nth-of-type(odd){
	background-color: #333;
}

.table-striped > tbody > tr:hover,
.nav-tabs>li>a:hover,
.nav>li>a:hover{
	background-color: #555;
	color: #fff;
}	

.progress-bar{
	background-color: #666;
	border-color: #fff
}

.pagination>.active>a,
.pagination>.active>a:hover{
	background-color: #333;
	border-color: #333
}

.pagination>li>a,
.pagination>li>a:hover{
	background-color: #666;
	border-color: #666;
	color: #fff;
}

.form-control,
.input-group-addon:first-child{
	background-color: #333;
	border-color: #fff;
	color: #fff;
}

.table-bordered{
	border: none;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	color: #fff;
	border-top: 1px solid #fff;
}

.btn-primary.active,
.btn-primary.active:hover{
	background-color: #666;
	border-color: #fff;
}

.panel-primary>.panel-heading {
    color:#fff;
    background-color: #555;
    border-color: #fff;
}

.panel-primary>.panel-footer {
    background-color: #333;
    border-color: #fff;
}

.panel-primary {
    border-color: #fff;
}

.tabs-nav .active {
    background-color: #333;
    color: #fff;
}

.tabs-nav a {
	background-color: #666;
    color: #fff;
}


/* Material Design Switch */
.material-switch-contraste-contraste {
	margin-top: 5px;
}
.material-switch-contraste > input[type=checkbox] {
	display: none;
}

.material-switch-contraste > label {
	cursor: pointer;
	height: 0px;
	position: relative;
	width: 40px;
	top:-20px;
}

.material-switch-contraste > label::before {
	left: 0px;
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 13px;
	margin-top: 3px;
	position:absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 34px;
	top: 11px;
}
.material-switch-contraste > label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 20px;
	margin-left: -6px;
	position: absolute;
	top: 11px;
	transition: all 0.3s ease-in-out;
	width: 20px;
}

.material-switch-contraste > input[type=checkbox]:checked + label::before {
	background: #fff;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	opacity: 1;
	width: 34px;
}

.material-switch-contraste > input[type=checkbox]:checked + label::after {
	background: inherit;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
	left: 20px;
	height: 20px;
	width: 20px;
}

.breadcrumb{
	background-color: #333;
}

.breadcrumb>.active{
	color: #fff;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, 
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-bottom: 0px;
}

.coluna-esquerda {
	display: none;
}

.coluna-direita {
	display: none;
}

.coluna-central {
	display: inline!important;
	border: none;
}

.rodape-atm{
	display: none;
}

.caixa-azul{
	display: none;
}

.theme-header-ATM{
	display: none;
};

