[hidden] {
    display: none !important;
}

.selectArvore .ui-multiselect{
    width: 100% !important;
}
.selectTipoDocumento .ui-dropdown{
    width: 100% !important;
    padding: 2px;
    top: -3px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #005a9c;
    border-radius: 4px;
    cursor: text;
}
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid rgb(0, 90, 156) 1px;
        outline: 0;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        max-height: 61px;
        overflow-y: auto;
    }