<div ng-controller="ParametrizacaoFuncoesController" style = "margin-left : -30px"
	analytics-page="Página de Parametrização de Funções por Tipos Documentais">
	
	<caixa-alert error="error" show="showError" on-close="hideAlert();"></caixa-alert>

     <table  class="col-xs-12 table table-hover table-condensed" id="parametrizacoes" style="margin-top: 12px;"
     	st-table="listaFuncoes" st-safe-src="listaSafe">
         <thead class="dttable" >
      	  <tr class="theme-main-table-head-row">
           <th class="text-left">
             Produtos do SIICO
           </th>
           <th>
             Excluir
           </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in listaFuncoes">
            <td class="text-left" ng-click="carregarTiposDocumentos(item.id, item.nome);">{{item.nome}}</td>
            <td class="text-center" ng-click="apresentarModalExcluirParametrizacao(item.id);"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
          <tfoot>
                 <tr>
                     <td colspan="3" class="text-center">
                         <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                     </td>
                 </tr>
          </tfoot>
        </tbody>
    </table>
    
    <div class="dttable col-xs-12">
   		<i class="glyphicon glyphicon-duplicated"></i>
        <label>Parametrizar Produto</label>
    </div>
     
    <div class="col-md-12 nome-parametrizacao">
	    <div class="col-md-12">
	  		<label class="label-nome-parametrizacao" style="margin-top: 18px;">Selecione a Função Documental</label>
		</div> 
	
	     <div class="col-md-12">
	  		<input type="text" class="form-control label-nome-parametrizacao" ng-model="nomeParametrizacao" ng-blur="salvarFuncao()" ng-change="checkField(nomeParametrizacao,'nome-parametrizacao');" placeholder="Permite adicionar novas funções ou escolher uma função para alterar/excluir" required >
		</div>
	</div>
         
	<div class="col-md-12" style="margin-top: 28px;">
  		<i class="glyphicon glyphicon-check"></i> 
  		<span>Selecione o(s) nível(eis) documental(ais)</span>
	</div>
	
     <div class="theme-main-line-rule" >
         <hr style="margin-top: 1px;"/>
     </div>

	<div class="col-md-12">
		<div class="col-md-5">
			<label>
				Níveis documentais disponíveis
			</label>
		</div>
		
		<div class="col-md-7">
			<label>
				Níveis documentais vinculados
			</label>
		</div>
	</div>
	

	
	<div class="col-md-12">
		<div class="col-md-9">
			<picklist size="5" picklistDest="listaDestino" data-pick-model="listaTiposDocumentos" data-pick-options="item.id as item.nome for item in listaDocumentosDisponiveis"/>
		</div> 
		
   	 </div>
   	 
   	 	<div class="col-md-12" style="margin-top: 28px;">
  		<i class="glyphicon glyphicon-check"></i> 
  		<span>Escolha os sistemas de pesquisa cadastral</span>
	</div>
	
     <div class="theme-main-line-rule" >
         <hr style="margin-top: 1px;"/>
     </div>
	
	<div class="col-xs-11">
        <label class="switch">
            <input id="cmbSICPF" type="checkbox" ng-model="sicpf"></input>
            <span class="slider round"></span>
        </label>
       	<label style="margin-left: 10px;"> SICPF</label>
     </div>
     <div class="col-xs-1">
       	<button type='button' ng-click="limparDados()" class='btn btn-warning'>Adicionar</button>
     </div>
    
    <div class="form-group col-xs-12" ng-show="sicpf">
	      <table  class="col-xs-12 table table-hover table-condensed" id="parametrizacoes" style="margin-top: 12px;" 
	     	st-table="listaFuncoes" st-safe-src="listaSafe" >
	         <thead class="dttable" >
	      	  <tr class="theme-main-table-head-row">
	           <th class="text-left">
	             Ocorrência
	           </th>
	           <th class="text-left">
	             R/N/1?
	           </th>
	           <th class="text-left">
	             Orientação
	           </th>
	           <th>
	             Excluir
	           </th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="item in listaFuncoes">
	            <td class="text-left" ng-click="carregarTiposDocumentos(item.id, item.nome);">{{item.nome}}</td>
	            <td class="text-left" ng-click="carregarTiposDocumentos(item.id, item.nome);">{{item.nome}}</td>
	            <td class="text-left" ng-click="carregarTiposDocumentos(item.id, item.nome);">{{item.nome}}</td>
	            <td class="text-center" ng-click="apresentarModalExcluirParametrizacao(item.id);"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
	          </tr>
	          <tfoot>
	                 <tr>
	                     <td colspan="3" class="text-center">
	                         <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
	                     </td>
	                 </tr>
	          </tfoot>
	        </tbody>
	    </table>
    </div>
    
    <div class="form-group col-xs-12 theme-main-input-check">
         <label class="switch">
             <input id="cmbSICPF" type="checkbox" ng-model="sicli"></input>
             <span class="slider round"></span>
         </label>
         <label style="margin-left: 10px;"> SICLI</label>
    </div>
    <div class="form-group col-xs-12 theme-main-input-check">
         <label class="switch">
             <input id="cmbSICPF" type="checkbox" ng-model="sipes"></input>
             <span class="slider round"></span>
         </label>
         <label style="margin-left: 10px;"> SIPES</label>
    </div>
    
    <div class="form-group col-xs-11" ng-show="sipes">
	    <label class="radio-inline"><input type="radio" ng-model="rsicow" name="optradio" checked>SICOW</label>
		<label class="radio-inline"><input type="radio" ng-model="rsiccf" name="optradio">SICCF</label>
		<label class="radio-inline"><input type="radio" ng-model="rsebrasa" name="optradio">SEBRASA</label>
		<label class="radio-inline"><input type="radio" ng-model="rcadin" name="optradio">CADIN</label>
		<label class="radio-inline"><input type="radio" ng-model="rsinad" name="optradio">SINAD</label>
		<label class="radio-inline"><input type="radio" ng-model="rspc" name="optradio">SPC</label>
	</div>
	
	<div class="col-xs-1" ng-show="sipes">
       	<button type='button' ng-click="limparDados()" class='btn btn-warning pull-right'>Adicionar</button>
    </div>
    
    
    <div class="theme-main-line-rule" >
        <hr style="margin-top: 1px;"/>
    </div>
    <div class="col-md-12">
		<button type='button' ng-click="limparDados()" class='btn btn-primary'>Limpar</button>
		<button type='button' ng-click="apresentarModalSalvarParametrizacao()" class='btn btn-primary'>Salvar</button>
   	 </div>
	
</div>

