<div ng-controller="ParametrizacaoFuncoesController" analytics-page="Página de Parametrização de Funções por Tipos Documentais">
	
	<caixa-alert error="error" show="showError" on-close="hideAlert();"></caixa-alert>

	<div class="col-md-12" style="margin-top: 20px;">
	     <table  class="col-xs-12 table table-hover table-condensed" id="parametrizacoes" st-table="listaFuncoes" st-safe-src="listaSafe">
	         <thead class="dttable" >
	      	  <tr class="theme-main-table-head-row">
	           <th class="text-left">
	             Lista de Funções Parametrizadas
	           </th>
	           <th>
	             Excluir
	           </th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="item in listaFuncoes">
	            <td class="text-left" ng-click="carregarTiposDocumentos(item.id, item.nome);">{{item.nome}}</td>
	            <td class="text-center" ng-click="apresentarModalExcluirParametrizacao(item.id);"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
	          </tr>
	          <tfoot>
	                 <tr>
	                     <td colspan="3" class="text-center">
	                         <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
	                     </td>
	                 </tr>
	          </tfoot>
	        </tbody>
	    </table>
    </div>
    
    <div class="dttable col-xs-12">
   		<i class="glyphicon glyphicon-duplicated"></i>
        <label>Parametrizar Funções x Tipos Documentais</label>
    </div>
     
    <div class="col-md-12">
  		<label class="label-nome-parametrizacao" style="margin-top: 18px;">Selecione a Função Documental</label>
	</div> 

     <div class="col-md-12 input-group">

	     <div angucomplete-alt id="cmbFuncao"
			 placeholder="Pesquisar Função"	  							
			 pause="100"
			 focus-out="salvarFuncao()"
			 selected-object="nomeParametrizacao"
			 local-data="listaFuncoesCompleta"
			 search-fields="nome"
			 title-field="nome"
			 minlength="0"
			 input-class="form-control"
			 match-class="angucomplete-highlight" >
		</div>
    </div>     
	<div class="col-md-12" style="margin-top: 28px;">
  		<i class="glyphicon glyphicon-check"></i> 
  		<span>Selecione os tipos documentais</span>
	</div>
	
     <div class="theme-main-line-rule" >
         <hr style="margin-top: 1px;"/>
     </div>

	<div class="col-md-12">
		<div class="col-md-6">
			<label>
				Tipos documentos disponíveis
			</label>
		</div>
		
		<div class="col-md-6">
			<label style="margin-left: 65px;">
				Tipos documentos vinculados
			</label>
		</div>
	</div>
	
	<div class="col-md-12">
		<picklist size="5" picklistDest="listaDestino" data-pick-model="listaTiposDocumentos" data-pick-options="item.id as item.nome for item in listaDocumentosDisponiveis"/>
	</div>
			
	<div class="col-md-12 pull right">
		<button type='button' ng-click="apresentarModalSalvarParametrizacao()" class='btn btn-primary pull-right' style="margin-top: 20px; margin-bottom: 105px;">Salvar</button>
		<button type='button' ng-click="limparDados()" class='btn btn-primary pull-right' style="margin-top: 20px; margin-bottom: 105px;">Limpar</button>
	</div>
</div>
