<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

	<div class="sidebar-form" style="border: none" *ngIf="showAcessibilidade()">
		<p>Acessibilidade</p>
		<button type="button" class="btn acessibilidade" (click)="emitFontDownEvent()">
			<img src="assets/img/layout/icon_a.png"/>
		</button>
		<button type="button" class="btn acessibilidade" (click)="emitFontUpEvent()">
			<img src="assets/img/layout/icon_a_more.png"/>
		</button>
		<button type="button" class="btn acessibilidade" (click)="emitContrastEvent()">
			<img src="assets/img/layout/icon_contrast.png"/>
		</button>
		<button type="button" [class]="decideClassAudio()" (click)="changeAudio()">
			<img src="assets/img/layout/icon_audio.png"/>
		</button>

	</div>

	<!-- search form (Optional) -->
	<form class="sidebar-form" *ngIf="showMenuSearch()">
		<div class="input-group">
			<input type="text" name="q" class="form-control" [(ngModel)]="filtromenu"
				placeholder="{{app.menusearch}}"> <span class="input-group-btn">
				<button type="submit" name="search" id="search-btn"
					class="btn btn-flat">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</form>
	<!-- /.search form -->

	<!-- Sidebar Menu -->
	<ul class="sidebar-menu">
		<!-- Optionally, you can add icons to the links -->
		
		<li [ngClass]="{'active': currentview.id === menu.target && !menu.submenu}" *ngFor="let menu of app.menus | menuFilter:filtromenu" >
				<!-- [hidden]="!menu.credencial || !hasCredential(menu.credencial)" --> 
			<a *ngIf="!menu.submenu && hasCredential(menu.credencial)" (click)="goLink(menu.target)" style="cursor: pointer" class="borda-inferior">
				<i class="material-icons" style="vertical-align: middle; margin-right: 2%">{{menu.icon}}</i>
				<span>{{menu.title}}</span>
			</a>
			<a (click)="toggleSubMenu(menu.target)" *ngIf="menu.submenu && hasCredential(menu.credencial)" style="cursor: pointer" class="borda-inferior" > 
				<i class="material-icons"  style="vertical-align: middle; margin-right: 2%">{{menu.icon}}</i>
				<span>{{menu.title}}</span>
				<i class="fa fa-caret-down" style="margin-left: 2%;"></i>
			</a>
			<ul class="sidebar-menu collapse" style="white-space: normal;" *ngIf="menu.submenu && hasCredential(menu.credencial)" id="{{menu.target}}">
				<li style= "margin-left: 15px;padding:0; margin-top:2%" [ngClass]="{'active': currentview.id === submenu.target, 'borda-inferior': true}" *ngFor="let submenu of menu.submenus">
					<!--a *ngIf="!submenu.credencial || !hasCredential(submenu.credencial)"--> 
					<a style="cursor: pointer" (click)="goLink(submenu.target)" *ngIf="hasCredential(submenu.credencial)"> 
						<i class="material-icons"  style="vertical-align: middle;">{{submenu.icon}}</i>
						<span>{{submenu.title}}</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<!-- /.sidebar-menu -->

</section>
<!-- /.sidebar -->


		