<p-fieldset *ngIf="((undefined != processoDossieOuFase && showVinculoDossieOuFase()) || (undefined != cliente && showVinculoPessoa()) || (undefined != produto && showVinculoProduto()) || (undefined != garantia && showVinculoGarantia()))" 
    [ngClass]="{'cabecalho-doc': true , destaqueAmarelo: verificarArvore(listaDocumentoObrigatorio, processoDossieOuFase, cliente, produto, garantia)}" class="cabecalho-doc destaqueAmarelo" [collapsed]="false" [toggleable]="true">
    <p-header>
        <div *ngIf="undefined != processoDossieOuFase" class="titulo-container">
            {{processoDossieOuFase.nome}}
        </div>
        <div *ngIf="undefined != cliente" class="titulo-container">
            {{cliente.tipo_relacionamento.nome}} <br/> 
            <div class="cnpjFieldset">{{cliente.nome }}: {{ cliente.dossie_cliente.cnpj|kzCpfCnpj }}{{cliente.dossie_cliente.cpf|kzCpfCnpj }}</div>
        </div>
        <div *ngIf="undefined != produto" class="titulo-container">
            {{produto.codigo_operacao}}.{{produto.codigo_modalidade}}-{{produto.nome }}
        </div>
        <div *ngIf="undefined != garantia" class="titulo-container">
            {{ garantia.nome_garantia }} <br/> 
            <div class="cnpjFieldset" *ngIf="garantia && garantia.produto != null">PRODUTO: <i class="espacoPadding4px">{{garantia.produto_operacao}}.{{garantia.produto_modalidade}}-{{garantia.produto_nome}}</i></div>
            <div class="cnpjFieldset" *ngIf="garantia && garantia.dossies_cliente && garantia.dossies_cliente.length > 0">RELACIONADO: <i class="espacoPadding4px">{{indentificarClienteRelacionado(garantia.dossies_cliente)}}</i></div>
        </div>
    </p-header>
    <div *ngIf="undefined != processoDossieOuFase">
        <switch 
            *ngIf="showToogleProcessoDossieOuFase()"
            [multiple]="false"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            (handleChangeExpandSingleAll)="handleChangeExpandSingleAll($event)"
            [tipoArvore]="'DOSSIE_FASE'"
            [tooltip]="'Mostrar todos os documentos'"
            [title]="'Todos Documentos'">                
        </switch>
        <conteudo-visualizacao-documentos 
            [vinculo]="processoDossieOuFase" 
            [tipoArvore]="'DOSSIE_FASE'" 
            [listaChekList]="listaChekList" 
            [listaDocumentoObrigatorio]="listaDocumentoObrigatorio"
            [idDoPrimeiroInstanciaDocumentoASerCarregado]="idDoPrimeiroInstanciaDocumentoASerCarregado" 
            (listaCheklistChanged)="handleChangeListaChekList($event)" 
            [elementosConteudoProcessoDossieOuFase]="elementosConteudoProcessoDossieOuFase" 
            (listDocumentosImagemChanged)="handleChangeListDocumentosImagem($event)"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            [singleExpandAllDocumentsDossieFase]="singleExpandAllDocumentsDossieFase">
        </conteudo-visualizacao-documentos>
    </div>
    <div *ngIf="undefined != cliente && undefined != cliente.instancias_documento">
        <switch 
            *ngIf="showToogleCliente()"
            [multiple]="false"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            (handleChangeExpandSingleAll)="handleChangeExpandSingleAll($event)"
            [tipoArvore]="'CLIENTE'"
            [tooltip]="'Mostrar todos os documentos'"
            [title]="'Todos Documentos'">                
        </switch>   
        <conteudo-visualizacao-documentos 
            [vinculo]="cliente" 
            [tipoArvore]="'CLIENTE'" 
            [listaChekList]="listaChekList" 
            [listaDocumentoObrigatorio]="listaDocumentoObrigatorio"
            [idDoPrimeiroInstanciaDocumentoASerCarregado]="idDoPrimeiroInstanciaDocumentoASerCarregado" 
            (listaCheklistChanged)="handleChangeListaChekList($event)" 
            [documentosVinculoCliente]="documentosVinculoCliente" 
            (listDocumentosImagemChanged)="handleChangeListDocumentosImagem($event)"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            [singleExpandAllDocumentsCliente]="singleExpandAllDocumentsCliente">
        </conteudo-visualizacao-documentos> 
    </div>
    <div *ngIf="undefined != produto && undefined != produto.instancias_documento">
        <switch
            *ngIf="showToogleProduto()" 
            [multiple]="false"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            (handleChangeExpandSingleAll)="handleChangeExpandSingleAll($event)"
            [tipoArvore]="'PRODUTO'"
            [tooltip]="'Mostrar todos os documentos'"
            [title]="'Todos Documentos'">                
        </switch>   
        <conteudo-visualizacao-documentos 
            [vinculo]="produto" 
            [tipoArvore]="'PRODUTO'" 
            [listaChekList]="listaChekList" 
            [listaDocumentoObrigatorio]="listaDocumentoObrigatorio" 
            (listaCheklistChanged)="handleChangeListaChekList($event)" 
            [documentosProdutosVinculados]="documentosProdutosVinculados"
            [idDoPrimeiroInstanciaDocumentoASerCarregado]="idDoPrimeiroInstanciaDocumentoASerCarregado" 
            (listDocumentosImagemChanged)="handleChangeListDocumentosImagem($event)"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            [singleExpandAllDocumentsProduto]="singleExpandAllDocumentsProduto">
        </conteudo-visualizacao-documentos>
    </div>
    <div *ngIf="undefined != garantia && undefined != garantia.instancias_documento">
        <switch 
            *ngIf="showToogleGarantia()"
            [multiple]="false"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            (handleChangeExpandSingleAll)="handleChangeExpandSingleAll($event)"
            [tipoArvore]="'GARANTIAS'"
            [tooltip]="'Mostrar todos os documentos'"
            [title]="'Todos Documentos'">                
        </switch>   
        <conteudo-visualizacao-documentos 
            [vinculo]="garantia" 
            [tipoArvore]="'GARANTIAS'" 
            [listaChekList]="listaChekList" 
            [listaDocumentoObrigatorio]="listaDocumentoObrigatorio" 
            (listaCheklistChanged)="handleChangeListaChekList($event)" 
            [documentosGarantiasVinculadas]="documentosGarantiasVinculadas" 
            [documentosProdutosVinculados]="documentosProdutosVinculados"
            [idDoPrimeiroInstanciaDocumentoASerCarregado]="idDoPrimeiroInstanciaDocumentoASerCarregado" 
            (listDocumentosImagemChanged)="handleChangeListDocumentosImagem($event)"
            [singleExpandAllDocuments]="singleExpandAllDocuments"
            [singleExpandAllDocumentsGarantias]="singleExpandAllDocumentsGarantias">
        </conteudo-visualizacao-documentos>
    </div>        
</p-fieldset>