.cabecalho-doc  {
    padding: 0 !important;
    border: none !important;
}
  
.cabecalho-doc .ui-widget-content{
    border: none !important;
    padding: 0 !important;
}
  
.ui-fieldset-toggleable .ui-fieldset-legend {
    border: none !important;
    background:  rgb(206, 235, 248) !important;
    color: rgb(0, 90, 156) !important;
    border-bottom: 3px solid rgb(0, 90, 156) !important;
    font-weight: bold !important;
    margin: 0px !important;
}

.destaqueAmarelo .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend, .destaqueAmarelo .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover {
    border-color:  rgb(206, 235, 248) !important;
    background-color: #e4c200 !important;
    color: rgb(255, 255, 255) !important;
}
  
.destaqueAmarelo .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend a,  .ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover a {
    color: rgb(255, 255, 255) !important;
}
    
.ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover {
    border-color:  rgb(206, 235, 248) !important;
    background-color: rgb(0, 90, 156) !important;
    color: rgb(255, 255, 255) !important;
}
  
.cabecalho-doc legend a .ui-fieldset-toggler {
    float: right;
    padding: 4px 0px;
    position: relative;
}
            
.cabecalho-doc legend a .pi {
    font: normal normal normal 14px/1 FontAwesome !important;
}
  
.cabecalho-doc legend a .pi-minus:before {
    content: "\f13a" !important;

}

.cabecalho-doc legend a .pi-plus:before {
    content: "\f139" !important;
}
  
.tamanhoCorpToogleExpandir {
    margin-left: 5%;
}
  
.cabecalho-doc legend{
    white-space: normal !important;
    text-align: justify;
}
  
.cabecalho-doc .ui-fieldset-toggleable .ui-fieldset-legend a{
    padding: 10px 10px 10px 10px !important;
    cursor: pointer !important;
    white-space: normal !important;
    display: block !important;
}
  
.titulo-container{
    font-size: 13px !important;
    text-align: left !important;
    overflow-wrap: break-word !important;
}

.panel-title{
    font-size: 13px !important;
    color: rgb(0, 90, 156) !important;
    font-weight: bold !important;
}