<div class="modal-dialog modal-lg center">
    <div class="modal-content destaque">
        <div class="form-group">
            <div class="col-sm-1 pull-right">
              <button type="button" class="close" (click)="fechar();">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <label></label>
                <p-table #dataSocios [columns]="socioReceitaFederalPresenter.socioReceitaFederal.configTableColsSociosReceitaFederal"
                    [class.custom-socios-receita-federal-table]="dataInputReceitaFederal.socioMountError"
                    [responsive]="true" dataKey="nome_socio" [(selection)]="socioReceitaFederalPresenter.socioReceitaFederal.selectedSociosReceitaFederal"
                    (sortFunction)="realizarOrdenacao($event)" [customSort]="true" scrollable="true" scrollHeight="300px"
                    [paginator]="true" [rows]="10" [responsive]="true" (onHeaderCheckboxToggle)="onSociosAllSelect($event)"
                    [value]="socioReceitaFederalPresenter.socioReceitaFederal.sociosReceitaFederal" 
                    class="socios-receita-federal-table">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-md-9 fonte-destaque">
                                     Sócios
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input pInputText type="text" (input)="realizarFiltroSocios($event.target.value, dataSocios);"
                                            class="form-control" placeholder="Pesquisar...">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </span>
                                    </div>                                     
                                </div>                    
                            </div>         
                        </div>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length">
                                Nenhum registro encontrado
                            </td>
                        </tr>
                    </ng-template>                     
                    <ng-template pTemplate="header" let-columns>
                        <tr>                               
                            <ng-template ngFor let-col [ngForOf]="columns">
                                <th *ngIf="col.select">
                                    <p-tableHeaderCheckbox 
                                        class="check-all">
                                    </p-tableHeaderCheckbox>
                                </th>
                                <th class="{{col.class}}" *ngIf="col.tooltip && !col.select" [pSortableColumn]="col.field"
                                    tooltipPosition="top" pTooltip="{{col.msg}}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th class="{{col.class}}" *ngIf="!col.tooltip && !col.select" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>                                
                            </ng-template>
                        </tr>
                    </ng-template>
                    <ng-template #error pTemplate="body" let-rowData let-columns="columns">
                        <p-overlayPanel #erroSocio [dismissable]="true" 
                            [style]="{'text-align': 'center', 'background-color': '#fcf8e3', 'background-color' : '#faebcc', 'color' : '#8a6d3b', 'border' : 'none',  'margin-left' : '8%'}" 
                            [appendTo]="'error'">
                            <label>{{rowData.msgError}}</label>
                        </p-overlayPanel> 
                        <tr [pSelectableRow]="rowData" [class.socio-error]="rowData.isError"> 
                            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                <div *ngSwitchCase="'check'">
                                    <p-tableCheckbox 
                                        [class.socio-pointer-events]="rowData.isError"
                                        [value]="rowData">
                                    </p-tableCheckbox>
                                    <i class="fa fa-exclamation-circle" 
                                        *ngIf="rowData.isError"
                                        (mouseenter)="erroSocio.show($event)"
                                        (mouseleave)="erroSocio.hide()"
                                        style="color:#faebcc; cursor: pointer;"></i>
                                </div>                                
                                <div *ngSwitchCase="'nome_socio'"  class="socio capitalize" tooltipPosition="top" pTooltip="{{rowData[col.field]}}">
                                    {{rowData[col.field] ? rowData[col.field] : '-'}}
                                </div>
                                <div *ngSwitchCase="'descricao_qualificacao'"  class="socio capitalize" tooltipPosition="top" pTooltip="{{rowData[col.field]}}">
                                    {{rowData[col.field] ? rowData[col.field] : '-'}}
                                </div>
                                <div *ngSwitchCase="'cpf_cnpj'"  class="socio capitalize">
                                    <input #cpfcnpj type="hidden" value="{{rowData[col.field]}}">
                                    {{formatarCpfCnpj(cpfcnpj.value)}}
                                </div>                                
                                <div *ngSwitchCase="'nome_representante'"  class="socio capitalize" tooltipPosition="top" pTooltip="{{rowData[col.field]}}">
                                    {{rowData[col.field] ? rowData[col.field] : '-'}}
                                </div>                                                                                                
                                <ng-container *ngSwitchDefault>
                                    {{rowData[col.field] ? rowData[col.field] : '-'}}
                                </ng-container>                                                               
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <ng-container *ngIf="socioReceitaFederalPresenter.socioReceitaFederal.isSociosSelected()">
                            {{socioReceitaFederalPresenter.socioReceitaFederal.selectedSociosReceitaFederal.length}} sócio(s) selecionado(s)
                        </ng-container> 
                        <ng-container *ngIf="dataInputReceitaFederal.socioMountError">
                            <div class="row">
                                <div class="col-md-11">
                                    <button type="button" class="close" tooltipPosition="top" pTooltip="Fechar notificação" 
                                        (click)="dataInputReceitaFederal.socioMountError = false">
                                        <span aria-hidden="true">&times;</span>
                                    </button>                                        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 error">
                                        {{dataInputReceitaFederal.messageErrorMountSocio}}
                                    </div>
                                </div>                                
                            </div>                             
                        </ng-container>                                          
                        <div class="pull-right">
                            <button id="btn-enviar-situacao" type="button"
                                [disabled]="socioReceitaFederalPresenter.socioReceitaFederal.adicaoSocio || !socioReceitaFederalPresenter.socioReceitaFederal.isSociosSelected()"
                                class="btn btn-primary" (click)="adicionarSocios()">Adicionar
                                <span class="fa fa-plus"></span>
                            </button> 
                        </div>
                    </ng-template>                    
                </p-table>   
            </div>
        </div>
    </div>
  </div>