					<!--
					Aqui é definido o conteúdo apresentado pela tela do seu projeto (a parte visível).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas são armazenadas na pasta pages										
				-->
<div class="theme-main" ng-controller="EsquecisenhaController" analytics-page="Página Esqueci minha senha">
		<form id="formMain" name="formMain" tabindex="0">
   			<div class="row">
   				<div  class="coluna-esquerda col-xs-12 col-sm-2 col-md-2">
						<tr>
							<td><b><div style="text-align: left; color:#267fb9;">{{ 'LABEL.ESQUECI.MINHA.SENHA' | translate}}</div></b>
								   <div style="text-align: left; color:#555a6d" >{{ 'label.tela.de.recuperao.de.senha' | translate}}</div><br>
							</td>
						</tr>
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
                        <div >
	                    </div>    	
				</div>
					<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
    			<span ncy-breadcrumb></span>
                        <!-- id:h4 - name:Título -->
                        <div ng-class='getPlatforms(null)'>
                            		<!-- 
                            			estilo: col-xs-12 col-sm-12 col-md-12 col-lg-12
                            			alinhamento: left
                            		-->
                                <h5 class="padding text-primary bold col-xs-12 col-sm-12 col-md-12 col-lg-12 theme-main-h4" align="left">
                                    <span>{{ 'label.esqueci.minha.senha' | translate}}</span>
                                </h5>
                        </div>
                        <!-- id:input-mail - name:Entrada de Email -->
                        <div ng-class='getPlatforms(null)'>
                            		<!-- elemento Entrada de Email 
                            			id: email
                            			contexto: container.email
                            			ajuda: {{ 'label.informe.o.email.cadastrado' | translate}}
                            			ativo: true
                            			tamanho max: 
                            			ATENCAO: acessivel por $scope.container.email no seu controller                              		
                            		-->
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 theme-main-input-mask">
                                    <label>{{ 'label.informe.o.email.cadastrado' | translate}}</label>
                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope-o"></i>
                                            </span>
                                        <input id="email" type="email" ng-model="container.email" class="form-control" placeholder="{{ 'label.informe.o.email.cadastrado' | translate}}" title="{{ 'label.informe.o.email.cadastrado' | translate}}" ng-readonly="!true" maxlength="" ng-required=""/>
                                        <label class="label-mobilidade" ng-if="contextEditable" ng-model="container.email" contenteditable="{{contextEditable}}"></label>
										<label class="label-mobilidade" ng-if="!contextEditable">{{ 'label.informe.o.email.cadastrado' | translate}}</label>
                                    </div>
                                </div>
                        </div>
                        <!-- id:button - name:Botão -->
                        <div ng-class='getPlatforms(null)'>
                           			<!-- 
                           				tipo: Navegacao
                           				destino:  login
                           				id: enviar
                           				ajuda: {{ 'label.clique.para.enviar.nova.senha' | translate}}
                           				título: {{ 'label.enviar.nova.senha' | translate}}
                           				estilo: btn-primary
                           				alinhamento: pull-left
                           				ativo: true
                           				ícone: fa-envelope-o
                           			-->
	                                	<button id="enviar" ng-click="openViewDelayed('login',3,$event,'')" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.para.enviar.nova.senha' | translate}}" title="{{ 'label.clique.para.enviar.nova.senha' | translate}}" class="btn btn-sm margin-3x btn-primary pull-left  theme-main-button btn-padrao" ng-disabled="!true" analytics-event="button:Enviar nova senha">
                                    <i class="fa fa-envelope-o">&nbsp;</i>
                                        <span style="font-size: ;">{{ 'label.enviar.nova.senha' | translate}}</span>
                                </button>
                        </div>
                        <!-- id:button - name:Botão -->
                        <div ng-class='getPlatforms(null)'>
                           			<!-- 
                           				tipo: Navegacao
                           				destino:  login
                           				id: retornar
                           				ajuda: {{ 'label.clique.para.retornar' | translate}}
                           				título: {{ 'label.retornar' | translate}}
                           				estilo: btn-default
                           				alinhamento: pull-left
                           				ativo: true
                           				ícone: none
                           			-->
	                                	<button id="retornar" ng-click="openViewDelayed('login',3,$event,'')" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.para.retornar' | translate}}" title="{{ 'label.clique.para.retornar' | translate}}" class="btn btn-sm margin-3x btn-default pull-left  theme-main-button btn-padrao" ng-disabled="!true" analytics-event="button:Retornar">
                                    <i class="fa none">&nbsp;</i>
                                        <span style="font-size: ;">{{ 'label.retornar' | translate}}</span>
                                </button>
                        </div>
                </div>
                <div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
                        <div >
	                    </div>
				</div>
                <br>&nbsp;
                <br>&nbsp;
    	</div>
    </form>
</div>
