<!--
					Aqui é definido o conteúdo apresentado pela tela do seu projeto (a parte visível).
					Cada tela do seu projeto define um estado. 
					Cada estado é composto por um controller (js) e uma tela (html)
					Os estados são definidos no App.js
					As páginas são armazenadas na pasta pages										
				-->
<div class="theme-main" ng-controller="LoginController" analytics-page="Página Login">
	<form id="formMain" name="formMain" tabindex="0">
		<div class="row">
			<div class="coluna-esquerda col-xs-12 col-sm-2 col-md-2">
				<tr>
					<td><b><div style="text-align: left; color:#267fb9;">{{ 'LABEL.LOGIN' | translate}}</div></b>
						<div style="text-align: left; color:#555a6d">{{ 'label.tela.de.login' | translate}}</div><br>
					</td>
				</tr>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
			</div>
			<div class="coluna-central col-xs-12 col-sm-12 col-md-12">
				<span ncy-breadcrumb></span>
				<!-- id:h4 - name:Título -->
				<div ng-class='getPlatforms(null)'>
					<!-- 
                            			estilo: col-xs-12 col-sm-12 col-md-12 col-lg-12
                            			alinhamento: left
                            		-->
					<h5 class="padding text-primary bold col-xs-12 col-sm-12 col-md-12 col-lg-12 theme-main-h4" align="left">
						<span>{{ 'label.por.favor.informe.seu.login' | translate}}</span>
					</h5>
				</div>
				<!-- id:input-login-user - name:Entrada de Texto -->
				<div ng-class='getPlatforms(null)'>
					<!-- elemento Entrada de Email 
                            			id: usuario
                            			contexto: session.user
                            			ajuda: {{ 'label.informe.o.email' | translate}}
                            			ativo: true
                            			tamanho max: 
                            			ATENCAO: acessivel por $scope.container.usuario no seu controller                              		
                            		-->
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 theme-main-input-mask">
						<label>{{ 'label.informe.o.email' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon">
                                                <i class="fa fa-keyboard-o"></i>
                                            </span>
							<input id="usuario" type="email" ng-model="session.user" class="form-control" placeholder="{{ 'label.informe.o.email' | translate}}"
							 title="{{ 'label.informe.o.email' | translate}}" ng-readonly="!true" maxlength="" ng-required="" />
							<label class="label-mobilidade" ng-if="contextEditable" ng-model="container.usuario" contenteditable="{{contextEditable}}"></label>
							<label class="label-mobilidade" ng-if="!contextEditable">{{ 'label.informe.o.email' | translate}}</label>
						</div>
					</div>
				</div>
				<!-- id:input-login-senha - name:Entrada de Senha -->
				<div ng-class='getPlatforms(null)'>
					<!-- elemento Entrada de Senha 
                            			id: senha
                            			contexto: session.authCode
                            			ajuda: {{ 'label.informe.a.senha' | translate}}
                            			ativo: true
                            			tamanho max: 
                            			ATENCAO: acessivel por $scope.session.password no seu controller                              		
                            		-->
					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 theme-main-input-date" style="margin-bottom:40px;">
						<label>{{ 'label.informe.a.senha' | translate}} (100)</label>
						<div class="input-group">
							<span class="input-group-addon">
                                                <i class="fa fa-slack"></i>
                                            </span>
							<input id="senha" type="password" ng-model="session.authCode" class="form-control" placeholder="{{ 'label.informe.a.senha' | translate}}"
							 title="{{ 'label.informe.a.senha' | translate}}" ng-readonly="!true" maxlength="" ng-required="" />
							<label class="label-mobilidade" ng-if="contextEditable" ng-model="container.senha" contenteditable="{{contextEditable}}"></label>
							<label class="label-mobilidade" ng-if="!contextEditable">{{ 'label.informe.a.senha' | translate}}</label>
						</div>
					</div>
				</div>
				<!-- id:button-login-entrar - name:Botão -->
				<div ng-class='getPlatforms(null)'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  principal
                           				id: login
                           				ajuda: {{ 'label.clique.para.logar' | translate}}
                           				título: Entrar
                           				estilo: btn-primary
                           				alinhamento: pull-left
                           				ativo: true
                           				ícone: fa-sign-in
                           			-->
					<button id="login" ng-click="doLogin($event)" loading="{{'label.processando' | translate}}" placeholder="{{ 'label.clique.para.logar' | translate}}"
					 title="{{ 'label.clique.para.logar' | translate}}" class="btn btn-sm margin-3x btn-primary pull-left  theme-main-button btn-padrao"
					 ng-disabled="!true" analytics-event="button:Entrar">
                                    <i class="fa fa-sign-in">&nbsp;</i>
                                        <span>{{ 'label.entrar' | translate}}</span>
                                </button>
				</div>
				<!-- id:button - name:Botão -->
				<div ng-class='getPlatforms(null)'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  esquecisenha
                           				id: esqueci
                           				ajuda: {{ 'label.clique.para.cadastrar.nova.senha' | translate}}
                           				título: {{ 'label.esqueci.a.senha' | translate}}
                           				estilo: btn-default
                           				alinhamento: pull-left
                           				ativo: true
                           				ícone: 
                           			-->
					<button id="esqueci" ng-click="openViewDelayed('esquecisenha',3,$event,'')" loading="{{'label.processando' | translate}}"
					 placeholder="{{ 'label.clique.para.cadastrar.nova.senha' | translate}}" title="{{ 'label.clique.para.cadastrar.nova.senha' | translate}}"
					 class="btn btn-sm margin-3x btn-default pull-left  theme-main-button btn-padrao" ng-disabled="!true" analytics-event="button:Esqueci a senha">
                                    <i class="fa ">&nbsp;</i>
                                        <span>{{ 'label.esqueci.a.senha' | translate}}</span>
                                </button>
				</div>
				<!-- id:button - name:Botão -->
				<div ng-class='getPlatforms(null)'>
					<!-- 
                           				tipo: Navegacao
                           				destino:  cadastrar
                           				id: cadastrar
                           				ajuda: {{ 'label.clique.para.cadastrar.um.novo.usurio' | translate}}
                           				título: {{ 'label.novo.usurio' | translate}}
                           				estilo: btn-default
                           				alinhamento: pull-right
                           				ativo: true
                           				ícone: fa-child
                           			-->
					<button id="cadastrar" ng-click="openViewDelayed('cadastrar',3,$event,'')" loading="{{'label.processando' | translate}}"
					 placeholder="{{ 'label.clique.para.cadastrar.um.novo.usurio' | translate}}" title="{{ 'label.clique.para.cadastrar.um.novo.usurio' | translate}}"
					 class="btn btn-sm margin-3x btn-default pull-right  theme-main-button btn-padrao" ng-disabled="!true" analytics-event="button:Novo usuário">
                                    <i class="fa fa-child">&nbsp;</i>
                                        <span>{{ 'label.novo.usurio' | translate}}</span>
                                </button>
				</div>
			</div>
			<div class="coluna-direita col-xs-12 col-sm-2 col-md-2">
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
			</div>
			<br>&nbsp;
			<br>&nbsp;
		</div>
	</form>
</div>