<div class="crud-container">
  <div class="panel panel-default crud-border">
    <div class="crud-title">
        <label>{{canalPresenter.canal.editar ? 'Edição de Canal' : 'Novo Canal'}}</label>
        <hr class="crud-line-bottom-form">
    </div>
    <div class="row" *ngIf="canalPresenter.canal.showHeader">
        <div class="col-md-12">
            <div class="col-md-6" *ngFor="let header of canalPresenter.canal.configGridHeader">
              <crud-grid-header 
                [width]="header.width"          
                [classIcon]="header.classIcon" 
                [labelTitle]="header.labelTitle" 
                [labelValue]="header.labelValue"> 
              </crud-grid-header>
            </div>
        </div>
    </div>   
    <div class="crud-container">
      <form #canalForm="ngForm">
            <div class="row">
                <div class="form-group col-md-4" [class.has-error]="(sigla.dirty && sigla.errors && sigla.errors.required)">
                    <label for="sigla" class="crud-label-title-form">Sigla Canal *</label>
                    <input class="form-control" id="sigla" [(ngModel)]="canalPresenter.includeCanal.sigla_canal" name="sigla" autofocus
                      placeholder="Sigla Canal" required #sigla="ngModel" minlength="1" maxlength="10">
                    <validation-form-message
                        [control]="sigla" 
                        error="required" 
                        text="Sigla obrigatória">
                    </validation-form-message>                                        
                </div>
                <div class="form-group col-md-4" [class.has-error]="(sso.dirty && sso.errors && sso.errors.required)">
                    <label for="sso" class="crud-label-title-form">Nome Cliente SSO *</label>
                    <input class="form-control" id="sso" [(ngModel)]="canalPresenter.includeCanal.nome_cliente_sso" name="sso" 
                      placeholder="Nome Cliente SSO" required #sso="ngModel" minlength="1" maxlength="20"> 
                    <validation-form-message
                        [control]="sso" 
                        error="required" 
                        text="Cliente SSO obrigatório">
                    </validation-form-message>                                          
                </div>                
                <div class="form-group col-md-4" [class.has-error]="(canal.dirty && canal.errors && canal.errors.required)">
                    <label for="canal" class="crud-label-title-form">Canal Caixa *</label>
                    <select class="contato-select form-control"  id="canal" #canal="ngModel" required
                      [(ngModel)]="canalPresenter.includeCanal.canal_caixa" name="canal">
                      <option value="" selected></option>
                      <option value="AGD">Agência Digital</option>
                      <option value="AGE">Agencia Física</option>
                      <option value="CCA">Correspondente CAIXA Aqui</option>
                      <option value="AUT">Sistema Interno de Automação</option>
                    </select>
                    <validation-form-message
                        [control]="canal" 
                        error="required" 
                        text="Canal Caixa é obrigatório">
                    </validation-form-message>                       
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12" [class.has-error]="(desc.dirty && desc.errors && (desc.errors.required || desc.errors.minlength))">
                  <label for="sigla" class="crud-label-title-form">Descrição Canal *</label>
                  <input class="form-control" id="desc" [(ngModel)]="canalPresenter.includeCanal.descricao_canal" name="desc" 
                    placeholder="Descrição Canal" required #desc="ngModel" minlength="5">
                    <validation-form-message
                        [control]="desc" 
                        error="required" 
                        text="Descrição obrigatória">
                    </validation-form-message>                    
                    <validation-form-message
                        [control]="desc" 
                        error="minlength" 
                        text="Mínimo de 5 caracteres">
                  </validation-form-message>                         
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="outsourcing-doc" class="crud-label-title-form">Sinalização de outsourcing documental:</label>
                    <input class="form-control" id="outsourcing-doc" [(ngModel)]="canalPresenter.includeCanal.url_callback_documento" name="outsourcingdocumental" 
                      placeholder="URL de sinalização de outsourcing documental" minlength="1" maxlength="250">                  
                </div>              
                <div class="form-group col-md-4">
                    <label for="operacaodossie" class="crud-label-title-form">Sinalização de operação do dossiê:</label>
                    <input class="form-control" id="operacaodossie" [(ngModel)]="canalPresenter.includeCanal.url_callback_dossie" name="operacaodossie" 
                      placeholder="URL de Sinalização de Operação do Dossiê" minlength="1" maxlength="250">                  
                </div>              
                <div class="form-group col-md-4">
                    <label for="unidadedossie" class="crud-label-title-form">Unidade de sinalização do dossiê:</label>
                    <input class="form-control" 
                      id="unidadedossie" 
                      [(ngModel)]="canalPresenter.includeCanal.unidade_callback_dossie" 
                      name="unidadedossie"
                      pKeyFilter="int" 
                      placeholder="Unidade de sinalização de operação do dossiê" 
                      minlength="4" 
                      maxlength="4">
                </div>                 
            </div>
            <fieldset class="crud-card-fieldset">
              <legend class="crud-card-title">Habilitar Serviços</legend>
              <div class= "row">
                  <div class="form-group col-md-3">
                    <label for="m0" class="crud-label-title-form">Extração M0:</label>
                    <div>
                      <label class="switch">
                        <input id="icExtracaoMO" class="contato-select form-control" name="m0" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_extracao_m0">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>     
                  <div class="form-group col-md-3">
                    <label for="m30" class="crud-label-title-form">Extração M30:</label>
                    <div>
                      <label class="switch">
                        <input id="icExtracaoM30" class="contato-select form-control" name="m30" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_extracao_m30">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>     
                  <div class="form-group col-md-3">
                    <label for="m60" class="crud-label-title-form">Extração M60:</label>
                    <div>
                      <label class="switch">
                        <input id="icExtracaoM60" class="contato-select form-control" name="m60" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_extracao_m60">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>    
                  <div class="form-group col-md-3">
                    <label for="autenticidade" class="crud-label-title-form">Avaliação Autenticidade:</label>
                    <div>
                      <label class="switch">
                        <input id="icAvaliacaoAutencidade" class="contato-select form-control" name="autenticidade" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_avaliacao_autenticidade">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>    
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="atualizacaoDoc" class="crud-label-title-form">Atualização Documental:</label>
                  <div>
                    <label class="switch">
                      <input id="icAtualizacaoDocumental" class="contato-select form-control" name="atualizacaoDoc" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_atualizacao_documental">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div> 
                <div class="form-group col-md-3">
                  <label for="outorgaReceita" class="crud-label-title-form">Outorga Cadastro Receita:</label>
                  <div>
                    <label class="switch">
                      <input id="icOutorgaCadastroReceita" class="contato-select form-control" name="outorgaReceita" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_outorga_cadastro_receita">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>  
                <div class="form-group col-md-3">
                  <label for="outorgaCaixa" class="crud-label-title-form">Outorga Cadastro Caixa:</label>
                  <div>
                    <label class="switch">
                      <input id="icOutorgaCadastroCaixa" class="contato-select form-control" name="outorgaCaixa" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_outorga_cadastro_caixa">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div> 
                <div class="form-group col-md-3">
                  <label for="outorgaCaixa" class="crud-label-title-form">Outorga API Manager:</label>
                  <div>
                    <label class="switch">
                      <input id="icOutorgaAPIManager" class="contato-select form-control" name="outorgaAPIManager" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_outorga_apimanager">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>                                  
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="outorgaCaixa" class="crud-label-title-form">Outorga Siric:</label>
                  <div>
                    <label class="switch">
                      <input id="icOutorgaSiric" class="contato-select form-control" name="outorgaSiric" type="checkbox" [(ngModel)]="canalPresenter.includeCanal.indicador_outorga_siric">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>                 
              </div>
            </fieldset>   
            <div>
              <button id="canal-btn-salvar" type="button" (click)="salvarCanal()" [disabled]="!canalForm.valid"
                  class="btn btn-primary pull-right">Salvar
                  <span class="fa fa-save"></span>
              </button>  
              <button id="canal-btn-voltar" type="button" (click)="pesquisaCanal();"
                  class="btn btn-warning pull-right">Voltar
                  <span class="fa fa-arrow-left"></span>
              </button>
            </div>                     
        </form>
    </div>
    <div class="panel-body">
      <cx-alert-message id="component-alert-pesquisa-canal" [messagesInfo]="messagesInfo" [messagesSuccess]="messagesSuccess"
        [messagesError]="messagesError" (onCloseMessageInfo)="onCloseMessageInfo()"
        (onCloseMessageError)="onCloseMessageError()" (onCloseMessageSuccess)="onCloseMessageSuccess()"
        [messagesWarning]="messagesWarning" (onCloseMessageWarning)="onCloseMessageWarning()">
      </cx-alert-message>              
    </div>
  </div>
</div>