<div class="modal-dialog">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" (click)="close()">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-horizontal corpErroGlobalvis">
        <div class="text-center">
          <div class="btn-group text-center" role="group">
            <button class="btn btn-default" (click)="zoomUp()" pTooltip="Ampliar o zoom (Ctrl++)" tooltipPosition="bottom">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button class="btn btn-default" (click)="zoomDown()" pTooltip="Reduzir o zoom (Ctrl+-)" tooltipPosition="bottom">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
            <button class="btn btn-default" (click)="turnLeft()" pTooltip="Girar imagem para a esquerda (Ctrl+<)" tooltipPosition="bottom">
              <span class="fa fa-undo"></span>
            </button>
            <button class="btn btn-default" (click)="turnRight()" pTooltip="Girar imagem para a direita (Ctrl+>)" tooltipPosition="bottom">
              <span class="fa fa-rotate-right"></span>
            </button>
            <button class="btn btn-default" (click)="showDefault()" pTooltip="Retornar imagem ao original (Ctrl+z)" tooltipPosition="bottom">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button class="btn btn-default">Pág {{currentPage}}/{{totalPages}}</button>
            <button class="btn btn-default" *ngIf="persistRotation" pTooltip="A rotação aplicada na imagem será mantida ao salvar." tooltipPosition="bottom">
              <i class="fa fa-exclamation-triangle text-warning"></i>
            </button>
          </div>
        </div>
        <span *ngIf="showPageControls" (click)="previousImage()" class="glyphicon glyphicon-menu-left previous" pTooltip="Ir para a página anterior (Ctrl+2)" tooltipPosition="right" [ngClass]="{'showOpc': (currentPage == 1)}"></span>
        <span *ngIf="showPageControls" (click)="nextImage()" class="glyphicon glyphicon-menu-right next" pTooltip="Ir para a próxima página (Ctrl+3)" tooltipPosition="left" [ngClass]="{'showOpc': (currentPage == totalPages)}"></span>
        <div id="canvasContainer" class="text-center">
          <canvas id="mainCanvas"></canvas>
          <canvas id="rotationCanvas"></canvas>
        </div>
      </div>     
    </div>
  </div>
</div>