.arvore-tipo-documento-tamanho{
    background-color:rgb(0, 90, 156);
    color: #FFFFFF;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 4px;
    margin-left: 2%;
}

.arvore-documento-tamanho{
    background-color: #FFFFFF;
    color: rgb(0, 90, 156);
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 4px;
    margin-left: 2%;
}

.input-filtro{
    width: inherit;
    height: 32px;
    padding: 6px 12px;
}

.button-filtro{
    padding: 5px 12px !important
}

.button-excluir{
    background-color: rgb(240, 143, 29);
    color: rgb(255, 255, 255);
    border-color: rgb(218, 102, 7);
    float: right;
}

.div-button-excluir{
    margin: 25px 0px;
    padding: 15px 0px;
    border-top: 3px solid rgb(0, 90, 156);
}

.checkbox-documento{
    vertical-align: top;
    background-color :rgb(91, 180, 220);
}

.checkbox-documento input:checked {
    background-color: #2196F3;
    color: #ccc;
}

.asteriscoObrigatorio {
    padding: 4px;
    font-size: 20px;
    color: rgb(208, 27, 27) !important;
    font-weight: inherit !important;
}

.icon-reuso-doc{
    margin-left: 10px;
    color: rgb(0, 90, 156);
}
.link-reuso-doc{
    margin-left: 2px;
    color: rgb(0, 90, 156);
    cursor: pointer;
}

.ui-tooltip {
    background: rgb( 0, 0, 0) !important;
    color: rgb( 255, 255, 255) !important;
}

.corpoVisualizacao .corpoLoadingRelativo {
    top: 0;
}

.corpArvore .ui-treenode-label {
    width: 91%;
}
    .corpArvore .ui-treenode-label .corpoLabel {
        width: 100%;
    }
        .corpoLabel .labelDesc {
            float: left;
            margin-top: 5px;
            max-width: 70%;
            white-space: pre-wrap;
        }
        .corpoLabel .asteriscoObrigatorio {
            float: left;
        }
        .corpLabeItemDoc .labelItemDoc {
            max-width: 95%;
            white-space: pre-wrap;
        }

        .labelVerdeEscuro, .labelLaranjaEscuro, .labelVermelhoEscuro, .labelBold {
            font-weight: bold;
        }

        .labelVerdeEscuro {
            color: rgb(0, 128, 0);
        }

        .labelLaranjaEscuro {
            color: rgb(228, 131, 7);
        }

        .labelVermelhoEscuro {
            color: rgb(197, 4, 4);
        }
        
.ui-state-highlight{
    background-color: rgb(206, 235, 248);
    color: #262424;
}