section.corpoFilaTratamento {
    padding: 10px;
}
    .assideLeft, .assideRigth {
        width: 49.5%;
    }
    .assideLeft {
        float: left;
    }
    .assideRigth {
        float: right;
    }
        app-box-macroprocesso {
            position: relative;
        }