<div #alertMessages>
    <div class="alert alert-success alert-dismissable col-md-11" *ngIf="messagesSuccess != null && messagesSuccess.length > 0">
        <button class="close" aria-label="close" (click)="fecharAlert('SUCESSO')" (clickOutside)="fecharAlert('SUCESSO')" [exclude]="'button,.btn-primary'">&times;</button>
        <p *ngFor="let item of messagesSuccess">{{item}}</p>
    </div>
    
    <div class="alert alert-info alert-dismissable  col-md-11"*ngIf="messagesInfo != null && messagesInfo.length > 0">
        <button class="close" aria-label="close" (click)="fecharAlert('INFOR')" (clickOutside)="fecharAlert('INFOR')" [exclude]="'button,.btn-primary'">&times;</button>
        <p *ngFor="let item of messagesInfo">{{item}}</p>
    </div>
    
    <div class="alert alert-warning alert-dismissable  col-md-11" *ngIf="messagesWarning != null && messagesWarning.length > 0">
        <button class="close" aria-label="close" (click)="fecharAlert( 'WARNING')" (clickOutside)="fecharAlert('WARNING')" [exclude]="'button,.btn-primary'">&times;</button>
        <p *ngFor="let item of messagesWarning">{{item}}</p>
    </div>
    
    <div class="alert alert-danger alert-dismissable  col-md-11" *ngIf="messagesError != null && messagesError.length > 0">
        <button class="close" aria-label="close" (click)="fecharAlert('ERROR')" (clickOutside)="fecharAlert('ERROR')" [exclude]="'button,.btn-primary'">&times;</button>
        <p *ngFor="let item of messagesError">{{item}}</p> 
    </div>
</div>